<slider-component
  autoplay="false"
  class="slideshow slideshow-layout--text-inside nsa-accesstive"
  current="1"
  loop="true"
  speed="7"
  style="
    --slideshow-speed: 7s;
    --slideshow-pc-height: 750px;
    --slideshow-mobile-height: 500px;--slideshow-text-color-1: 44, 44, 44;
  "
>
  <div class="slideshow__slider slider nsa-accesstive" id="Slider-174116676516712ac9f0">
    <div
      class="slideshow__slide slider__slide is-active nsa-accesstive"
      id="Slide-1741058787733e1bbbfa"
      style="
        --slideshow-overlay-opacity: 0;
        --slideshow-title-size: 40px;
        --slideshow-pc-text-position-vertical: flex-end;
        --slideshow-pc-text-position-horizontal: center;
        --slideshow-mobile-text-position-vertical: flex-end;
        --slideshow-mobile-text-position-horizontal: flex-end;
        --slideshow-pc-text-align: center;
        --slideshow-mobile-text-align: center;
        --slideshow-pc-text-color: #ffffff;
        --slideshow-text-color--mb: #2c2c2c;
        --slideshow-text-area-bg-color:#ffffff;
      "
    >
      <div class="slideshow-slide__media nsa-accesstive" style="--image-show-position: center center;">
        <img
          alt=""
          class="slideshow-slide__image display-none display-block-desktop nsa-accesstive"
          data-scale="hover-scale"
          decoding="async"
          fetchpriority="auto"
          height="1080"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-14.jpg?v=1772524100"
          srcset="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-14_375x_feed8617-003b-4457-b296-34ba04ecabf7.jpg?v=1772524129 375w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-14_540x_96d79e2d-3cde-4e56-beb6-ec7da624e5ac.jpg?v=1772524134 540w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-14_720x_31093b2c-9b3a-4310-8431-413f0f586932.jpg?v=1772524139 720w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-14_900x_e0c567b0-9041-456b-a678-c5c95c40439f.jpg?v=1772524144 900w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-14_1080x_fb91aa68-9bef-4b7d-92fd-0631d586163e.jpg?v=1772524105 1080w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-14_1296x_9fe95ce3-ad22-4211-a638-440afe352d78.jpg?v=1772524109 1296w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-14_1512x_336d4bf1-dcef-4e76-bc96-173d46b20308.jpg?v=1772524114 1512w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-14_1728x_300d7321-35e1-4631-9f92-6b5e03f64b0a.jpg?v=1772524119 1728w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-14_1920x_8c5def5b-f65c-4a27-8a97-cbfba6d312b1.jpg?v=1772524125 1920w"
          width="1920"
        >
        <img
          alt=""
          class="slideshow-slide__image display-none-desktop nsa-accesstive"
          data-scale="hover-scale"
          decoding="async"
          fetchpriority="auto"
          height="1140"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_1_-2.jpg?v=1772523925"
          srcset="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_1_-2_375x_2ac89b19-3b63-497c-950c-0f8f097a4964.jpg?v=1772523930 375w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_1_-2_540x_75c298bd-46ac-4921-8605-d3bc70202be9.jpg?v=1772523936 540w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_1_-2_720x_d2e95ce1-fd2b-4016-9913-e08816d4aca7.jpg?v=1772523941 720w, https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_1_-2_750x_cae1b15c-f1fb-46c0-bcc8-2822164719ba.jpg?v=1772523946 750w"
          width="750"
        >
      </div>
      <div
        class="slideshow-slide__text-wrapper slideshow-slide__text-max-width nsa-accesstive"
        style="--pc-content-width: 1200px; --pc-content-padding: 5%;"
      >
        <div class="slideshow-slide__text nsa-accesstive">
          <h2 class="slideshow-slide__title title1 nsa-accesstive">
            Let Yarbo Become Your Personlized Yard Care Assistant
          </h2>
          <div class="slideshow-slide__buttons nsa-accesstive"></div>
        </div>
      </div>
    </div>
  </div>
</slider-component>
