


<div class="shopline-section" id="shopify-section-17492873624812c001e6">
  <style>
      #shopify-section-17492873624812c001e6 {
        background-color: #f5f5f5;
      }
  
      /* 375-679px */
      @media (max-width: 679px) {
        #shopify-section-17492873624812c001e6 {
          padding-top: 48px;
          padding-bottom: 48px;
        }
      }
  
      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-17492873624812c001e6 {
          padding-top: 64px;
          padding-bottom: 64px;
        }
      }
  
      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-17492873624812c001e6 {
          padding-top: 64px;
          padding-bottom: 64px;
        }
      }
  
      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-17492873624812c001e6 {
          padding-top: 100px;
          padding-bottom: 100px;
        }
      }
  
      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-17492873624812c001e6 {
          padding-top: 120px;
          padding-bottom: 120px;
        }
      }
    </style>
  <script>
      _affirm_config = {
        public_api_key: 'PH9LWGD5DNG5CR1E',
        script: 'https://cdn1.affirm.com/js/v2/affirm.js',
      };
      (function (l, g, m, e, a, f, b) {
        var d,
          c = l[m] || {},
          h = document.createElement(f),
          n = document.getElementsByTagName(f)[0],
          k = function (a, b, c) {
            return function () {
              a[b]._.push([c, arguments]);
            };
          };
        c[e] = k(c, e, 'set');
        d = c[e];
        c[a] = {};
        c[a]._ = [];
        d._ = [];
        c[a][b] = k(c, a, b);
        a = 0;
        for (b = 'set add save post open empty reset on off trigger ready setProduct'.split(' '); a < b.length; a++)
          d[b[a]] = k(c, e, b[a]);
        a = 0;
        for (b = ['get', 'token', 'url', 'items']; a < b.length; a++) d[b[a]] = function () {};
        h.async = !0;
        h.src = g[f];
        n.parentNode.insertBefore(h, n);
        delete g[f];
        d(g);
        l[m] = c;
      })(window, _affirm_config, 'affirm', 'checkout', 'ui', 'script', 'ready');
    </script>
  <div class="product-bundle-with-video">
  <div class="product-bundle-with-video-wrapper yb-section-container">
  <div class="product-bundle-with-video-inner">
  <div class="video-product-bundle-with-video">
  <div class="product-bundle-swiper-wrapper">
  <div class="content-slider block-17492904023114aea6ae">
  <div class="content-product-bundle-with-video-items direction-image-right">
  <div class="content-product-bundle-with-video-left-item">
  <div class="content-product-bundle-with-video-left-item-inner">
  <div class="video-items">
  <video-section data-auto-play="true">
  <div class="pc-hidden">
  <video autoplay="" controlslist="nofullscreen" loop="" muted="true" playsinline="" poster="" preload="auto" src="https://cdn.shopify.com/videos/c/o/v/b0d16ccfb93248b3bf8cc6d6cd59fa00.mp4"></video>
  </div>
  <div class="mobile-hidden">
  <video autoplay="" controlslist="nofullscreen" loop="" muted="true" playsinline="" poster="" preload="auto" src="https://cdn.shopify.com/videos/c/o/v/b0d16ccfb93248b3bf8cc6d6cd59fa00.mp4"></video>
  </div>
  </video-section>
  <style>
                          .block-17492904023114aea6ae .video-items iframe {
                            pointer-events: none;
                          }
                        </style>
  </div>
  </div>
  </div>
  <div class="content-product-bundle-with-video-right-item">
  <div class="product-bundle-right-wrapper">
  <div class="block-title yb-block-title">Yarbo Snow Blower</div>
  <div class="content-product-bundle-with-video-right-item-inner">
  <div class="product-bundle-items columns-item-3">
  <div class="bundle-group-container" style="grid-template-columns: repeat(3, 1fr); position: relative;">
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="1000" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Snow-Blower.png?v=1772523505" width="1000"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Snow Blower</div>
  <div class="bundle-descriptions yb-h3">6 - 40 ft</div>
  <div class="bundle-descriptions1 yb-body-3">Throwing Distance</div>
  </div>
  </div>
  <div class="divition">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="128" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/36.webp?v=1772520929" width="128"/>
  </div>
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="1000" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Core.png?v=1772521961" width="1000"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Yarbo Core</div>
  <div class="bundle-descriptions yb-h3">24 in</div>
  <div class="bundle-descriptions1 yb-body-3">Cleaning Width</div>
  </div>
  </div>
  <div class="divition">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="128" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/35.webp?v=1772520924" width="128"/>
  </div>
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="1050" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036456174-_4.png?v=1772522131" width="1050"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Snow Blower Module</div>
  <div class="bundle-descriptions yb-h3">12 in</div>
  <div class="bundle-descriptions1 yb-body-3">Intake Height</div>
  </div>
  </div>
  </div>
  <div class="bundle-button-group">
  <div class="price-show-box">
  <div class="bundle-price yb-h3">$4,999.00</div>
  </div>
  <div class="bundle-button-group-wrapper" style="flex-direction: row-reverse;">
  <div class="bundle-button">
  <a class="produt-bundle-button yb-h5" href="https://www.yarbo.com/robotic-snow-blower">Learn More</a>
  </div>
  <div class="bundle-button2">
  <a class="produt-bundle-button2 yb-h5" href="https://www.yarbo.com/products/snow-blower-robot">Shop Now</a>
  </div>
  </div>
  </div>
  <p class="affirm-as-low-as design-cart text-xs/none" data-amount="499900" data-page-type="product" style="--color-text:0,0,255,1">
                            Starting at <span class="affirm-ala-price">$209</span>/mo or 0% APR with
                            <span class="__affirm-logo __affirm-logo-blue __ligature__affirm_full_logo__ __processed">Affirm</span>.
                            <a aria-label="See if you qualify - Learn more about Affirm Financing (opens in modal)" class="affirm-modal-trigger" href="javascript:void(0)">See if you qualify</a>
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="content-slider block-1749291006349ea5852b">
  <div class="content-product-bundle-with-video-items direction-image-left">
  <div class="content-product-bundle-with-video-left-item">
  <div class="content-product-bundle-with-video-left-item-inner">
  <div class="video-items">
  <video-section data-auto-play="true">
  <div class="pc-hidden">
  <video autoplay="" controlslist="nofullscreen" loop="" muted="true" playsinline="" poster="" preload="auto" src="https://cdn.shopify.com/videos/c/o/v/d9ec766d1f34449e9c968d52d63ac673.mp4"></video>
  </div>
  <div class="mobile-hidden">
  <video autoplay="" controlslist="nofullscreen" loop="" muted="true" playsinline="" poster="" preload="auto" src="https://cdn.shopify.com/videos/c/o/v/d9ec766d1f34449e9c968d52d63ac673.mp4"></video>
  </div>
  </video-section>
  <style>
                          .block-1749291006349ea5852b .video-items iframe {
                            pointer-events: none;
                          }
                        </style>
  </div>
  </div>
  </div>
  <div class="content-product-bundle-with-video-right-item">
  <div class="product-bundle-right-wrapper">
  <div class="block-title yb-block-title">Yarbo Blower</div>
  <div class="content-product-bundle-with-video-right-item-inner">
  <div class="product-bundle-items columns-item-3">
  <div class="bundle-group-container" style="grid-template-columns: repeat(3, 1fr); position: relative;">
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="1000" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Blower1.png?v=1772521956" width="1000"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Blower</div>
  <div class="bundle-descriptions yb-h3">21 N</div>
  <div class="bundle-descriptions1 yb-body-3">Blowing Force</div>
  </div>
  </div>
  <div class="divition">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="128" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/36.webp?v=1772520929" width="128"/>
  </div>
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="1000" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Core.png?v=1772521961" width="1000"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Yarbo Core</div>
  <div class="bundle-descriptions yb-h3">70% (35°)</div>
  <div class="bundle-descriptions1 yb-body-3">Applicable Slope</div>
  </div>
  </div>
  <div class="divition">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="128" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/35.webp?v=1772520924" width="128"/>
  </div>
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="232" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-1960931357.png?v=1772522100" width="232"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Blower Module</div>
  <div class="bundle-descriptions yb-h3">70 mins</div>
  <div class="bundle-descriptions1 yb-body-3">Operation Per Charge</div>
  </div>
  </div>
  </div>
  <div class="bundle-button-group">
  <div class="price-show-box">
  <div class="bundle-price yb-h3">$4,799.00</div>
  </div>
  <div class="bundle-button-group-wrapper" style="flex-direction: row-reverse;">
  <div class="bundle-button">
  <a class="produt-bundle-button yb-h5" href="https://www.yarbo.com/blower-robot">Learn More</a>
  </div>
  <div class="bundle-button2">
  <a class="produt-bundle-button2 yb-h5" href="https://www.yarbo.com/products/leaf-blower-robot">Shop Now</a>
  </div>
  </div>
  </div>
  <p class="affirm-as-low-as design-cart text-xs/none" data-amount="479900" data-page-type="product" style="--color-text:0,0,255,1">
                            Starting at <span class="affirm-ala-price">$200</span>/mo or 0% APR with
                            <span class="__affirm-logo __affirm-logo-blue __ligature__affirm_full_logo__ __processed">Affirm</span>.
                            <a aria-label="See if you qualify - Learn more about Affirm Financing (opens in modal)" class="affirm-modal-trigger" href="javascript:void(0)">See if you qualify</a>
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="content-slider block-17492874662720870c65">
  <div class="content-product-bundle-with-video-items direction-image-right">
  <div class="content-product-bundle-with-video-left-item">
  <div class="content-product-bundle-with-video-left-item-inner">
  <div class="video-items">
  <video-section data-auto-play="true">
  <div class="pc-hidden">
  <video autoplay="" controlslist="nofullscreen" loop="" muted="true" playsinline="" poster="" preload="auto" src="https://cdn.shopify.com/videos/c/o/v/c495c4e1d27a4416b42747fe943f8447.mp4"></video>
  </div>
  <div class="mobile-hidden">
  <video autoplay="" controlslist="nofullscreen" loop="" muted="true" playsinline="" poster="" preload="auto" src="https://cdn.shopify.com/videos/c/o/v/c495c4e1d27a4416b42747fe943f8447.mp4"></video>
  </div>
  </video-section>
  <style>
                          .block-17492874662720870c65 .video-items iframe {
                            pointer-events: none;
                          }
                        </style>
  </div>
  </div>
  </div>
  <div class="content-product-bundle-with-video-right-item">
  <div class="product-bundle-right-wrapper">
  <div class="block-title yb-block-title">Yarbo Lawn Mower</div>
  <div class="content-product-bundle-with-video-right-item-inner">
  <div class="product-bundle-items columns-item-3">
  <div class="bundle-group-container" style="grid-template-columns: repeat(3, 1fr); position: relative;">
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="1000" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Lawn-Mower-_2.png?v=1772523083" width="1000"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Lawn Mower</div>
  <div class="bundle-descriptions yb-h3">6 acres</div>
  <div class="bundle-descriptions1 yb-body-3">Max Coverage</div>
  </div>
  </div>
  <div class="divition">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="128" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/36.webp?v=1772520929" width="128"/>
  </div>
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="1000" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Core.png?v=1772521961" width="1000"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Yarbo Core</div>
  <div class="bundle-descriptions yb-h3">20 in</div>
  <div class="bundle-descriptions1 yb-body-3">Cutting Width</div>
  </div>
  </div>
  <div class="divition">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="128" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/35.webp?v=1772520924" width="128"/>
  </div>
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="900" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Lawn-Mower-Module-0.png?v=1772523092" width="901"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Lawn Mower Module</div>
  <div class="bundle-descriptions yb-h3">70% (35°)</div>
  <div class="bundle-descriptions1 yb-body-3">Applicable Slope</div>
  </div>
  </div>
  </div>
  <div class="bundle-button-group">
  <div class="price-show-box">
  <div class="bundle-price yb-h3">$4,999.00</div>
  </div>
  <div class="bundle-button-group-wrapper" style="flex-direction: row-reverse;">
  <div class="bundle-button">
  <a class="produt-bundle-button yb-h5" href="https://www.yarbo.com/lawn-mower-robot">Learn More</a>
  </div>
  <div class="bundle-button2">
  <a class="produt-bundle-button2 yb-h5" href="https://www.yarbo.com/products/lawn-mower-robot">Shop Now</a>
  </div>
  </div>
  </div>
  <p class="affirm-as-low-as design-cart text-xs/none" data-amount="499900" data-page-type="product" style="--color-text:0,0,255,1">
                            Starting at <span class="affirm-ala-price">$209</span>/mo or 0% APR with
                            <span class="__affirm-logo __affirm-logo-blue __ligature__affirm_full_logo__ __processed">Affirm</span>.
                            <a aria-label="See if you qualify - Learn more about Affirm Financing (opens in modal)" class="affirm-modal-trigger" href="javascript:void(0)">See if you qualify</a>
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="content-slider block-1749291437562110f942">
  <div class="content-product-bundle-with-video-items direction-image-left">
  <div class="content-product-bundle-with-video-left-item">
  <div class="content-product-bundle-with-video-left-item-inner">
  <div class="video-items">
  <video-section data-auto-play="true">
  <div class="pc-hidden">
  <video autoplay="" controlslist="nofullscreen" loop="" muted="true" playsinline="" poster="" preload="auto" src="https://cdn.shopify.com/videos/c/o/v/d9853cc6def5415fa23a036a7a59e3a5.mp4"></video>
  </div>
  <div class="mobile-hidden">
  <video autoplay="" controlslist="nofullscreen" loop="" muted="true" playsinline="" poster="" preload="auto" src="https://cdn.shopify.com/videos/c/o/v/d9853cc6def5415fa23a036a7a59e3a5.mp4"></video>
  </div>
  </video-section>
  <style>
                          .block-1749291437562110f942 .video-items iframe {
                            pointer-events: none;
                          }
                        </style>
  </div>
  </div>
  </div>
  <div class="content-product-bundle-with-video-right-item">
  <div class="product-bundle-right-wrapper">
  <div class="block-title yb-block-title">Yarbo Core</div>
  <div class="content-product-bundle-with-video-right-item-inner">
  <div class="product-bundle-items columns-item-3">
  <div class="bundle-group-container" style="grid-template-columns: repeat(3, 1fr); position: relative;">
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="1000" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Core.png?v=1772521961" width="1000"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Yarbo Core</div>
  <div class="bundle-descriptions yb-h3">31 acres</div>
  <div class="bundle-descriptions1 yb-body-3">Internet Coverage</div>
  </div>
  </div>
  <div class="divition">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="128" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/36.webp?v=1772520929" width="128"/>
  </div>
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="280" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/0ea919d1a56e45c1b564fcc9439a0219.webp?v=1772520985" width="281"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Universal Body</div>
  <div class="bundle-descriptions yb-h3">4 hrs</div>
  <div class="bundle-descriptions1 yb-body-3">Operation Per Charge</div>
  </div>
  </div>
  <div class="divition">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="128" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/35.webp?v=1772520924" width="128"/>
  </div>
  <div class="product-bundles-wrap-item">
  <div class="product-bundle-img">
  <img alt="" class="bundle-img" data-scale="hover-scale" decoding="async" fetchpriority="auto" height="897" loading="lazy" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Smart-Assist-Module.png?v=1772523496" width="901"/>
  </div>
  <div class="bundle-content">
  <div class="bundle-title yb-h5">Smart Assist Module</div>
  <div class="bundle-descriptions yb-h3">500 lbs</div>
  <div class="bundle-descriptions1 yb-body-3">Towing Capacity</div>
  </div>
  </div>
  </div>
  <div class="bundle-button-group">
  <div class="price-show-box">
  <div class="bundle-price yb-h3">$3,999.00</div>
  </div>
  <div class="bundle-button-group-wrapper" style="flex-direction: row-reverse;">
  <div class="bundle-button">
  <a class="produt-bundle-button yb-h5" href="https://www.yarbo.com/yarbo-core">Learn More</a>
  </div>
  <div class="bundle-button2">
  <a class="produt-bundle-button2 yb-h5" href="https://www.yarbo.com/products/yarbo-core">Shop Now</a>
  </div>
  </div>
  </div>
  <p class="affirm-as-low-as design-cart text-xs/none" data-amount="399900" data-page-type="product" style="--color-text:0,0,255,1">
                            Starting at <span class="affirm-ala-price">$167</span>/mo or 0% APR with
                            <span class="__affirm-logo __affirm-logo-blue __ligature__affirm_full_logo__ __processed">Affirm</span>.
                            <a aria-label="See if you qualify - Learn more about Affirm Financing (opens in modal)" class="affirm-modal-trigger" href="javascript:void(0)">See if you qualify</a>
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <style>
      #shopify-section-17492873624812c001e6 .block-title.yb-block-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }
      #shopify-section-17492873624812c001e6 .popup-video-button {
        position: absolute;
        z-index: 22;
        bottom: 24px;
        right: 24px;
        cursor: pointer;
      }
      #shopify-section-17492873624812c001e6 .video-items {
        position: relative;
      }
      #shopify-section-17492873624812c001e6 .price-show-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: start;
      }
      #shopify-section-17492873624812c001e6 .popup-video-button .modal-btn {
        padding: 10px 16px;
        background: #00000050;
        color: #fff;
        border-radius: 102px;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
      }
      #shopify-section-17492873624812c001e6 .divition {
        position: relative;
      }
      #shopify-section-17492873624812c001e6 .bundle-button-group {
        position: relative;
      }
      #shopify-section-17492873624812c001e6 .body5.price-position-origin {
        color: #6e6e73 !important;
        text-decoration: line-through;
      }
      #shopify-section-17492873624812c001e6 .video-content-wrapper {
        position: relative;
      }
      #shopify-section-17492873624812c001e6 .deferred-media__poster-button {
        width: 80px;
        height: 80px;
      }
      #shopify-section-17492873624812c001e6 .deferred-media__poster-button svg {
        width: 30px;
        height: 30px;
      }
      #shopify-section-17492873624812c001e6 .bundle-title.yb-h5 {
        line-height: 1.4 !important;
        min-height: 34px;
      }
      #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items {
        display: flex;
        overflow: hidden;
        background: #ffff;
      }
      #shopify-section-17492873624812c001e6 .content-slider {
        margin-bottom: 24px;
      }
      #shopify-section-17492873624812c001e6 .content-slider:last-child {
        margin-bottom: 0px;
      }
      #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-left-item {
        width: 100%;
        position: relative;
      }
      #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-right-item {
        width: 100%;
        position: relative;
      }
      #shopify-section-17492873624812c001e6 .direction-image-left .Discount-picture-box-left {
        position: absolute;
        top: 16px;
        left: 16px;
        aspect-ratio: 1 / 1;
        width: 140px;
      }
      #shopify-section-17492873624812c001e6 .direction-image-right .Discount-picture-box-left {
        position: absolute;
        top: 16px;
        right: 16px;
        aspect-ratio: 1 / 1;
        width: 140px;
      }
      #shopify-section-17492873624812c001e6 .direction-image-left .Discount-picture-box-left img,
      #shopify-section-17492873624812c001e6 .direction-image-right .Discount-picture-box-left img {
        width: 100.5% !important;
        height: 100% !important;
        object-fit: cover;
        pointer-events: none;
        max-width: none !important;
      }
      #shopify-section-17492873624812c001e6 .video-items img,
      #shopify-section-17492873624812c001e6 .video-items video,
      #shopify-section-17492873624812c001e6 .video-items iframe {
        object-fit: cover;
        width: 100%;
        border: 0px;
      }
      #shopify-section-17492873624812c001e6 .media > *:not(.zoom):not(.deferred-media__poster-button),
      #shopify-section-17492873624812c001e6 .media model-viewer {
        position: unset;
      }
      #shopify-section-17492873624812c001e6 .product-bundle-img {
        margin: 0px auto;
        width: 100%;
        height: 100%;
      }
      #shopify-section-17492873624812c001e6 .bundle-group-container {
        display: flex;
        text-align: center;
        justify-content: space-between;
      }
      #shopify-section-17492873624812c001e6 .product-bundle-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      #shopify-section-17492873624812c001e6 .divition img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      #shopify-section-17492873624812c001e6 .bundle-descriptions1.yb-body-3 {
        margin: 0px;
        line-height: 1.4 !important;
      }
      #shopify-section-17492873624812c001e6 .bundle-button-group {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
      }
      #shopify-section-17492873624812c001e6 .bundle-button-group-wrapper {
        display: flex;
        align-items: center;
      }
      #shopify-section-17492873624812c001e6 .product-bundles-wrap-item {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: start;
      }
      #shopify-section-17492873624812c001e6 .product-bundle-img {
        position: relative;
      }
      #shopify-section-17492873624812c001e6 .divition {
        /* position: absolute; */
      }
      #shopify-section-17492873624812c001e6 .produt-bundle-button {
        padding: 12px;
        background: #fff;
        border: 1px solid #02060b;
        font-weight: 600;
        display: inline-block;
        text-align: center;
        line-height: 1.4;
      }
      #shopify-section-17492873624812c001e6 .produt-bundle-button2.yb-h5 {
        font-weight: 600;
        background: #fedb1e;
        display: inline-block;
        padding: 12px;
        line-height: 1.4;
        text-align: center;
        border: 0 !important;
      }
      /* Responsive Style CSS */
  
      @media (min-width: 960px) {
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items.direction-image-right {
          flex-direction: row-reverse;
        }
  
        #shopify-section-17492873624812c001e6 .direction-image-left .Discount-picture-box-left {
          width: 80px;
          top: 16px;
          left: 16px;
        }
        #shopify-section-17492873624812c001e6 .direction-image-right .Discount-picture-box-left {
          width: 80px;
          top: 16px;
          right: 16px;
        }
      }
  
      @media (min-width: 1920px) {
        #shopify-section-17492873624812c001e6 .price .price-position-origin .price-item--regular,
        ._sales__flash-sale-origin-price_1xt6h_10 {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.4;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-items.columns-item-2 .bundle-group-container {
          max-width: 370px;
          margin: 0px auto;
        }
        #shopify-section-17492873624812c001e6 .bundle-descriptions1.yb-body-3 {
          font-size: 14px;
          font-weight: 400;
        }
        #shopify-section-17492873624812c001e6 .product-bundles-wrap-item {
          width: 100%;
          height: auto;
          max-width: 160px;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-right-wrapper {
          max-width: 571px;
          width: 100%;
          margin: 0px auto;
        }
        #shopify-section-17492873624812c001e6 .block-title.yb-block-title {
          font-size: 32px;
          line-height: 1.2;
          font-weight: 700;
          margin-bottom: 48px;
        }
        #shopify-section-17492873624812c001e6 .produt-bundle-button {
          border-radius: 60px;
          font-size: 16px;
          width: 172px;
          height: 48px;
        }
        #shopify-section-17492873624812c001e6 .produt-bundle-button2.yb-h5 {
          width: 172px;
          height: 48px;
          border-radius: 60px;
          font-size: 16px;
        }
        #shopify-section-17492873624812c001e6 .bundle-button-group-wrapper {
          gap: 12px;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items {
          height: 568px;
          border-radius: 16px;
        }
        #shopify-section-17492873624812c001e6 .video-items img,
        #shopify-section-17492873624812c001e6 .video-items video,
        #shopify-section-17492873624812c001e6 .video-items iframe {
          height: 568px;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-right-item {
          padding: 56px 49px;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-left-item {
          max-width: 730px;
          width: 100%;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-right-item {
          max-width: 670px;
          width: 100%;
        }
        #shopify-section-17492873624812c001e6 .direction-image-left .Discount-picture-box-left {
          width: 120px;
          top: 20px;
          left: 20px;
        }
        #shopify-section-17492873624812c001e6 .direction-image-right .Discount-picture-box-left {
          width: 120px;
          top: 20px;
          right: 20px;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-img {
          max-width: 148px;
          max-height: 148px;
        }
        #shopify-section-17492873624812c001e6 .divition {
          max-width: 16px;
          max-height: 16px;
          top: 74px;
          width: 100%;
          height: 100%;
        }
        #shopify-section-17492873624812c001e6 .bundle-title.yb-h5 {
          margin-top: 8px;
          line-height: 1.4 !important;
          min-height: 45px;
        }
        #shopify-section-17492873624812c001e6 .bundle-descriptions.yb-h3 {
          margin-top: 7px;
          margin-bottom: 4px;
          font-size: 20px;
          line-height: 1.4;
          font-weight: 700;
        }
        #shopify-section-17492873624812c001e6 .bundle-button-group {
          margin-top: 68px;
        }
        #shopify-section-17492873624812c001e6 .divition {
          /* top: 50%; */
          /* transform: translateY(-50%); */
          /* right: -36px; */
        }
        #shopify-section-17492873624812c001e6 .bundle-price.yb-h3 {
          font-size: 32px;
          line-height: 1.2;
          font-weight: 700;
        }
        #shopify-section-17492873624812c001e6 .columns-item-2 .divition {
          /* right: -40px; */
        }
        #shopify-section-17492873624812c001e6 .product-bundle-with-video-description.yb-body-2 {
          text-align: center;
          margin: 16px 0px 0px;
        }
      }
  
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-17492873624812c001e6 .price .price-position-origin .price-item--regular,
        ._sales__flash-sale-origin-price_1xt6h_10 {
          font-weight: 400;
          font-size: 14px;
          line-height: 1.4;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-items.columns-item-2 .bundle-group-container {
          max-width: 330px;
          margin: 0px auto;
        }
        #shopify-section-17492873624812c001e6 .bundle-descriptions1.yb-body-3 {
          font-size: 12px;
          font-weight: 400;
        }
        #shopify-section-17492873624812c001e6 .product-bundles-wrap-item {
          width: 100%;
          height: auto;
          max-width: 146px;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-right-wrapper {
          max-width: 491px;
          width: 100%;
          margin: 0px auto;
        }
        #shopify-section-17492873624812c001e6 .bundle-button-group-wrapper {
          gap: 16px;
        }
        #shopify-section-17492873624812c001e6 .block-title.yb-block-title {
          font-size: 28px;
          line-height: 1.2;
          font-weight: 700;
          margin-bottom: 39px;
        }
        #shopify-section-17492873624812c001e6 .produt-bundle-button {
          border-radius: 51.43px;
          font-size: 16px;
          width: 148px;
          height: 40px;
          padding: 8px;
        }
        #shopify-section-17492873624812c001e6 .produt-bundle-button2.yb-h5 {
          width: 148px;
          height: 40px;
          border-radius: 51.43px;
          font-size: 16px;
          padding: 8px;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items {
          height: 488px;
          border-radius: 16px;
        }
        #shopify-section-17492873624812c001e6 .video-items img,
        #shopify-section-17492873624812c001e6 .video-items video,
        #shopify-section-17492873624812c001e6 .video-items iframe {
          height: 488px;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-right-item {
          padding: 48px 40px;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-left-item {
          max-width: 624px;
          width: 100%;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-right-item {
          max-width: 576px;
          width: 100%;
        }
        #shopify-section-17492873624812c001e6 .direction-image-left .Discount-picture-box-left {
          width: 102px;
          top: 24px;
          left: 24px;
        }
        #shopify-section-17492873624812c001e6 .direction-image-right .Discount-picture-box-left {
          width: 102px;
          top: 24px;
          right: 24px;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-img {
          max-width: 126px;
          max-height: 126px;
        }
        #shopify-section-17492873624812c001e6 .divition {
          max-width: 12px;
          max-height: 12px;
          top: 63px;
          width: 100%;
          height: 100%;
        }
        #shopify-section-17492873624812c001e6 .bundle-title.yb-h5 {
          margin-top: 8px;
          min-height: 40px;
        }
        #shopify-section-17492873624812c001e6 .bundle-descriptions.yb-h3 {
          margin-top: 7px;
          margin-bottom: 4px;
          font-size: 18px;
          line-height: 1.4;
          font-weight: 700;
        }
        #shopify-section-17492873624812c001e6 .bundle-button-group {
          margin-top: 55px;
        }
        #shopify-section-17492873624812c001e6 .divition {
          /* top: 50%; */
          /* transform: translateY(-50%); */
          /* right: -30px; */
        }
        #shopify-section-17492873624812c001e6 .bundle-price.yb-h3 {
          font-size: 28px;
          line-height: 1.2;
          font-weight: 700;
        }
        #shopify-section-17492873624812c001e6 .columns-item-2 .divition {
          /* right: -35px; */
        }
        #shopify-section-17492873624812c001e6 .product-bundle-with-video-description.yb-body-2 {
          text-align: center;
          margin: 16px 0px 0px;
        }
      }
  
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-17492873624812c001e6 .product-bundle-items.columns-item-2 .bundle-group-container {
          max-width: 242px;
          margin: 0px auto;
        }
        #shopify-section-17492873624812c001e6 .price .price-position-origin .price-item--regular,
        ._sales__flash-sale-origin-price_1xt6h_10 {
          font-weight: 400;
          font-size: 14px;
          line-height: 1.4;
        }
        #shopify-section-17492873624812c001e6 .bundle-descriptions1.yb-body-3 {
          font-size: 12px;
          font-weight: 400;
        }
        #shopify-section-17492873624812c001e6 .product-bundles-wrap-item {
          width: 100%;
          height: auto;
          max-width: 108px;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-right-wrapper {
          max-width: 362px;
          width: 100%;
          margin: 0px auto;
        }
        #shopify-section-17492873624812c001e6 .block-title.yb-block-title {
          font-size: 20px;
          line-height: 1.4;
          font-weight: 700;
          margin-bottom: 32px;
        }
        #shopify-section-17492873624812c001e6 .produt-bundle-button {
          border-radius: 38.27px;
          font-size: 12px;
          width: 110px;
          height: 32px;
          padding: 7px;
        }
        #shopify-section-17492873624812c001e6 .produt-bundle-button2.yb-h5 {
          width: 110px;
          height: 32px;
          border-radius: 38.27px;
          font-size: 12px;
          padding: 7px;
        }
        #shopify-section-17492873624812c001e6 .bundle-button-group-wrapper {
          gap: 12px;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items {
          height: 363px;
          border-radius: 11.91px;
        }
        #shopify-section-17492873624812c001e6 .video-items img,
        #shopify-section-17492873624812c001e6 .video-items video,
        #shopify-section-17492873624812c001e6 .video-items iframe {
          height: 363px;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-right-item {
          padding: 32px 34px;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-left-item {
          max-width: 464px;
          width: 100%;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-right-item {
          max-width: 436px;
          width: 100%;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-img {
          max-width: 92px;
          max-height: 92px;
        }
        #shopify-section-17492873624812c001e6 .divition {
          max-width: 10.21px;
          max-height: 10.21px;
          top: 46px;
          position: relative;
          width: 100%;
          height: 100%;
        }
        #shopify-section-17492873624812c001e6 .bundle-title.yb-h5 {
          margin-top: 4px;
        }
        #shopify-section-17492873624812c001e6 .bundle-descriptions.yb-h3 {
          margin-top: 3px;
          margin-bottom: 4px;
          font-size: 14px;
          line-height: 1.4;
          font-weight: 700;
        }
        #shopify-section-17492873624812c001e6 .bundle-button-group {
          margin-top: 32px;
        }
        #shopify-section-17492873624812c001e6 .divition {
          /* top: 50%; */
          /* transform: translateY(-50%); */
          /* right: -23px; */
        }
        #shopify-section-17492873624812c001e6 .bundle-price.yb-h3 {
          font-size: 20px;
          line-height: 1.4;
          font-weight: 700;
        }
        #shopify-section-17492873624812c001e6 .columns-item-2 .divition {
          /* right: -26px; */
        }
        #shopify-section-17492873624812c001e6 .product-bundle-with-video-description.yb-body-2 {
          text-align: center;
          margin: 16px 0px 0px;
        }
      }
  
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-17492873624812c001e6 .product-bundle-items.columns-item-2 .bundle-group-container {
          max-width: 370px;
          margin: 0px auto;
        }
        #shopify-section-17492873624812c001e6 .price .price-position-origin .price-item--regular,
        ._sales__flash-sale-origin-price_1xt6h_10 {
          font-weight: 400;
          font-size: 14px;
          line-height: 1.4;
        }
        #shopify-section-17492873624812c001e6 .bundle-descriptions1.yb-body-3 {
          font-size: 18px;
          font-weight: 400;
        }
        #shopify-section-17492873624812c001e6 .product-bundles-wrap-item {
          width: 100%;
          height: auto;
          /* max-width: 148px; */
          /* align-content: end; */
          flex-direction: column;
          align-content: center;
          justify-content: start;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items {
          flex-direction: column;
          border-radius: 16px;
        }
        #shopify-section-17492873624812c001e6 .produt-bundle-button {
          border-radius: 60px;
          font-size: 16px;
          min-width: 186px;
          height: 48px;
          width: 100%;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-right-item {
          padding: 40px 0px;
        }
        #shopify-section-17492873624812c001e6 .direction-image-left .Discount-picture-box-left {
          width: 140px;
          top: 16px;
          left: 16px;
        }
        #shopify-section-17492873624812c001e6 .direction-image-right .Discount-picture-box-left {
          width: 140px;
          top: 16px;
          left: 16px;
        }
        #shopify-section-17492873624812c001e6 .block-title.yb-block-title {
          font-size: 32px;
          line-height: 1.2;
          font-weight: 700;
          margin-bottom: 32px;
        }
        #shopify-section-17492873624812c001e6 .produt-bundle-button2.yb-h5 {
          min-width: 186px;
          height: 48px;
          border-radius: 60px;
          font-size: 16px;
          width: 100%;
        }
        #shopify-section-17492873624812c001e6 .bundle-button-group-wrapper {
          gap: 12px;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-img {
          width: 120px;
          height: 120px;
        }
        #shopify-section-17492873624812c001e6 .divition {
          max-width: 14.29px;
          max-height: 14.29px;
          top: 60px;
          width: 100%;
          height: 100%;
        }
        #shopify-section-17492873624812c001e6 .bundle-title.yb-h5 {
          margin-top: 3px;
          min-height: 45px;
        }
        #shopify-section-17492873624812c001e6 .bundle-descriptions.yb-h3 {
          margin-top: 6px;
          margin-bottom: 7.37px;
          font-size: 24px;
          line-height: 1.2;
          font-weight: 700;
        }
        #shopify-section-17492873624812c001e6 .bundle-button-group {
          margin-top: 42px;
        }
        #shopify-section-17492873624812c001e6 .bundle-price.yb-h3 {
          font-size: 28px;
          line-height: 1.2;
          font-weight: 800;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-right-wrapper {
          max-width: calc(100% - 2 * 24px);
          margin: 0px auto;
        }
        #shopify-section-17492873624812c001e6 .divition {
          /* top: 50%; */
          /* transform: translateY(-50%); */
          /* right: -58px; */
        }
        #shopify-section-17492873624812c001e6 .content-carousel-height {
          aspect-ratio: 632 / 507;
          height: 100%;
          width: 100%;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items video,
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items img,
        #shopify-section-17492873624812c001e6 .video-cover-image,
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items iframe {
          aspect-ratio: 632/507;
          width: 100%;
          height: 100%;
        }
        #shopify-section-17492873624812c001e6 .columns-item-2 .divition {
          /* right: -60px; */
        }
        #shopify-section-17492873624812c001e6 .product-bundle-with-video-description.yb-body-2 {
          text-align: center;
          margin: 16px 0px 0px;
        }
      }
  
      @media (max-width: 679px) {
        #shopify-section-17492873624812c001e6 .product-bundle-items.columns-item-2 .bundle-group-container {
          max-width: 200px;
          margin: 0px auto;
        }
        #shopify-section-17492873624812c001e6 .price .price-position-origin .price-item--regular,
        ._sales__flash-sale-origin-price_1xt6h_10 {
          font-weight: 400;
          font-size: 14px;
          line-height: 1.4;
        }
        #shopify-section-17492873624812c001e6 .bundle-descriptions1.yb-body-3 {
          font-size: 12px;
          font-weight: 400;
        }
        #shopify-section-17492873624812c001e6 .product-bundles-wrap-item {
          width: 100%;
          height: auto;
          /* max-width: 80px; */
          flex-direction: column;
          justify-content: start;
          align-content: center;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-right-item {
          padding: 24px 0px;
        }
        #shopify-section-17492873624812c001e6 .direction-image-left .Discount-picture-box-left {
          width: 58px;
          top: 10px;
          left: 10px;
        }
  
        #shopify-section-17492873624812c001e6 .direction-image-right .Discount-picture-box-left {
          width: 58px;
          top: 10px;
          left: 10px;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-right-wrapper {
          max-width: calc(100% - 2 * 16px);
          margin: 0px auto;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items {
          flex-direction: column;
          border-radius: 16px;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items video,
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items img,
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items iframe {
          aspect-ratio: 343/267;
          border-radius: 8px;
        }
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items video,
        #shopify-section-17492873624812c001e6 .video-cover-image,
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items img,
        #shopify-section-17492873624812c001e6 .content-product-bundle-with-video-items iframe {
          aspect-ratio: 343/267;
          width: 100%;
          height: 100%;
        }
        #shopify-section-17492873624812c001e6 .deferred-media iframe {
          width: -webkit-fill-available;
          aspect-ratio: 343/267;
          border-radius: 8px;
        }
        #shopify-section-17458227893568e76087 .video-items img {
          aspect-ratio: 343/267;
        }
        #shopify-section-17492873624812c001e6 .block-title.yb-block-title {
          font-size: 20px;
          line-height: 1.4;
          font-weight: 700;
          margin-bottom: 16px;
        }
        #shopify-section-17492873624812c001e6 .produt-bundle-button {
          border-radius: 60px;
          font-size: 12px;
          min-width: 100px;
          height: 40px;
          width: 100%;
        }
        #shopify-section-17492873624812c001e6 .produt-bundle-button2.yb-h5 {
          min-width: 100px;
          height: 40px;
          border-radius: 60px;
          font-size: 12px;
          width: 100%;
        }
        #shopify-section-17492873624812c001e6 .bundle-button-group-wrapper {
          gap: 12px;
        }
        #shopify-section-17492873624812c001e6 .product-bundle-img {
          width: 72px;
          height: 72px;
        }
        #shopify-section-17492873624812c001e6 .divition {
          max-width: 14.29px;
          max-height: 14.29px;
          top: 36px;
          width: 100%;
          height: 100%;
        }
        #shopify-section-17492873624812c001e6 .bundle-title.yb-h5 {
          margin-top: 8px;
          min-height: 34px;
        }
        #shopify-section-17492873624812c001e6 .bundle-descriptions.yb-h3 {
          margin-top: 8px;
          margin-bottom: 4px;
          font-size: 16px;
          line-height: 1.4;
          font-weight: 700;
        }
        #shopify-section-17492873624812c001e6 .bundle-button-group {
          margin-top: 32px;
        }
        #shopify-section-17492873624812c001e6 .bundle-price.yb-h3 {
          font-size: 20px;
          line-height: 1.4;
          font-weight: 700;
        }
        #shopify-section-17492873624812c001e6 .divition {
          /* top: 50%; */
          /* transform: translateY(-50%); */
          /* right: -30px; */
        }
        #shopify-section-17492873624812c001e6 .columns-item-2 .divition {
          /* right: -32px; */
        }
        #shopify-section-17492873624812c001e6 .product-bundle-with-video-description.yb-body-2 {
          text-align: center;
          margin: 12px 0px 0px;
        }
      }
    </style>
  </div>
  