<div class="shopline-section nsa-accesstive" id="shopline-section-1742033934716ed96cbb">
  <section class="yarbo-section nsa-accesstive">
    <div class="yarbo-spec-container nsa-accesstive">
      <div class="yarbo-spec-inner nsa-accesstive">
        <p class="yarbo-spec-title nsa-accesstive">Spec</p>
        <div class="yarbo-spec-grid nsa-accesstive">
          <!-- Unit Dimension -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Unit Dimension</p>
            <p class="yarbo-spec-value nsa-accesstive">42 * 28 * 29 in</p>
            <p class="yarbo-spec-value nsa-accesstive">(106 * 72 * 74 cm)</p>
          </div>
          <!-- Operating Temperature -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Operating Temperature</p>
            <p class="yarbo-spec-value nsa-accesstive">-13°F to +140°F</p>
            <p class="yarbo-spec-value nsa-accesstive">(-25°C to +60°C)</p>
          </div>
          <!-- Package Dimension -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Package Dimension (L*W*H)</p>
            <p class="yarbo-spec-value nsa-accesstive">31.8 * 24.5 * 22.7 in</p>
            <p class="yarbo-spec-value nsa-accesstive">( 80.8 * 62.2 * 57.7 cm)</p>
          </div>
          <!-- Applicable Surfaces -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Applicable Surfaces</p>
            <p class="yarbo-spec-value nsa-accesstive">Paved</p>
          </div>
          <!-- Weight -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Weight</p>
            <p class="yarbo-spec-value nsa-accesstive">211 lbs (96 kg)</p>
          </div>
          <!-- Cleaning Width -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Cleaning Width</p>
            <p class="yarbo-spec-value nsa-accesstive">24 in (61 cm)</p>
          </div>
          <!-- Stage Type -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Stage Type</p>
            <p class="yarbo-spec-value nsa-accesstive">2-stage</p>
          </div>
          <!-- Throwing Distance -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Throwing Distance</p>
            <p class="yarbo-spec-value nsa-accesstive">6-40 ft. (1.82-12.19 m)</p>
          </div>
          <!-- Intake Height -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Intake Height</p>
            <p class="yarbo-spec-value nsa-accesstive">12 in (30.5 cm)</p>
          </div>
          <!-- Deflector Angle -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Deflector Angle</p>
            <p class="yarbo-spec-value nsa-accesstive">-5° to +55°</p>
          </div>
          <!-- Chute Rotation -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Chute Rotation</p>
            <p class="yarbo-spec-value nsa-accesstive">-10° - 190°</p>
          </div>
          <!-- Operation Time / Charge -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Operation Time / Charge</p>
            <p class="yarbo-spec-value nsa-accesstive">1.5 h</p>
          </div>
          <!-- Cleaning Area / Charge -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Cleaning Area / Charge</p>
            <p class="yarbo-spec-value nsa-accesstive">6,000 sq.ft (1 in) /</p>
            <p class="yarbo-spec-value nsa-accesstive">557.42 ㎡ (2.5 cm)</p>
          </div>
          <!-- Waterproof Level -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Waterproof Level</p>
            <p class="yarbo-spec-value nsa-accesstive">IPX5</p>
          </div>
          <!-- Charging Time -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Charging Time</p>
            <p class="yarbo-spec-value nsa-accesstive">3 hours (0% to 100%)</p>
            <p class="yarbo-spec-value nsa-accesstive">1.5 hours (20% to 80%)</p>
          </div>
          <!-- Applicable Slope -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Applicable Slope</p>
            <p class="yarbo-spec-value nsa-accesstive">Up to 36%</p>
          </div>
          <!-- Powered By -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Powered By</p>
            <p class="yarbo-spec-value nsa-accesstive">Lithium-ion battery</p>
          </div>
          <!-- Connectivity -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Connectivity</p>
            <p class="yarbo-spec-value nsa-accesstive">4G &amp; Wi-Fi &amp; Bluetooth</p>
          </div>
          <!-- Applicable Snow Types -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Applicable Snow Types</p>
            <p class="yarbo-spec-value nsa-accesstive">Dry / Wet / Packed Snow</p>
          </div>
          <!-- Positioning & Navigation -->
          <div class="yarbo-spec-item nsa-accesstive">
            <p class="yarbo-spec-label nsa-accesstive">Positioning &amp; Navigation</p>
            <p class="yarbo-spec-value nsa-accesstive">RTK &amp; Vision &amp; IMU &amp; ODOM</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    #shopline-section-1742033934716ed96cbb .yarbo-spec-container {
      margin: 0 auto;
    }
    @media screen and (min-width: 960px) {
      #shopline-section-1742033934716ed96cbb .yarbo-spec-container {
        width: 900px;
      }
    }
    @media screen and (min-width: 1440px) {
      #shopline-section-1742033934716ed96cbb .yarbo-spec-container {
        width: 1200px;
      }
    }
    @media screen and (min-width: 1919px) {
      #shopline-section-1742033934716ed96cbb .yarbo-spec-container {
        width: 1400px;
      }
    }
    @media screen and (min-width: 2048px) {
      #shopline-section-1742033934716ed96cbb .yarbo-spec-container {
        width: 1600px;
      }
    }
    #shopline-section-1742033934716ed96cbb .yarbo-spec-inner {
      width: 100% !important;
    }
  </style>
</div>
