<div class="shopline-section nsa-accesstive" id="shopify-section-1756888660177d33db48">
  <style>
    #shopify-section-1756888660177d33db48 {
      background-color: #f5f5f5;
    }
    #shopify-section-1756888660177d33db48 .yb-image-text-swiper-content .yb-image-text-swiper-bullet {
      background: transparent;
    }
    /* 375-679px */
    @media (max-width: 679px) {
      #shopify-section-1756888660177d33db48 {
        padding-top: 48px;
        padding-bottom: 20px;
      }
    }

    /* 680-959px */
    @media (min-width: 680px) and (max-width: 959px) {
      #shopify-section-1756888660177d33db48 {
        padding-top: 64px;
        padding-bottom: 30px;
      }
    }

    /* 960-1439px */
    @media (min-width: 960px) and (max-width: 1439px) {
      #shopify-section-1756888660177d33db48 {
        padding-top: 64px;
        padding-bottom: 45px;
      }
    }

    /* 1440-1919px */
    @media (min-width: 1440px) and (max-width: 1919px) {
      #shopify-section-1756888660177d33db48 {
        padding-top: 100px;
        padding-bottom: 60px;
      }
    }

    /* 1920px+ */
    @media (min-width: 1920px) {
      #shopify-section-1756888660177d33db48 {
        padding-top: 120px;
        padding-bottom: 80px;
      }
    }
  </style>
  <style>
    @media (max-width: 959px) {
      .yb-image-text-swiper-content .yb-image-text-swiper-card {
        background-color: #f5f5f5;
      }
    }
  </style>
  <div class="yb-image-text-swiper-container nsa-accesstive">
    <div class="yb-section-common nsa-accesstive">
      <div class="yb-section-common-title nsa-accesstive">Real Users, Real Yards, Real Stories</div>
    </div>
    <div class="yb-image-text-swiper-content">
      <div
        class="swiper yb-image-text-swiper-card-swiper"
        data-auto-play-time="8"
      >
        <div class=" swiper-pagination-top-white "></div>
        <div
          class="swiper-wrapper yb-image-text-swiper-card-container"
        >
          <div
            class="swiper-slide yb-image-text-swiper-card yb-image-text-swiper-card-white nsa-accesstive"
            data-tab="Amin Ahmed"
            role="group"
          >
            <div class="yb-image-text-swiper-card-meta nsa-accesstive">
              <video
                autoplay=""
                class="nsa-accesstive"
                loop=""
                muted=""
                playsinline=""
                preload="metadata"
                src="https://cdn4.fireworktv.com/medias/2025/9/5/1757057320-apyiwqdk/watermarked/720/9E69C885E697A5.mp4"
              ></video>
            </div>
            <div class="yb-image-text-swiper-card-content nsa-accesstive">
              <div class="yb-image-text-swiper-card-content-title nsa-accesstive">Amin Ahmed</div>
              <div class="yb-image-text-swiper-card-content-text nsa-accesstive">
                <div class="nsa-accesstive" data-line="true" data-line-index="0" data-zone-id="0">
                  <div class="nsa-accesstive" data-line="true" data-line-index="0" data-zone-id="0">
                    First Mow of the season, even without pre-cleaning the yard. Awesome job Yarbo.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide yb-image-text-swiper-card yb-image-text-swiper-card-white nsa-accesstive"
            data-tab="Chad Albrecht"
            role="group"
          >
            <div class="yb-image-text-swiper-card-meta nsa-accesstive">
              <video
                autoplay=""
                class="nsa-accesstive"
                loop=""
                muted=""
                playsinline=""
                preload="metadata"
                src="https://cdn4.fireworktv.com/medias/2025/9/3/1756891553-ekcxpaob/watermarked/720/FDownloader.net-8032733993545699_-1920p.mp4"
              ></video>
            </div>
            <div class="yb-image-text-swiper-card-content nsa-accesstive">
              <div class="yb-image-text-swiper-card-content-title nsa-accesstive">Chad Albrecht</div>
              <div class="yb-image-text-swiper-card-content-text nsa-accesstive">
                <div class="nsa-accesstive" data-line="true" data-line-index="0" data-zone-id="0">
                  Preseason stripe practice is going really well! Bring on the greening!
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide yb-image-text-swiper-card yb-image-text-swiper-card-white nsa-accesstive"
            data-tab='&lt;div data-zone-id="0" data-line-index="0" data-line="true"&gt;Noah Wallace III&lt;/div&gt;'
            role="group"
          >
            <div class="yb-image-text-swiper-card-meta nsa-accesstive">
              <video
                autoplay=""
                class="nsa-accesstive"
                loop=""
                muted=""
                playsinline=""
                preload="metadata"
                src="https://cdn4.fireworktv.com/medias/2025/9/3/1756891553-dzafvbsc/watermarked/720/FDownloader.Net_AQMTW1wU4Q8CHAmOKasidwG3UDLrgCCE916sy5LyyulPZCqVGTtIpks3dhuNyEDmdpwTIwQhVH6a9sSNbrA6xGGoc45xWwqclEoFtdsrebXvfw_720p_HD.mp4"
              ></video>
            </div>
            <div class="yb-image-text-swiper-card-content nsa-accesstive">
              <div class="yb-image-text-swiper-card-content-title nsa-accesstive">
                <div class="nsa-accesstive" data-line="true" data-line-index="0" data-zone-id="0">Noah Wallace III</div>
              </div>
              <div class="yb-image-text-swiper-card-content-text nsa-accesstive">
                <div class="nsa-accesstive" data-line="true" data-line-index="0" data-zone-id="0">
                  Another Saturday that I spent doing what I wanted to do rather than mowing my yard. Thank you
                  technology.
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide yb-image-text-swiper-card yb-image-text-swiper-card-white nsa-accesstive"
            data-tab="Ryan Maggio"
            role="group"
          >
            <div class="yb-image-text-swiper-card-meta nsa-accesstive">
              <video
                autoplay=""
                class="nsa-accesstive"
                loop=""
                muted=""
                playsinline=""
                preload="metadata"
                src="https://cdn4.fireworktv.com/medias/2025/9/3/1756891553-pmzqcgne/watermarked/720/FDownloader.net-9959640204867649_-1280p.mp4"
              ></video>
            </div>
            <div class="yb-image-text-swiper-card-content nsa-accesstive">
              <div class="yb-image-text-swiper-card-content-title nsa-accesstive">Ryan Maggio</div>
              <div class="yb-image-text-swiper-card-content-text nsa-accesstive">
                <div class="nsa-accesstive" data-line="true" data-line-index="0" data-zone-id="0">
                  Yarbo doing 150ft of river front with zero issues. Set to gentle contact, 3” cut height, spiral
                  pattern, zero turn, 8” overlap, and 4” boundary set back. Walked it like a dog the first few times
                  along the river but I now feel confident enough to watch from the patio.
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide yb-image-text-swiper-card yb-image-text-swiper-card-white nsa-accesstive"
            data-tab='&lt;div data-zone-id="0" data-line-index="0" data-line="true"&gt;Rob such&lt;/div&gt;'
            role="group"
          >
            <div class="yb-image-text-swiper-card-meta nsa-accesstive">
              <video
                autoplay=""
                class="nsa-accesstive"
                loop=""
                muted=""
                playsinline=""
                preload="metadata"
                src="https://cdn4.fireworktv.com/medias/2025/9/3/1756891553-iwpburde/watermarked/720/FDownloader.Net_AQOxPTDoqevRX936IgJQzRepZHYahe2tW2zXGgY4-5BWCaxDl06q7Z33VpvSsu6GWmbwBTc80P-QArBCcY8JFX8BeSq19joYgH14wpW3dIiEYA_720p_HD.mp4"
              ></video>
            </div>
            <div class="yb-image-text-swiper-card-content nsa-accesstive">
              <div class="yb-image-text-swiper-card-content-title nsa-accesstive">
                <div class="nsa-accesstive" data-line="true" data-line-index="0" data-zone-id="0">Rob such</div>
              </div>
              <div class="yb-image-text-swiper-card-content-text nsa-accesstive">
                <div class="nsa-accesstive" data-line="true" data-line-index="0" data-zone-id="0">I love my yarbo.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-box nsa-accesstive">
          <div
            aria-controls="swiper-wrapper-42b46a4bac2abaeb"
            aria-label="Previous slide"
            class="swiper-button swiper-button-prev swiper-button-white nsa-accesstive"
            role="button"
            tabindex="0"
          ></div>
          <div
            aria-controls="swiper-wrapper-42b46a4bac2abaeb"
            aria-label="Next slide"
            class="swiper-button swiper-button-next swiper-button-white progress-active nsa-accesstive"
            role="button"
            style="--progress: 61.25%;"
            tabindex="0"
          ></div>
        </div>
      </div>
      <div class="swiper-pagination-bottom swiper-pagination-bottom-white nsa-accesstive"></div>
    </div>
  </div>
</div>
