<div class="shopline-section nsa-accesstive" id="shopline-section-1742093870411cdc6b0d">
  <style>
    #shopline-section-1742093870411cdc6b0d.section-padding,
    #shopline-section-1742093870411cdc6b0d .section-padding {
      padding-top: 0px;
      padding-bottom: 40px;
    }
    @media only screen and (max-width: 959px) {
      #shopline-section-1742093870411cdc6b0d.section-padding,
      #shopline-section-1742093870411cdc6b0d .section-padding {
        padding-top: 0px;
        padding-bottom: 20px;
      }
    }
  </style>
  <two-product-show class="section section-padding two-product-show nsa-accesstive" data-id="1742093870411cdc6b0d">
    <div class="page-width two-product-show-wrapper nsa-accesstive">
      <div class="two-product-show-card nsa-accesstive">
        <img
          alt=""
          class="two-product-show-tag nsa-accesstive"
          data-scale="hover-scale"
          decoding="async"
          fetchpriority="auto"
          height="87"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_13.png?v=1772523965"
          width="481"
        >
        <img
          alt=""
          class="two-product-show-bg nsa-accesstive"
          data-scale="hover-scale"
          decoding="async"
          fetchpriority="auto"
          height="641"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/10002-_1.png?v=1772521049"
          width="1233"
        >
        <div class="two-product-show-content nsa-accesstive">
          <div class="two-product-show-title nsa-accesstive">Yarbo Snow Blower + Lawn Mower</div>
          <div class="two-product-show-includes nsa-accesstive">includes</div>
          <div class="two-product-show-block nsa-accesstive">
            <div class="two-product-show-sub nsa-accesstive">Yarbo Core</div>
            <div class="two-product-show-sub nsa-accesstive">Yarbo Lawn Mower Module</div>
            <div class="two-product-show-sub nsa-accesstive">Yarbo Snow Blower Module</div>
          </div>
          <div class="two-product-show-gray nsa-accesstive">
            * The bundle includes a Yarbo battery, docking station, smart assist module, data center, and remote
            controller set.
          </div>
          <div class="two-product-show-button-wrapper nsa-accesstive">
            <div class="two-product-show-button-price nsa-accesstive">$6,199.00</div>
            <a class="two-product-show-button-shop nsa-accesstive" href="/products/yarbo-snow-blower-lawn-mower">
              <span class="nsa-accesstive">Learn More </span>
              <svg
                fill="none"
                height="14"
                style="margin-left:8px"
                viewbox="0 0 9 14"
                width="9"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M1.37891 1L7.37891 7L1.37891 13" stroke="black" stroke-linecap="round" stroke-width="1.41176"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="two-product-show-card nsa-accesstive">
        <img
          alt=""
          class="two-product-show-tag nsa-accesstive"
          data-scale="hover-scale"
          decoding="async"
          fetchpriority="auto"
          height="87"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_13.png?v=1772523965"
          width="481"
        >
        <img
          alt=""
          class="two-product-show-bg nsa-accesstive"
          data-scale="hover-scale"
          decoding="async"
          fetchpriority="auto"
          height="560"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_15.png?v=1772523970"
          width="1080"
        >
        <div class="two-product-show-content nsa-accesstive">
          <div class="two-product-show-title nsa-accesstive">Yarbo 4-in-1 Yard Robot</div>
          <div class="two-product-show-includes nsa-accesstive">includes</div>
          <div class="two-product-show-block nsa-accesstive">
            <div class="two-product-show-sub nsa-accesstive">Yarbo Core</div>
            <div class="two-product-show-sub nsa-accesstive">Yarbo Lawn Mower Module</div>
            <div class="two-product-show-sub nsa-accesstive">Yarbo Snow Blower Module</div>
            <div class="two-product-show-sub nsa-accesstive">Yarbo Blower Module</div>
          </div>
          <div class="two-product-show-gray nsa-accesstive">
            * The bundle includes a Yarbo battery, docking station, smart assist module, data center, and remote
            controller set.
          </div>
          <div class="two-product-show-button-wrapper nsa-accesstive">
            <div class="two-product-show-button-price nsa-accesstive">$6,999.00</div>
            <a class="two-product-show-button-shop nsa-accesstive" href="/products/yarbo-4-in-1-yard-robot">
              <span class="nsa-accesstive">Learn More </span>
              <svg
                fill="none"
                height="14"
                style="margin-left:8px"
                viewbox="0 0 9 14"
                width="9"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M1.37891 1L7.37891 7L1.37891 13" stroke="black" stroke-linecap="round" stroke-width="1.41176"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </two-product-show>
</div>
