

<div class="shopline-section section nsa-accesstive" id="shopify-section-17427971639320faddf7">
  <style>
    #shopify-section-17427971639320faddf7.section-padding,
    #shopify-section-17427971639320faddf7 .section-padding {
      padding-top: 120px;
      padding-bottom: 80px;
    }
    @media only screen and (max-width: 959px) {
      #shopify-section-17427971639320faddf7.section-padding,
      #shopify-section-17427971639320faddf7 .section-padding {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    }
  </style>
  <div class="section section-padding text-columns-with-image2 section-gap nsa-accesstive">
    <div class="page-width nsa-accesstive">
      <h2 class="text-columns-with-image2__title section-title text-center nsa-accesstive">
        Zero-effort Yard Care for Every Season
      </h2>
      <text-image-slide-section2 class="text-columns-with-image2-wrapper swiper nsa-accesstive">
        <div class="swiper-wrapper nsa-accesstive" id="Swiper-wrapper-17427971639320faddf7">
          <div class="swiper-slide nsa-accesstive" id="Swiper-slide-17420928955152d1fa35">
            <div class="text-columns-with-image2-card nsa-accesstive">
              <div class="text-columns-with-image2-bg nsa-accesstive">
                <img
                  alt=""
                  class="text-columns-with-image2-full-image nsa-accesstive"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="408"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_6.png?v=1772524079"
                  width="520"
                >
              </div>
              <div class="text-columns-with-image2-top nsa-accesstive">
                <div class="text-columns-with-image2-top-title nsa-accesstive">Spring</div>
                <div class="text-columns-with-image2-top-desc nsa-accesstive">
                  Your autonomous yard assistant and guardian.
                </div>
              </div>
              <div class="text-columns-with-image2-content nsa-accesstive">
                <div class="text-columns-with-image2-center nsa-accesstive">
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="193"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_4.png?v=1772524052"
                      width="192"
                    >
                  </div>
                  <svg fill="none" height="36" viewbox="0 0 37 36" width="37" xmlns="http://www.w3.org/2000/svg">
                    <rect fill="rgb(254 219 30)" height="36" rx="18" width="36" x="0.5"></rect>
                    <path clip-rule="evenodd" d="M19.7857 16.7143V9H17.2143L17.2143 16.7143H9.5V19.2857H17.2143L17.2143 27H19.7857V19.2857H27.5V16.7143H19.7857Z" fill="black" fill-rule="evenodd"></path>
                  </svg>
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="192"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_5.png?v=1772524075"
                      width="192"
                    >
                  </div>
                </div>
                <div class="text-columns-with-image2-bottom nsa-accesstive">
                  <p class="nsa-accesstive">Yarbo Body</p>
                  <p class="nsa-accesstive">Smart Assist Module</p>
                </div>
                <a class="text-columns-with-image2-button" href="https://www.yarbo.com/products/yarbo-core"
                  >Yarbo Core</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide nsa-accesstive" id="Swiper-slide-17420928955155cd38ee">
            <div class="text-columns-with-image2-card nsa-accesstive">
              <div class="text-columns-with-image2-bg nsa-accesstive">
                <img
                  alt=""
                  class="text-columns-with-image2-full-image nsa-accesstive"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="408"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_9.png?v=1772524094"
                  width="520"
                >
              </div>
              <div class="text-columns-with-image2-top nsa-accesstive">
                <div class="text-columns-with-image2-top-title nsa-accesstive">Summer</div>
                <div class="text-columns-with-image2-top-desc nsa-accesstive">
                  Your auto-solution for big, steep, and complex lawns.
                </div>
              </div>
              <div class="text-columns-with-image2-content nsa-accesstive">
                <div class="text-columns-with-image2-center nsa-accesstive">
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="193"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_7.png?v=1772524084"
                      width="192"
                    >
                  </div>
                  <svg fill="none" height="36" viewbox="0 0 37 36" width="37" xmlns="http://www.w3.org/2000/svg">
                    <rect fill="rgb(254 219 30)" height="36" rx="18" width="36" x="0.5"></rect>
                    <path clip-rule="evenodd" d="M19.7857 16.7143V9H17.2143L17.2143 16.7143H9.5V19.2857H17.2143L17.2143 27H19.7857V19.2857H27.5V16.7143H19.7857Z" fill="black" fill-rule="evenodd"></path>
                  </svg>
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="131"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_8.png?v=1772524090"
                      width="130"
                    >
                  </div>
                </div>
                <div class="text-columns-with-image2-bottom nsa-accesstive">
                  <p class="nsa-accesstive">Yarbo Core</p>
                  <p class="nsa-accesstive">Lawn Mower Module</p>
                </div>
                <a class="text-columns-with-image2-button" href="https://www.yarbo.com/shop/lawn-mower-robot"
                  >Yarbo Lawn Mower</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide nsa-accesstive" id="Swiper-slide-17420928955156d7e6fe">
            <div class="text-columns-with-image2-card nsa-accesstive">
              <div class="text-columns-with-image2-bg nsa-accesstive">
                <img
                  alt=""
                  class="text-columns-with-image2-full-image nsa-accesstive"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="408"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_10.png?v=1772523955"
                  width="520"
                >
              </div>
              <div class="text-columns-with-image2-top nsa-accesstive">
                <div class="text-columns-with-image2-top-title nsa-accesstive">Fall</div>
                <div class="text-columns-with-image2-top-desc nsa-accesstive">
                  Your ultimate solution to blow leaves in a big yard and hard-to-reach corner.
                </div>
              </div>
              <div class="text-columns-with-image2-content nsa-accesstive">
                <div class="text-columns-with-image2-center nsa-accesstive">
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="193"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_7.png?v=1772524084"
                      width="192"
                    >
                  </div>
                  <svg fill="none" height="36" viewbox="0 0 37 36" width="37" xmlns="http://www.w3.org/2000/svg">
                    <rect fill="rgb(254 219 30)" height="36" rx="18" width="36" x="0.5"></rect>
                    <path clip-rule="evenodd" d="M19.7857 16.7143V9H17.2143L17.2143 16.7143H9.5V19.2857H17.2143L17.2143 27H19.7857V19.2857H27.5V16.7143H19.7857Z" fill="black" fill-rule="evenodd"></path>
                  </svg>
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="131"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_12.png?v=1772523960"
                      width="130"
                    >
                  </div>
                </div>
                <div class="text-columns-with-image2-bottom nsa-accesstive">
                  <p class="nsa-accesstive">Yarbo Core</p>
                  <p class="nsa-accesstive">Blower Module</p>
                </div>
                <a class="text-columns-with-image2-button" href="https://www.yarbo.com/products/blower-robot"
                  >Yarbo Blower</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-clone nsa-accesstive" id="Swiper-slide-17420928955152d1fa35_2">
            <div class="text-columns-with-image2-card nsa-accesstive">
              <div class="text-columns-with-image2-bg nsa-accesstive">
                <img
                  alt=""
                  class="text-columns-with-image2-full-image nsa-accesstive"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="408"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_6.png?v=1772524079"
                  width="520"
                >
              </div>
              <div class="text-columns-with-image2-top nsa-accesstive">
                <div class="text-columns-with-image2-top-title nsa-accesstive">Spring</div>
                <div class="text-columns-with-image2-top-desc nsa-accesstive">
                  Your autonomous yard assistant and guardian.
                </div>
              </div>
              <div class="text-columns-with-image2-content nsa-accesstive">
                <div class="text-columns-with-image2-center nsa-accesstive">
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="193"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_4.png?v=1772524052"
                      width="192"
                    >
                  </div>
                  <svg fill="none" height="36" viewbox="0 0 37 36" width="37" xmlns="http://www.w3.org/2000/svg">
                    <rect fill="rgb(254 219 30)" height="36" rx="18" width="36" x="0.5"></rect>
                    <path clip-rule="evenodd" d="M19.7857 16.7143V9H17.2143L17.2143 16.7143H9.5V19.2857H17.2143L17.2143 27H19.7857V19.2857H27.5V16.7143H19.7857Z" fill="black" fill-rule="evenodd"></path>
                  </svg>
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="192"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_5.png?v=1772524075"
                      width="192"
                    >
                  </div>
                </div>
                <div class="text-columns-with-image2-bottom nsa-accesstive">
                  <p class="nsa-accesstive">Yarbo Body</p>
                  <p class="nsa-accesstive">Smart Assist Module</p>
                </div>
                <a class="text-columns-with-image2-button" href="https://www.yarbo.com/products/yarbo-core"
                  >Yarbo Core</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-clone nsa-accesstive" id="Swiper-slide-17420928955155cd38ee_2">
            <div class="text-columns-with-image2-card nsa-accesstive">
              <div class="text-columns-with-image2-bg nsa-accesstive">
                <img
                  alt=""
                  class="text-columns-with-image2-full-image nsa-accesstive"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="408"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_9.png?v=1772524094"
                  width="520"
                >
              </div>
              <div class="text-columns-with-image2-top nsa-accesstive">
                <div class="text-columns-with-image2-top-title nsa-accesstive">Summer</div>
                <div class="text-columns-with-image2-top-desc nsa-accesstive">
                  Your auto-solution for big, steep, and complex lawns.
                </div>
              </div>
              <div class="text-columns-with-image2-content nsa-accesstive">
                <div class="text-columns-with-image2-center nsa-accesstive">
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="193"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_7.png?v=1772524084"
                      width="192"
                    >
                  </div>
                  <svg fill="none" height="36" viewbox="0 0 37 36" width="37" xmlns="http://www.w3.org/2000/svg">
                    <rect fill="rgb(254 219 30)" height="36" rx="18" width="36" x="0.5"></rect>
                    <path clip-rule="evenodd" d="M19.7857 16.7143V9H17.2143L17.2143 16.7143H9.5V19.2857H17.2143L17.2143 27H19.7857V19.2857H27.5V16.7143H19.7857Z" fill="black" fill-rule="evenodd"></path>
                  </svg>
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="131"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_8.png?v=1772524090"
                      width="130"
                    >
                  </div>
                </div>
                <div class="text-columns-with-image2-bottom nsa-accesstive">
                  <p class="nsa-accesstive">Yarbo Core</p>
                  <p class="nsa-accesstive">Lawn Mower Module</p>
                </div>
                <a class="text-columns-with-image2-button" href="https://www.yarbo.com/shop/lawn-mower-robot"
                  >Yarbo Lawn Mower</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-clone nsa-accesstive" id="Swiper-slide-17420928955156d7e6fe_2">
            <div class="text-columns-with-image2-card nsa-accesstive">
              <div class="text-columns-with-image2-bg nsa-accesstive">
                <img
                  alt=""
                  class="text-columns-with-image2-full-image nsa-accesstive"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="408"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_10.png?v=1772523955"
                  width="520"
                >
              </div>
              <div class="text-columns-with-image2-top nsa-accesstive">
                <div class="text-columns-with-image2-top-title nsa-accesstive">Fall</div>
                <div class="text-columns-with-image2-top-desc nsa-accesstive">
                  Your ultimate solution to blow leaves in a big yard and hard-to-reach corner.
                </div>
              </div>
              <div class="text-columns-with-image2-content nsa-accesstive">
                <div class="text-columns-with-image2-center nsa-accesstive">
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="193"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_7.png?v=1772524084"
                      width="192"
                    >
                  </div>
                  <svg fill="none" height="36" viewbox="0 0 37 36" width="37" xmlns="http://www.w3.org/2000/svg">
                    <rect fill="rgb(254 219 30)" height="36" rx="18" width="36" x="0.5"></rect>
                    <path clip-rule="evenodd" d="M19.7857 16.7143V9H17.2143L17.2143 16.7143H9.5V19.2857H17.2143L17.2143 27H19.7857V19.2857H27.5V16.7143H19.7857Z" fill="black" fill-rule="evenodd"></path>
                  </svg>
                  <div class="nsa-accesstive">
                    <img
                      alt=""
                      class="text-columns-with-image2-full-image nsa-accesstive"
                      data-scale="hover-scale"
                      decoding="async"
                      fetchpriority="auto"
                      height="131"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_12.png?v=1772523960"
                      width="130"
                    >
                  </div>
                </div>
                <div class="text-columns-with-image2-bottom nsa-accesstive">
                  <p class="nsa-accesstive">Yarbo Core</p>
                  <p class="nsa-accesstive">Blower Module</p>
                </div>
                <a class="text-columns-with-image2-button" href="https://www.yarbo.com/products/blower-robot"
                  >Yarbo Blower</a
                >
              </div>
            </div>
          </div>
        </div>
      </text-image-slide-section2>
    </div>
  </div>
</div>
