<div
  id='shopline-section-175698036634765346be'
  class='shopline-section'
>
  <style>
    #shopline-section-175698036634765346be {
      background-color: #f5f5f5;
    }

    /* 375-679px */
    @media (max-width: 679px) {
      #shopline-section-175698036634765346be {
        padding-top: 0px;
        padding-bottom: 35px;
      }
    }

    /* 680-959px */
    @media (min-width: 680px) and (max-width: 959px) {
      #shopline-section-175698036634765346be {
        padding-top: 0px;
        padding-bottom: 40px;
      }
    }

    /* 960-1439px */
    @media (min-width: 960px) and (max-width: 1439px) {
      #shopline-section-175698036634765346be {
        padding-top: 0px;
        padding-bottom: 50px;
      }
    }

    /* 1440-1919px */
    @media (min-width: 1440px) and (max-width: 1919px) {
      #shopline-section-175698036634765346be {
        padding-top: 0px;
        padding-bottom: 60px;
      }
    }

    /* 1920px+ */
    @media (min-width: 1920px) {
      #shopline-section-175698036634765346be {
        padding-top: 0px;
        padding-bottom: 80px;
      }
    }
  </style>

  <div class='rich-text-component'>
    <div class='rich-text-component-wrapper'>
      <div class='rich-text-component-inner'>
        <div class='headerTitle1'></div>
        <div class=''>
          <a
            href='https://www.yarbo.com/unfiltered-yarbo-performance'
            class='undefined yb-single-video-btn'
          >
            See More Proof
          </a>
        </div>
      </div>
    </div>
  </div>

  <style>
    #shopline-section-175698036634765346be .yb-single-video-btn {
      border: 0px;
      cursor: pointer;
      height: 48px;
      line-height: 48px;
      font-weight: 600;
    }

    .rich-text-description {
      line-height: 140%;
    }
    #shopline-section-175698036634765346be .rich-text-component-wrapper {
      margin: 0px auto;
      text-align: center;
    }
    .rich-text-component {
      margin: auto;
    }
    .yb-section-title {
      font-weight: 800;
    }
    /* 1920px+ */
    @media (min-width: 1920px) {
      #shopline-section-175698036634765346be .yb-section-title {
        line-height: 120%;
      }
      .rich-text-component {
        width: 1000px;
        margin: auto;
      }
      #shopline-section-175698036634765346be .rich-text-component-wrapper {
        width: 1000px;
      }
      #shopline-section-175698036634765346be .rich-text-description span {
        width: 1000px;
      }
      #shopline-section-175698036634765346be .rich-text-description {
        margin-bottom: 0;
      }
      .margin-top-description-style {
        margin-top: 16px;
      }
      #shopline-section-175698036634765346be .rich-text-button {
        margin-top: 40px;
      }
      #shopline-section-175698036634765346be .yb-single-video-btn {
        padding: 0 40px;

        min-width: 180px;
      }
    }
    /* 1440-1919px */
    @media (min-width: 1440px) and (max-width: 1919px) {
      #shopline-section-175698036634765346be .yb-section-title {
        line-height: 120%;
      }
      .rich-text-component {
        width: 924px;
      }
      #shopline-section-175698036634765346be .rich-text-component-wrapper {
        width: 924px;
      }
      #shopline-section-175698036634765346be .rich-text-description {
        margin-bottom: 0;
      }
      .margin-top-description-style {
        margin-top: 16px;
      }
      #shopline-section-175698036634765346be .rich-text-description span {
        width: 924px;
      }
      #shopline-section-175698036634765346be .rich-text-button {
        margin-top: 32px;
      }
      #shopline-section-175698036634765346be .rich-text-title {
      }
      #shopline-section-175698036634765346be .yb-single-video-btn {
        padding: 0 40px;

        min-width: 180px;
      }
    }
    /* 960-1439px */
    @media (min-width: 960px) and (max-width: 1439px) {
      #shopline-section-175698036634765346be .yb-section-title {
        line-height: 120%;
      }
      .rich-text-component {
        width: 728px;
      }
      #shopline-section-175698036634765346be .rich-text-component-wrapper {
        width: 728px;
      }
      #shopline-section-175698036634765346be .rich-text-description {
        margin-bottom: 0;
      }
      .margin-top-description-style {
        margin-top: 16px;
      }
      #shopline-section-175698036634765346be .rich-text-description span {
        width: 728px;
        display: inline-block;
      }
      #shopline-section-175698036634765346be .rich-text-button {
        margin-top: 24px;
      }
      #shopline-section-175698036634765346be .rich-text-title {
      }
      #shopline-section-175698036634765346be .yb-single-video-btn {
        padding: 0 40px;

        min-width: 180px;
      }
    }
    /* 680-959px */
    @media (min-width: 680px) and (max-width: 959px) {
      #shopline-section-175698036634765346be .yb-section-title {
        line-height: 120%;
        max-width: 600px;
      }
      .rich-text-component {
        padding: 0 24px;
      }
      #shopline-section-175698036634765346be .rich-text-component-wrapper {
        max-width: 600px;
      }
      #shopline-section-175698036634765346be .rich-text-description {
        max-width: 600px;
        margin-bottom: 0;
      }
      .margin-top-description-style {
        margin-top: 16px;
      }
      #shopline-section-175698036634765346be .rich-text-description span {
        max-width: 600px;
      }
      #shopline-section-175698036634765346be .headerTitle1 {
      }
      #shopline-section-175698036634765346be .rich-text-description span {
        display: inline-block;
        max-width: 600px;
      }
      #shopline-section-175698036634765346be .rich-text-button {
        margin-top: 24px;
      }
      #shopline-section-175698036634765346be .yb-single-video-btn {
        padding: 0 40px;

        min-width: 180px;
      }
    }

    /* 679px */
    @media (max-width: 679px) {
      #shopline-section-175698036634765346be .yb-section-title {
        max-width: 327px;
        line-height: 120%;
        width: 100%;
      }
      .rich-text-component {
        padding: 0 16px;
      }
      #shopline-section-175698036634765346be .rich-text-component-wrapper {
        max-width: 327px;
        width: 100%;
      }
      #shopline-section-175698036634765346be .rich-text-description {
        max-width: 327px;
        width: 100%;
        margin-bottom: 0;
      }
      .margin-top-description-style {
        margin-top: 12px;
      }
      #shopline-section-175698036634765346be .rich-text-description span {
        max-width: 327px;
        width: 100%;
      }
      #shopline-section-175698036634765346be .rich-text-button {
        margin-top: 16px;
      }
      #shopline-section-175698036634765346be .rich-text-description span {
        display: inline-block;
        max-width: 327px;
        width: 100%;
      }
      #shopline-section-175698036634765346be .yb-single-video-btn {
        padding: 0 40px;
        width: 100%;
      }
    }
  </style>
</div>
<div
  id='shopline-section-1757402607259b492245'
  class='shopline-section'
>
  <style>
    #shopline-section-1757402607259b492245.section-padding,
    #shopline-section-1757402607259b492245 .section-padding {
      padding-top: 50px;
      padding-bottom: 0px;
    }
    @media only screen and (max-width: 959px) {
      #shopline-section-1757402607259b492245.section-padding,
      #shopline-section-1757402607259b492245 .section-padding {
        padding-top: 25px;
        padding-bottom: 0px;
      }
    }
  </style>

  <style>
    #shopline-section-1757402607259b492245 {
      background-color: #ffffff;
    }

    .icon-list {
      padding: 6.67% 3.34%;
    }
    .icon-list__item {
      padding-top: calc((135 / 1120) * 100%);
    }
    h2.title4 {
      text-align: center;
      font-weight: 800;
      font-size: 2.5rem;
      margin-bottom: 3.5%;
    }
    @media (max-width: 767px) {
      .icon-list__wrapper {
        gap: 0.8125rem;
        margin-bottom: 1.5625rem;
      }
      .icon-list__wrapper:last-child {
        margin-bottom: 0;
      }
      .icon-list__item {
        height: 5.625rem;
      }
    }
    @media (min-width: 768px) {
      .icon-list__item {
        height: 3.75rem;
      }

      .icon-list {
        background-color: #ffffff;
      }
    }
    @media (min-width: 1024px) {
      .icon-list__item {
        height: 5rem;
      }
    }
    @media (min-width: 1280px) {
      .icon-list__item {
        height: 8.4375rem;
      }
    }
    .icon-list__item img {
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0px;
      color: transparent;
    }
  </style>

  <div class='page-width section-padding color-scheme-'>
    <h2 class='icon-list__title title4'>
      <div data-lark-html-role='root'>
        <span
          class='text-only'
          style='color: #000000'
          data-eleid='3'
        >
          Award-Winning Innovation
        </span>
      </div>
    </h2>
    <div class='mobile:hidden icon-list flex w-full justify-between md:block'>
      <div
        class='icon-list__wrapper flex w-full flex-row items-center justify-between'
      >
        <div
          class='icon-list__item relative flex'
          style='aspect-ratio: 412 / 311'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-1484584706-_1_-412x_19913d46-f807-4f0a-b0ba-9b567ea52d60.webp?v=1776749344'
            alt='Yarbo Snow Blower'
            width='412'
            height='311'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
        </div>
        <div
          class='icon-list__item relative flex'
          style='aspect-ratio: 340 / 256'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-1484584705-_5_77aab910-6f0a-48a7-a98d-6d2c8d3b3694.png?v=1776749349'
            alt=''
            width='340'
            height='256'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
        </div>
        <div
          class='icon-list__item relative flex'
          style='aspect-ratio: 480 / 415'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-9293-480x_60cccef1-b771-466a-b859-c5c414631c80.webp?v=1776749355'
            alt='Yarbo Snow Blower'
            width='480'
            height='415'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
        </div>
        <div
          class='icon-list__item relative flex'
          style='aspect-ratio: 430 / 324'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-2036456953_625009e9-3ae6-43b7-b5ab-e700c824d481.png?v=1776749361'
            alt='Yarbo Snow Blower'
            width='430'
            height='324'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
        </div>
        <div
          class='icon-list__item relative flex'
          style='aspect-ratio: 412 / 311'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-1484584707-_1_-412x_7080f4a3-fabd-4ee8-be4c-9802379c7cf1.webp?v=1776749792'
            alt='Yarbo Snow Blower'
            width='412'
            height='311'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
        </div>
      </div>
    </div>
    <div class='mobile:block icon-list flex flex-col md:hidden'>
      <div class='icon-list__wrapper flex flex-row'>
        <div
          class='icon-list__item relative flex'
          style='aspect-ratio: 412 / 311'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-1484584706-_1_-412x_19913d46-f807-4f0a-b0ba-9b567ea52d60.webp?v=1776749344'
            alt='Yarbo Snow Blower'
            width='412'
            height='311'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
        </div>
        <div
          class='icon-list__item relative flex'
          style='aspect-ratio: 340 / 256'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-1484584705-_5_77aab910-6f0a-48a7-a98d-6d2c8d3b3694.png?v=1776749349'
            alt=''
            width='340'
            height='256'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
        </div>
        <div
          class='icon-list__item relative flex'
          style='aspect-ratio: 480 / 415'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-9293-480x_60cccef1-b771-466a-b859-c5c414631c80.webp?v=1776749355'
            alt='Yarbo Snow Blower'
            width='480'
            height='415'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
        </div>
      </div>
      <div class='icon-list__wrapper flex flex-row'>
        <div
          class='icon-list__item relative flex'
          style='aspect-ratio: 430 / 324'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-2036456953_625009e9-3ae6-43b7-b5ab-e700c824d481.png?v=1776749361'
            alt='Yarbo Snow Blower'
            width='430'
            height='324'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
        </div>
        <div
          class='icon-list__item relative flex'
          style='aspect-ratio: 412 / 311'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-1484584707-_1_-412x_7080f4a3-fabd-4ee8-be4c-9802379c7cf1.webp?v=1776749792'
            alt='Yarbo Snow Blower'
            width='412'
            height='311'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
        </div>
      </div>
    </div>
  </div>

  <style>
    #shopline-section-1757402607259b492245 {
      background: #fff !important;
    }
  </style>
</div>
<div
  id='shopline-section-1758800268279c0beb46'
  class='shopline-section'
>
  <style>
    #shopline-section-1758800268279c0beb46 {
      background-color: #f5f5f5;
    }

    /* 375-679px */
    @media (max-width: 679px) {
      #shopline-section-1758800268279c0beb46 {
        padding-top: 48px;
        padding-bottom: 24px;
      }
    }

    /* 680-959px */
    @media (min-width: 680px) and (max-width: 959px) {
      #shopline-section-1758800268279c0beb46 {
        padding-top: 64px;
        padding-bottom: 32px;
      }
    }

    /* 960-1439px */
    @media (min-width: 960px) and (max-width: 1439px) {
      #shopline-section-1758800268279c0beb46 {
        padding-top: 64px;
        padding-bottom: 32px;
      }
    }

    /* 1440-1919px */
    @media (min-width: 1440px) and (max-width: 1919px) {
      #shopline-section-1758800268279c0beb46 {
        padding-top: 100px;
        padding-bottom: 50px;
      }
    }

    /* 1920px+ */
    @media (min-width: 1920px) {
      #shopline-section-1758800268279c0beb46 {
        padding-top: 120px;
        padding-bottom: 60px;
      }
    }
  </style>

  <div class='multicolumn-image-with-text'>
    <div class='multicolumn-image-with-text-wrapper'>
      <div class='multicolumn-heading'>
        <div class='heading yb-section-title'>
          <span style='color: #000000'>Why Shop with Yarbo</span>
        </div>
      </div>
      <div class='multicolumn-items'>
        <div
          class='multicolumn-items-wrapper grid-column-2'
          style='grid-template-columns: repeat(2, 1fr)'
        >
          <div class='multicolumn-item-inner'>
            <div class='multicolumn-contents'>
              <div class='multicolumn-image'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-_1_-5_6054bedc-5292-49e1-b1f7-b135d059abb6.png?v=1776749371'
                  alt=''
                  width='160'
                  height='160'
                  fetchpriority='auto'
                  decoding='async'
                  data-scale='hover-scale'
                  loading='lazy'
                  class='image'
                >
              </div>
              <div class='multicolumn-image-content'>
                <div class='block-title'>Free &amp; Fast Delivery</div>
                <div class='block-description'>
                  <span style='font-size: 14px'>
                    For the Yarbo robots in stock, you will easily get them in 3-8 business days. Act now — our stock is very limited!
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class='multicolumn-item-inner'>
            <div class='multicolumn-contents'>
              <div class='multicolumn-image'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-_2_-1_8e597139-4a8d-4429-a831-5c51c7b24a46.png?v=1776749378'
                  alt=''
                  width='160'
                  height='160'
                  fetchpriority='auto'
                  decoding='async'
                  data-scale='hover-scale'
                  loading='lazy'
                  class='image'
                >
              </div>
              <div class='multicolumn-image-content'>
                <div class='block-title'>7/24 Customer Support</div>
                <div class='block-description'>
                  <span style='font-size: 14px'>
                    Reach us anytime via email, phone, or ticket. Team Yarbo is always ready to deliver fast, reliable answers.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class='multicolumn-item-inner'>
            <div class='multicolumn-contents'>
              <div class='multicolumn-image'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-_3_-1_2f74a84b-7448-4634-ac26-36d0d2e39239.png?v=1776749381'
                  alt=''
                  width='160'
                  height='160'
                  fetchpriority='auto'
                  decoding='async'
                  data-scale='hover-scale'
                  loading='lazy'
                  class='image'
                >
              </div>
              <div class='multicolumn-image-content'>
                <div class='block-title'>Up to 5-Year Total Warranty</div>
                <div class='block-description'>
                  <span style='font-size: 14px'>
                    Comes with 2 years standard coverage. Upgrade to 5 years with our paid protection plan for longer peace of mind.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class='multicolumn-item-inner'>
            <div class='multicolumn-contents'>
              <div class='multicolumn-image'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-_4_-2_c3816405-6cce-4717-8b90-ef79c0b4f7ba.png?v=1776749393'
                  alt='30-Day Trial'
                  width='160'
                  height='160'
                  fetchpriority='auto'
                  decoding='async'
                  data-scale='hover-scale'
                  loading='lazy'
                  class='image'
                >
              </div>
              <div class='multicolumn-image-content'>
                <div class='block-title'>30-Day Trial</div>
                <div class='block-description'>
                  <span style='font-size: 14px'>Experience a hassle-free trial with a refund if it's not for you.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    #shopline-section-1758800268279c0beb46 .multicolumn-heading {
      margin: 0px auto;
      text-align: center;
    }
    #shopline-section-1758800268279c0beb46 .multicolumn-image img {
      width: 100%;
      height: 100%;
    }
    #shopline-section-1758800268279c0beb46 .multicolumn-contents {
      display: flex;
      text-align: left;
      gap: 16px;
      flex: 1;
    }
    #shopline-section-1758800268279c0beb46 .block-description {
      color: #6e6e73;
      font-size: 14px;
      line-height: 140%;
      font-weight: 400;
      word-wrap: break-word;
    }
    #shopline-section-1758800268279c0beb46 .multicolumn-item-inner {
      background: #fff;
      padding: 16px;
      border-radius: 16px;
      overflow: visible;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    #shopline-section-1758800268279c0beb46 .multicolumn-items-wrapper {
      display: grid;
      gap: 16px;
    }
    #shopline-section-1758800268279c0beb46 .multicolumn-items {
      margin: 0px auto;
      text-align: center;
    }
    #shopline-section-1758800268279c0beb46 .multicolumn-items-wrapper.grid-column-2 .multicolumn-item-inner {
      height: 100%;
    }

    /*== 1920px+ ==*/
    @media (min-width: 1920px) {
      #shopline-section-1758800268279c0beb46 .multicolumn-image-with-text {
        max-width: 1400px;
        margin: 0 auto;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-heading {
        max-width: 1000px;
        margin-bottom: 64px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-heading .description {
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        text-align: center;
        color: #02060b;
      }
      .margin-top-description-style {
        margin-top: 16px;
      }
      #shopline-section-1758800268279c0beb46 .rich-text-button {
        margin-top: 40px;
      }
      #shopline-section-1758800268279c0beb46 .yb-single-video-btn {
        padding: 0px 40px;
        min-width: 180px;
        text-align: center;
        height: 48px;
        line-height: 48px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-button {
        margin-top: 40px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-image {
        max-width: 108px;
        height: 108px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-items {
        max-width: 1400px;
      }
      #shopline-section-1758800268279c0beb46 .block-description {
        margin-top: 12px;
      }
      #shopline-section-1758800268279c0beb46 .block-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 140%;
        color: #25282a;
      }
    }

    /*=== 1440-1919px ===*/
    @media (min-width: 1440px) and (max-width: 1919px) {
      #shopline-section-1758800268279c0beb46 .multicolumn-image-with-text {
        max-width: 1200px;
        margin: 0 auto;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-heading {
        max-width: 924px;
        margin-bottom: 56px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-heading .description {
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        text-align: center;
        color: #02060b;
      }
      .margin-top-description-style {
        margin-top: 16px;
      }
      #shopline-section-1758800268279c0beb46 .rich-text-button {
        margin-top: 32px;
      }
      #shopline-section-1758800268279c0beb46 .yb-single-video-btn {
        padding: 13px 40px;
        min-width: 180px;
        text-align: center;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-contents {
        gap: 12px;
      }
      #shopline-section-1758800268279c0beb46 .yb-body-2 {
        font-size: 18px;
        line-height: 140%;
      }
      #shopline-section-1758800268279c0beb46 .block-title {
        font-size: 14px;
        line-height: 140%;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-button {
        margin-top: 32px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-image {
        max-width: 90px;
        height: 90px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-items {
        max-width: 1200px;
      }
      #shopline-section-1758800268279c0beb46 .block-description {
        margin-top: 8px;
        font-size: 12px;
      }
      #shopline-section-1758800268279c0beb46 .block-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 140%;
        color: #25282a;
      }
    }

    /*== 960-1439px ==*/
    @media (min-width: 960px) and (max-width: 1439px) {
      #shopline-section-1758800268279c0beb46 .multicolumn-image-with-text {
        max-width: 900px;
        margin: 0 auto;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-contents {
        gap: 12px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-heading {
        max-width: 728px;
        margin-bottom: 48px;
        text-align: -webkit-center;
        width: 100%;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-items-wrapper {
        gap: 12px !important;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-heading .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        text-align: center;
        color: #02060b;
      }
      .margin-top-description-style {
        margin-top: 16px;
      }
      #shopline-section-1758800268279c0beb46 .rich-text-button {
        margin-top: 24px;
      }
      #shopline-section-1758800268279c0beb46 .heading {
        font-size: 28px;
        font-weight: 800;
        line-height: 120%;
      }
      #shopline-section-1758800268279c0beb46 .yb-single-video-btn {
        padding: 13px 40px;
        min-width: 180px;
        text-align: center;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-item-inner {
        width: 100%;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-button {
        margin-top: 24px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-image {
        max-width: 56px;
        height: 56px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-items {
        max-width: 900px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-item-inner {
        padding: 12px;
      }
      #shopline-section-1758800268279c0beb46 .block-title {
        font-size: 14px;
        line-height: 140%;
      }
      #shopline-section-1758800268279c0beb46 .block-description {
        margin-top: 7px;
        font-size: 12px;
      }
      #shopline-section-1758800268279c0beb46 .block-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 140%;
        color: #25282a;
      }
    }

    /*=== 680-959px ===*/
    @media (min-width: 680px) and (max-width: 959px) {
      #shopline-section-1758800268279c0beb46 .multicolumn-image-with-text {
        padding: 0 24px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-heading {
        max-width: 600px;
        margin-bottom: 56px;
        text-align: -webkit-center;
        width: 100%;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-heading .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        text-align: center;
        color: #02060b;
      }
      .margin-top-description-style {
        margin-top: 16px;
      }
      #shopline-section-1758800268279c0beb46 .rich-text-button {
        margin-top: 24px;
      }
      #shopline-section-1758800268279c0beb46 .heading {
        font-size: 32px;
        font-weight: 800;
        line-height: 120%;
      }
      #shopline-section-1758800268279c0beb46 .yb-single-video-btn {
        padding: 13px 40px;
        min-width: 180px;
        text-align: center;
      }
      #shopline-section-1758800268279c0beb46 .yb-body-2 {
        width: 572px;
        font-size: 16px;
        line-height: 140%;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-button {
        margin-top: 24px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-image {
        max-width: 140px;
        height: 140px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-item-inner {
        padding: 24px;
        width: 100%;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-items-wrapper {
        grid-template-columns: repeat(1, 1fr) !important;
      }
      #shopline-section-1758800268279c0beb46 .block-description {
        margin-top: 17.88px;
        font-size: 18px;
        width: 100%;
      }
      #shopline-section-1758800268279c0beb46 .block-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 140%;
        color: #25282a;
        width: 100%;
      }
    }

    /*== 679px ==*/
    @media (max-width: 679px) {
      #shopline-section-1758800268279c0beb46 .multicolumn-image-with-text {
        padding: 0 16px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-heading {
        max-width: 327px;
        margin-bottom: 27px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-heading .description {
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        text-align: center;
        color: #02060b;
      }
      .margin-top-description-style {
        margin-top: 12px;
      }
      #shopline-section-1758800268279c0beb46 .rich-text-button {
        margin-top: 16px;
      }
      #shopline-section-1758800268279c0beb46 .heading {
        margin-bottom: 12px;
      }
      #shopline-section-1758800268279c0beb46 .yb-single-video-btn {
        padding: 13px 40px;
        min-width: 180px;
        text-align: center;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-item-inner {
        padding: 16px;
        width: 100%;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-button {
        margin-top: 16px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-image {
        max-width: 64px;
        height: 64px;
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-items {
        /* max-width: 345px; */
      }
      #shopline-section-1758800268279c0beb46 .multicolumn-items-wrapper {
        grid-template-columns: repeat(1, 1fr) !important;
      }
      #shopline-section-1758800268279c0beb46 .block-description {
        margin-top: 12px;
        width: 100%;
      }
      #shopline-section-1758800268279c0beb46 .block-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 140%;
        color: #25282a;
        width: 100%;
      }
    }

    #shopline-section-1758800268279c0beb46 .multicolumn-image-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    #shopline-section-1758800268279c0beb46 .block-rating {
      display: flex;
      gap: 1px;
      z-index: 2;
      padding: 2px 0;
      font-weight: bold;
    }
    #shopline-section-1758800268279c0beb46 .star-svg {
      display: inline-block;
      vertical-align: middle;
    }

    /* 默认文字颜色（关闭深色模式时） */
    #shopline-section-1758800268279c0beb46 .heading.yb-section-title {
      color: #25282a;
    }
    #shopline-section-1758800268279c0beb46 .rich-text-description {
      color: #25282a;
    }
    #shopline-section-1758800268279c0beb46 .block-title {
      color: #25282a;
    }
    #shopline-section-1758800268279c0beb46 .block-description {
      color: #6e6e73;
    }

    /* 深色模式样式 */
    /* 标题和描述颜色 */
    #shopline-section-1758800268279c0beb46.is-dark-mode .heading.yb-section-title,
    #shopline-section-1758800268279c0beb46[data-dark-mode='true'] .heading.yb-section-title,
    #shopline-section-1758800268279c0beb46 .is-dark-mode .heading.yb-section-title,
    #shopline-section-1758800268279c0beb46 [data-dark-mode='true'] .heading.yb-section-title {
      color: #fff !important;
    }
    #shopline-section-1758800268279c0beb46.is-dark-mode .rich-text-description,
    #shopline-section-1758800268279c0beb46[data-dark-mode='true'] .rich-text-description,
    #shopline-section-1758800268279c0beb46 .is-dark-mode .rich-text-description,
    #shopline-section-1758800268279c0beb46 [data-dark-mode='true'] .rich-text-description {
      color: #fff !important;
    }

    /* 卡片背景色 */
    #shopline-section-1758800268279c0beb46 .multicolumn-item-inner.is-dark-mode,
    #shopline-section-1758800268279c0beb46 .multicolumn-item-inner[data-dark-mode='true'] {
      background-color: #1f1f1f !important;
      background: #1f1f1f !important;
    }

    /* 卡片文字颜色 */
    #shopline-section-1758800268279c0beb46 .multicolumn-item-inner.is-dark-mode .block-title,
    #shopline-section-1758800268279c0beb46 .multicolumn-item-inner[data-dark-mode='true'] .block-title {
      color: #fff !important;
    }
    #shopline-section-1758800268279c0beb46 .multicolumn-item-inner.is-dark-mode .block-description,
    #shopline-section-1758800268279c0beb46 .multicolumn-item-inner[data-dark-mode='true'] .block-description {
      color: #e6e6e7 !important;
    }
  </style>

  <script>
    // 确保深色模式样式生效
  </script>
</div>
<div
  id='shopline-section-1758180448450120eb55'
  class='shopline-section section'
>
  <style>
    .faq-of-competencies {
      --bgColor: #ffffff;
    }
    .faq-of-competencies__list {
      width: 100%;
    }
  </style>

  <div class='faq-of-competencies'>
    <div class='faq-of-competencies__wrapper page-width'>
      <div
        class='faq-of-competencies__header yb-section-title lcf-section-title'
      >
        <span style='color: #000000'>Terms &amp; Conditions</span>
      </div>
      <div class='faq-of-competencies__container'>
        <ul class='faq-of-competencies__list'>
          <li class='faq-of-competencies__item'>
            <div
              class='faq-of-competencies__trigger'
              data-module-id='0'
            >
              <span>
                <div
                  data-page-id='U17wdkcXVooeNqxM2hUcKjdJn5P'
                  data-lark-html-role='root'
                  data-docx-has-block-data='false'
                >
                  <div class='old-record-id-LSyYdnSLAouiRtxSR0scJBoknsc'>
                    <span style='color: #000000'><strong>EVENT PERIOD</strong></span>
                  </div>
                </div>
              </span>
              <svg
                class='faq-of-competencies__trigger-icon'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.29303 6.79598C1.90232 7.1867 1.90232 7.82019 2.29305 8.2109L11.2927 17.2103C11.6834 17.601 12.3169 17.601 12.7076 17.2103L21.707 8.21089C22.0977 7.82017 22.0977 7.18669 21.707 6.79597C21.3162 6.40525 20.6828 6.40525 20.292 6.79597L12.0001 15.0879L3.70795 6.79596C3.31723 6.40525 2.68375 6.40525 2.29303 6.79598Z"
                ></path>
              </svg>
            </div>
            <div class='faq-of-competencies__drawer'>
              <div class='faq-of-competencies__description'>
                <div
                  data-page-id='S1dydqvrxoEo6SxTyP9cqcponyf'
                  data-lark-html-role='root'
                  data-docx-has-block-data='false'
                >
                  <div
                    class='ace-line ace-line old-record-id-Z5XGd2gIcobUO3x2a1JcqphAnKf'
                  >
                    Event period: March 25th - April 2nd
                  </div>
                  <div
                    class='ace-line ace-line old-record-id-AVB6dJGO1oyas5xcd9DcYxGFnDu'
                  >
                    During the Spring Sale promotion period, selected Yarbo robots, bundles, and modules are offered with
                    <strong>direct promotional price reductions</strong>
                    .
                  </div>
                  <div
                    class='ace-line ace-line old-record-id-HZKFdyv4DovQiAxkIdtcIkRKnmh'
                  >
                    Discounted pricing is displayed directly on the relevant product pages.
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class='faq-of-competencies__item'>
            <div
              class='faq-of-competencies__trigger'
              data-module-id='1'
            >
              <span>
                <div
                  data-page-id='U17wdkcXVooeNqxM2hUcKjdJn5P'
                  data-lark-html-role='root'
                  data-docx-has-block-data='false'
                >
                  <div
                    data-page-id='U17wdkcXVooeNqxM2hUcKjdJn5P'
                    data-lark-html-role='root'
                    data-docx-has-block-data='false'
                  >
                    <div
                      data-page-id='U17wdkcXVooeNqxM2hUcKjdJn5P'
                      data-lark-html-role='root'
                      data-docx-has-block-data='false'
                    >
                      <span style='color: #000000'><strong>PROMOTION DETAILS</strong></span>
                    </div>
                  </div>
                </div>
              </span>
              <svg
                class='faq-of-competencies__trigger-icon'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.29303 6.79598C1.90232 7.1867 1.90232 7.82019 2.29305 8.2109L11.2927 17.2103C11.6834 17.601 12.3169 17.601 12.7076 17.2103L21.707 8.21089C22.0977 7.82017 22.0977 7.18669 21.707 6.79597C21.3162 6.40525 20.6828 6.40525 20.292 6.79597L12.0001 15.0879L3.70795 6.79596C3.31723 6.40525 2.68375 6.40525 2.29303 6.79598Z"
                ></path>
              </svg>
            </div>
            <div class='faq-of-competencies__drawer'>
              <div class='faq-of-competencies__description'>
                <div
                  data-page-id='S1dydqvrxoEo6SxTyP9cqcponyf'
                  data-lark-html-role='root'
                  data-docx-has-block-data='false'
                >
                  <div
                    class='ace-line ace-line old-record-id-UvdZdAJZhoRqbZxTBLgcs9W7nKf'
                  >
                    <strong>Robots (Include Yarbo Core)</strong>
                    Unless otherwise labeled as a module-only product, the following robots include the Yarbo Core, which powers and connects the Yarbo system.
                  </div>
                  <ul class='list-bullet1'>
                    <li
                      class='ace-line ace-line old-record-id-WROxdrP45oJPmZxrIm8c0lNnnwf'
                      data-list='bullet'
                    >
                      <div>
                        <strong>Yarbo Lawn Mower</strong>
                        — Save $800 USD / $1,100 CAD
                      </div>
                    </li>
                    <li
                      class='ace-line ace-line old-record-id-AUCbdWJhzodv61xYAlccpkUynTd'
                      data-list='bullet'
                    >
                      <div>
                        <strong>Yarbo Snow Blower, Yarbo Blower</strong>
                        — Save $600 USD / $800 CAD
                      </div>
                    </li>
                    <li
                      class='ace-line ace-line old-record-id-EomFdPU5DotjDIxpb4VcFONJnGc'
                      data-list='bullet'
                    >
                      <div>
                        <strong>Yarbo Lawn Mower Pro</strong>
                        — Save $500 USD / $700 CAD
                      </div>
                    </li>
                  </ul>
                  <div
                    class='old-record-id-DRYhdPWdHo3nVHxJsjecCCl2nxf'
                    data-type='divider'
                  >
                    <hr>
                  </div>
                  <div
                    class='ace-line ace-line old-record-id-HAB5dQv0goh53MxbeKbcB2x7neh'
                  >
                    <strong>Bundles (Include Yarbo Core)</strong>
                  </div>
                  <ul>
                    <li>
                      <strong>Yarbo Lawn Mower + Snow Blower</strong>
                      — Save $900 USD / $1200 CAD
                      <strong><br></strong>
                    </li>
                    <li>
                      <strong>Yarbo Lawn Mower + Blower, Yarbo 4-in-1 Yard Robot</strong>
                      — Save $700 USD / $950 CAD
                    </li>
                    <li>
                      <strong style='font-size: inherit'>
                        Yarbo Lawn Mower Pro + Blower, Yarbo Lawn Mower Pro + Snow Blower, Yarbo 4-in-1 Yard Robot (with Lawn Mower Pro Module)
                      </strong>
                      <span style='font-size: inherit'>— Save $600 USD / $800 CAD</span>
                    </li>
                  </ul>
                  <div
                    class='old-record-id-GAnmdoBwRoAWrUxnRarcJywpnZd'
                    data-type='divider'
                  >
                    <hr>
                  </div>
                  <div
                    class='ace-line ace-line old-record-id-YsRudrdoToU01kxk0Xacx5Jinj8'
                  >
                    <strong>Individual Modules</strong>
                  </div>
                  <ul class='list-bullet1'>
                    <li
                      class='ace-line ace-line old-record-id-VvjEdNVcvo9NiLxRQgzcW9MenWb'
                      data-list='bullet'
                    >
                      <div>
                        <strong>Lawn Mower Module</strong>
                        — Save $200 USD / $300 CAD
                      </div>
                    </li>
                    <li
                      class='ace-line ace-line old-record-id-Jx7kd4VV3oFAwCxBMU2cqbavnyX'
                      data-list='bullet'
                    >
                      <div>
                        <strong>Blower Module, Snow Blower Module</strong>
                        — Save $100 USD / $150 CAD
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class='faq-of-competencies__item'>
            <div
              class='faq-of-competencies__trigger'
              data-module-id='2'
            >
              <span>
                <span style='color: #000000'><strong>REFUNDS &amp; RETURNS</strong></span>
              </span>
              <svg
                class='faq-of-competencies__trigger-icon'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.29303 6.79598C1.90232 7.1867 1.90232 7.82019 2.29305 8.2109L11.2927 17.2103C11.6834 17.601 12.3169 17.601 12.7076 17.2103L21.707 8.21089C22.0977 7.82017 22.0977 7.18669 21.707 6.79597C21.3162 6.40525 20.6828 6.40525 20.292 6.79597L12.0001 15.0879L3.70795 6.79596C3.31723 6.40525 2.68375 6.40525 2.29303 6.79598Z"
                ></path>
              </svg>
            </div>
            <div class='faq-of-competencies__drawer'>
              <div class='faq-of-competencies__description'>
                <div
                  data-page-id='QJBTdm9A6otDJZxehe6c17Y6nec'
                  data-lark-html-role='root'
                  data-docx-has-block-data='false'
                >
                  <ul class='list-bullet1'>
                    <li
                      data-start='2063'
                      data-end='2191'
                    >
                      <p
                        data-start='2065'
                        data-end='2191'
                      >
                        Yarbo offers a
                        <strong
                          data-start='2080'
                          data-end='2104'
                        >
                          30-day return window
                        </strong>
                        starting from the earlier of either product activation or three days after delivery.
                      </p>
                    </li>
                    <li
                      data-start='2192'
                      data-end='2308'
                    >
                      <p
                        data-start='2194'
                        data-end='2308'
                      >
                        Items must be returned in
                        <strong
                          data-start='2220'
                          data-end='2242'
                        >
                          original packaging
                        </strong>
                        , with all accessories included, and in
                        <strong
                          data-start='2282'
                          data-end='2305'
                        >
                          resalable condition
                        </strong>
                        .
                      </p>
                    </li>
                    <li
                      data-start='2309'
                      data-end='2392'
                    >
                      <p
                        data-start='2311'
                        data-end='2392'
                      >
                        Missing packaging or accessories may result in a
                        <strong
                          data-start='2360'
                          data-end='2389'
                        >
                          deduction from the refund
                        </strong>
                        .
                      </p>
                    </li>
                    <li
                      data-start='2393'
                      data-end='2477'
                    >
                      <p
                        data-start='2395'
                        data-end='2477'
                      >
                        For more details, please refer to the official return policy on the Yarbo website.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class='faq-of-competencies__item'>
            <div
              class='faq-of-competencies__trigger'
              data-module-id='3'
            >
              <span>
                <span style='color: #000000'><strong>SHIPPING</strong></span>
              </span>
              <svg
                class='faq-of-competencies__trigger-icon'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.29303 6.79598C1.90232 7.1867 1.90232 7.82019 2.29305 8.2109L11.2927 17.2103C11.6834 17.601 12.3169 17.601 12.7076 17.2103L21.707 8.21089C22.0977 7.82017 22.0977 7.18669 21.707 6.79597C21.3162 6.40525 20.6828 6.40525 20.292 6.79597L12.0001 15.0879L3.70795 6.79596C3.31723 6.40525 2.68375 6.40525 2.29303 6.79598Z"
                ></path>
              </svg>
            </div>
            <div class='faq-of-competencies__drawer'>
              <div class='faq-of-competencies__description'>
                <div
                  data-page-id='QJBTdm9A6otDJZxehe6c17Y6nec'
                  data-lark-html-role='root'
                  data-docx-has-block-data='false'
                >
                  <ul class='list-bullet1'>
                    <li
                      class='ace-line ace-line old-record-id-S8zUdoPbio2783xYuA3cEj3ZnCh'
                      data-list='bullet'
                    >
                      <div>
                        Orders delivered within
                        <strong>3–10 business days</strong>
                        .
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class='faq-of-competencies__item'>
            <div
              class='faq-of-competencies__trigger'
              data-module-id='4'
            >
              <span>
                <span style='color: #000000'><strong>LIABILITY &amp; MODIFICATION</strong></span>
              </span>
              <svg
                class='faq-of-competencies__trigger-icon'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.29303 6.79598C1.90232 7.1867 1.90232 7.82019 2.29305 8.2109L11.2927 17.2103C11.6834 17.601 12.3169 17.601 12.7076 17.2103L21.707 8.21089C22.0977 7.82017 22.0977 7.18669 21.707 6.79597C21.3162 6.40525 20.6828 6.40525 20.292 6.79597L12.0001 15.0879L3.70795 6.79596C3.31723 6.40525 2.68375 6.40525 2.29303 6.79598Z"
                ></path>
              </svg>
            </div>
            <div class='faq-of-competencies__drawer'>
              <div class='faq-of-competencies__description'>
                <div
                  data-page-id='QJBTdm9A6otDJZxehe6c17Y6nec'
                  data-lark-html-role='root'
                  data-docx-has-block-data='false'
                >
                  <ul>
                    <li>Organizer is not responsible for technical issues, email delivery failures, or customer errors.</li>
                  </ul>
                  <br>
                  <ul>
                    <li>
                      Organizer reserves the right to
                      <strong>amend, suspend, or terminate</strong>
                      the promotion at any time without prior notice.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script>
    const faq_triggers = document.querySelectorAll('.faq-of-competencies__trigger');
    let currentFaqActiveIndex = 0;

    function activateFaqModule(index) {
      // Close all drawers
      document.querySelectorAll('.faq-of-competencies__drawer').forEach((d) => {
        d.classList.remove('active');
      });
      document.querySelectorAll('.faq-of-competencies__trigger').forEach((t) => {
        t.classList.remove('active');
      });

      // Activate the selected module
      const selectedTrigger = faq_triggers[index];
      const selectedDrawer = selectedTrigger.nextElementSibling;

      selectedDrawer.classList.add('active');
      selectedTrigger.classList.add('active');

      currentFaqActiveIndex = index;
    }

    faq_triggers.forEach((trigger, index) => {
      trigger.addEventListener('click', function () {
        const isCurrentlyActive = this.classList.contains('active');

        // If the clicked module is not the currently active one, activate it
        // If it's currently active, close it
        if (!isCurrentlyActive) {
          activateFaqModule(index);
        } else {
          // Close the currently active drawer
          document.querySelectorAll('.faq-of-competencies__drawer').forEach((d) => {
            d.classList.remove('active');
          });
          document.querySelectorAll('.faq-of-competencies__trigger').forEach((t) => {
            t.classList.remove('active');
          });
          currentFaqActiveIndex = -1;
        }
      });
    });
  </script>
</div>
