<!-- START content_for_index -->
<div
  id='shopline-section-175688183261798e9aa1'
  class='shopline-section section'
>
  <style>
    #shopline-section-175688183261798e9aa1 {
      background-color: #f5f5f5;
    }

    /* 375-679px */
    @media (max-width: 679px) {
      #shopline-section-175688183261798e9aa1 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 680-959px */
    @media (min-width: 680px) and (max-width: 959px) {
      #shopline-section-175688183261798e9aa1 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 960-1439px */
    @media (min-width: 960px) and (max-width: 1439px) {
      #shopline-section-175688183261798e9aa1 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 1440-1919px */
    @media (min-width: 1440px) and (max-width: 1919px) {
      #shopline-section-175688183261798e9aa1 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 1920px+ */
    @media (min-width: 1920px) {
      #shopline-section-175688183261798e9aa1 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  </style>

  <style>
    #yb-banner-swiper__175688183261798e9aa1 {
      position: relative;
      overflow: visible;
    }
    #yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-firework-ava {
      position: absolute;
      bottom: 24px;
      left: 24px;
      z-index: 10;
    }
    #yb-banner-swiper__175688183261798e9aa1 .splide {
      --fill-duration: 6s;
    }
    #yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-splide__track {
      z-index: unset;
    }
    #yb-banner-swiper__175688183261798e9aa1 .subscribe-popup-container.subscribe-popup-new {
      position: absolute;
    }
    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy-text {
      position: relative;
    }
    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-input {
      color: rgb(var(--color-text, inherit));
    }

    /* 订阅框样式修复 */
    #yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-subscription-wrapper {
      width: 100%;
      max-width: 600px;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo {
      width: 100%;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-input-wrapper {
      width: 100%;
      max-width: 600px;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-desc {
      margin-bottom: 12px;
      color: rgb(var(--color-text, inherit));
    }

    /* 修复 policy 区域样式 */
    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy {
      margin-top: 12px;
      width: 100%;
      max-width: 482px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy-text {
      flex: 1;
      min-width: 0;
      word-wrap: break-word;
      white-space: normal;
      line-height: 1.5;
      font-size: 12px;
      color: #fff !important;
      display: inline;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-checkbox-wrapper {
      flex-shrink: 0;
      margin-right: 8px;
      margin-top: 2px;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-link {
      color: #fff !important;
      text-decoration: underline !important;
    }

    /* 确保绝对定位时的容器宽度 */
    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-absolute {
      width: 100%;
      max-width: 600px;
    }

    /* 响应式调整 */
    @media (max-width: 959px) {
      #yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-subscription-wrapper {
        max-width: 100%;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-input-wrapper {
        max-width: 100%;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy {
        max-width: 100%;
      }
    }
  </style>
  <div
    id='yb-banner-swiper__175688183261798e9aa1'
    class='yb-banner-swiper yb-banner-swiper__basic-size'
  >
    <div
      class='yb-banner-swiper__splide splide'
      data-speed='6'
    >
      <div class='splide__track yb-banner-swiper-splide__track'>
        <ul class='splide__list yb-banner-swiper-splide__list'>
          <style>
            body {
              overflow-x: hidden !important;
            }
            .yb-banner-swiper .subscribe-country-list-wrapper {
              top: -200px !important;
            }
            @media screen and (max-width: 959px) {
              #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-text-container {
                text-align: center;
              }
              #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-titles {
                margin-bottom: auto;
              }
              #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-stats,
              #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-cta,
              #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-subscribe-klaviyo-input-wrapper {
                margin-left: auto;
                margin-right: auto;
              }
              #block-1756881832620e85c08d[data-mobile_layout='style2'] .yb-banner-swiper-titles {
                margin-top: auto;
              }
              #block-1756881832620e85c08d[data-mobile_layout='style2'] .yb-banner-swiper-text-container {
                text-align: left;
                margin-bottom: 12px;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                text-align: center;
              }
            }
            @media (min-width: 960px) {
              #block-1756881832620e85c08d .yb-banner-swiper-text-container {
                width: 50%;
              }
              /* 居中布局 */
              #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-titles > * {
                margin: 12px auto;
                text-align: center;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-cta {
                display: flex;
                justify-content: center;
              }

              /* 左侧布局 */
              #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-titles > * {
                margin-right: auto;
                text-align: left;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-cta {
                display: flex;
                justify-content: flex-start;
              }

              /* 右侧布局 */
              #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-titles > * {
                margin-left: auto;
                text-align: right;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-cta {
                display: flex;
                justify-content: flex-end;
              }
              /* 居中布局 - 响应式部分 */
              #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-stats {
                display: flex;
                justify-content: center;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                margin: 40px auto 12px auto;
                text-align: center;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
                margin: 0 auto;
              }

              /* 左侧布局 - 响应式部分 */
              #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-stats {
                display: flex;
                justify-content: flex-start;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                margin-right: auto;
                text-align: left;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
                margin-right: auto;
              }

              /* 右侧布局 - 响应式部分 */
              #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-stats {
                display: flex;
                justify-content: flex-end;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                margin-left: auto;
                text-align: right;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
                margin-left: auto;
              }
              .block-li-1756881832620e85c08d[data-text_vertical_position='top'] {
                justify-content: start;
              }
              .block-li-1756881832620e85c08d[data-text_vertical_position='center'] {
                justify-content: center;
              }
              .block-li-1756881832620e85c08d[data-text_vertical_position='bottom'] {
                justify-content: end;
              }
            }
          </style>
          <li
            class='yb-banner-swiper-li splide__slide block-li-1756881832620e85c08d'
            data-text_vertical_position='center'
          >
            <a
              href='#'
              class='yb-banner-swiper-anchor-link'
              data-anchor-id='175688825911237ddff4'
              style='display: block; text-decoration: none'
            >
              <!-- 移动端图片容器 -->
              <div class='yb-banner-swiper-mobile-image'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036458285.jpg?v=1776749243'
                  alt=''
                  width='750'
                  height='1296'
                  fetchpriority='high'
                  decoding='async'
                  data-scale='hover-scale'
                  loading='eager'
                  class='yb-banner-swiper-img'
                >
              </div>

              <!-- 桌面端图片容器 -->
              <div class='yb-banner-swiper-desktop-image'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036458283.jpg?v=1776749249'
                  alt=''
                  width='3840'
                  height='1440'
                  fetchpriority='high'
                  decoding='async'
                  data-scale='hover-scale'
                  loading='eager'
                  class='yb-banner-swiper-img'
                >
              </div>
              <main
                class='yb-banner-swiper-main yb-section-container yb-banner-swiper-width'
                id='block-1756881832620e85c08d'
                data-text_horizontal_position='left'
                data-text_vertical_position='center'
                data-mobile_layout='style1'
              >
                <div
                  class='yb-banner-swiper-titles yb-banner-swiper__basic-size'
                >
                  <!-- 主标题 -->
                  <h2
                    class='yb-banner-swiper-title yb-banner-swiper-text-container'
                  >
                    <br>
                    <br>
                    &nbsp;&nbsp;
                    <br>
                    <br>
                    &nbsp;&nbsp;
                  </h2>

                  <!-- 副标题 -->
                  <div
                    class='yb-banner-swiper-subtitle yb-banner-swiper-text-container'
                  >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    &nbsp;&nbsp;
                  </div>
                </div>
                <!-- 数据统计区 -->

                <!-- 操作按钮区 -->

                <!-- 订阅框区 -->
              </main>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <style>
    body {
      overflow-x: hidden;
    }
  </style>
  <script>
    const video175688183261798e9aa1mobiles = document.querySelectorAll('#shopline-section-175688183261798e9aa1 video.yb-banner-swiper-mobile-video');
    video175688183261798e9aa1mobiles.forEach((video) => {
      const image175688183261798e9aa1mobile = video.nextElementSibling;
      if (image175688183261798e9aa1mobile && image175688183261798e9aa1mobile.classList.contains('yb-banner-swiper-mobile-image')) {
        video.addEventListener('play', function () {
          image175688183261798e9aa1mobile.style.display = 'none';
        });
      }
    });
    const video175688183261798e9aa1PC = document.querySelectorAll('#shopline-section-175688183261798e9aa1 video.yb-banner-swiper-desktop-video');
    video175688183261798e9aa1PC.forEach((video) => {
      const image175688183261798e9aa1PC = video.nextElementSibling;
      if (image175688183261798e9aa1PC && image175688183261798e9aa1PC.classList.contains('yb-banner-swiper-desktop-image')) {
        video.addEventListener('play', function () {
          image175688183261798e9aa1PC.style.display = 'none';
        });
      }
    });
    window.addEventListener('scroll', function () {
      const element = document.querySelector('#yb-banner-swiper-mobile-cta-container__175688183261798e9aa1');
      if (!element) return;
      const scrollY = window.scrollY || document.documentElement.scrollTop;
      const mobileImage = document.querySelector('#yb-banner-swiper__175688183261798e9aa1 #yb-banner-mobile-image');
      const rect = mobileImage.getBoundingClientRect(); // 获取视口内坐标
      const topFromPage = rect.top; // 最终距离页面顶部的值
      if (rect.bottom <= 0) {
        // 滚动超过 100px 时触发吸顶
        element.classList.add('yb-banner-swiper-fixed-btns__operate');
      } else {
        element.classList.remove('yb-banner-swiper-fixed-btns__operate');
      }
    });

    // 锚点点击事件处理
    function initAnchorLinks() {
      document.querySelectorAll('#yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-anchor-link').forEach((link) => {
        link.addEventListener('click', function (e) {
          e.preventDefault();
          const anchorId = this.getAttribute('data-anchor-id');
          if (!anchorId) return;

          const anchorElement = document.getElementById(`shopline-section-${anchorId}`);
          if (anchorElement) {
            window.scrollTo({
              top: anchorElement.offsetTop - 120,
              behavior: 'smooth',
            });
          } else {
            console.warn(`[yb-banner-swiper] 未找到对应的锚点元素: shopline-section-${anchorId}`);
          }
        });
      });
    }

    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', initAnchorLinks);
    } else {
      initAnchorLinks();
    }
  </script>
</div>
<div
  id='shopline-section-1763967543159f627164'
  class='shopline-section'
>
  <style>
    #shopline-section-1763967543159f627164 {
      background-color: #f5f5f5;
    }

    /* 375-679px */
    @media (max-width: 679px) {
      #shopline-section-1763967543159f627164 {
        padding-top: 48px;
        padding-bottom: 10px;
      }
    }

    /* 680-959px */
    @media (min-width: 680px) and (max-width: 959px) {
      #shopline-section-1763967543159f627164 {
        padding-top: 64px;
        padding-bottom: 20px;
      }
    }

    /* 960-1439px */
    @media (min-width: 960px) and (max-width: 1439px) {
      #shopline-section-1763967543159f627164 {
        padding-top: 60px;
        padding-bottom: 20px;
      }
    }

    /* 1440-1919px */
    @media (min-width: 1440px) and (max-width: 1919px) {
      #shopline-section-1763967543159f627164 {
        padding-top: 70px;
        padding-bottom: 25px;
      }
    }

    /* 1920px+ */
    @media (min-width: 1920px) {
      #shopline-section-1763967543159f627164 {
        padding-top: 80px;
        padding-bottom: 30px;
      }
    }
  </style>

  <div class='yb-countdown-container yb-countdown-container-layout-2'>
    <div class='yb-countdown-header'>
      <div class='yb-countdown-header-text'>
        <div class='yb-countdown-header-text-title'>
          <div
            data-page-id='AVcvdixtEogwvgx5JnucKwKlnHe'
            data-lark-html-role='root'
            data-docx-has-block-data='false'
          >
            <div class='old-record-id-OKF5d8KgEo00R7xt3wOcEI6mnNb'>
              <div
                data-page-id='S1dydqvrxoEo6SxTyP9cqcponyf'
                data-lark-html-role='root'
                data-docx-has-block-data='false'
              >
                <div class='old-record-id-YuvUdZbTEohRQsxjoYHccx4dn8f'>Last Chance — Ends Tonight</div>
              </div>
            </div>
          </div>
        </div>
        <div class='yb-countdown-header-text-content'>Final hours to save. Don’t miss it.</div>
      </div>
    </div>
    <div class='yb-countdown-header-content-split'></div>
    <div
      class='yb-countdown-content'
      data-year='2026'
      data-time='04:00AM'
      data-date='04.03'
      data-timezone='GTM-5'
    >
      <div class='countdown-group'>
        <div
          class='countdown-item countdown-item-days'
          style='color: #000000; background-color: #fedb1e'
        >
          00
        </div>
        <div
          class='countdown-label'
          style='color: #000000'
        >
          Days
        </div>
      </div>
      <div
        class='countdown-separator'
        style='color: #000000'
      >
        :
      </div>
      <div class='countdown-group'>
        <div
          class='countdown-item countdown-item-hours'
          style='color: #000000; background-color: #fedb1e'
        >
          00
        </div>
        <div
          class='countdown-label'
          style='color: #000000'
        >
          Hours
        </div>
      </div>
      <div
        class='countdown-separator'
        style='color: #000000'
      >
        :
      </div>
      <div class='countdown-group'>
        <div
          class='countdown-item countdown-item-minutes'
          style='color: #000000; background-color: #fedb1e'
        >
          00
        </div>
        <div
          class='countdown-label'
          style='color: #000000'
        >
          Minutes
        </div>
      </div>
      <div
        class='countdown-separator'
        style='color: #000000'
      >
        :
      </div>
      <div class='countdown-group'>
        <div
          class='countdown-item countdown-item-second'
          style='color: #000000; background-color: #fedb1e'
        >
          00
        </div>
        <div
          class='countdown-label'
          style='color: #000000'
        >
          Seconds
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id='shopline-section-175688257787063d71a5'
  class='shopline-section'
>
  <style>
    #shopline-section-175688257787063d71a5 {
      background-color: #ffffff;
    }

    /* 375-679px */
    @media (max-width: 679px) {
      #shopline-section-175688257787063d71a5 {
        padding-top: 34px;
        padding-bottom: 0px;
      }
    }

    /* 680-959px */
    @media (min-width: 680px) and (max-width: 959px) {
      #shopline-section-175688257787063d71a5 {
        padding-top: 51px;
        padding-bottom: 0px;
      }
    }

    /* 960-1439px */
    @media (min-width: 960px) and (max-width: 1439px) {
      #shopline-section-175688257787063d71a5 {
        padding-top: 63px;
        padding-bottom: 0px;
      }
    }

    /* 1440-1919px */
    @media (min-width: 1440px) and (max-width: 1919px) {
      #shopline-section-175688257787063d71a5 {
        padding-top: 73px;
        padding-bottom: 0px;
      }
    }

    /* 1920px+ */
    @media (min-width: 1920px) {
      #shopline-section-175688257787063d71a5 {
        padding-top: 89px;
        padding-bottom: 0px;
      }
    }
  </style>

  <div class='yb-product-flip-display-container'>
    <div class='yb-section-common'>
      <div class='yb-section-common-title'>Start Here, Grow Later</div>
    </div>

    <div class='yb-product-flip-display-content'>
      <div
        data-m-select='2'
        data-has-flip-content='0'
        class='yb-product-flip-display-card yb-product-flip-display-card-img'
        style='--aspect-ratio: 456/292'
      >
        <div
          class='yb-product-flip-display-card-content'
          style='opacity: 1'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036458142-_1.jpg?v=1776749256'
            alt=''
            width='1384'
            height='912'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
          <div
            class='yb-product-flip-display-card-content-text'
            style=''
          >
            <div
              class='yb-product-flip-display-card-content-text-title'
              style='color: #ffffff'
            >
              Yarbo Lawn Mower Pro
            </div>
            <div
              class='yb-product-flip-display-card-content-text-content'
              style='color: #ffffff'
            >
              <span>$5,499.00</span>
              <!--  -->
              <span
                class='yb-product-flip-display-card-content-text-content-strikethrough-price'
                style='color: #ededed; display: inline-block'
              >
                $5,999.00
              </span>
            </div>
            <div
              data-amount='549900'
              data-color='#FFFFFF'
            >
              <div
                class='stage-splitit-snipp__container'
                style='--splitit-text-color: #ffffff'
              >
                <span class='stage-splitit-snipp__text'>
                  <span class='stage-splitit-snipp__monthly-amount'>$917/mo</span>
                  <span class='stage-splitit-snipp__apr-text'>for 6 months at 0% APR with Splitit.</span>
                </span>
              </div>

              <style>
                .stage-splitit-snipp__container {
                  width: 100%;
                  display: inline-flex;
                  align-items: center;
                  justify-content: flex-start;
                  font-size: 0.875rem;
                  line-height: 1.5;
                  /* 使用 CSS 变量，默认值为 #666 */
                  color: var(--splitit-text-color, #666);
                }

                .stage-splitit-snipp__text {
                  flex-wrap: wrap;
                  gap: 0.25rem;
                  color: inherit;
                }

                .stage-splitit-snipp__monthly-amount {
                  font-weight: 700;
                  font-size: 1.5em;
                  /* 月付金额颜色，默认比文字颜色深一些 */
                  color: var(--splitit-amount-color, var(--splitit-text-color, #333));
                }

                .stage-splitit-snipp__apr-text {
                  font-weight: 400;
                  font-size: 1em;
                  color: inherit;
                }

                /* 移动端适配 */
                @media (max-width: 767px) {
                  .stage-splitit-snipp__container {
                    font-size: 0.75rem;
                  }
                }
              </style>

              <script>
                (function () {
                  'use strict';

                  /**
                   * 设置颜色配置
                   * @param {HTMLElement} container - 容器元素
                   */
                  function setupColor(container) {
                    if (!container) return;

                    // 从 data-color 属性获取颜色
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let textColor = container.getAttribute('data-color');

                    if (!textColor || textColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-color')) {
                        textColor = parent.getAttribute('data-color');
                      }
                    }

                    // 如果设置了颜色，应用到 CSS 变量
                    if (textColor && textColor !== '') {
                      container.style.setProperty('--splitit-text-color', textColor);
                    }

                    // 从 data-amount-color 属性获取月付金额颜色（可选）
                    let amountColor = container.getAttribute('data-amount-color');

                    if (!amountColor || amountColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-amount-color')) {
                        amountColor = parent.getAttribute('data-amount-color');
                      }
                    }

                    // 如果设置了月付金额颜色，应用到 CSS 变量
                    if (amountColor && amountColor !== '') {
                      container.style.setProperty('--splitit-amount-color', amountColor);
                    }
                  }

                  /**
                   * 计算月付金额并更新显示
                   * @param {HTMLElement} container - 容器元素
                   */
                  function calculateMonthlyPayment(container) {
                    if (!container) return;

                    // 先设置颜色
                    setupColor(container);

                    // 从 data-amount 属性获取金额（单位：美分）
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let amount = container.getAttribute('data-amount');

                    if (!amount) {
                      const parent = container.parentElement;
                      if (parent) {
                        amount = parent.getAttribute('data-amount');
                      }
                    }

                    // 如果没有金额，隐藏容器
                    if (!amount) {
                      container.style.display = 'none';
                      return;
                    }

                    // 显示容器
                    container.style.display = '';

                    // 转换为数字
                    amount = Number(amount);

                    // 验证金额有效性
                    if (!amount || isNaN(amount) || amount <= 0) {
                      container.style.display = 'none';
                      return;
                    }

                    // 将美分转换为美元，然后除以6个月（0% APR，6期）
                    const totalPrice = amount / 100;
                    const monthlyPayment = totalPrice / 6;

                    // 格式化金额，不保留小数（四舍五入到整数），并添加千分位分隔符
                    const roundedMonthly = Math.round(monthlyPayment);
                    const formattedMonthly = roundedMonthly.toLocaleString('en-US');

                    // 更新显示的每月金额
                    const monthlyElement = container.querySelector('.stage-splitit-snipp__monthly-amount');
                    if (monthlyElement) {
                      monthlyElement.textContent = '$' + formattedMonthly + '/mo';
                    }
                  }

                  /**
                   * 初始化所有容器
                   */
                  function initAllContainers() {
                    const containers = document.querySelectorAll('.stage-splitit-snipp__container');
                    containers.forEach((container) => {
                      setupColor(container);
                      calculateMonthlyPayment(container);
                    });
                  }

                  /**
                   * 监听 data-amount 和 data-color 属性变化
                   */
                  function setupMutationObserver() {
                    const observer = new MutationObserver(function (mutations) {
                      mutations.forEach(function (mutation) {
                        const target = mutation.target;
                        if (target.classList && target.classList.contains('stage-splitit-snipp__container')) {
                          if (mutation.attributeName === 'data-amount') {
                            calculateMonthlyPayment(target);
                          } else if (mutation.attributeName === 'data-color' || mutation.attributeName === 'data-amount-color') {
                            setupColor(target);
                          }
                        }
                      });
                    });

                    // 观察所有容器
                    document.querySelectorAll('.stage-splitit-snipp__container').forEach((container) => {
                      observer.observe(container, {
                        attributes: true,
                        attributeFilter: ['data-amount', 'data-color', 'data-amount-color'],
                      });
                    });
                  }

                  // 页面加载完成后初始化
                  if (document.readyState === 'loading') {
                    document.addEventListener('DOMContentLoaded', function () {
                      initAllContainers();
                      setupMutationObserver();
                    });
                  } else {
                    initAllContainers();
                    setupMutationObserver();
                  }

                  // 暴露更新函数，方便外部调用
                  window.updateStageSplititSnipp = function (selector, amount) {
                    const container = typeof selector === 'string' ? document.querySelector(selector) : selector;

                    if (container && container.classList.contains('stage-splitit-snipp__container')) {
                      container.setAttribute('data-amount', amount);
                      calculateMonthlyPayment(container);
                    }
                  };
                })();
              </script>
            </div>
          </div>
        </div>
        <div class='yb-product-flip-display-card-content-flip'>
          <div class='yb-product-flip-display-card-content-flip-text'>
            <div
              class='yb-product-flip-display-card-content-flip-text-title'
              style='color: #ffffff'
            >
              Yarbo Lawn Mower Pro
            </div>
            <div
              class='yb-product-flip-display-card-content-flip-text-content'
              style='color: #ffffff'
            >
              <span>$5,499.00</span>
              <!--  -->
              <span
                class='yb-product-flip-display-card-content-text-content-strikethrough-price'
                style='color: #ededed; display: inline-block'
              >
                $5,999.00
              </span>
            </div>
            <div
              data-amount='549900'
              data-color='#FFFFFF'
            >
              <div
                class='stage-splitit-snipp__container'
                style='--splitit-text-color: #ffffff'
              >
                <span class='stage-splitit-snipp__text'>
                  <span class='stage-splitit-snipp__monthly-amount'>$917/mo</span>
                  <span class='stage-splitit-snipp__apr-text'>for 6 months at 0% APR with Splitit.</span>
                </span>
              </div>

              <style>
                .stage-splitit-snipp__container {
                  width: 100%;
                  display: inline-flex;
                  align-items: center;
                  justify-content: flex-start;
                  font-size: 0.875rem;
                  line-height: 1.5;
                  /* 使用 CSS 变量，默认值为 #666 */
                  color: var(--splitit-text-color, #666);
                }

                .stage-splitit-snipp__text {
                  flex-wrap: wrap;
                  gap: 0.25rem;
                  color: inherit;
                }

                .stage-splitit-snipp__monthly-amount {
                  font-weight: 700;
                  font-size: 1.5em;
                  /* 月付金额颜色，默认比文字颜色深一些 */
                  color: var(--splitit-amount-color, var(--splitit-text-color, #333));
                }

                .stage-splitit-snipp__apr-text {
                  font-weight: 400;
                  font-size: 1em;
                  color: inherit;
                }

                /* 移动端适配 */
                @media (max-width: 767px) {
                  .stage-splitit-snipp__container {
                    font-size: 0.75rem;
                  }
                }
              </style>

              <script>
                (function () {
                  'use strict';

                  /**
                   * 设置颜色配置
                   * @param {HTMLElement} container - 容器元素
                   */
                  function setupColor(container) {
                    if (!container) return;

                    // 从 data-color 属性获取颜色
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let textColor = container.getAttribute('data-color');

                    if (!textColor || textColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-color')) {
                        textColor = parent.getAttribute('data-color');
                      }
                    }

                    // 如果设置了颜色，应用到 CSS 变量
                    if (textColor && textColor !== '') {
                      container.style.setProperty('--splitit-text-color', textColor);
                    }

                    // 从 data-amount-color 属性获取月付金额颜色（可选）
                    let amountColor = container.getAttribute('data-amount-color');

                    if (!amountColor || amountColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-amount-color')) {
                        amountColor = parent.getAttribute('data-amount-color');
                      }
                    }

                    // 如果设置了月付金额颜色，应用到 CSS 变量
                    if (amountColor && amountColor !== '') {
                      container.style.setProperty('--splitit-amount-color', amountColor);
                    }
                  }

                  /**
                   * 计算月付金额并更新显示
                   * @param {HTMLElement} container - 容器元素
                   */
                  function calculateMonthlyPayment(container) {
                    if (!container) return;

                    // 先设置颜色
                    setupColor(container);

                    // 从 data-amount 属性获取金额（单位：美分）
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let amount = container.getAttribute('data-amount');

                    if (!amount) {
                      const parent = container.parentElement;
                      if (parent) {
                        amount = parent.getAttribute('data-amount');
                      }
                    }

                    // 如果没有金额，隐藏容器
                    if (!amount) {
                      container.style.display = 'none';
                      return;
                    }

                    // 显示容器
                    container.style.display = '';

                    // 转换为数字
                    amount = Number(amount);

                    // 验证金额有效性
                    if (!amount || isNaN(amount) || amount <= 0) {
                      container.style.display = 'none';
                      return;
                    }

                    // 将美分转换为美元，然后除以6个月（0% APR，6期）
                    const totalPrice = amount / 100;
                    const monthlyPayment = totalPrice / 6;

                    // 格式化金额，不保留小数（四舍五入到整数），并添加千分位分隔符
                    const roundedMonthly = Math.round(monthlyPayment);
                    const formattedMonthly = roundedMonthly.toLocaleString('en-US');

                    // 更新显示的每月金额
                    const monthlyElement = container.querySelector('.stage-splitit-snipp__monthly-amount');
                    if (monthlyElement) {
                      monthlyElement.textContent = '$' + formattedMonthly + '/mo';
                    }
                  }

                  /**
                   * 初始化所有容器
                   */
                  function initAllContainers() {
                    const containers = document.querySelectorAll('.stage-splitit-snipp__container');
                    containers.forEach((container) => {
                      setupColor(container);
                      calculateMonthlyPayment(container);
                    });
                  }

                  /**
                   * 监听 data-amount 和 data-color 属性变化
                   */
                  function setupMutationObserver() {
                    const observer = new MutationObserver(function (mutations) {
                      mutations.forEach(function (mutation) {
                        const target = mutation.target;
                        if (target.classList && target.classList.contains('stage-splitit-snipp__container')) {
                          if (mutation.attributeName === 'data-amount') {
                            calculateMonthlyPayment(target);
                          } else if (mutation.attributeName === 'data-color' || mutation.attributeName === 'data-amount-color') {
                            setupColor(target);
                          }
                        }
                      });
                    });

                    // 观察所有容器
                    document.querySelectorAll('.stage-splitit-snipp__container').forEach((container) => {
                      observer.observe(container, {
                        attributes: true,
                        attributeFilter: ['data-amount', 'data-color', 'data-amount-color'],
                      });
                    });
                  }

                  // 页面加载完成后初始化
                  if (document.readyState === 'loading') {
                    document.addEventListener('DOMContentLoaded', function () {
                      initAllContainers();
                      setupMutationObserver();
                    });
                  } else {
                    initAllContainers();
                    setupMutationObserver();
                  }

                  // 暴露更新函数，方便外部调用
                  window.updateStageSplititSnipp = function (selector, amount) {
                    const container = typeof selector === 'string' ? document.querySelector(selector) : selector;

                    if (container && container.classList.contains('stage-splitit-snipp__container')) {
                      container.setAttribute('data-amount', amount);
                      calculateMonthlyPayment(container);
                    }
                  };
                })();
              </script>
            </div>
          </div>
        </div>
        <div
          class='yb-product-flip-display-card-button-box'
          onclick='event.stopPropagation()'
        >
          <add-to-cart
            data-spu='16070534771580233420522015'
            data-sku='18070534771592145243972015'
            data-quantity='1'
            class='yb-product-flip-display-card-button'
          >
            Shop Now
          </add-to-cart>
        </div>
      </div>

      <div
        data-m-select='2'
        data-has-flip-content='0'
        class='yb-product-flip-display-card yb-product-flip-display-card-img'
        style='--aspect-ratio: 456/292'
      >
        <div
          class='yb-product-flip-display-card-content'
          style='opacity: 1'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036458143-_1.jpg?v=1776749262'
            alt=''
            width='1384'
            height='912'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
          <div
            class='yb-product-flip-display-card-content-text'
            style=''
          >
            <div
              class='yb-product-flip-display-card-content-text-title'
              style='color: #ffffff'
            >
              Yarbo Lawn Mower
            </div>
            <div
              class='yb-product-flip-display-card-content-text-content'
              style='color: #ffffff'
            >
              <span>$4,199.00</span>
              <!--  -->
              <span
                class='yb-product-flip-display-card-content-text-content-strikethrough-price'
                style='color: #ededed; display: inline-block'
              >
                $4,999.00
              </span>
            </div>
            <div
              data-amount='419900'
              data-color='#FFFFFF'
            >
              <div
                class='stage-splitit-snipp__container'
                style='--splitit-text-color: #ffffff'
              >
                <span class='stage-splitit-snipp__text'>
                  <span class='stage-splitit-snipp__monthly-amount'>$700/mo</span>
                  <span class='stage-splitit-snipp__apr-text'>for 6 months at 0% APR with Splitit.</span>
                </span>
              </div>

              <style>
                .stage-splitit-snipp__container {
                  width: 100%;
                  display: inline-flex;
                  align-items: center;
                  justify-content: flex-start;
                  font-size: 0.875rem;
                  line-height: 1.5;
                  /* 使用 CSS 变量，默认值为 #666 */
                  color: var(--splitit-text-color, #666);
                }

                .stage-splitit-snipp__text {
                  flex-wrap: wrap;
                  gap: 0.25rem;
                  color: inherit;
                }

                .stage-splitit-snipp__monthly-amount {
                  font-weight: 700;
                  font-size: 1.5em;
                  /* 月付金额颜色，默认比文字颜色深一些 */
                  color: var(--splitit-amount-color, var(--splitit-text-color, #333));
                }

                .stage-splitit-snipp__apr-text {
                  font-weight: 400;
                  font-size: 1em;
                  color: inherit;
                }

                /* 移动端适配 */
                @media (max-width: 767px) {
                  .stage-splitit-snipp__container {
                    font-size: 0.75rem;
                  }
                }
              </style>

              <script>
                (function () {
                  'use strict';

                  /**
                   * 设置颜色配置
                   * @param {HTMLElement} container - 容器元素
                   */
                  function setupColor(container) {
                    if (!container) return;

                    // 从 data-color 属性获取颜色
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let textColor = container.getAttribute('data-color');

                    if (!textColor || textColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-color')) {
                        textColor = parent.getAttribute('data-color');
                      }
                    }

                    // 如果设置了颜色，应用到 CSS 变量
                    if (textColor && textColor !== '') {
                      container.style.setProperty('--splitit-text-color', textColor);
                    }

                    // 从 data-amount-color 属性获取月付金额颜色（可选）
                    let amountColor = container.getAttribute('data-amount-color');

                    if (!amountColor || amountColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-amount-color')) {
                        amountColor = parent.getAttribute('data-amount-color');
                      }
                    }

                    // 如果设置了月付金额颜色，应用到 CSS 变量
                    if (amountColor && amountColor !== '') {
                      container.style.setProperty('--splitit-amount-color', amountColor);
                    }
                  }

                  /**
                   * 计算月付金额并更新显示
                   * @param {HTMLElement} container - 容器元素
                   */
                  function calculateMonthlyPayment(container) {
                    if (!container) return;

                    // 先设置颜色
                    setupColor(container);

                    // 从 data-amount 属性获取金额（单位：美分）
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let amount = container.getAttribute('data-amount');

                    if (!amount) {
                      const parent = container.parentElement;
                      if (parent) {
                        amount = parent.getAttribute('data-amount');
                      }
                    }

                    // 如果没有金额，隐藏容器
                    if (!amount) {
                      container.style.display = 'none';
                      return;
                    }

                    // 显示容器
                    container.style.display = '';

                    // 转换为数字
                    amount = Number(amount);

                    // 验证金额有效性
                    if (!amount || isNaN(amount) || amount <= 0) {
                      container.style.display = 'none';
                      return;
                    }

                    // 将美分转换为美元，然后除以6个月（0% APR，6期）
                    const totalPrice = amount / 100;
                    const monthlyPayment = totalPrice / 6;

                    // 格式化金额，不保留小数（四舍五入到整数），并添加千分位分隔符
                    const roundedMonthly = Math.round(monthlyPayment);
                    const formattedMonthly = roundedMonthly.toLocaleString('en-US');

                    // 更新显示的每月金额
                    const monthlyElement = container.querySelector('.stage-splitit-snipp__monthly-amount');
                    if (monthlyElement) {
                      monthlyElement.textContent = '$' + formattedMonthly + '/mo';
                    }
                  }

                  /**
                   * 初始化所有容器
                   */
                  function initAllContainers() {
                    const containers = document.querySelectorAll('.stage-splitit-snipp__container');
                    containers.forEach((container) => {
                      setupColor(container);
                      calculateMonthlyPayment(container);
                    });
                  }

                  /**
                   * 监听 data-amount 和 data-color 属性变化
                   */
                  function setupMutationObserver() {
                    const observer = new MutationObserver(function (mutations) {
                      mutations.forEach(function (mutation) {
                        const target = mutation.target;
                        if (target.classList && target.classList.contains('stage-splitit-snipp__container')) {
                          if (mutation.attributeName === 'data-amount') {
                            calculateMonthlyPayment(target);
                          } else if (mutation.attributeName === 'data-color' || mutation.attributeName === 'data-amount-color') {
                            setupColor(target);
                          }
                        }
                      });
                    });

                    // 观察所有容器
                    document.querySelectorAll('.stage-splitit-snipp__container').forEach((container) => {
                      observer.observe(container, {
                        attributes: true,
                        attributeFilter: ['data-amount', 'data-color', 'data-amount-color'],
                      });
                    });
                  }

                  // 页面加载完成后初始化
                  if (document.readyState === 'loading') {
                    document.addEventListener('DOMContentLoaded', function () {
                      initAllContainers();
                      setupMutationObserver();
                    });
                  } else {
                    initAllContainers();
                    setupMutationObserver();
                  }

                  // 暴露更新函数，方便外部调用
                  window.updateStageSplititSnipp = function (selector, amount) {
                    const container = typeof selector === 'string' ? document.querySelector(selector) : selector;

                    if (container && container.classList.contains('stage-splitit-snipp__container')) {
                      container.setAttribute('data-amount', amount);
                      calculateMonthlyPayment(container);
                    }
                  };
                })();
              </script>
            </div>
          </div>
        </div>
        <div class='yb-product-flip-display-card-content-flip'>
          <div class='yb-product-flip-display-card-content-flip-text'>
            <div
              class='yb-product-flip-display-card-content-flip-text-title'
              style='color: #ffffff'
            >
              Yarbo Lawn Mower
            </div>
            <div
              class='yb-product-flip-display-card-content-flip-text-content'
              style='color: #ffffff'
            >
              <span>$4,199.00</span>
              <!--  -->
              <span
                class='yb-product-flip-display-card-content-text-content-strikethrough-price'
                style='color: #ededed; display: inline-block'
              >
                $4,999.00
              </span>
            </div>
            <div
              data-amount='419900'
              data-color='#FFFFFF'
            >
              <div
                class='stage-splitit-snipp__container'
                style='--splitit-text-color: #ffffff'
              >
                <span class='stage-splitit-snipp__text'>
                  <span class='stage-splitit-snipp__monthly-amount'>$700/mo</span>
                  <span class='stage-splitit-snipp__apr-text'>for 6 months at 0% APR with Splitit.</span>
                </span>
              </div>

              <style>
                .stage-splitit-snipp__container {
                  width: 100%;
                  display: inline-flex;
                  align-items: center;
                  justify-content: flex-start;
                  font-size: 0.875rem;
                  line-height: 1.5;
                  /* 使用 CSS 变量，默认值为 #666 */
                  color: var(--splitit-text-color, #666);
                }

                .stage-splitit-snipp__text {
                  flex-wrap: wrap;
                  gap: 0.25rem;
                  color: inherit;
                }

                .stage-splitit-snipp__monthly-amount {
                  font-weight: 700;
                  font-size: 1.5em;
                  /* 月付金额颜色，默认比文字颜色深一些 */
                  color: var(--splitit-amount-color, var(--splitit-text-color, #333));
                }

                .stage-splitit-snipp__apr-text {
                  font-weight: 400;
                  font-size: 1em;
                  color: inherit;
                }

                /* 移动端适配 */
                @media (max-width: 767px) {
                  .stage-splitit-snipp__container {
                    font-size: 0.75rem;
                  }
                }
              </style>

              <script>
                (function () {
                  'use strict';

                  /**
                   * 设置颜色配置
                   * @param {HTMLElement} container - 容器元素
                   */
                  function setupColor(container) {
                    if (!container) return;

                    // 从 data-color 属性获取颜色
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let textColor = container.getAttribute('data-color');

                    if (!textColor || textColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-color')) {
                        textColor = parent.getAttribute('data-color');
                      }
                    }

                    // 如果设置了颜色，应用到 CSS 变量
                    if (textColor && textColor !== '') {
                      container.style.setProperty('--splitit-text-color', textColor);
                    }

                    // 从 data-amount-color 属性获取月付金额颜色（可选）
                    let amountColor = container.getAttribute('data-amount-color');

                    if (!amountColor || amountColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-amount-color')) {
                        amountColor = parent.getAttribute('data-amount-color');
                      }
                    }

                    // 如果设置了月付金额颜色，应用到 CSS 变量
                    if (amountColor && amountColor !== '') {
                      container.style.setProperty('--splitit-amount-color', amountColor);
                    }
                  }

                  /**
                   * 计算月付金额并更新显示
                   * @param {HTMLElement} container - 容器元素
                   */
                  function calculateMonthlyPayment(container) {
                    if (!container) return;

                    // 先设置颜色
                    setupColor(container);

                    // 从 data-amount 属性获取金额（单位：美分）
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let amount = container.getAttribute('data-amount');

                    if (!amount) {
                      const parent = container.parentElement;
                      if (parent) {
                        amount = parent.getAttribute('data-amount');
                      }
                    }

                    // 如果没有金额，隐藏容器
                    if (!amount) {
                      container.style.display = 'none';
                      return;
                    }

                    // 显示容器
                    container.style.display = '';

                    // 转换为数字
                    amount = Number(amount);

                    // 验证金额有效性
                    if (!amount || isNaN(amount) || amount <= 0) {
                      container.style.display = 'none';
                      return;
                    }

                    // 将美分转换为美元，然后除以6个月（0% APR，6期）
                    const totalPrice = amount / 100;
                    const monthlyPayment = totalPrice / 6;

                    // 格式化金额，不保留小数（四舍五入到整数），并添加千分位分隔符
                    const roundedMonthly = Math.round(monthlyPayment);
                    const formattedMonthly = roundedMonthly.toLocaleString('en-US');

                    // 更新显示的每月金额
                    const monthlyElement = container.querySelector('.stage-splitit-snipp__monthly-amount');
                    if (monthlyElement) {
                      monthlyElement.textContent = '$' + formattedMonthly + '/mo';
                    }
                  }

                  /**
                   * 初始化所有容器
                   */
                  function initAllContainers() {
                    const containers = document.querySelectorAll('.stage-splitit-snipp__container');
                    containers.forEach((container) => {
                      setupColor(container);
                      calculateMonthlyPayment(container);
                    });
                  }

                  /**
                   * 监听 data-amount 和 data-color 属性变化
                   */
                  function setupMutationObserver() {
                    const observer = new MutationObserver(function (mutations) {
                      mutations.forEach(function (mutation) {
                        const target = mutation.target;
                        if (target.classList && target.classList.contains('stage-splitit-snipp__container')) {
                          if (mutation.attributeName === 'data-amount') {
                            calculateMonthlyPayment(target);
                          } else if (mutation.attributeName === 'data-color' || mutation.attributeName === 'data-amount-color') {
                            setupColor(target);
                          }
                        }
                      });
                    });

                    // 观察所有容器
                    document.querySelectorAll('.stage-splitit-snipp__container').forEach((container) => {
                      observer.observe(container, {
                        attributes: true,
                        attributeFilter: ['data-amount', 'data-color', 'data-amount-color'],
                      });
                    });
                  }

                  // 页面加载完成后初始化
                  if (document.readyState === 'loading') {
                    document.addEventListener('DOMContentLoaded', function () {
                      initAllContainers();
                      setupMutationObserver();
                    });
                  } else {
                    initAllContainers();
                    setupMutationObserver();
                  }

                  // 暴露更新函数，方便外部调用
                  window.updateStageSplititSnipp = function (selector, amount) {
                    const container = typeof selector === 'string' ? document.querySelector(selector) : selector;

                    if (container && container.classList.contains('stage-splitit-snipp__container')) {
                      container.setAttribute('data-amount', amount);
                      calculateMonthlyPayment(container);
                    }
                  };
                })();
              </script>
            </div>
          </div>
        </div>
        <div
          class='yb-product-flip-display-card-button-box'
          onclick='event.stopPropagation()'
        >
          <add-to-cart
            data-spu='16068910502862672835792015'
            data-sku='18068910502866363823382015'
            data-quantity='1'
            class='yb-product-flip-display-card-button'
          >
            Shop Now
          </add-to-cart>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id='shopline-section-17642324577749fe1317'
  class='shopline-section'
>
  <style>
    #shopline-section-17642324577749fe1317 {
      background-color: #ffffff;
    }

    /* 375-679px */
    @media (max-width: 679px) {
      #shopline-section-17642324577749fe1317 {
        padding-top: 0px;
        padding-bottom: 37px;
      }
    }

    /* 680-959px */
    @media (min-width: 680px) and (max-width: 959px) {
      #shopline-section-17642324577749fe1317 {
        padding-top: 0px;
        padding-bottom: 35px;
      }
    }

    /* 960-1439px */
    @media (min-width: 960px) and (max-width: 1439px) {
      #shopline-section-17642324577749fe1317 {
        padding-top: 0px;
        padding-bottom: 46px;
      }
    }

    /* 1440-1919px */
    @media (min-width: 1440px) and (max-width: 1919px) {
      #shopline-section-17642324577749fe1317 {
        padding-top: 0px;
        padding-bottom: 60px;
      }
    }

    /* 1920px+ */
    @media (min-width: 1920px) {
      #shopline-section-17642324577749fe1317 {
        padding-top: 0px;
        padding-bottom: 81px;
      }
    }
  </style>

  <div class='yb-product-flip-display-container'>
    <div class='yb-section-common'></div>

    <div class='yb-product-flip-display-content'>
      <div
        data-m-select='2'
        data-has-flip-content='0'
        class='yb-product-flip-display-card yb-product-flip-display-card-img'
        style='--aspect-ratio: 456/292'
      >
        <div
          class='yb-product-flip-display-card-content'
          style='opacity: 1'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036458144-_1.jpg?v=1776749269'
            alt=''
            width='1384'
            height='912'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
          <div
            class='yb-product-flip-display-card-content-text'
            style=''
          >
            <div
              class='yb-product-flip-display-card-content-text-title'
              style='color: #ffffff'
            >
              Yarbo Snow Blower
            </div>
            <div
              class='yb-product-flip-display-card-content-text-content'
              style='color: #ffffff'
            >
              <span>$4,399.00</span>
              <!--  -->
              <span
                class='yb-product-flip-display-card-content-text-content-strikethrough-price'
                style='color: #666666; display: inline-block'
              >
                $4,999.00
              </span>
            </div>
            <div
              data-amount='439900'
              data-color='#FFFFFF'
            >
              <div
                class='stage-splitit-snipp__container'
                style='--splitit-text-color: #ffffff'
              >
                <span class='stage-splitit-snipp__text'>
                  <span class='stage-splitit-snipp__monthly-amount'>$733/mo</span>
                  <span class='stage-splitit-snipp__apr-text'>for 6 months at 0% APR with Splitit.</span>
                </span>
              </div>

              <style>
                .stage-splitit-snipp__container {
                  width: 100%;
                  display: inline-flex;
                  align-items: center;
                  justify-content: flex-start;
                  font-size: 0.875rem;
                  line-height: 1.5;
                  /* 使用 CSS 变量，默认值为 #666 */
                  color: var(--splitit-text-color, #666);
                }

                .stage-splitit-snipp__text {
                  flex-wrap: wrap;
                  gap: 0.25rem;
                  color: inherit;
                }

                .stage-splitit-snipp__monthly-amount {
                  font-weight: 700;
                  font-size: 1.5em;
                  /* 月付金额颜色，默认比文字颜色深一些 */
                  color: var(--splitit-amount-color, var(--splitit-text-color, #333));
                }

                .stage-splitit-snipp__apr-text {
                  font-weight: 400;
                  font-size: 1em;
                  color: inherit;
                }

                /* 移动端适配 */
                @media (max-width: 767px) {
                  .stage-splitit-snipp__container {
                    font-size: 0.75rem;
                  }
                }
              </style>

              <script>
                (function () {
                  'use strict';

                  /**
                   * 设置颜色配置
                   * @param {HTMLElement} container - 容器元素
                   */
                  function setupColor(container) {
                    if (!container) return;

                    // 从 data-color 属性获取颜色
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let textColor = container.getAttribute('data-color');

                    if (!textColor || textColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-color')) {
                        textColor = parent.getAttribute('data-color');
                      }
                    }

                    // 如果设置了颜色，应用到 CSS 变量
                    if (textColor && textColor !== '') {
                      container.style.setProperty('--splitit-text-color', textColor);
                    }

                    // 从 data-amount-color 属性获取月付金额颜色（可选）
                    let amountColor = container.getAttribute('data-amount-color');

                    if (!amountColor || amountColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-amount-color')) {
                        amountColor = parent.getAttribute('data-amount-color');
                      }
                    }

                    // 如果设置了月付金额颜色，应用到 CSS 变量
                    if (amountColor && amountColor !== '') {
                      container.style.setProperty('--splitit-amount-color', amountColor);
                    }
                  }

                  /**
                   * 计算月付金额并更新显示
                   * @param {HTMLElement} container - 容器元素
                   */
                  function calculateMonthlyPayment(container) {
                    if (!container) return;

                    // 先设置颜色
                    setupColor(container);

                    // 从 data-amount 属性获取金额（单位：美分）
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let amount = container.getAttribute('data-amount');

                    if (!amount) {
                      const parent = container.parentElement;
                      if (parent) {
                        amount = parent.getAttribute('data-amount');
                      }
                    }

                    // 如果没有金额，隐藏容器
                    if (!amount) {
                      container.style.display = 'none';
                      return;
                    }

                    // 显示容器
                    container.style.display = '';

                    // 转换为数字
                    amount = Number(amount);

                    // 验证金额有效性
                    if (!amount || isNaN(amount) || amount <= 0) {
                      container.style.display = 'none';
                      return;
                    }

                    // 将美分转换为美元，然后除以6个月（0% APR，6期）
                    const totalPrice = amount / 100;
                    const monthlyPayment = totalPrice / 6;

                    // 格式化金额，不保留小数（四舍五入到整数），并添加千分位分隔符
                    const roundedMonthly = Math.round(monthlyPayment);
                    const formattedMonthly = roundedMonthly.toLocaleString('en-US');

                    // 更新显示的每月金额
                    const monthlyElement = container.querySelector('.stage-splitit-snipp__monthly-amount');
                    if (monthlyElement) {
                      monthlyElement.textContent = '$' + formattedMonthly + '/mo';
                    }
                  }

                  /**
                   * 初始化所有容器
                   */
                  function initAllContainers() {
                    const containers = document.querySelectorAll('.stage-splitit-snipp__container');
                    containers.forEach((container) => {
                      setupColor(container);
                      calculateMonthlyPayment(container);
                    });
                  }

                  /**
                   * 监听 data-amount 和 data-color 属性变化
                   */
                  function setupMutationObserver() {
                    const observer = new MutationObserver(function (mutations) {
                      mutations.forEach(function (mutation) {
                        const target = mutation.target;
                        if (target.classList && target.classList.contains('stage-splitit-snipp__container')) {
                          if (mutation.attributeName === 'data-amount') {
                            calculateMonthlyPayment(target);
                          } else if (mutation.attributeName === 'data-color' || mutation.attributeName === 'data-amount-color') {
                            setupColor(target);
                          }
                        }
                      });
                    });

                    // 观察所有容器
                    document.querySelectorAll('.stage-splitit-snipp__container').forEach((container) => {
                      observer.observe(container, {
                        attributes: true,
                        attributeFilter: ['data-amount', 'data-color', 'data-amount-color'],
                      });
                    });
                  }

                  // 页面加载完成后初始化
                  if (document.readyState === 'loading') {
                    document.addEventListener('DOMContentLoaded', function () {
                      initAllContainers();
                      setupMutationObserver();
                    });
                  } else {
                    initAllContainers();
                    setupMutationObserver();
                  }

                  // 暴露更新函数，方便外部调用
                  window.updateStageSplititSnipp = function (selector, amount) {
                    const container = typeof selector === 'string' ? document.querySelector(selector) : selector;

                    if (container && container.classList.contains('stage-splitit-snipp__container')) {
                      container.setAttribute('data-amount', amount);
                      calculateMonthlyPayment(container);
                    }
                  };
                })();
              </script>
            </div>
          </div>
        </div>
        <div class='yb-product-flip-display-card-content-flip'>
          <div class='yb-product-flip-display-card-content-flip-text'>
            <div
              class='yb-product-flip-display-card-content-flip-text-title'
              style='color: #ffffff'
            >
              Yarbo Snow Blower
            </div>
            <div
              class='yb-product-flip-display-card-content-flip-text-content'
              style='color: #ffffff'
            >
              <span>$4,399.00</span>
              <!--  -->
              <span
                class='yb-product-flip-display-card-content-text-content-strikethrough-price'
                style='color: #666666; display: inline-block'
              >
                $4,999.00
              </span>
            </div>
            <div
              data-amount='439900'
              data-color='#FFFFFF'
            >
              <div
                class='stage-splitit-snipp__container'
                style='--splitit-text-color: #ffffff'
              >
                <span class='stage-splitit-snipp__text'>
                  <span class='stage-splitit-snipp__monthly-amount'>$733/mo</span>
                  <span class='stage-splitit-snipp__apr-text'>for 6 months at 0% APR with Splitit.</span>
                </span>
              </div>

              <style>
                .stage-splitit-snipp__container {
                  width: 100%;
                  display: inline-flex;
                  align-items: center;
                  justify-content: flex-start;
                  font-size: 0.875rem;
                  line-height: 1.5;
                  /* 使用 CSS 变量，默认值为 #666 */
                  color: var(--splitit-text-color, #666);
                }

                .stage-splitit-snipp__text {
                  flex-wrap: wrap;
                  gap: 0.25rem;
                  color: inherit;
                }

                .stage-splitit-snipp__monthly-amount {
                  font-weight: 700;
                  font-size: 1.5em;
                  /* 月付金额颜色，默认比文字颜色深一些 */
                  color: var(--splitit-amount-color, var(--splitit-text-color, #333));
                }

                .stage-splitit-snipp__apr-text {
                  font-weight: 400;
                  font-size: 1em;
                  color: inherit;
                }

                /* 移动端适配 */
                @media (max-width: 767px) {
                  .stage-splitit-snipp__container {
                    font-size: 0.75rem;
                  }
                }
              </style>

              <script>
                (function () {
                  'use strict';

                  /**
                   * 设置颜色配置
                   * @param {HTMLElement} container - 容器元素
                   */
                  function setupColor(container) {
                    if (!container) return;

                    // 从 data-color 属性获取颜色
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let textColor = container.getAttribute('data-color');

                    if (!textColor || textColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-color')) {
                        textColor = parent.getAttribute('data-color');
                      }
                    }

                    // 如果设置了颜色，应用到 CSS 变量
                    if (textColor && textColor !== '') {
                      container.style.setProperty('--splitit-text-color', textColor);
                    }

                    // 从 data-amount-color 属性获取月付金额颜色（可选）
                    let amountColor = container.getAttribute('data-amount-color');

                    if (!amountColor || amountColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-amount-color')) {
                        amountColor = parent.getAttribute('data-amount-color');
                      }
                    }

                    // 如果设置了月付金额颜色，应用到 CSS 变量
                    if (amountColor && amountColor !== '') {
                      container.style.setProperty('--splitit-amount-color', amountColor);
                    }
                  }

                  /**
                   * 计算月付金额并更新显示
                   * @param {HTMLElement} container - 容器元素
                   */
                  function calculateMonthlyPayment(container) {
                    if (!container) return;

                    // 先设置颜色
                    setupColor(container);

                    // 从 data-amount 属性获取金额（单位：美分）
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let amount = container.getAttribute('data-amount');

                    if (!amount) {
                      const parent = container.parentElement;
                      if (parent) {
                        amount = parent.getAttribute('data-amount');
                      }
                    }

                    // 如果没有金额，隐藏容器
                    if (!amount) {
                      container.style.display = 'none';
                      return;
                    }

                    // 显示容器
                    container.style.display = '';

                    // 转换为数字
                    amount = Number(amount);

                    // 验证金额有效性
                    if (!amount || isNaN(amount) || amount <= 0) {
                      container.style.display = 'none';
                      return;
                    }

                    // 将美分转换为美元，然后除以6个月（0% APR，6期）
                    const totalPrice = amount / 100;
                    const monthlyPayment = totalPrice / 6;

                    // 格式化金额，不保留小数（四舍五入到整数），并添加千分位分隔符
                    const roundedMonthly = Math.round(monthlyPayment);
                    const formattedMonthly = roundedMonthly.toLocaleString('en-US');

                    // 更新显示的每月金额
                    const monthlyElement = container.querySelector('.stage-splitit-snipp__monthly-amount');
                    if (monthlyElement) {
                      monthlyElement.textContent = '$' + formattedMonthly + '/mo';
                    }
                  }

                  /**
                   * 初始化所有容器
                   */
                  function initAllContainers() {
                    const containers = document.querySelectorAll('.stage-splitit-snipp__container');
                    containers.forEach((container) => {
                      setupColor(container);
                      calculateMonthlyPayment(container);
                    });
                  }

                  /**
                   * 监听 data-amount 和 data-color 属性变化
                   */
                  function setupMutationObserver() {
                    const observer = new MutationObserver(function (mutations) {
                      mutations.forEach(function (mutation) {
                        const target = mutation.target;
                        if (target.classList && target.classList.contains('stage-splitit-snipp__container')) {
                          if (mutation.attributeName === 'data-amount') {
                            calculateMonthlyPayment(target);
                          } else if (mutation.attributeName === 'data-color' || mutation.attributeName === 'data-amount-color') {
                            setupColor(target);
                          }
                        }
                      });
                    });

                    // 观察所有容器
                    document.querySelectorAll('.stage-splitit-snipp__container').forEach((container) => {
                      observer.observe(container, {
                        attributes: true,
                        attributeFilter: ['data-amount', 'data-color', 'data-amount-color'],
                      });
                    });
                  }

                  // 页面加载完成后初始化
                  if (document.readyState === 'loading') {
                    document.addEventListener('DOMContentLoaded', function () {
                      initAllContainers();
                      setupMutationObserver();
                    });
                  } else {
                    initAllContainers();
                    setupMutationObserver();
                  }

                  // 暴露更新函数，方便外部调用
                  window.updateStageSplititSnipp = function (selector, amount) {
                    const container = typeof selector === 'string' ? document.querySelector(selector) : selector;

                    if (container && container.classList.contains('stage-splitit-snipp__container')) {
                      container.setAttribute('data-amount', amount);
                      calculateMonthlyPayment(container);
                    }
                  };
                })();
              </script>
            </div>
          </div>
        </div>
        <div
          class='yb-product-flip-display-card-button-box'
          onclick='event.stopPropagation()'
        >
          <add-to-cart
            data-spu='16068910502798919414692015'
            data-sku='18068910502802778174462015'
            data-quantity='1'
            class='yb-product-flip-display-card-button'
          >
            Shop Now
          </add-to-cart>
        </div>
      </div>

      <div
        data-m-select='2'
        data-has-flip-content='0'
        class='yb-product-flip-display-card yb-product-flip-display-card-img'
        style='--aspect-ratio: 456/292'
      >
        <div
          class='yb-product-flip-display-card-content'
          style='opacity: 1'
        >
          <img
            src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036458145-_1.jpg?v=1776749276'
            alt=''
            width='1384'
            height='912'
            fetchpriority='auto'
            decoding='async'
            data-scale='hover-scale'
            loading='lazy'
          >
          <div
            class='yb-product-flip-display-card-content-text'
            style=''
          >
            <div
              class='yb-product-flip-display-card-content-text-title'
              style='color: #ffffff'
            >
              Yarbo Blower
            </div>
            <div
              class='yb-product-flip-display-card-content-text-content'
              style='color: #ffffff'
            >
              <span>$4,199.00</span>
              <!--  -->
              <span
                class='yb-product-flip-display-card-content-text-content-strikethrough-price'
                style='color: #b3b4b6; display: inline-block'
              >
                $4,799.00
              </span>
            </div>
            <div
              data-amount='419900'
              data-color='#FFFFFF'
            >
              <div
                class='stage-splitit-snipp__container'
                style='--splitit-text-color: #ffffff'
              >
                <span class='stage-splitit-snipp__text'>
                  <span class='stage-splitit-snipp__monthly-amount'>$700/mo</span>
                  <span class='stage-splitit-snipp__apr-text'>for 6 months at 0% APR with Splitit.</span>
                </span>
              </div>

              <style>
                .stage-splitit-snipp__container {
                  width: 100%;
                  display: inline-flex;
                  align-items: center;
                  justify-content: flex-start;
                  font-size: 0.875rem;
                  line-height: 1.5;
                  /* 使用 CSS 变量，默认值为 #666 */
                  color: var(--splitit-text-color, #666);
                }

                .stage-splitit-snipp__text {
                  flex-wrap: wrap;
                  gap: 0.25rem;
                  color: inherit;
                }

                .stage-splitit-snipp__monthly-amount {
                  font-weight: 700;
                  font-size: 1.5em;
                  /* 月付金额颜色，默认比文字颜色深一些 */
                  color: var(--splitit-amount-color, var(--splitit-text-color, #333));
                }

                .stage-splitit-snipp__apr-text {
                  font-weight: 400;
                  font-size: 1em;
                  color: inherit;
                }

                /* 移动端适配 */
                @media (max-width: 767px) {
                  .stage-splitit-snipp__container {
                    font-size: 0.75rem;
                  }
                }
              </style>

              <script>
                (function () {
                  'use strict';

                  /**
                   * 设置颜色配置
                   * @param {HTMLElement} container - 容器元素
                   */
                  function setupColor(container) {
                    if (!container) return;

                    // 从 data-color 属性获取颜色
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let textColor = container.getAttribute('data-color');

                    if (!textColor || textColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-color')) {
                        textColor = parent.getAttribute('data-color');
                      }
                    }

                    // 如果设置了颜色，应用到 CSS 变量
                    if (textColor && textColor !== '') {
                      container.style.setProperty('--splitit-text-color', textColor);
                    }

                    // 从 data-amount-color 属性获取月付金额颜色（可选）
                    let amountColor = container.getAttribute('data-amount-color');

                    if (!amountColor || amountColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-amount-color')) {
                        amountColor = parent.getAttribute('data-amount-color');
                      }
                    }

                    // 如果设置了月付金额颜色，应用到 CSS 变量
                    if (amountColor && amountColor !== '') {
                      container.style.setProperty('--splitit-amount-color', amountColor);
                    }
                  }

                  /**
                   * 计算月付金额并更新显示
                   * @param {HTMLElement} container - 容器元素
                   */
                  function calculateMonthlyPayment(container) {
                    if (!container) return;

                    // 先设置颜色
                    setupColor(container);

                    // 从 data-amount 属性获取金额（单位：美分）
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let amount = container.getAttribute('data-amount');

                    if (!amount) {
                      const parent = container.parentElement;
                      if (parent) {
                        amount = parent.getAttribute('data-amount');
                      }
                    }

                    // 如果没有金额，隐藏容器
                    if (!amount) {
                      container.style.display = 'none';
                      return;
                    }

                    // 显示容器
                    container.style.display = '';

                    // 转换为数字
                    amount = Number(amount);

                    // 验证金额有效性
                    if (!amount || isNaN(amount) || amount <= 0) {
                      container.style.display = 'none';
                      return;
                    }

                    // 将美分转换为美元，然后除以6个月（0% APR，6期）
                    const totalPrice = amount / 100;
                    const monthlyPayment = totalPrice / 6;

                    // 格式化金额，不保留小数（四舍五入到整数），并添加千分位分隔符
                    const roundedMonthly = Math.round(monthlyPayment);
                    const formattedMonthly = roundedMonthly.toLocaleString('en-US');

                    // 更新显示的每月金额
                    const monthlyElement = container.querySelector('.stage-splitit-snipp__monthly-amount');
                    if (monthlyElement) {
                      monthlyElement.textContent = '$' + formattedMonthly + '/mo';
                    }
                  }

                  /**
                   * 初始化所有容器
                   */
                  function initAllContainers() {
                    const containers = document.querySelectorAll('.stage-splitit-snipp__container');
                    containers.forEach((container) => {
                      setupColor(container);
                      calculateMonthlyPayment(container);
                    });
                  }

                  /**
                   * 监听 data-amount 和 data-color 属性变化
                   */
                  function setupMutationObserver() {
                    const observer = new MutationObserver(function (mutations) {
                      mutations.forEach(function (mutation) {
                        const target = mutation.target;
                        if (target.classList && target.classList.contains('stage-splitit-snipp__container')) {
                          if (mutation.attributeName === 'data-amount') {
                            calculateMonthlyPayment(target);
                          } else if (mutation.attributeName === 'data-color' || mutation.attributeName === 'data-amount-color') {
                            setupColor(target);
                          }
                        }
                      });
                    });

                    // 观察所有容器
                    document.querySelectorAll('.stage-splitit-snipp__container').forEach((container) => {
                      observer.observe(container, {
                        attributes: true,
                        attributeFilter: ['data-amount', 'data-color', 'data-amount-color'],
                      });
                    });
                  }

                  // 页面加载完成后初始化
                  if (document.readyState === 'loading') {
                    document.addEventListener('DOMContentLoaded', function () {
                      initAllContainers();
                      setupMutationObserver();
                    });
                  } else {
                    initAllContainers();
                    setupMutationObserver();
                  }

                  // 暴露更新函数，方便外部调用
                  window.updateStageSplititSnipp = function (selector, amount) {
                    const container = typeof selector === 'string' ? document.querySelector(selector) : selector;

                    if (container && container.classList.contains('stage-splitit-snipp__container')) {
                      container.setAttribute('data-amount', amount);
                      calculateMonthlyPayment(container);
                    }
                  };
                })();
              </script>
            </div>
          </div>
        </div>
        <div class='yb-product-flip-display-card-content-flip'>
          <div class='yb-product-flip-display-card-content-flip-text'>
            <div
              class='yb-product-flip-display-card-content-flip-text-title'
              style='color: #ffffff'
            >
              Yarbo Blower
            </div>
            <div
              class='yb-product-flip-display-card-content-flip-text-content'
              style='color: #ffffff'
            >
              <span>$4,199.00</span>
              <!--  -->
              <span
                class='yb-product-flip-display-card-content-text-content-strikethrough-price'
                style='color: #b3b4b6; display: inline-block'
              >
                $4,799.00
              </span>
            </div>
            <div
              data-amount='419900'
              data-color='#FFFFFF'
            >
              <div
                class='stage-splitit-snipp__container'
                style='--splitit-text-color: #ffffff'
              >
                <span class='stage-splitit-snipp__text'>
                  <span class='stage-splitit-snipp__monthly-amount'>$700/mo</span>
                  <span class='stage-splitit-snipp__apr-text'>for 6 months at 0% APR with Splitit.</span>
                </span>
              </div>

              <style>
                .stage-splitit-snipp__container {
                  width: 100%;
                  display: inline-flex;
                  align-items: center;
                  justify-content: flex-start;
                  font-size: 0.875rem;
                  line-height: 1.5;
                  /* 使用 CSS 变量，默认值为 #666 */
                  color: var(--splitit-text-color, #666);
                }

                .stage-splitit-snipp__text {
                  flex-wrap: wrap;
                  gap: 0.25rem;
                  color: inherit;
                }

                .stage-splitit-snipp__monthly-amount {
                  font-weight: 700;
                  font-size: 1.5em;
                  /* 月付金额颜色，默认比文字颜色深一些 */
                  color: var(--splitit-amount-color, var(--splitit-text-color, #333));
                }

                .stage-splitit-snipp__apr-text {
                  font-weight: 400;
                  font-size: 1em;
                  color: inherit;
                }

                /* 移动端适配 */
                @media (max-width: 767px) {
                  .stage-splitit-snipp__container {
                    font-size: 0.75rem;
                  }
                }
              </style>

              <script>
                (function () {
                  'use strict';

                  /**
                   * 设置颜色配置
                   * @param {HTMLElement} container - 容器元素
                   */
                  function setupColor(container) {
                    if (!container) return;

                    // 从 data-color 属性获取颜色
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let textColor = container.getAttribute('data-color');

                    if (!textColor || textColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-color')) {
                        textColor = parent.getAttribute('data-color');
                      }
                    }

                    // 如果设置了颜色，应用到 CSS 变量
                    if (textColor && textColor !== '') {
                      container.style.setProperty('--splitit-text-color', textColor);
                    }

                    // 从 data-amount-color 属性获取月付金额颜色（可选）
                    let amountColor = container.getAttribute('data-amount-color');

                    if (!amountColor || amountColor === '') {
                      const parent = container.parentElement;
                      if (parent && parent.hasAttribute('data-amount-color')) {
                        amountColor = parent.getAttribute('data-amount-color');
                      }
                    }

                    // 如果设置了月付金额颜色，应用到 CSS 变量
                    if (amountColor && amountColor !== '') {
                      container.style.setProperty('--splitit-amount-color', amountColor);
                    }
                  }

                  /**
                   * 计算月付金额并更新显示
                   * @param {HTMLElement} container - 容器元素
                   */
                  function calculateMonthlyPayment(container) {
                    if (!container) return;

                    // 先设置颜色
                    setupColor(container);

                    // 从 data-amount 属性获取金额（单位：美分）
                    // 优先从容器本身获取，如果没有则从父元素获取
                    let amount = container.getAttribute('data-amount');

                    if (!amount) {
                      const parent = container.parentElement;
                      if (parent) {
                        amount = parent.getAttribute('data-amount');
                      }
                    }

                    // 如果没有金额，隐藏容器
                    if (!amount) {
                      container.style.display = 'none';
                      return;
                    }

                    // 显示容器
                    container.style.display = '';

                    // 转换为数字
                    amount = Number(amount);

                    // 验证金额有效性
                    if (!amount || isNaN(amount) || amount <= 0) {
                      container.style.display = 'none';
                      return;
                    }

                    // 将美分转换为美元，然后除以6个月（0% APR，6期）
                    const totalPrice = amount / 100;
                    const monthlyPayment = totalPrice / 6;

                    // 格式化金额，不保留小数（四舍五入到整数），并添加千分位分隔符
                    const roundedMonthly = Math.round(monthlyPayment);
                    const formattedMonthly = roundedMonthly.toLocaleString('en-US');

                    // 更新显示的每月金额
                    const monthlyElement = container.querySelector('.stage-splitit-snipp__monthly-amount');
                    if (monthlyElement) {
                      monthlyElement.textContent = '$' + formattedMonthly + '/mo';
                    }
                  }

                  /**
                   * 初始化所有容器
                   */
                  function initAllContainers() {
                    const containers = document.querySelectorAll('.stage-splitit-snipp__container');
                    containers.forEach((container) => {
                      setupColor(container);
                      calculateMonthlyPayment(container);
                    });
                  }

                  /**
                   * 监听 data-amount 和 data-color 属性变化
                   */
                  function setupMutationObserver() {
                    const observer = new MutationObserver(function (mutations) {
                      mutations.forEach(function (mutation) {
                        const target = mutation.target;
                        if (target.classList && target.classList.contains('stage-splitit-snipp__container')) {
                          if (mutation.attributeName === 'data-amount') {
                            calculateMonthlyPayment(target);
                          } else if (mutation.attributeName === 'data-color' || mutation.attributeName === 'data-amount-color') {
                            setupColor(target);
                          }
                        }
                      });
                    });

                    // 观察所有容器
                    document.querySelectorAll('.stage-splitit-snipp__container').forEach((container) => {
                      observer.observe(container, {
                        attributes: true,
                        attributeFilter: ['data-amount', 'data-color', 'data-amount-color'],
                      });
                    });
                  }

                  // 页面加载完成后初始化
                  if (document.readyState === 'loading') {
                    document.addEventListener('DOMContentLoaded', function () {
                      initAllContainers();
                      setupMutationObserver();
                    });
                  } else {
                    initAllContainers();
                    setupMutationObserver();
                  }

                  // 暴露更新函数，方便外部调用
                  window.updateStageSplititSnipp = function (selector, amount) {
                    const container = typeof selector === 'string' ? document.querySelector(selector) : selector;

                    if (container && container.classList.contains('stage-splitit-snipp__container')) {
                      container.setAttribute('data-amount', amount);
                      calculateMonthlyPayment(container);
                    }
                  };
                })();
              </script>
            </div>
          </div>
        </div>
        <div
          class='yb-product-flip-display-card-button-box'
          onclick='event.stopPropagation()'
        >
          <add-to-cart
            data-spu='16068910502829453947982015'
            data-sku='18068910502833144935572015'
            data-quantity='1'
            class='yb-product-flip-display-card-button'
          >
            Shop Now
          </add-to-cart>
        </div>
      </div>
    </div>
  </div>
</div>
