<div class="shopline-section advc-section advc" id="shopify-section-17411956628128dd0165">
  <style>
    #shopify-section-17411956628128dd0165 .advc-title {
      --advc-title-font-family: "Poppins";
      --advc-title-font-weight: 600;
      --advc-title-font-style: normal;
      --advc-title-color: #000000;
      --advc-title-font-size: 38px;
      --advc-title-letter-spacing: 0em;
      --advc-title-line-height: 1.2;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17411956628128dd0165 .advc-title {
        --advc-title-font-size: 30px;
      }
    }

    .advc-title {
      font-family: var(--advc-title-font-family);
      color: var(--advc-title-color);
      font-size: var(--advc-title-font-size);
      letter-spacing: var(--advc-title-letter-spacing);
      line-height: var(--advc-title-line-height);
      font-weight: var(--advc-title-font-weight);
      font-style: var(--advc-title-font-style);
    }
  </style>
  <style>
    #shopify-section-17411956628128dd0165 .advc-body {
      --advc-body-font-family: "Montserrat";
      --advc-body-font-weight: 400;
      --advc-body-font-style: normal;
      --advc-body-color: #000000;
      --advc-body-font-size: 16px;
      --advc-body-letter-spacing: 0em;
      --advc-body-line-height: 1.6;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17411956628128dd0165 .advc-body {
        --advc-body-font-size: 20px;
      }
    }

    .advc-body {
      font-family: var(--advc-body-font-family);
      color: var(--advc-body-color);
      font-size: var(--advc-body-font-size);
      letter-spacing: var(--advc-body-letter-spacing);
      line-height: var(--advc-body-line-height);
      font-weight: var(--advc-body-font-weight);
      font-style: var(--advc-body-font-style);
    }
  </style>
  <style>
    #shopify-section-17411956628128dd0165 .advc-btn {
      --advc-btn-font-family: "Montserrat";
      --advc-btn-font-weight: 500;
      --advc-btn-font-style: normal;
      --advc-btn-font-color: #FFFFFF;
      --advc-btn-font-size: 13px;
      --advc-btn-letter-spacing: 0em;
      --advc-btn-line-height: 1.6;
      --advc-btn-background: #111111;
      --advc-btn-border-thickness: 1px;
      --advc-btn-border-opacity: 1;
      --advc-btn-border-radius: 0px;
      --advc-btn-border-outset: 0px;
      --advc-btn-border-color: 0, 0, 0;
      --advc-btn-shadow-color: 0, 0, 0;
      --advc-btn-shadow-opacity: 0;
      --advc-btn-shadow-offset-x: 0px;
      --advc-btn-shadow-offset-y: 4px;
      --advc-btn-shadow-blur: 5px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17411956628128dd0165 .advc-btn {
        --advc-btn-font-size: 12px;
      }
    }
  </style>
  <style>
    #shopify-section-17411956628128dd0165 {

      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      --advc-container-padding-top: 70px;
      --advc-container-padding-bottom: 20px;
      --advc-container-padding-right: 40px;
      --advc-container-padding-left: 40px;
      --advc-container-max-width: 1420px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17411956628128dd0165 {
        margin-top: 0px;
        margin-bottom: 0px;

        margin-left: 0px;
        margin-right: 0px;

        --advc-container-padding-top: 40px;
        --advc-container-padding-bottom: 40px;
        --advc-container-padding-right: 20px;
        --advc-container-padding-left: 20px;
      }
    }
  </style>
  <style>
    #shopify-section-17411956628128dd0165 {
      --advc-container-background: rgba(237, 237, 237, 1);
    }
  </style>
  <style>
    #shopify-section-17411956628128dd0165 {
      position: relative;
    }
  </style>
  <div class="advc-cta__bg advc-container-background"></div>
  <script id="advc-cta-17411956628128dd0165" type="text/json">
    {
      "pc_show": true,
      "mb_show": true,
      "title_scale_ani": false,
      "text_align": "center",
      "btn_align": "bottom",
      "container_bg_color": "#ededed",
      "container_bg_color_gradient": "",
      "container_max_width": 1420,
      "title_font_color": "#000000",
      "title_font_color_gradient": "",
      "title_pc_font_size": 38,
      "title_m_font_size": 30,
      "title_letter_spacing": 0,
      "title_line_height": 1.2,
      "body_font_color": "#000000",
      "body_pc_font_size": 16,
      "body_m_font_size": 20,
      "body_letter_spacing": 0,
      "body_line_height": 1.6,
      "btn_pc_font_size": 13,
      "btn_m_font_size": 12,
      "btn_letter_spacing": 0,
      "btn_line_height": 1.6,
      "btn_font_color": "#FFFFFF",
      "btn_background": "#111111",
      "btn_border_color": "#000000",
      "btn_style": "primary",
      "btn_hover_animation": 1,
      "btn_border_thickness": 1,
      "btn_border_opacity": 100,
      "btn_border_radius": 0,
      "btn_shadow_opacity": 0,
      "btn_shadow_offset_x": 0,
      "btn_shadow_offset_y": 4,
      "btn_shadow_blur": 5,
      "btn_shadow_color": "#000000",
      "container_config": {
        "pc": { "left": 40, "right": 40, "top": 70, "bottom": 20, "lock": false },
        "mobile": { "left": 20, "right": 20, "top": 40, "bottom": 40 }
      },
      "container_margin_config": {
        "pc": { "left": 0, "right": 0, "top": 0, "bottom": 0 },
        "mobile": { "left": 0, "right": 0, "top": 0, "bottom": 0 }
      },
      "bg_image": null,
      "title_font_family": {
        "fallback_families": "sans-serif",
        "family": "Poppins",
        "style": "normal",
        "weight": "600",
        "variants": "600",
        "system": false
      },
      "body_font_family": {
        "fallback_families": "sans-serif",
        "family": "Montserrat",
        "style": "normal",
        "weight": "400",
        "variants": "regular",
        "system": false
      },
      "btn_font_family": {
        "fallback_families": "sans-serif",
        "family": "Montserrat",
        "style": "normal",
        "weight": "500",
        "variants": "500",
        "system": false
      }
    }
  </script>
  <div
    class="advc-cta advc-container section-17411956628128dd0165 advc-cta--center advc-cta-btn--bottom advc-d-flex advc-d-md-flex"
    data-section-id="17411956628128dd0165"
    data-section-type="advc-cta"
  >
    <div class="advc-cta__content advc-cta--center">
      <h2 class="advc-cta__title advc-custom-title-tag advc-title">Epic Rewards Await!</h2>
      <div class="advc-cta__desc advc-body advc-richtext">
        <span style="font-size: 25px;">Submit now to secure your spot in the next #MyYarboJourney campaign</span
        ><br class="mobile:hidden">
        <span style="font-size: 25px;">(date to be announced)! By entering, you'll have the chance to:</span>
      </div>
    </div>
  </div>
</div>
<div class="shopline-section advc-section advc" id="shopify-section-1741194861340c1479f1">
  <style>
    #shopify-section-1741194861340c1479f1 .advc-title {
      --advc-title-font-family: "Poppins";
      --advc-title-font-weight: 600;
      --advc-title-font-style: normal;
      --advc-title-color: #000000;
      --advc-title-font-size: 32px;
      --advc-title-letter-spacing: 0em;
      --advc-title-line-height: 1;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-1741194861340c1479f1 .advc-title {
        --advc-title-font-size: 24px;
      }
    }

    .advc-title {
      font-family: var(--advc-title-font-family);
      color: var(--advc-title-color);
      font-size: var(--advc-title-font-size);
      letter-spacing: var(--advc-title-letter-spacing);
      line-height: var(--advc-title-line-height);
      font-weight: var(--advc-title-font-weight);
      font-style: var(--advc-title-font-style);
    }
  </style>
  <style>
    #shopify-section-1741194861340c1479f1 .advc-sub-title {
      --advc-sub-title-font-family: "Poppins";
      --advc-sub-title-font-weight: 600;
      --advc-sub-title-font-style: normal;
      --advc-sub-title-color: #000000;
      --advc-sub-title-font-size: 20px;
      --advc-sub-title-letter-spacing: 0em;
      --advc-sub-title-line-height: 1;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-1741194861340c1479f1 .advc-sub-title {
        --advc-sub-title-font-size: 20px;
      }
    }

    .advc-sub-title {
      font-family: var(--advc-sub-title-font-family);
      color: var(--advc-sub-title-color);
      font-size: var(--advc-sub-title-font-size);
      letter-spacing: var(--advc-sub-title-letter-spacing);
      line-height: var(--advc-sub-title-line-height);
      font-weight: var(--advc-sub-title-font-weight);
      font-style: var(--advc-sub-title-font-style);
    }
  </style>
  <style>
    #shopify-section-1741194861340c1479f1 .advc-body {
      --advc-body-font-family: "Montserrat";
      --advc-body-font-weight: 400;
      --advc-body-font-style: normal;
      --advc-body-color: #000000;
      --advc-body-font-size: 16px;
      --advc-body-letter-spacing: 0em;
      --advc-body-line-height: 1.6;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-1741194861340c1479f1 .advc-body {
        --advc-body-font-size: 16px;
      }
    }

    .advc-body {
      font-family: var(--advc-body-font-family);
      color: var(--advc-body-color);
      font-size: var(--advc-body-font-size);
      letter-spacing: var(--advc-body-letter-spacing);
      line-height: var(--advc-body-line-height);
      font-weight: var(--advc-body-font-weight);
      font-style: var(--advc-body-font-style);
    }
  </style>
  <style>
    #shopify-section-1741194861340c1479f1 .advc-btn {
      --advc-btn-font-family: "Montserrat";
      --advc-btn-font-weight: 500;
      --advc-btn-font-style: normal;
      --advc-btn-font-color: #FFFFFF;
      --advc-btn-font-size: 13px;
      --advc-btn-letter-spacing: 0em;
      --advc-btn-line-height: 1.6;
      --advc-btn-background: #111111;
      --advc-btn-border-thickness: 1px;
      --advc-btn-border-opacity: 1;
      --advc-btn-border-radius: 0px;
      --advc-btn-border-outset: 0px;
      --advc-btn-border-color: 17, 17, 17;
      --advc-btn-shadow-color: 0, 0, 0;
      --advc-btn-shadow-opacity: 0;
      --advc-btn-shadow-offset-x: 0px;
      --advc-btn-shadow-offset-y: 4px;
      --advc-btn-shadow-blur: 5px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-1741194861340c1479f1 .advc-btn {
        --advc-btn-font-size: 12px;
      }
    }
  </style>
  <style>
    #shopify-section-1741194861340c1479f1 {

      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      --advc-container-padding-top: 0px;
      --advc-container-padding-bottom: 90px;
      --advc-container-padding-right: 80px;
      --advc-container-padding-left: 80px;
      --advc-container-max-width: 1365px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-1741194861340c1479f1 {
        margin-top: 0px;
        margin-bottom: 0px;

        margin-left: 0px;
        margin-right: 0px;

        --advc-container-padding-top: 40px;
        --advc-container-padding-bottom: 40px;
        --advc-container-padding-right: 20px;
        --advc-container-padding-left: 20px;
      }
    }
  </style>
  <style>
    #shopify-section-1741194861340c1479f1 .advc-image {
      --advc-image-border-thickness: 0px;
      --advc-image-border-opacity: 1;
      --advc-image-border-radius: 14px;
      --advc-image-border-color: 0, 0, 0;
      --advc-image-shadow-opacity: 0;
      --advc-image-shadow-offset-x: 0px;
      --advc-image-shadow-offset-y: 4px;
      --advc-image-shadow-blur: 5px;
      --advc-image-shadow-color: 0, 0, 0;
    }
  </style>
  <style>
    #shopify-section-1741194861340c1479f1 {
      background-color: rgba(0, 0, 0, 0);
    }
  </style>
  <div
    class="advc-carousel-images-with-text advc-container"
    data-autoplay="false"
    data-autoplay-speed="3"
    data-best-mobile-style="false"
    data-block-length="4"
    data-desktop-col="4"
    data-init="true"
    data-mobile-col="1"
    data-mobile-paginate-style="touch"
    data-mobile-slide-mode="true"
    data-paginate-style="tip_arrow"
    data-section-id="1741194861340c1479f1"
    data-section-type="advc-carousel-images-with-text"
    style="--advc-desktop-col: 4; --advc-first-image-ratio: 0.5311004784688995;"
  >
    <div
      aria-roledescription="carousel"
      class="splide splide--slide splide--ltr is-active is-initialized"
      id="splide01"
      role="region"
    >
      <div class="advc-carousel-images-with-text__head">
        <div class="advc-carousel-images-with-text__head-info"></div>
      </div>
      <div
        aria-atomic="true"
        aria-live="polite"
        class="advc-carousel-images-with-text__main splide__track splide__track--slide splide__track--ltr"
        id="splide01-track"
        style="padding-left: 0px; padding-right: 0px;"
      >
        <ul
          class="advc-carousel-images-with-text__list splide__list"
          id="splide01-list"
          role="presentation"
          style="transform: translateX(0px);"
        >
          <li
            aria-label="1 of 4"
            aria-roledescription="slide"
            class="advc-carousel-images-with-text__item splide__slide advc-a-nested is-active is-visible"
            data-hover-animation="false"
            data-swiper-slide-index="0"
            href=""
            id="splide01-slide01"
            role="group"
            style="margin-right: 22px;"
          >
            <div class="advc-carousel-images-with-text__item-image">
              <div class="advc-global-image is-scale" style=";padding-top: 57.56097560975609%;">
                <img
                  alt=""
                  class="advc-image lazyloaded ls-is-cached"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="auto"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/WechatIMG541.jpg?v=1772523574"
                  width="auto"
                >
              </div>
            </div>
            <div class="advc-carousel-images-with-text__item-description advc-body advc-richtext">
              Be<strong>featured</strong> in Yarbo's Hall of Fame
            </div>
          </li>
          <li
            aria-label="2 of 4"
            aria-roledescription="slide"
            class="advc-carousel-images-with-text__item splide__slide advc-a-nested is-visible is-next"
            data-hover-animation="false"
            data-swiper-slide-index="1"
            href=""
            id="splide01-slide02"
            role="group"
            style="margin-right: 22px;"
          >
            <div class="advc-carousel-images-with-text__item-image">
              <div class="advc-global-image is-scale" style=";padding-top: 57.35294117647059%;">
                <img
                  alt=""
                  class="advc-image lazyloaded ls-is-cached"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="auto"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2.jpg?v=1772521153"
                  width="auto"
                >
              </div>
            </div>
            <div class="advc-carousel-images-with-text__item-description advc-body advc-richtext">
              Receive <strong>exclusive recognition</strong> from the Team Yarbo
            </div>
          </li>
          <li
            aria-label="3 of 4"
            aria-roledescription="slide"
            class="advc-carousel-images-with-text__item splide__slide advc-a-nested is-visible"
            data-hover-animation="false"
            data-swiper-slide-index="2"
            href=""
            id="splide01-slide03"
            role="group"
            style="margin-right: 22px;"
          >
            <div class="advc-carousel-images-with-text__item-image">
              <div class="advc-global-image is-scale" style=";padding-top: 56.45933014354066%;">
                <img
                  alt=""
                  class="advc-image lazyloaded ls-is-cached"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="auto"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/3.jpg?v=1772521722"
                  width="auto"
                >
              </div>
            </div>
            <div class="advc-carousel-images-with-text__item-description advc-body advc-richtext">
              Win<strong> exciting rewards &amp; surprises</strong>
            </div>
          </li>
          <li
            aria-label="4 of 4"
            aria-roledescription="slide"
            class="advc-carousel-images-with-text__item splide__slide advc-a-nested is-visible"
            data-hover-animation="false"
            data-swiper-slide-index="3"
            href=""
            id="splide01-slide04"
            role="group"
            style="margin-right: 22px;"
          >
            <div class="advc-carousel-images-with-text__item-image">
              <div class="advc-global-image is-scale" style=";padding-top: 53.110047846889955%;">
                <img
                  alt=""
                  class="advc-image lazyloaded ls-is-cached"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="auto"
                  loading="lazy"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/4.jpg?v=1772521808"
                  width="auto"
                >
              </div>
            </div>
            <div class="advc-carousel-images-with-text__item-description advc-body advc-richtext">
              <strong>5,000 Yarbo Points</strong> for everyone who successfully submitted!
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="shopline-section section" id="shopify-section-1742134382590d958b88">
  <style>
    .layout-flex {
      display: flex;
    }

    .section-join-community {
      padding: 90px 10px;
      justify-content: center;
      gap: 100px;
      background-color: #fff;
    }

    .community-left-text {
      flex-direction: column;
    }

    .community-left-text h2 {
      margin: 0;
      padding: 0;
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      flex-direction: column;
      gap: 8px;
    }

    .community-info {
      margin-top: 55px;
      gap: 40px;
      flex-direction: column;
    }

    .community-info-list {
      gap: 12px;
    }

    .community-info-item {
      gap: 10px;
      flex-direction: column;
    }

    .community-info-item-img {
      justify-content: center;
      flex: none;
    }

    .community-info-item-img img {
      aspect-ratio: 1 / 1;
      height: 42px;
      width: 42px;
    }

    .community-info-item-text {
      max-width: 200px;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
    }

    /* btn */
    .community-info-btn a {
      display: inline-flex;
      background-color: rgb(254, 219, 30);
      padding: 0 36px;
      height: 48px;
      border-radius: 100px;
      align-items: center;
      gap: 8px;
      font-size: 18px;
      color: rgb(2, 6, 11);
      text-decoration: inherit;
    }

    .community-info-btn a img {
      width: 20px;
      height: 20px;
    }

    .community-info-btn .community-info-btn-text-mb {
      display: none;
    }

    .community-right-images {
      width: 484px;
      height: 347px;
      aspect-ratio: 484 / 347;
    }

    .community-right-images img {
      width: 100%;
      height: 100%;
    }

    .facebook-mb {
      display: none;
    }

    @media (min-width: 700px) and (max-width: 959px) {
      .section-join-community {
        aspect-ratio: 375 / 523;
      }
    }

    @media (min-width: 475px) and (max-width: 700px) {
      .section-join-community {
        aspect-ratio: 375 / 600;
      }
    }

    @media (min-width: 375px) and (max-width: 475px) {
      .section-join-community {
        aspect-ratio: 375 / 623;
      }
    }

    @media (max-width: 375px) {
      .section-join-community {
        aspect-ratio: 375 / 723;
      }
    }

    /* mobile */
    @media (max-width: 959px) {
      .section-join-community {
        padding: 34px 0 0 0;
        margin-bottom: 40px;
        position: relative;
      }

      /* left info */
      .community-left-text {
        position: relative;
        z-index: 2;
        width: 100%;
      }

      .community-left-text h2 {
        color: #fff;
        text-align: center;
        font-size: 26px;
        line-height: 31px;
      }

      .community-info {
        flex-direction: column-reverse;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(180deg, rgba(2, 6, 11, 0), #02060b 25%);
        gap: 16px;
        margin-top: 0;
        padding: 114px 16px 36px 16px;
        width: 100%;
      }

      .community-info-list {
        gap: 10px;
        flex-direction: column;
      }

      .community-info-item {
        padding: 8px;
        gap: 5px;
        flex-direction: row;
        background-color: #fff;
        border-radius: 12px;
        align-items: center;
      }

      .community-info-item-img img {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
      }

      .community-info-item-text {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        max-width: max-content;
      }

      .community-info-btn {
        display: flex;
        justify-content: center;
      }

      .community-info-btn a img {
        width: 16px;
        height: 16px;
      }

      .community-info-btn-text-pc {
        display: none;
      }

      .community-info-btn .community-info-btn-text-mb {
        display: block;
      }

      /* right img */
      .community-right-images {
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: auto;
        aspect-ratio: 375 / 442;
      }

      .facebook-mb {
        display: block;
      }

      .facebook-pc {
        display: none;
      }
    }
  </style>
  <div class="section-join-community layout-flex">
    <div class="community-left-text layout-flex">
      <h2 class="layout-flex">
        <span>Join the Community</span>
        <span>Connect, Inspire &amp; Share</span>
      </h2>
      <div class="community-info layout-flex">
        <div class="community-info-list layout-flex">
          <div class="community-info-item layout-flex">
            <div class="community-info-item-img layout-flex">
              <img
                alt="Use #MyYarboJourney on Social Media – Connect with the community."
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/d49ae9f5cde74791a527dac188c56c62.png?v=1772520774"
              >
            </div>
            <div class="community-info-item-text">
              Use #MyYarboJourney on Social Media – Connect with the community.
            </div>
          </div>
          <div class="community-info-item layout-flex">
            <div class="community-info-item-img layout-flex">
              <img
                alt="Use #MyYarboJourney on Social Media – Connect with the community."
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/717a80d347f64dbeb25aa55e13e2b0ee.png?v=1772520759"
              >
            </div>
            <div class="community-info-item-text">Join the Facebook group– Discuss tips, tricks, and experiences.</div>
          </div>
          <div class="community-info-item layout-flex">
            <div class="community-info-item-img layout-flex">
              <img
                alt="Use #MyYarboJourney on Social Media – Connect with the community."
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/356eba5ca0f2417495768a96893da6ca.png?v=1772520749"
              >
            </div>
            <div class="community-info-item-text">Follow us for the latest updates.</div>
          </div>
        </div>
        <div class="community-info-btn">
          <a href="https://launch.yarbo.com/?bwfan-link-trigger=51cd4df60ea8ebe33942a4f2a7517a94">
            <img
              alt="facebook"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/9454a0b978534156be7b9324f709d2e9.png?v=1772520769"
            >
            <span class="community-info-btn-text-pc">Join Official Yarbo Community</span>
            <span class="community-info-btn-text-mb">Join Now</span>
          </a>
        </div>
      </div>
    </div>
    <div class="community-right-images">
      <img
        alt="facebook bg"
        class="facebook-pc"
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/0687a9ebfed74f80a8d0d61dba0cd713.png?v=1772520740"
      >
      <img
        alt="facebook bg"
        class="facebook-mb"
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/77ec25224aca4596827f8a0344d38446.png?v=1772520764"
      >
    </div>
  </div>
</div>
<div class="shopline-section advc-section advc" id="shopify-section-17411960342545556080">
  <style>
    #shopify-section-17411960342545556080 .advc-title {
      --advc-title-font-family: "Poppins";
      --advc-title-font-weight: 600;
      --advc-title-font-style: normal;
      --advc-title-color: #000000;
      --advc-title-font-size: 26px;
      --advc-title-letter-spacing: 0em;
      --advc-title-line-height: 1.2;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17411960342545556080 .advc-title {
        --advc-title-font-size: 19px;
      }
    }

    .advc-title {
      font-family: var(--advc-title-font-family);
      color: var(--advc-title-color);
      font-size: var(--advc-title-font-size);
      letter-spacing: var(--advc-title-letter-spacing);
      line-height: var(--advc-title-line-height);
      font-weight: var(--advc-title-font-weight);
      font-style: var(--advc-title-font-style);
    }
  </style>
  <style>
    #shopify-section-17411960342545556080 .advc-body {
      --advc-body-font-family: "Montserrat";
      --advc-body-font-weight: 400;
      --advc-body-font-style: normal;
      --advc-body-color: #000000;
      --advc-body-font-size: 16px;
      --advc-body-letter-spacing: 0em;
      --advc-body-line-height: 1.6;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17411960342545556080 .advc-body {
        --advc-body-font-size: 14px;
      }
    }

    .advc-body {
      font-family: var(--advc-body-font-family);
      color: var(--advc-body-color);
      font-size: var(--advc-body-font-size);
      letter-spacing: var(--advc-body-letter-spacing);
      line-height: var(--advc-body-line-height);
      font-weight: var(--advc-body-font-weight);
      font-style: var(--advc-body-font-style);
    }
  </style>
  <style>
    #shopify-section-17411960342545556080 .advc-btn {
      --advc-btn-font-family: "Montserrat";
      --advc-btn-font-weight: 500;
      --advc-btn-font-style: normal;
      --advc-btn-font-color: #FFFFFF;
      --advc-btn-font-size: 13px;
      --advc-btn-letter-spacing: 0em;
      --advc-btn-line-height: 1.6;
      --advc-btn-background: #111111;
      --advc-btn-border-thickness: 1px;
      --advc-btn-border-opacity: 1;
      --advc-btn-border-radius: 0px;
      --advc-btn-border-outset: 0px;
      --advc-btn-border-color: 0, 0, 0;
      --advc-btn-shadow-color: 0, 0, 0;
      --advc-btn-shadow-opacity: 0;
      --advc-btn-shadow-offset-x: 0px;
      --advc-btn-shadow-offset-y: 4px;
      --advc-btn-shadow-blur: 5px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17411960342545556080 .advc-btn {
        --advc-btn-font-size: 12px;
      }
    }
  </style>
  <style>
    #shopify-section-17411960342545556080 {

      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      --advc-container-padding-top: 60px;
      --advc-container-padding-bottom: 0px;
      --advc-container-padding-right: 40px;
      --advc-container-padding-left: 40px;
      --advc-container-max-width: 1420px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17411960342545556080 {
        margin-top: 0px;
        margin-bottom: 0px;

        margin-left: 0px;
        margin-right: 0px;

        --advc-container-padding-top: 40px;
        --advc-container-padding-bottom: 40px;
        --advc-container-padding-right: 20px;
        --advc-container-padding-left: 20px;
      }
    }
  </style>
  <style>
    #shopify-section-17411960342545556080 {
      --advc-container-background: rgba(237, 237, 237, 1);
    }
  </style>
  <style>
    #shopify-section-17411960342545556080 {
      position: relative;
    }
  </style>
  <div class="advc-cta__bg advc-container-background"></div>
  <script id="advc-cta-17411960342545556080" type="text/json">
    {
      "pc_show": true,
      "mb_show": true,
      "title_scale_ani": false,
      "text_align": "center",
      "btn_align": "bottom",
      "container_bg_color": "#ededed",
      "container_bg_color_gradient": "",
      "container_max_width": 1420,
      "title_font_color": "#000000",
      "title_font_color_gradient": "",
      "title_pc_font_size": 26,
      "title_m_font_size": 19,
      "title_letter_spacing": 0,
      "title_line_height": 1.2,
      "body_font_color": "#000000",
      "body_pc_font_size": 16,
      "body_m_font_size": 14,
      "body_letter_spacing": 0,
      "body_line_height": 1.6,
      "btn_pc_font_size": 13,
      "btn_m_font_size": 12,
      "btn_letter_spacing": 0,
      "btn_line_height": 1.6,
      "btn_font_color": "#FFFFFF",
      "btn_background": "#111111",
      "btn_border_color": "#000000",
      "btn_style": "primary",
      "btn_hover_animation": 1,
      "btn_border_thickness": 1,
      "btn_border_opacity": 100,
      "btn_border_radius": 0,
      "btn_shadow_opacity": 0,
      "btn_shadow_offset_x": 0,
      "btn_shadow_offset_y": 4,
      "btn_shadow_blur": 5,
      "btn_shadow_color": "#000000",
      "container_config": {
        "pc": { "left": 40, "right": 40, "top": 60, "bottom": 0, "lock": false },
        "mobile": { "left": 20, "right": 20, "top": 40, "bottom": 40 }
      },
      "container_margin_config": {
        "pc": { "left": 0, "right": 0, "top": 0, "bottom": 0 },
        "mobile": { "left": 0, "right": 0, "top": 0, "bottom": 0 }
      },
      "bg_image": null,
      "title_font_family": {
        "fallback_families": "sans-serif",
        "family": "Poppins",
        "style": "normal",
        "weight": "600",
        "variants": "600",
        "system": false
      },
      "body_font_family": {
        "fallback_families": "sans-serif",
        "family": "Montserrat",
        "style": "normal",
        "weight": "400",
        "variants": "regular",
        "system": false
      },
      "btn_font_family": {
        "fallback_families": "sans-serif",
        "family": "Montserrat",
        "style": "normal",
        "weight": "500",
        "variants": "500",
        "system": false
      }
    }
  </script>
  <div
    class="advc-cta advc-container section-17411960342545556080 advc-cta--center advc-cta-btn--bottom advc-d-flex advc-d-md-flex"
    data-section-id="17411960342545556080"
    data-section-type="advc-cta"
  >
    <div class="advc-cta__content advc-cta--center">
      <h2 class="advc-cta__title advc-custom-title-tag advc-title">Terms &amp; Conditions:</h2>
    </div>
  </div>
</div>
<div class="shopline-section advc-section advc" id="shopify-section-1741334974943cc6ebd2">
  <style>
    #shopify-section-1741334974943cc6ebd2 .advc-title {
      --advc-title-font-family: "Poppins";
      --advc-title-font-weight: 600;
      --advc-title-font-style: normal;
      --advc-title-color: #000000;
      --advc-title-font-size: 26px;
      --advc-title-letter-spacing: 0em;
      --advc-title-line-height: 1.2;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-1741334974943cc6ebd2 .advc-title {
        --advc-title-font-size: 40px;
      }
    }

    .advc-title {
      font-family: var(--advc-title-font-family);
      color: var(--advc-title-color);
      font-size: var(--advc-title-font-size);
      letter-spacing: var(--advc-title-letter-spacing);
      line-height: var(--advc-title-line-height);
      font-weight: var(--advc-title-font-weight);
      font-style: var(--advc-title-font-style);
    }
  </style>
  <style>
    #shopify-section-1741334974943cc6ebd2 .advc-body {
      --advc-body-font-family: "Montserrat";
      --advc-body-font-weight: 400;
      --advc-body-font-style: normal;
      --advc-body-color: #000000;
      --advc-body-font-size: 16px;
      --advc-body-letter-spacing: 0em;
      --advc-body-line-height: 1.6;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-1741334974943cc6ebd2 .advc-body {
        --advc-body-font-size: 14px;
      }
    }

    .advc-body {
      font-family: var(--advc-body-font-family);
      color: var(--advc-body-color);
      font-size: var(--advc-body-font-size);
      letter-spacing: var(--advc-body-letter-spacing);
      line-height: var(--advc-body-line-height);
      font-weight: var(--advc-body-font-weight);
      font-style: var(--advc-body-font-style);
    }
  </style>
  <style>
    #shopify-section-1741334974943cc6ebd2 .advc-btn {
      --advc-btn-font-family: "Montserrat";
      --advc-btn-font-weight: 500;
      --advc-btn-font-style: normal;
      --advc-btn-font-color: #FFFFFF;
      --advc-btn-font-size: 13px;
      --advc-btn-letter-spacing: 0em;
      --advc-btn-line-height: 1.6;
      --advc-btn-background: #111111;
      --advc-btn-border-thickness: 1px;
      --advc-btn-border-opacity: 1;
      --advc-btn-border-radius: 0px;
      --advc-btn-border-outset: 0px;
      --advc-btn-border-color: 0, 0, 0;
      --advc-btn-shadow-color: 0, 0, 0;
      --advc-btn-shadow-opacity: 0;
      --advc-btn-shadow-offset-x: 0px;
      --advc-btn-shadow-offset-y: 4px;
      --advc-btn-shadow-blur: 5px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-1741334974943cc6ebd2 .advc-btn {
        --advc-btn-font-size: 12px;
      }
    }
  </style>
  <style>
    #shopify-section-1741334974943cc6ebd2 {

      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      --advc-container-padding-top: 30px;
      --advc-container-padding-bottom: 50px;
      --advc-container-padding-right: 40px;
      --advc-container-padding-left: 40px;
      --advc-container-max-width: 1420px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-1741334974943cc6ebd2 {
        margin-top: 0px;
        margin-bottom: 0px;

        margin-left: 0px;
        margin-right: 0px;

        --advc-container-padding-top: 40px;
        --advc-container-padding-bottom: 40px;
        --advc-container-padding-right: 20px;
        --advc-container-padding-left: 20px;
      }
    }
  </style>
  <style>
    #shopify-section-1741334974943cc6ebd2 {
      --advc-container-background: rgba(237, 237, 237, 1);
    }
  </style>
  <style>
    #shopify-section-1741334974943cc6ebd2 {
      position: relative;
    }
  </style>
  <div class="advc-cta__bg advc-container-background"></div>
  <div
    class="advc-cta advc-container section-1741334974943cc6ebd2 advc-cta--left advc-cta-btn--bottom advc-d-flex advc-d-md-flex"
    data-section-id="1741334974943cc6ebd2"
    data-section-type="advc-cta"
  >
    <div class="advc-cta__content advc-cta--left">
      <div class="advc-cta__desc advc-body advc-richtext">
        <div class="pb-6 text-base/6 font-semibold mobile:pb-3 mobile:text-xs/4">
          1. Submission Guidelines<br>
          To maximize your chances of winning, submit high-quality videos (30+ seconds, 1080p or higher) or at least
          five high-resolution photos. Showcase Yarbo in action—snow-blowing, lawn-mowing, or before-and-after shots are
          great! Avoid low-quality, blurry media, short videos, static product photos, or irrelevant content. Successful
          submissions earn 5,000 Yarbo Points!<br>
          <br>
        </div>
        <div class="pb-6 text-base/6 font-semibold mobile:pb-3 mobile:text-xs/4">
          2. How to Earn and Redeem Yarbo Points<br>
          Earn 5,000 Yarbo Points for every approved submission, which can be redeemed for rewards. To see your points,
          please log in to your Yarbo account. In “My account", you can see your Available Points, Redeemed Points and
          Used Rewards. Please note that products and accessories can only be redeemed if you have enough points to meet
          the required amount.<br>
          <br>
        </div>
        <div class="pb-6 text-base/6 font-semibold mobile:pb-3 mobile:text-xs/4">
          3. Others<br>
          All entries will be displayed in the Vote Gallery. Winners will be selected based on votes, creativity, and
          quality. By submitting, you grant Yarbo the right to use and modify your content. Ensure your entry is
          original and free of copyrighted materials. Infringing content will be disqualified. No explicit, violent, or
          illegal material is allowed.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shopline-section section" id="shopify-section-17423653696083781a56">
  <style>
    #shopify-section-17423653696083781a56.section-padding,
    #shopify-section-17423653696083781a56 .section-padding {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    @media only screen and (max-width: 959px) {

      #shopify-section-17423653696083781a56.section-padding,
      #shopify-section-17423653696083781a56 .section-padding {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  </style>
  <style>
    #shopify-section-17423653696083781a56 {
      background-color: rgba(0, 0, 0, 0);
    }

    /* 375-679px */
    @media (max-width: 679px) {
      #shopify-section-17423653696083781a56 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 680-959px */
    @media (min-width: 680px) and (max-width: 959px) {
      #shopify-section-17423653696083781a56 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 960-1439px */
    @media (min-width: 960px) and (max-width: 1439px) {
      #shopify-section-17423653696083781a56 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 1440-1919px */
    @media (min-width: 1440px) and (max-width: 1919px) {
      #shopify-section-17423653696083781a56 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 1920px+ */
    @media (min-width: 1920px) {
      #shopify-section-17423653696083781a56 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  </style>
  <div class="section-padding rte color-scheme-none">
    <style>
      h1.ugcbanner-title {
        font-size: 3rem;
        line-height: 3.625rem;
        font-weight: 700;
      }

      h2.advc-cta__title.advc-title {
        font-size: 2.25rem !important;
        line-height: 2.5rem;
      }

      section.section-tabs-comment>h2 {
        font-size: 2rem;
        line-height: 2.375rem;
        font-weight: 700;
      }

      section.section-tabs-comment {
        max-width: 106rem !important;
      }

      .advc-cta__desc.advc-body.advc-richtext {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
        font-family: 'NunitoSans';
      }

      .ugcbanner-buttons {
        gap: 0.625rem;
      }

      @media screen and (max-width:1800px) {
        .ugcbanner-container {
          aspect-ratio: 1920 / 720;
          min-height: auto !important;
        }
      }

      .ugcbanner-more-tips {
        margin-right: 0 !important;
      }

      .pb-6.text-base\/6.font-semibold.mobile\:pb-3.mobile\:text-xs\/4 {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-family: NunitoSans, "ui-sans-serif", "system-ui", "sans-serif";
      }

      img.ugcbanner-img-pc {
        height: auto;
      }

      p.ugcbanner-desc {
        font-size: 1.25rem;
        margin-top: 3.25rem;
        line-height: 1.75rem;
      }

      button.ugcbanner-buttons-tips {
        font-size: .875rem;
        line-height: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
      }

      .ugcbanner-more {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 1rem;
        gap: 2.5rem;
      }

      .tab {
        font-size: .75rem !important;
        line-height: 1 !important;
      }

      button.ugcbanner-buttons-share {
        font-size: 1.875rem;
        line-height: 3.75rem;
        font-weight: 600;
        font-family: NunitoSans, "ui-sans-serif", "system-ui", "sans-serif";
        padding: 0 3.5rem;
      }

      .advc-cta__bg.advc-container-background {
        background: rgb(245 245 245) !important;
      }

      .advc-carousel-images-with-text__item-description.advc-body.advc-richtext {
        color: rgb(2 6 11) !important;
      }

      .advc-carousel-images-with-text.advc-container {
        padding-bottom: 6.0625rem !important;
      }

      .advc-carousel-images-with-text.advc-container ul li.splide__slide--clone {
        display: none !important;
      }

      .advc-carousel-images-with-text.advc-container ul li {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        justify-content: center;
      }

      .advc-carousel-images-with-text__item-description.advc-body.advc-richtext {
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        font-family: NunitoSans, "ui-sans-serif", "system-ui", "sans-serif";
      }

      .advc-carousel-images-with-text__item-description.advc-body.advc-richtext {
        margin-top: 0;
      }

      .advc-carousel-images-with-text.advc-container ul {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 4.5rem;
        display: grid;
        transform: translateX(0) !important;
        width: 100%;
      }

      .advc-carousel-images-with-text.advc-container ul li {
        margin-right: 0 !important;
        width: 100%;
      }

      .advc-carousel-images-with-text__item-image {
        aspect-ratio: 296 / 171;
      }

      .advc-global-image.is-scale {
        padding: 0 !important;
      }

      @media (min-width: 1024px) {
        .advc-carousel-images-with-text.advc-container {
          padding-left: 48PX !important;
          padding-right: 48PX !important;
          max-width: 93.5rem !important;
        }
      }

      @media screen and (max-width:959px) {
        .advc-carousel-images-with-text.advc-container {
          max-width: 93.5rem;
          padding: 0;
        }

        .advc-carousel-images-with-text__item-image {
          aspect-ratio: 296 / 171;
        }

        .advc-carousel-images-with-text.advc-container {
          pointer-events: none;
        }

        .advc-carousel-images-with-text__item-image {
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.75rem;
        }
      }

      @media screen and (max-width:767px) {
        .advc-carousel-images-with-text.advc-container ul {
          grid-template-columns: repeat(2, minmax(0, 1fr));
          gap: 0.625rem;
        }

        .advc-carousel-images-with-text__item-image {
          aspect-ratio: 166 / 136;
        }

        .advc-carousel-images-with-text.advc-container {
          padding: 0 16px !important;
        }

        .advc-carousel-images-with-text__item-description.advc-body.advc-richtext {
          font-size: .75rem;
          line-height: 1rem;
        }

        h1.ugcbanner-title {
          font-size: 1.625rem;
          line-height: 1.9375rem;
        }

        p.ugcbanner-desc {
          font-size: .875rem;
          line-height: 1.25rem;
          margin-top: 1.25rem;
        }

        button.ugcbanner-buttons-share {
          font-size: 1.125rem;
          line-height: 3rem;
          padding-left: 2.25rem;
          padding-right: 2.25rem;
        }

        .ugcbanner-more {
          gap: 1.375rem;
        }

        .advc-cta__desc.advc-body.advc-richtext>span {
          font-size: .75rem !important;
          font-family: NunitoSans, "ui-sans-serif", "system-ui", "sans-serif";
        }

        h2.advc-cta__title.advc-title {
          font-size: 1.625rem !important;
          line-height: 1.9375rem;
          font-family: 'NunitoSans' !important;
          font-weight: 700 !important;
        }
      }
    </style>
  </div>
</div>
