

<div class="shopline-section section nsa-accesstive" id="shopify-section-175688183261798e9aa1">
  <style>
    #shopify-section-175688183261798e9aa1 {
      background-color: #f5f5f5;
    }

    /* 375-679px */
    @media (max-width: 679px) {
      #shopify-section-175688183261798e9aa1 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 680-959px */
    @media (min-width: 680px) and (max-width: 959px) {
      #shopify-section-175688183261798e9aa1 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 960-1439px */
    @media (min-width: 960px) and (max-width: 1439px) {
      #shopify-section-175688183261798e9aa1 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 1440-1919px */
    @media (min-width: 1440px) and (max-width: 1919px) {
      #shopify-section-175688183261798e9aa1 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    /* 1920px+ */
    @media (min-width: 1920px) {
      #shopify-section-175688183261798e9aa1 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  </style>
  <style>
    .yb-banner-swiper-title {
      color: #fff;
    }
    #yb-banner-swiper__175688183261798e9aa1 .splide {
      --fill-duration: 6s;
    }
    #yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-splide__track {
      z-index: unset;
    }
    #yb-banner-swiper__175688183261798e9aa1 .subscribe-popup-container.subscribe-popup-new {
      position: absolute;
    }
    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy-text {
      position: relative;
    }
    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-input {
      color: rgb(var(--color-text, inherit));
    }

    /* 订阅框样式修复 */
    #yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-subscription-wrapper {
      width: 100%;
      max-width: 600px;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo {
      width: 100%;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-input-wrapper {
      width: 100%;
      max-width: 600px;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-desc {
      margin-bottom: 12px;
      color: rgb(var(--color-text, inherit));
    }

    /* 修复 policy 区域样式 */
    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy {
      margin-top: 12px;
      width: 100%;
      max-width: 482px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy-text {
      flex: 1;
      min-width: 0;
      word-wrap: break-word;
      white-space: normal;
      line-height: 1.5;
      font-size: 12px;
      color: #fff !important;
      display: inline;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-checkbox-wrapper {
      flex-shrink: 0;
      margin-right: 8px;
      margin-top: 2px;
    }

    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-link {
      color: #fff !important;
      text-decoration: underline !important;
    }

    /* 确保绝对定位时的容器宽度 */
    #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-absolute {
      width: 100%;
      max-width: 600px;
    }

    /* 响应式调整 */
    @media (max-width: 959px) {
      #yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-subscription-wrapper {
        max-width: 100%;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-input-wrapper {
        max-width: 100%;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy {
        max-width: 100%;
      }
    }
  </style>
  <div class="yb-banner-swiper yb-banner-swiper__basic-size nsa-accesstive" id="yb-banner-swiper__175688183261798e9aa1">
    <div class="yb-banner-swiper__splide splide nsa-accesstive" data-speed="6">
      <div class="splide__track yb-banner-swiper-splide__track nsa-accesstive">
        <ul class="splide__list yb-banner-swiper-splide__list nsa-accesstive">
          <style>
            body {
              overflow-x: hidden !important;
            }
            .yb-banner-swiper .subscribe-country-list-wrapper {
              top: -200px !important;
            }
            @media screen and (max-width: 959px) {
              #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-text-container {
                text-align: center;
              }
              #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-titles {
                margin-bottom: auto;
              }
              #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-stats,
              #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-cta,
              #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-subscribe-klaviyo-input-wrapper {
                margin-left: auto;
                margin-right: auto;
              }
              #block-1756881832620e85c08d[data-mobile_layout='style2'] .yb-banner-swiper-titles {
                margin-top: auto;
              }
              #block-1756881832620e85c08d[data-mobile_layout='style2'] .yb-banner-swiper-text-container {
                text-align: left;
                margin-bottom: 12px;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='center']
                .yb-subscribe-klaviyo
                .yb-subscribe-klaviyo-desc {
                text-align: center;
              }
            }
            @media (min-width: 960px) {
              #block-1756881832620e85c08d .yb-banner-swiper-text-container {
                width: 50%;
              }
              /* 居中布局 */
              #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-titles > * {
                margin: 12px auto;
                text-align: center;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-cta {
                display: flex;
                justify-content: center;
              }

              /* 左侧布局 */
              #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-titles > * {
                margin-right: auto;
                text-align: left;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-cta {
                display: flex;
                justify-content: flex-start;
              }

              /* 右侧布局 */
              #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-titles > * {
                margin-left: auto;
                text-align: right;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-cta {
                display: flex;
                justify-content: flex-end;
              }
              /* 居中布局 - 响应式部分 */
              #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-stats {
                display: flex;
                justify-content: center;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='center']
                .yb-subscribe-klaviyo
                .yb-subscribe-klaviyo-desc {
                margin: 40px auto 12px auto;
                text-align: center;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='center']
                .yb-subscribe-klaviyo
                .yb-subscribe-klaviyo-input-wrapper {
                margin: 0 auto;
              }

              /* 左侧布局 - 响应式部分 */
              #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-stats {
                display: flex;
                justify-content: flex-start;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='left']
                .yb-subscribe-klaviyo
                .yb-subscribe-klaviyo-desc {
                margin-right: auto;
                text-align: left;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='left']
                .yb-subscribe-klaviyo
                .yb-subscribe-klaviyo-input-wrapper {
                margin-right: auto;
              }

              /* 右侧布局 - 响应式部分 */
              #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-stats {
                display: flex;
                justify-content: flex-end;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='right']
                .yb-subscribe-klaviyo
                .yb-subscribe-klaviyo-desc {
                margin-left: auto;
                text-align: right;
              }
              #block-1756881832620e85c08d[data-text_horizontal_position='right']
                .yb-subscribe-klaviyo
                .yb-subscribe-klaviyo-input-wrapper {
                margin-left: auto;
              }
              .block-li-1756881832620e85c08d[data-text_vertical_position='top'] {
                justify-content: start;
              }
              .block-li-1756881832620e85c08d[data-text_vertical_position='center'] {
                justify-content: center;
              }
              .block-li-1756881832620e85c08d[data-text_vertical_position='bottom'] {
                justify-content: end;
              }
            }
          </style>
          <li
            class="yb-banner-swiper-li splide__slide block-li-1756881832620e85c08d nsa-accesstive"
            data-text_vertical_position="center"
          >
            <!-- 移动端图片容器 -->
            <div class="yb-banner-swiper-mobile-image nsa-accesstive">
              <img
                class="yb-banner-swiper-img nsa-accesstive"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="high"
                height="1296"
                loading="eager"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1749794776.png?v=1772521110"
                width="750"
              >
            </div>
            <!-- 桌面端图片容器 -->
            <div class="yb-banner-swiper-desktop-image nsa-accesstive">
              <img
                alt=""
                class="yb-banner-swiper-img nsa-accesstive"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="high"
                height="1440"
                loading="eager"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1749794775.png?v=1772521106"
                width="3840"
              >
            </div>
            <main
              class="yb-banner-swiper-main yb-section-container yb-banner-swiper-width nsa-accesstive"
              data-mobile_layout="style1"
              data-text_horizontal_position="left"
              data-text_vertical_position="center"
              id="block-1756881832620e85c08d"
            >
              <div class="yb-banner-swiper-titles yb-banner-swiper__basic-size nsa-accesstive">
                <!-- 主标题 -->
                <h2 class="yb-banner-swiper-title yb-banner-swiper-text-container nsa-accesstive">
                  <div
                    class="nsa-accesstive"
                    data-docx-has-block-data="false"
                    data-lark-html-role="root"
                    data-page-id="KCo8dgQ4SoysqUxNlZlchTcnnvb"
                  >
                    <div class="old-record-id-GlMYdKiW0oHTpwxAy4Wcwunfnkd nsa-accesstive">
                      <div
                        class="nsa-accesstive"
                        data-docx-has-block-data="false"
                        data-lark-html-role="root"
                        data-page-id="QJBTdm9A6otDJZxehe6c17Y6nec"
                      >
                        <div class="old-record-id-PZ2DdWCfgoJCG7xJ3NWctzdEnNb nsa-accesstive">
                          <div
                            class="nsa-accesstive"
                            data-docx-has-block-data="false"
                            data-lark-html-role="root"
                            data-page-id="LwWidRfEdovHRoxntI0cuKW2nDb"
                          >
                            <div class="ace-line old-record-id-Vr2nd14l0otPxvxJyOhcZG3hntf nsa-accesstive">
                              <div
                                class="nsa-accesstive"
                                data-docx-has-block-data="false"
                                data-lark-html-role="root"
                                data-page-id="LwWidRfEdovHRoxntI0cuKW2nDb"
                              >
                                <div class="ace-line old-record-id-OWbrdN1jXor56JxCe7oc4t50nJb nsa-accesstive">
                                  Final Hours: <br>
                                  Winter Kickoff Ends Tonight
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </h2>
                <!-- 副标题 -->
                <div class="yb-banner-swiper-subtitle yb-banner-swiper-text-container nsa-accesstive">
                  <div
                    class="nsa-accesstive"
                    data-docx-has-block-data="false"
                    data-lark-html-role="root"
                    data-page-id="KCo8dgQ4SoysqUxNlZlchTcnnvb"
                  >
                    <div class="old-record-id-FrtrdQ3PwoPPR4xsXgac8Y09nZe nsa-accesstive">
                      <div
                        class="nsa-accesstive"
                        data-docx-has-block-data="false"
                        data-lark-html-role="root"
                        data-page-id="QJBTdm9A6otDJZxehe6c17Y6nec"
                      >
                        <div class="old-record-id-PZ2DdWCfgoJCG7xJ3NWctzdEnNb nsa-accesstive">
                          <div
                            class="nsa-accesstive"
                            data-docx-has-block-data="false"
                            data-lark-html-role="root"
                            data-page-id="QJBTdm9A6otDJZxehe6c17Y6nec"
                          >
                            <div class="ace-line old-record-id-SY8ndhz3OoflDgxAk5ZcC4Bsn3f nsa-accesstive">
                              <div
                                class="nsa-accesstive"
                                data-docx-has-block-data="false"
                                data-lark-html-role="root"
                                data-page-id="LwWidRfEdovHRoxntI0cuKW2nDb"
                              >
                                <div class="ace-line old-record-id-NJgEdndn7ovO53xenAhcuhMwnYg nsa-accesstive">
                                  <div
                                    class="nsa-accesstive"
                                    data-docx-has-block-data="false"
                                    data-lark-html-role="root"
                                    data-page-id="LwWidRfEdovHRoxntI0cuKW2nDb"
                                  >
                                    <div class="ace-line old-record-id-PcOmdEsnpo7KHZxgNXLcd8FdnRg nsa-accesstive">
                                      When it snows, Yarbo goes. Winter is worry-free.
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 数据统计区 -->
              <!-- 操作按钮区 -->
              <div class="yb-banner-swiper-cta nsa-accesstive">
                <div class="yb-banner-swiper-cta_content yb-banner-swiper__basic-size nsa-accesstive">
                  <!--  -->
                  <!--  -->
                </div>
              </div>
              <!-- 订阅框区 -->
              <div class="yb-banner-swiper-subscription-wrapper nsa-accesstive">
                <style>
                  /* 让 policy 文本与输入框同宽并自动换行 */
                  .yb-subscribe-klaviyo-policy {
                    width: 344px;
                    word-wrap: break-word;
                    line-height: 1.5;
                  }

                  .yb-subscribe-klaviyo-policy-text {
                    display: inline;
                  }

                  /* 响应式宽度 */
                  @media (min-width: 680px) and (max-width: 959px) {
                    .yb-subscribe-klaviyo-policy {
                      width: 381px;
                    }
                  }

                  @media (min-width: 960px) and (max-width: 1439px) {
                    .yb-subscribe-klaviyo-policy {
                      width: 482px;
                    }
                  }

                  @media (min-width: 1440px) {
                    .yb-subscribe-klaviyo-policy {
                      width: 482px;
                    }
                  }

                  @media (max-width: 679px) {
                    .yb-subscribe-klaviyo-policy {
                      width: 100%;
                    }
                  }
                </style>
                <yb-subscribe-klaviyo class="yb-subscribe-klaviyo nsa-accesstive" data-email-only="true">
                  <div
                    class="yb-subscribe-klaviyo-input-wrapper yb-subscribe-klaviyo-input-email subscribe-tel-input nsa-accesstive"
                    data-step="email"
                  >
                    <div class="yb-subscribe-klaviyo-prefix nsa-accesstive">
                      <svg fill="none" height="20" viewbox="0 0 21 20" width="21" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 2.25C2.30964 2.25 1.75 2.80964 1.75 3.5V16.5C1.75 17.1904 2.30964 17.75 3 17.75H18C18.6904 17.75 19.25 17.1904 19.25 16.5V3.5C19.25 2.80964 18.6904 2.25 18 2.25H3ZM3.25 6.89965V3.75H17.75V6.9002L17.7114 6.80762L10.4999 9.81242L3.28835 6.80762L3.25 6.89965ZM3.25 8.41664L9.97104 11.2171C10.3095 11.3581 10.6903 11.3581 11.0287 11.2171L17.75 8.41654V16.25H3.25V8.41664Z" fill="#ACACAC"></path>
                      </svg>
                    </div>
                    <input class="yb-subscribe-klaviyo-input nsa-accesstive" placeholder="Email">
                    <div class="yb-subscribe-klaviyo-suffix nsa-accesstive" data-email-type="" data-klaviyo-list-id="">
                      Subscribe
                    </div>

                    <div class="subscribe-country-list-wrapper nsa-accesstive">
                      <ul class="subscribe-country-list nsa-accesstive" role="listbox" style="" tabindex="0">
                        <li class="search nsa-accesstive">
                          <input
                            autocomplete="off"
                            class="search-box nsa-accesstive"
                            placeholder="search"
                            type="search"
                            value=""
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="yb-subscribe-klaviyo-errors nsa-accesstive"></div>
                  </div>
                  <div class="yb-subscribe-klaviyo-policy nsa-accesstive">
                    <div class="yb-subscribe-klaviyo-checkbox-wrapper yb-subscribe-klaviyo-checkbox-checked nsa-accesstive">
                      <input
                        checked=""
                        class="yb-subscribe-klaviyo-checkbox nsa-accesstive"
                        name="subscribe"
                        type="checkbox"
                      >
                    </div>
                    <span class="yb-subscribe-klaviyo-policy-text nsa-accesstive">
                      I understand the<a class="yb-subscribe-klaviyo-link" href="/legal/privacy-policy"
                        >Privacy Policy</a
                      >and agree to receive personalized messages from Yarbo by email or SMS.
                    </span>
                  </div>

                  <style>
                    .subscribe-popup-features {
                      display: flex;
                      color: #000;
                      font-size: 0.625rem;
                      gap: 0.5rem;
                      justify-content: center;
                      flex-wrap: wrap;
                      margin: 0.5rem 0;
                      padding: 0 1rem;
                    }

                    .subscribe-popup-feature {
                      display: flex;
                      align-items: center;
                      gap: 0.25rem;
                      white-space: nowrap;
                      flex-shrink: 0;
                    }

                    .checkmark-circle {
                      display: inline-flex;
                      align-items: center;
                      justify-content: center;
                      width: 16px;
                      height: 16px;
                      background-color: #ffd700;
                      color: #333;
                      border-radius: 50%;
                      font-size: 10px;
                      font-weight: bold;
                      flex-shrink: 0;
                    }

                    /* 移动端适配 */
                    @media (max-width: 768px) {
                      .subscribe-popup-features {
                        flex-direction: column;
                        gap: 0.375rem;
                        align-items: flex-start;
                        justify-content: flex-start;
                        font-size: 0.75rem;
                        padding-left: 5rem;
                        margin-left: 1rem;
                      }

                      .subscribe-popup-feature {
                        gap: 0.375rem;
                      }

                      .checkmark-circle {
                        width: 18px;
                        height: 18px;
                        font-size: 11px;
                      }
                    }

                    @media (max-width: 480px) {
                      .subscribe-popup-features {
                        font-size: 0.7rem;
                        gap: 0.25rem;
                        padding-left: 5rem;
                        margin-left: 0.75rem;
                      }

                      .checkmark-circle {
                        width: 16px;
                        height: 16px;
                        font-size: 10px;
                      }
                    }
                  </style>
                  <div class="subscribe-popup-container nsa-accesstive">
                    <div class="subscribe-popup-wrapper nsa-accesstive">
                      <div class="subscribe-popup-header nsa-accesstive">
                        <div class="subscribe-popup-close-icon nsa-accesstive">
                          <svg
                            fill="none"
                            height="20"
                            viewbox="0 0 41 41"
                            width="20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M22.3739 20.3879L34.4977 8.26409C34.6218 8.13997 34.6218 7.93977 34.4977 7.81565L33.2645 6.58245C33.1404 6.45832 32.9402 6.45832 32.816 6.58245L20.6922 18.7063C20.6322 18.7663 20.5281 18.7663 20.468 18.7063L8.34016 6.57844C8.21604 6.45432 8.01584 6.45432 7.89172 6.57844L6.65852 7.81165C6.5344 7.93577 6.5344 8.13596 6.65852 8.26008L18.7823 20.3839C18.8424 20.444 18.8424 20.5481 18.7823 20.6081L6.65852 32.74C6.5344 32.8641 6.5344 33.0643 6.65852 33.1884L7.89172 34.4216C8.01584 34.5457 8.21604 34.5457 8.34016 34.4216L20.464 22.2978C20.524 22.2377 20.6281 22.2377 20.6882 22.2978L32.812 34.4216C32.9362 34.5457 33.1364 34.5457 33.2605 34.4216L34.4937 33.1884C34.6178 33.0643 34.6178 32.8641 34.4937 32.74L22.3739 20.6121C22.3138 20.5521 22.3138 20.448 22.3739 20.3879Z" fill="#333333"></path>
                          </svg>
                        </div>
                        <div class="subscribe-popup-header-title nsa-accesstive">Thank you for subscribing.</div>
                        <div class="subscribe-popup-header-subtitle nsa-accesstive">
                          Please check your email for details. <br>
                          *Don't forget to check your spam folder.
                        </div>
                      </div>
                      <div class="subscribe-popup-bottom nsa-accesstive">
                        <div class="subscribe-popup-content nsa-accesstive">
                          <div class="subscribe-popup-product-title nsa-accesstive">
                            Join Our Exclusive Facebook Group
                          </div>
                          <div class="subscribe-popup-features nsa-accesstive">
                            <div class="subscribe-popup-feature nsa-accesstive">
                              <span class="checkmark-circle nsa-accesstive">✓</span>
                              <span class="nsa-accesstive">Talk to Active Users</span>
                            </div>
                            <div class="subscribe-popup-feature nsa-accesstive">
                              <span class="checkmark-circle nsa-accesstive">✓</span>
                              <span class="nsa-accesstive">Pop-Up Giveaway Events</span>
                            </div>
                            <div class="subscribe-popup-feature nsa-accesstive">
                              <span class="checkmark-circle nsa-accesstive">✓</span>
                              <span class="nsa-accesstive">Chat with Team Yarbo</span>
                            </div>
                          </div>
                          <div class="subscribe-popup-description2 nsa-accesstive">
                            <img
                              class="subscribe-popup-desc-icon nsa-accesstive"
                              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/aa5.png?v=1772520383"
                            >
                            Private group · 33.0K members
                          </div>
                          <img
                            class="subscribe-popup-desc-icon2 nsa-accesstive"
                            src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/aa6.png?v=1772520401"
                          >
                        </div>
                        <a
                          class="subscribe-popup-join"
                          href="https://www.facebook.com/groups/1714379818996666/"
                          target="_blank"
                        >
                          <span>Join Now</span>
                          <img
                            alt=""
                            class="subscribe-popup-icon4"
                            src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/hand1.png?v=1772520415"
                          >
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="subscribe-popup-container-recheck nsa-accesstive">
                    <div class="subscribe-popup-container-recheck-content nsa-accesstive">
                      <div class="subscribe-popup-container-recheck-title nsa-accesstive">Email Check Needed</div>
                      <div class="subscribe-popup-container-recheck-info nsa-accesstive">
                        We are unable to verify your email address. <br>
                        Please check if the email
                        <span class="subscribe-popup-container-recheck-email nsa-accesstive">asdla23@qq.com</span>
                        is correct.
                      </div>
                      <div class="subscribe-popup-container-recheck-bottom nsa-accesstive">
                        <div class="subscribe-popup-container-recheck-clear nsa-accesstive">Re-enter my email</div>
                        <div class="subscribe-popup-container-recheck-line nsa-accesstive"></div>
                        <div class="subscribe-popup-container-recheck-checked nsa-accesstive">Yes, it is correct</div>
                      </div>
                    </div>
                  </div>
                </yb-subscribe-klaviyo>
              </div>
            </main>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <style>
    body {
      overflow-x: hidden;
    }
  </style>
  <script>
    const video175688183261798e9aa1mobiles = document.querySelectorAll(
      '#shopify-section-175688183261798e9aa1 video.yb-banner-swiper-mobile-video'
    );
    video175688183261798e9aa1mobiles.forEach((video) => {
      const image175688183261798e9aa1mobile = video.nextElementSibling;
      if (
        image175688183261798e9aa1mobile &&
        image175688183261798e9aa1mobile.classList.contains('yb-banner-swiper-mobile-image')
      ) {
        video.addEventListener('play', function () {
          image175688183261798e9aa1mobile.style.display = 'none';
        });
      }
    });
    const video175688183261798e9aa1PC = document.querySelectorAll(
      '#shopify-section-175688183261798e9aa1 video.yb-banner-swiper-desktop-video'
    );
    video175688183261798e9aa1PC.forEach((video) => {
      const image175688183261798e9aa1PC = video.nextElementSibling;
      if (
        image175688183261798e9aa1PC &&
        image175688183261798e9aa1PC.classList.contains('yb-banner-swiper-desktop-image')
      ) {
        video.addEventListener('play', function () {
          image175688183261798e9aa1PC.style.display = 'none';
        });
      }
    });
    window.addEventListener('scroll', function () {
      const element = document.querySelector('#yb-banner-swiper-mobile-cta-container__175688183261798e9aa1');
      if (!element) return;
      const scrollY = window.scrollY || document.documentElement.scrollTop;
      const mobileImage = document.querySelector('#yb-banner-swiper__175688183261798e9aa1 #yb-banner-mobile-image');
      const rect = mobileImage.getBoundingClientRect(); // 获取视口内坐标
      const topFromPage = rect.top; // 最终距离页面顶部的值
      if (rect.bottom <= 0) {
        // 滚动超过 100px 时触发吸顶
        element.classList.add('yb-banner-swiper-fixed-btns__operate');
      } else {
        element.classList.remove('yb-banner-swiper-fixed-btns__operate');
      }
    });

    // 锚点点击事件处理
    function initAnchorLinks() {
      document
        .querySelectorAll('#yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-anchor-link')
        .forEach((link) => {
          link.addEventListener('click', function (e) {
            e.preventDefault();
            const anchorId = this.getAttribute('data-anchor-id');
            if (!anchorId) return;

            const anchorElement = document.getElementById(`shopify-section-${anchorId}`);
            if (anchorElement) {
              window.scrollTo({
                top: anchorElement.offsetTop - 120,
                behavior: 'smooth',
              });
            } else {
              console.warn(`[yb-banner-swiper] 未找到对应的锚点元素: shopify-section-${anchorId}`);
            }
          });
        });
    }

    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', initAnchorLinks);
    } else {
      initAnchorLinks();
    }
  </script>
</div>
