<custom-select aria-required="true" placeholder="{{ placeholder }}" {% if selected != blank %}selected="{{ selected }}"{% endif %}>
  <div class="select-container">
    <div class="select-trigger placeholder">
      <span>{{ placeholder }}</span>
      <span class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </span>
    </div>

    <div class="select-options">
      {{ options_content }}
    </div>
  </div>
</custom-select>
