
<link href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-custom_3a7807cc-b6c3-4ba4-9e7b-1f0f74823c3d.css" media="all" rel="stylesheet" type="text/css"/>
<link href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-rich-directory-view.css" media="all" rel="stylesheet" type="text/css"/>

<style>
  .image-container img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    .hidden-phone {
      display: none !important;
    }
  }

  @media screen and (min-width: 769px) {
    .hidden-tablet-and-up {
      display: none !important;
    }
  }

  iframe {
    border: none;
  }
</style>

<div>
<div class="image-container">
<img class="hidden-phone" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/43.png?v=1772520939"/>
<img class="hidden-tablet-and-up" src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-2036456244_750x_344f0a21-24c5-463d-8c7e-42cb52a12277.png?v=1772522760"/>
</div>
<div class="shopline-section section nsa-accesstive" id="shopify-section-174660507077902b7f3d">

<style>
      #shopify-section-174660507077902b7f3d {
        background-color: rgba(0, 0, 0, 0);
      }

      /* 375-679px */
      @media (max-width: 679px) {
        #shopify-section-174660507077902b7f3d {
          padding-top: 20px;
          padding-bottom: 30px;
        }
      }

      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-174660507077902b7f3d {
          padding-top: 32px;
          padding-bottom: 48px;
        }
      }

      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-174660507077902b7f3d {
          padding-top: 32px;
          padding-bottom: 48px;
        }
      }

      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-174660507077902b7f3d {
          padding-top: 40px;
          padding-bottom: 60px;
        }
      }

      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-174660507077902b7f3d {
          padding-top: 60px;
          padding-bottom: 90px;
        }
      }
    </style>
<div class="yb-section-container nsa-accesstive">
<div class="perfect-section nsa-accesstive">
<div class="perfect-section-box flex-col nsa-accesstive">
<div class="perfect-cards-div nsa-accesstive" style="grid-template-columns: repeat(4, 1fr);">
<div class="perfect-card nsa-accesstive" style="
                align-items: center;
                justify-content: center;
              background-image: url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-2036456245.png?v=1772522765'); background-size: cover; background-position: center;">
<h4 class="perfcet-card-text text-center nsa-accesstive" style="color: #FFFFFF;"></h4>
</div>
<div class="perfect-card nsa-accesstive" style="
                align-items: center;
                justify-content: center;
              background-image: url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-2036456246.png?v=1772522770'); background-size: cover; background-position: center;">
<h4 class="perfcet-card-text text-center nsa-accesstive" style="color: #FFFFFF;"></h4>
</div>
<div class="perfect-card nsa-accesstive" style="
                align-items: center;
                justify-content: center;
              background-image: url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-2036456247.png?v=1772522774'); background-size: cover; background-position: center;">
<h4 class="perfcet-card-text text-center nsa-accesstive" style="color: #FFFFFF;"></h4>
</div>
<div class="perfect-card nsa-accesstive" style="
                align-items: center;
                justify-content: center;
              background-image: url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-2036456248.png?v=1772522779'); background-size: cover; background-position: center;">
<h4 class="perfcet-card-text text-center nsa-accesstive" style="color: #FFFFFF;"></h4>
</div>
</div>
</div>
</div>
</div>
<style>
      #shopify-section-174660507077902b7f3d .perfcet-card-text.text-center {
        text-align: center;
      }

      #shopify-section-174660507077902b7f3d .perfcet-card-text.text-flex-start {
        text-align: left;
      }

      #shopify-section-174660507077902b7f3d .perfcet-card-text.text-flex-end {
        text-align: right;
      }

      #shopify-section-174660507077902b7f3d .perfect-card {
        width: 100%;
        height: 100%;
      }

      .perfect-section {
        background-color: rgba(0, 0, 0, 0) !important;
      }

      .perfect-card {
        display: flex;
      }

      @media screen and (max-width: 959px) {
        .perfect-cards-div {
          grid-template-columns: repeat(2, 1fr) !important;
          gap: 8px;
        }
      }

      @media screen and (max-width: 679px) {
        .yebo-core-btn-div {
          margin: 0px;
        }
      }
    </style>
</div>
<iframe height="1000px" id="DearlerForm" src="https://forms.zohopublic.com/yarbo/form/DealerApplication/formperma/tP-a7e7BFBajiYm5nwSIQXGtFSIzLq1ueH-xCSpk54A" style="width: 100%" title="Yarbo Dealer Application Form" width="100%"></iframe>
</div>


{% schema %}
{
  "name": "Become A dealer Kr"

}
{% endschema %}
