{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_223bf385-ef7c-40c3-82e5-833dddfd1855.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ee0e93f3-0431-46cb-a624-35daae31c826.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-section-common.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-banner-swiper.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-countdown.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/component-card.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/component-price.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-image-text-swiper.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/faq-new.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-video2_875cea7d-b93d-4d99-bbd4-0c518987d22e.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall_72ccc081-c134-4698-bcdc-6003d9c4d774.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall-scroll_ee0be0a0-0a04-4f3a-9613-5014fc633558.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<style>
  #shopify-section-{{ section.id }} {
    overflow-x: hidden;
  }
</style>
<div class="migrated-page">
  {% render 'page-black-friday-2025-1' %}
  {% render 'page-black-friday-2025-2' %}
  {% render 'page-black-friday-2025-3' %}
</div>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ed91e4e0-7924-425e-9e88-5e9d0b914bd4.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_8fbe9c70-a659-4943-b0df-b8e38e01e7a2.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-countdown.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-image-text-swiper.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall-scroll_588feedb-a84d-4673-b588-2cecf8c1523d.js"
></script>

{% schema %}
{
  "name": "page bf-2025-sale"

}
{% endschema %}
