{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}
<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_0d79c694-2302-4336-9da8-e3f8db4b54a4.css"
>
<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_3308300c-dc24-4cc1-8c5d-a50436e71724.css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_223bf385-ef7c-40c3-82e5-833dddfd1855.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ee0e93f3-0431-46cb-a624-35daae31c826.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-section-common.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>

<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-banner-swiper.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-swiper-with-modal.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb_snippet_modal.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-product-flip-display.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/component-card.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/component-price.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/trademarks-list.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-case-studies.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-video2_875cea7d-b93d-4d99-bbd4-0c518987d22e.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall_72ccc081-c134-4698-bcdc-6003d9c4d774.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall-scroll_ee0be0a0-0a04-4f3a-9613-5014fc633558.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>

<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.js"
  defer
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ed91e4e0-7924-425e-9e88-5e9d0b914bd4.js"
  defer
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_8fbe9c70-a659-4943-b0df-b8e38e01e7a2.js"
  defer
></script>
<script src="https://asset.fwcdn3.com/js/embed-feed.js" type="text/javascript" async></script>

<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-anchor.js"
  async
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-swiper-with-modal.js"
  defer
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb_snippet_modal.js"
  defer
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-product-flip-display.js"
  async
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/trademarks-list.js"
  defer
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-case-studies.js"
  defer
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall-scroll_588feedb-a84d-4673-b588-2cecf8c1523d.js"
  defer
></script>
<div class="migrated-page">
  {% render 'campaign-5-year-pledge-1' %}
  {% render 'campaign-5-year-pledge-2' %}
  {% render 'campaign-5-year-pledge-3' %}
</div>
{% schema %}
{
  "name": "campaign-5-year-pledge"

}
{% endschema %}
