{% if cart == empty %}
  <span class='svg-wrapper'>
    <svg
      width='24'
      class='icon icon--header-cart'
      height='24'
      viewBox='0 0 24 24'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
    >
      <path d="M7.5 15.4286H19.875L21 7.42857H6.375L7.5 15.4286ZM7.5 15.4286L5.89125 4H3M18.75 18.5714C18.75 19.3604 18.1204 20 17.3438 20C16.5671 20 15.9375 19.3604 15.9375 18.5714C15.9375 17.7825 16.5671 17.1429 17.3438 17.1429C18.1204 17.1429 18.75 17.7825 18.75 18.5714ZM11.4375 18.5714C11.4375 19.3604 10.8079 20 10.0312 20C9.2546 20 8.625 19.3604 8.625 18.5714C8.625 17.7825 9.2546 17.1429 10.0312 17.1429C10.8079 17.1429 11.4375 17.7825 11.4375 18.5714Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="square"/>
    </svg>
  </span>
{% else %}
  <span class='svg-wrapper'>
    <svg
      width='24'
      class='icon icon--header-cart'
      height='24'
      viewBox='0 0 24 24'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
    >
      <path d="M7.5 15.4286H19.875L21 7.42857H6.375L7.5 15.4286ZM7.5 15.4286L5.89125 4H3M18.75 18.5714C18.75 19.3604 18.1204 20 17.3438 20C16.5671 20 15.9375 19.3604 15.9375 18.5714C15.9375 17.7825 16.5671 17.1429 17.3438 17.1429C18.1204 17.1429 18.75 17.7825 18.75 18.5714ZM11.4375 18.5714C11.4375 19.3604 10.8079 20 10.0312 20C9.2546 20 8.625 19.3604 8.625 18.5714C8.625 17.7825 9.2546 17.1429 10.0312 17.1429C10.8079 17.1429 11.4375 17.7825 11.4375 18.5714Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="square"/>
    </svg>
  </span>
{% endif %}

<span class='visually-hidden'>{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class='cart-count-bubble'>
    {%- if cart.item_count < 100 -%}
      <span aria-hidden='true'>{{ cart.item_count }}</span>
    {%- endif -%}
    <span class='visually-hidden'>
      {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
    </span>
  </div>
{%- endif -%}
