{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}

<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.css"
>
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_223bf385-ef7c-40c3-82e5-833dddfd1855.css"
>
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-banner-swiper.css"
>
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-countdown.css"
>
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-section-common.css"
>
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-product-flip-display.css"
>
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-image-text-swiper.css"
>
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/faq-new.css"
>
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/component-card.css"
>
<link
  rel="stylesheet"
  type="text/css"
  media="all"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/component-price.css"
>

<div class="migrated-page">
  {% render 'christmas-sale-2025-1' %}
  {% render 'christmas-sale-2025-2' %}
  {% render 'christmas-sale-2025-3' %}
</div>

<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.js"
></script>
<script
  async
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-countdown.js"
></script>
<script
  async
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-product-flip-display.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-image-text-swiper.js"
></script>
{% schema %}
{
  "name": "christmas-sale-2025"

}
{% endschema %}
