<div id="shopify-section-17421921102298d2a6e3" class="shopline-section advc-section advc nsa-accesstive"
  data-original-filter="none">

  <style>

    #shopify-section-17421921102298d2a6e3 .advc-title {
      --advc-title-font-family: "Poppins";
      --advc-title-font-weight: 600;
      --advc-title-font-style: normal;
      --advc-title-color: #000000;
      --advc-title-font-size: 32px;
      --advc-title-letter-spacing: 0em;
      --advc-title-line-height: 1;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17421921102298d2a6e3 .advc-title {
        --advc-title-font-size: 24px;
      }
    }

    .advc-title {
      font-family: var(--advc-title-font-family);
      color: var(--advc-title-color);
      font-size: var(--advc-title-font-size);
      letter-spacing: var(--advc-title-letter-spacing);
      line-height: var(--advc-title-line-height);
      font-weight: var(--advc-title-font-weight);
      font-style: var(--advc-title-font-style);
    }
  </style>

  <style>

    #shopify-section-17421921102298d2a6e3 .advc-body {
      --advc-body-font-family: "Montserrat";
      --advc-body-font-weight: 400;
      --advc-body-font-style: normal;
      --advc-body-color: #000000;
      --advc-body-font-size: 16px;
      --advc-body-letter-spacing: 0em;
      --advc-body-line-height: 1.6;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17421921102298d2a6e3 .advc-body {
        --advc-body-font-size: 14px;
      }
    }

    .advc-body {
      font-family: var(--advc-body-font-family);
      color: var(--advc-body-color);
      font-size: var(--advc-body-font-size);
      letter-spacing: var(--advc-body-letter-spacing);
      line-height: var(--advc-body-line-height);
      font-weight: var(--advc-body-font-weight);
      font-style: var(--advc-body-font-style);
    }
  </style>

  <style>

    #shopify-section-17421921102298d2a6e3 .advc-sub-title {
      --advc-sub-title-font-family: "Poppins";
      --advc-sub-title-font-weight: 600;
      --advc-sub-title-font-style: normal;
      --advc-sub-title-color: #000000;
      --advc-sub-title-font-size: 26px;
      --advc-sub-title-letter-spacing: 0em;
      --advc-sub-title-line-height: 1.2;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17421921102298d2a6e3 .advc-sub-title {
        --advc-sub-title-font-size: 24px;
      }
    }

    .advc-sub-title {
      font-family: var(--advc-sub-title-font-family);
      color: var(--advc-sub-title-color);
      font-size: var(--advc-sub-title-font-size);
      letter-spacing: var(--advc-sub-title-letter-spacing);
      line-height: var(--advc-sub-title-line-height);
      font-weight: var(--advc-sub-title-font-weight);
      font-style: var(--advc-sub-title-font-style);
    }
  </style>

  <style>


    #shopify-section-17421921102298d2a6e3 .advc-btn {
      --advc-btn-font-family: "Montserrat";
      --advc-btn-font-weight: 500;
      --advc-btn-font-style: normal;
      --advc-btn-font-color: #FFFFFF;
      --advc-btn-font-size: 13px;
      --advc-btn-letter-spacing: 0em;
      --advc-btn-line-height: 1.6;
      --advc-btn-background: #111111;
      --advc-btn-border-thickness: 0px;
      --advc-btn-border-opacity: 0;
      --advc-btn-border-radius: 0px;
      --advc-btn-border-outset: 0px;
      --advc-btn-border-color: 17, 17, 17;
      --advc-btn-shadow-color: 0, 0, 0;
      --advc-btn-shadow-opacity: 0;
      --advc-btn-shadow-offset-x: 12px;
      --advc-btn-shadow-offset-y: 4px;
      --advc-btn-shadow-blur: 5px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17421921102298d2a6e3 .advc-btn {
        --advc-btn-font-size: 12px;
      }
    }
  </style>



  <style>
    #shopify-section-17421921102298d2a6e3 .advc-video {
      --advc-video-border-thickness: 0px;
      --advc-video-border-opacity: 1;
      --advc-video-border-radius: 0px;
      --advc-video-border-color: 0, 0, 0;
      --advc-video-shadow-opacity: 0.2;
      --advc-video-shadow-offset-x: 4px;
      --advc-video-shadow-offset-y: 4px;
      --advc-video-shadow-blur: 0px;
      --advc-video-shadow-color: 0, 0, 0;
    }
  </style>










  <style>
    #shopify-section-17421921102298d2a6e3 {

      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      --advc-container-padding-top: 60px;
      --advc-container-padding-bottom: 60px;
      --advc-container-padding-right: 40px;
      --advc-container-padding-left: 40px;
      --advc-container-max-width: 1920px;
    }

    @media only screen and (max-width: 750px) {
      #shopify-section-17421921102298d2a6e3 {
        margin-top: 0px;
        margin-bottom: 0px;

        margin-left: 0px;
        margin-right: 0px;

        --advc-container-padding-top: 0px;
        --advc-container-padding-bottom: 0px;
        --advc-container-padding-right: 0px;
        --advc-container-padding-left: 0px;
      }
    }
  </style>


















  <style>
    #shopify-section-17421921102298d2a6e3 {
      --advc-container-background: rgba(, 1);
    }
  </style>





  <div
    class="advc-container-background advc-container advc-text-columns-with-videos advc-d-block advc-d-md-none nsa-accesstive"
    style="
  --column-gap: 0px;
  --text-align: left;
  --content-inline-padding: 10px;" data-section-type="advc-text-columns-with-videos"
    data-section-id="17421921102298d2a6e3" data-original-filter="none">
    <div class="advc-text-columns-with-videos__wrap splide nsa-accesstive" data-original-filter="none">

      <div class="advc-text-columns-with-videos__main splide__track nsa-accesstive" data-original-filter="none">
        <ul class="advc-text-columns-with-videos__list splide__list nsa-accesstive" data-original-font-size="10.5px"
          data-original-line-height="16.8px" data-original-word-spacing="0px"
          data-original-letter-spacing="1.05e-07px" data-original-text-align="start"
          data-original-font-family="NunitoSans, ui-sans-serif, &quot;system-ui&quot;, &quot;sans-serif&quot;"
          data-original-zoom="1" data-original-filter="none">
          <li class="advc-text-columns-with-videos__item splide__slide nsa-accesstive"
            data-original-font-size="10.5px" data-original-line-height="16.8px" data-original-word-spacing="0px"
            data-original-letter-spacing="1.05e-07px" data-original-text-align="left"
            data-original-font-family="NunitoSans, ui-sans-serif, &quot;system-ui&quot;, &quot;sans-serif&quot;"
            data-original-zoom="1" data-original-filter="none">





















            <div
              class="advc-video advc-video-wrapper video--17421921102294f90288 video--r16-9 advc-text-columns-with-videos__video nsa-accesstive"
              data-id="17421921102294f90288" data-video-id="1K-m2jFwm6I" data-original-filter="none">
              <script type="text/json"
                id="Video-data-17421921102294f90288">{"video_url":"https://www.youtube.com/watch?v=1K-m2jFwm6I","autoplay":true,"background_position":"center","sub_title":"","button_text":"","cover":null,"description":"","jump_link":""}</script>
              <div class="video__cover nsa-accesstive" data-original-filter="none">
                <svg class="placeholder-svg" width="380" height="380" viewBox="0 0 380 380" fill="#F3F3F3"
                  xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.15" fill="#F3F3F3">
                    <path d="M180.903 200.5V179L203.403 189.5L180.903 200.5Z" fill="#fff"></path>
                    <rect x="127.403" y="148" width="125" height="83" rx="6" stroke="black" stroke-width="4"
                      stroke-linejoin="round"></rect>
                    <path d="M149.456 150V229.5" stroke="black" stroke-width="3"></path>
                    <path d="M230.351 150V229.5" stroke="black" stroke-width="3"></path>
                    <path d="M129 167.667L149.456 167.667M129 189.794H149.456M129 211.368H149.456" stroke="black"
                      stroke-width="3"></path>
                    <path d="M230.351 167.667L250.807 167.667M230.351 189.794H250.807M230.351 211.368H250.807"
                      stroke="black" stroke-width="3"></path>
                    <path d="M180.141 201.14V177.895L203.386 189.28L180.141 201.14Z" stroke="black" stroke-width="3"
                      stroke-linejoin="round"></path>
                  </g>
                </svg>
              </div>
              <div class="video__controll nsa-accesstive" data-original-filter="none">
                <iframe class="video-data nsa-accesstive" id="Video-17421921102294f90288" data-video-id="1K-m2jFwm6I"
                  data-type="youtube" data-url="https://www.youtube.com/watch?v=1K-m2jFwm6I" data-autoplay="true"
                  data-slient="false" data-aspect-ratio="16:9" data-quiet="true" frameborder="0" allowfullscreen=""
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin" title="Yarbo - The Future of Yard Care is Here!"
                  width="430" height="241.875"
                  src="https://www.youtube.com/embed/1K-m2jFwm6I?autohide=0&amp;cc_load_policy=0&amp;controls=0&amp;fs=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;rel=0&amp;disablekb=1&amp;muted=1&amp;showinfo=0&amp;origin=https%3A%2F%2Fwww.yarbo.com&amp;loop=1&amp;src=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D1K-m2jFwm6I&amp;playlist=1K-m2jFwm6I&amp;enablejsapi=1&amp;widgetid=1&amp;forigin=https%3A%2F%2Fwww.yarbo.com%2Fabout-us%2Fmeet-yarbo&amp;aoriginsup=1&amp;gporigin=https%3A%2F%2Fwww.yarbo.com%2Fabout-us%2Fmeet-yarbo&amp;vf=6"
                  data-original-font-size="10.5px" data-original-line-height="16.8px" data-original-word-spacing="0px"
                  data-original-letter-spacing="1.05e-07px" data-original-text-align="left"
                  data-original-font-family="NunitoSans, ui-sans-serif, &quot;system-ui&quot;, &quot;sans-serif&quot;"
                  data-original-zoom="1" data-original-filter="none" data-gtm-yt-inspected-17="true"
                  data-gtm-yt-inspected-23="true"></iframe>
              </div>
            </div>



          </li>
        </ul>
      </div>




      <div class="advc-previewer hide nsa-accesstive" id="advc-previewer-17421921102298d2a6e3"
        data-original-filter="none">
        <div class="advc-previewer__wrap nsa-accesstive" data-original-filter="none">
          <div class="advc-previewer__mask nsa-accesstive" data-original-filter="none"></div>
          <div class="advc-previewer__close-btn nsa-accesstive" data-original-filter="none"><i
              class="advc-icon icon nsa-accesstive" data-original-font-size="18px" data-original-line-height="28.8px"
              data-original-word-spacing="0px" data-original-letter-spacing="1.05e-07px"
              data-original-text-align="start" data-original-font-family="sl-icon-logo" data-original-zoom="1"
              data-original-filter="none"></i></div>
          <div class="advc-previewer__body nsa-accesstive" data-original-filter="none">
            <div class="advc-previewer__area nsa-accesstive" data-original-filter="none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Custom Product Video",
  "settings": []

}
{% endschema %}
