<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_ecb8ba27-fd8c-40a1-975b-086a768b3179.css"
  rel="stylesheet"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-image-banner.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_223bf385-ef7c-40c3-82e5-833dddfd1855.css"
  rel="stylesheet"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-two-rows-slideshow.css"
  rel="stylesheet"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-section-common.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/video-slideshow.css"
  rel="stylesheet"
>

{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}

<div class="migrated-page">
  <div class="shopline-section section" id="shopify-section-1741248593267fadfa27">
    <div class="section section-padding section-image-banner">
      <div class="section-image-banner-pc image-banner-loaded display-none display-block-desktop">
        <div class="image-banner--container">
          <div class="banner-item-wrapper banner-item-wrapper--size-none">
            <div style="padding-bottom: 39.0625%;">
              <img
                alt=""
                class="banner-item banner-pc-item"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="high"
                height="1000"
                loading="eager"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2023.webp?v=1772521158"
                width="2560"
              >
            </div>
          </div>
          <div class="mask" style="opacity: 2%"></div>
        </div>
      </div>
      <div
        class="section-image-banner-mobile image-banner-loaded display-block display-none-desktop section-image-banner--m-flatten"
        data-section-id="1741248593267fadfa27"
        data-section-type="image-banner"
      >
        <div class="image-banner--container">
          <div class="banner-item-wrapper first-banner banner-item-wrapper--size-none">
            <div style="padding-bottom: 39.0625%;">
              <img
                alt=""
                class="banner-item banner-mobile-item"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="high"
                height="1000"
                loading="eager"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2023.webp?v=1772521158"
                width="2560"
              >
            </div>
          </div>
          <div class="mask" style="opacity: 2%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section advc-section advc" id="shopify-section-1741248687054fa748bb">
    <style>
      #shopify-section-1741248687054fa748bb .advc-title {
        --advc-title-font-family: "Poppins";
        --advc-title-font-weight: 600;
        --advc-title-font-style: normal;
        --advc-title-color: #000000;
        --advc-title-font-size: 20px;
        --advc-title-letter-spacing: 0em;
        --advc-title-line-height: 1;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1741248687054fa748bb .advc-title {
          --advc-title-font-size: 18px;
        }
      }

      .advc-title {
        font-family: var(--advc-title-font-family);
        color: var(--advc-title-color);
        font-size: var(--advc-title-font-size);
        letter-spacing: var(--advc-title-letter-spacing);
        line-height: var(--advc-title-line-height);
        font-weight: var(--advc-title-font-weight);
        font-style: var(--advc-title-font-style);
      }
    </style>
    <style>
      #shopify-section-1741248687054fa748bb .advc-body {
        --advc-body-font-family: "Montserrat";
        --advc-body-font-weight: 400;
        --advc-body-font-style: normal;
        --advc-body-color: #000000;
        --advc-body-font-size: 16px;
        --advc-body-letter-spacing: 0em;
        --advc-body-line-height: 1.6;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1741248687054fa748bb .advc-body {
          --advc-body-font-size: 14px;
        }
      }

      .advc-body {
        font-family: var(--advc-body-font-family);
        color: var(--advc-body-color);
        font-size: var(--advc-body-font-size);
        letter-spacing: var(--advc-body-letter-spacing);
        line-height: var(--advc-body-line-height);
        font-weight: var(--advc-body-font-weight);
        font-style: var(--advc-body-font-style);
      }
    </style>
    <style>
      #shopify-section-1741248687054fa748bb {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        --advc-container-padding-top: 60px;
        --advc-container-padding-bottom: 60px;
        --advc-container-padding-right: 40px;
        --advc-container-padding-left: 40px;
        --advc-container-max-width: 1420px;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1741248687054fa748bb {
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
          margin-right: 0px;
          --advc-container-padding-top: 40px;
          --advc-container-padding-bottom: 40px;
          --advc-container-padding-right: 20px;
          --advc-container-padding-left: 20px;
        }
      }
    </style>
    <style>
      #shopify-section-1741248687054fa748bb .advc-card {
        --advc-card-border-thickness: 0px;
        --advc-card-border-opacity: 0.1;
        --advc-card-border-radius: 0px;
        --advc-card-border-color: 0, 0, 0;
        --advc-card-shadow-opacity: 0;
        --advc-card-shadow-offset-x: 0px;
        --advc-card-shadow-offset-y: 4px;
        --advc-card-shadow-blur: 5px;
        --advc-card-shadow-color: 0, 0, 0;
        --advc-card-background-color: 248, 248, 248;
      }
    </style>
    <style>
      #shopify-section-1741248687054fa748bb {
        background-color: #ffffff;
      }

      .iconlist-1741248687054fa748bb .iconlist__scroll_mask {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0), #ffffff);
      }

      .iconlist-1741248687054fa748bb {
        --advc-logo-list-horizontal-spacing: 22px;
      }

      @media (max-width: 749.98px) {
        .iconlist-1741248687054fa748bb {
          --advc-logo-list-horizontal-spacing: 8px;
        }
      }
    </style>
    <div
      class="iconlist-1741248687054fa748bb iconlist__scrollBox advc-container"
      data-section-id="1741248687054fa748bb"
      data-section-type="logo-list"
    >
      <div class="iconlist iconlist__ iconlist__grid" style="--icon-width: 48px">
        <a class="advc-card iconlist__iconItem__horizontal">
          <img
            alt=""
            class="iconlist__iconItem__horizontal__icon lazyautosizes ls-is-cached lazyloaded"
            data-sizes="auto"
            data-src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2023_6ba9fbe2-625a-43f7-ae66-d74db0893a66.webp?v=1772591017"
            src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2023_6ba9fbe2-625a-43f7-ae66-d74db0893a66.webp?v=1772591017"
          >
          <div class="iconlist__iconItem__horizontal__right">
            <div class="iconlist__iconItem__horizontal__title advc-title">
              Yarbo‘s 4-in-1 Intelligent Yard Care Robot Wins CES 2023 Innovation Awards
            </div>
            <div class="iconlist__iconItem__horizontal__subTitle advc-body">
              On November 16, 2022, the Consumer Technology Association (CTA) unveiled the winners of the highly
              regarded CES 2023 Innovation Awards. Among the esteemed honorees was Yarbo's groundbreaking 4-in-1
              intelligent yard robot, celebrated for its exceptional performance in snow blowing from
              driveways/sidewalks, lawn mowing, and leaves/debris blowing in yards.
            </div>
          </div>
        </a>
      </div>
    </div>
    <style>
      @media screen and (max-width: 767px) {
        #shopify-section-1741248687054fa748bb .iconlist__iconItem__horizontal__icon {
          display: none;
        }

        #shopify-section-1741248687054fa748bb .advc-card {
          background-color: white !important;
        }

        #shopify-section-1741248687054fa748bb .advc-title {
          margin-bottom: 1.25rem;
          font-size: 0.875rem;
          line-height: 1.25rem;
        }
      }
    </style>
  </div>
  <div class="shopline-section" id="shopify-section-1742133144994c7f7b3a">
    <two-rows-slideshow
      class="two-rows-slideshow"
      data-id="section_1742133144994c7f7b3a"
      id="section_1742133144994c7f7b3a"
    >
      <div class="image-preview-modal" id="imagePreviewModal">
        <div class="modal-overlay"></div>
        <div class="modal-content">
          <img
            alt="Show moment 11"
            id="previewImage"
            src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/ed80781ef2c04b13a53e264df790c780.webp?v=1772520692"
            style="transform: scale(0.3);"
          >
        </div>
      </div>
      <div class="slideshow-title">
        <div class="yb-section-common">
          <div class="yb-section-common-title">Moments at the Show</div>
        </div>
      </div>
      <div
        aria-label="Show moments slideshow"
        aria-roledescription="carousel"
        class="splide splide--loop splide--ltr splide--draggable is-active is-overflow is-initialized"
        id="splide01"
        role="group"
      >
        <div
          aria-atomic="true"
          aria-busy="false"
          aria-live="off"
          class="splide__track splide__track--loop splide__track--ltr splide__track--draggable"
          id="splide01-track"
          style="padding-left: 0px; padding-right: 0px;"
        >
          <ul class="splide__list" id="splide01-list" role="presentation" style="transform: translateX(-5751px);">
            <li
              aria-hidden="true"
              aria-label="1 of 2"
              aria-roledescription="slide"
              class="splide__slide splide__slide--clone"
              id="splide01-clone01"
              role="tabpanel"
              style="margin-right: 0.75rem; width: calc(100% + 0rem);"
            >
              <div class="grid-container">
                <div class="image-wrapper">
                  <img
                    alt="Show moment 1"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/3fa1002c04e244758bb081732cbb4eff.webp?v=1772520513"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 2"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/4b24eafe876c4030a0be35714cfd3ca4.webp?v=1772520541"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 3"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/d6f560266135434cab6f042bed43b64d.webp?v=1772520661"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 4"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/e13815a60baf4ea4bcd2b779fbead70c.webp?v=1772520666"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 5"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/9401a6c14e5a48ef922debfd02d02d66.webp?v=1772520600"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 6"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/e9370be4a2dc4c63aac7e637aa4b50b4.webp?v=1772520687"
                  >
                </div>
              </div>
            </li>
            <li
              aria-hidden="true"
              aria-label="2 of 2"
              aria-roledescription="slide"
              class="splide__slide splide__slide--clone is-active"
              id="splide01-clone02"
              role="tabpanel"
              style="margin-right: 0.75rem; width: calc(100% + 0rem);"
            >
              <div class="grid-container">
                <div class="image-wrapper">
                  <img
                    alt="Show moment 7"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2f105f50384c4ccfb1582253a7ac62c9.webp?v=1772520488"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 8"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/f7fa3050924f4e0e90093df784655610.webp?v=1772520712"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 9"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1c142304f11148b68664bf70790cd983.webp?v=1772520440"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 10"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1ac57072867743c78213659451bd5e73.webp?v=1772520435"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 11"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/ed80781ef2c04b13a53e264df790c780.webp?v=1772520692"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 12"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/a52b96299bad461487c2c9b6b426a36c.webp?v=1772520611"
                  >
                </div>
              </div>
            </li>
            <li
              aria-hidden="true"
              aria-label="1 of 2"
              aria-roledescription="slide"
              class="splide__slide is-prev"
              id="splide01-slide01"
              role="tabpanel"
              style="margin-right: 0.75rem; width: calc(100% + 0rem);"
            >
              <div class="grid-container">
                <div class="image-wrapper">
                  <img
                    alt="Show moment 1"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/3fa1002c04e244758bb081732cbb4eff.webp?v=1772520513"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 2"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/4b24eafe876c4030a0be35714cfd3ca4.webp?v=1772520541"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 3"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/d6f560266135434cab6f042bed43b64d.webp?v=1772520661"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 4"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/e13815a60baf4ea4bcd2b779fbead70c.webp?v=1772520666"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 5"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/9401a6c14e5a48ef922debfd02d02d66.webp?v=1772520600"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 6"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/e9370be4a2dc4c63aac7e637aa4b50b4.webp?v=1772520687"
                  >
                </div>
              </div>
            </li>
            <li
              aria-label="2 of 2"
              aria-roledescription="slide"
              class="splide__slide is-active is-visible"
              id="splide01-slide02"
              role="tabpanel"
              style="margin-right: 0.75rem; width: calc(100% + 0rem);"
            >
              <div class="grid-container">
                <div class="image-wrapper">
                  <img
                    alt="Show moment 7"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2f105f50384c4ccfb1582253a7ac62c9.webp?v=1772520488"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 8"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/f7fa3050924f4e0e90093df784655610.webp?v=1772520712"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 9"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1c142304f11148b68664bf70790cd983.webp?v=1772520440"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 10"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1ac57072867743c78213659451bd5e73.webp?v=1772520435"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 11"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/ed80781ef2c04b13a53e264df790c780.webp?v=1772520692"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 12"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/a52b96299bad461487c2c9b6b426a36c.webp?v=1772520611"
                  >
                </div>
              </div>
            </li>
            <li
              aria-hidden="true"
              aria-label="1 of 2"
              aria-roledescription="slide"
              class="splide__slide splide__slide--clone is-next"
              id="splide01-clone03"
              role="tabpanel"
              style="margin-right: 0.75rem; width: calc(100% + 0rem);"
            >
              <div class="grid-container">
                <div class="image-wrapper">
                  <img
                    alt="Show moment 1"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/3fa1002c04e244758bb081732cbb4eff.webp?v=1772520513"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 2"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/4b24eafe876c4030a0be35714cfd3ca4.webp?v=1772520541"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 3"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/d6f560266135434cab6f042bed43b64d.webp?v=1772520661"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 4"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/e13815a60baf4ea4bcd2b779fbead70c.webp?v=1772520666"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 5"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/9401a6c14e5a48ef922debfd02d02d66.webp?v=1772520600"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 6"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/e9370be4a2dc4c63aac7e637aa4b50b4.webp?v=1772520687"
                  >
                </div>
              </div>
            </li>
            <li
              aria-hidden="true"
              aria-label="2 of 2"
              aria-roledescription="slide"
              class="splide__slide splide__slide--clone is-active"
              id="splide01-clone04"
              role="tabpanel"
              style="margin-right: 0.75rem; width: calc(100% + 0rem);"
            >
              <div class="grid-container">
                <div class="image-wrapper">
                  <img
                    alt="Show moment 7"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2f105f50384c4ccfb1582253a7ac62c9.webp?v=1772520488"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 8"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/f7fa3050924f4e0e90093df784655610.webp?v=1772520712"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 9"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1c142304f11148b68664bf70790cd983.webp?v=1772520440"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 10"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1ac57072867743c78213659451bd5e73.webp?v=1772520435"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 11"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/ed80781ef2c04b13a53e264df790c780.webp?v=1772520692"
                  >
                </div>
                <div class="image-wrapper">
                  <img
                    alt="Show moment 12"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/a52b96299bad461487c2c9b6b426a36c.webp?v=1772520611"
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="splide__arrows splide__arrows--ltr custom-arrows">
          <button
            aria-controls="splide01-track"
            aria-label="Previous slide"
            class="splide__arrow splide__arrow--prev"
            type="button"
          >
            <img
              alt=""
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/7ce1d0ab30b646fd8ec80705dc56e26d.png?v=1772520579"
            >
          </button>
          <div
            aria-label="Select a slide to show"
            class="splide__pagination splide__pagination--ltr"
            role="tablist"
          ></div>
          <button
            aria-controls="splide01-track"
            aria-label="Go to first slide"
            class="splide__arrow splide__arrow--next"
            type="button"
          >
            <img
              alt=""
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/a406e6390cde42e295092a5a1b9a70ad.png?v=1772520605"
            >
          </button>
        </div>
      </div>
    </two-rows-slideshow>
  </div>
  <div class="shopline-section section" id="shopify-section-17420955445304fb3a4d">
    <video-slideshow>
      <button class="video-slideshow-prev-btn">
        <img
          alt="left-arrow"
          src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/d3398a1275bf466a9fcb4069ff0c7bd2.png?v=1772520656"
        >
      </button>
      <button class="video-slideshow-next-btn">
        <img
          alt="right-arrow"
          src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/e2cae207f59c45c9b5b664a224ff895f.png?v=1772520672"
        >
      </button>
      <section class="splide video-slideshow-splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <iframe
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                src="https://www.youtube.com/embed/6qfscS0qS5o"
              ></iframe>
            </li>
            <li class="splide__slide">
              <iframe
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                src="https://www.youtube.com/embed/1SNw5xnV8u0"
              ></iframe>
            </li>
            <li class="splide__slide">
              <iframe
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                src="https://www.youtube.com/embed/JJ7-8MGYCu4"
              ></iframe>
            </li>
          </ul>
        </div>
      </section>
    </video-slideshow>
  </div>
</div>

<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_8fbe9c70-a659-4943-b0df-b8e38e01e7a2.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-two-rows-slideshow.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/video-slideshow.js"
></script>

{% schema %}
{
  "name": "Events Ces 2023"

}
{% endschema %}
