<link
  href='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-toast.css'
  rel='stylesheet'
>
<link
  href='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-image-banner.css'
  media='all'
  rel='stylesheet'
  type='text/css'
>
<script
  defer
  src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-toast.js'
></script>

{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}

<div class='migrated-page'>
  <!-- START content_for_index -->
  <div
    class='shopline-section section nsa-accesstive'
    id='shopify-section-17412430174915d566bb'
  >
    <div class='section section-image-banner nsa-accesstive'>
      <div class='section-image-banner-pc image-banner-loaded display-none display-block-desktop nsa-accesstive'>
        <div class='image-banner--container nsa-accesstive'>
          <div class='banner-item-wrapper banner-item-wrapper--size-none nsa-accesstive'>
            <div
              class='nsa-accesstive'
              style='padding-bottom: 48.07291666666667%;'
            >
              <img
                alt=''
                class='banner-item banner-pc-item nsa-accesstive'
                data-scale='hover-scale'
                decoding='async'
                fetchpriority='high'
                height='923'
                loading='eager'
                src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/4.webp?v=1772521813'
                width='1920'
              >
            </div>
          </div>
          <div
            class='mask nsa-accesstive'
            style='opacity: 1%'
          ></div>
        </div>
        <div class='content content--pos-left-bottom nsa-accesstive'>
          <div class='page-width nsa-accesstive'>
            <div class='wrapper global-content-border-shadow pc-content-text-left wrapper--default-scheme nsa-accesstive'>
              <h2 class='title title5 nsa-accesstive'>Equip Your Team with Yarbo Expertise</h2>
              <p class='desc body1 nsa-accesstive'>Ensure top-notch sales and service with Yarbo training.</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class='section-image-banner-mobile image-banner-loaded display-block display-none-desktop section-image-banner--m-flatten nsa-accesstive'
        data-section-id='17412430174915d566bb'
        data-section-type='image-banner'
      >
        <div class='image-banner--container nsa-accesstive'>
          <div class='banner-item-wrapper first-banner banner-item-wrapper--size-none nsa-accesstive'>
            <div
              class='nsa-accesstive'
              style='padding-bottom: 48.07291666666667%;'
            >
              <img
                alt=''
                class='banner-item banner-mobile-item nsa-accesstive'
                data-scale='hover-scale'
                decoding='async'
                fetchpriority='high'
                height='923'
                loading='eager'
                src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/4.webp?v=1772521813'
                width='1920'
              >
            </div>
          </div>
          <div class='content content--pos-center content-m-no-bg nsa-accesstive'>
            <div class='wrapper page-width mobile-content-text-center wrapper--default-scheme nsa-accesstive'>
              <h2 class='title2 title5 nsa-accesstive'>Equip Your Team with Yarbo Expertise</h2>
              <p class='body1 nsa-accesstive'>Ensure top-notch sales and service with Yarbo training.</p>
            </div>
          </div>
          <div
            class='mask nsa-accesstive'
            style='opacity: 1%'
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div
    class='shopline-section section nsa-accesstive'
    id='shopify-section-1742609222348e34fd2e'
  >
    <style>
      #shopify-section-1742609222348e34fd2e.section-padding,
      #shopify-section-1742609222348e34fd2e .section-padding {
        padding-top: 0px;
        padding-bottom: 0px;
      }

      @media only screen and (max-width: 959px) {
        #shopify-section-1742609222348e34fd2e.section-padding,
        #shopify-section-1742609222348e34fd2e .section-padding {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    </style>
    <style>
      #shopify-section-1742609222348e34fd2e {
        background-color: rgba(0, 0, 0, 0);
      }

      /* 375-679px */
      @media (max-width: 679px) {
        #shopify-section-1742609222348e34fd2e {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1742609222348e34fd2e {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1742609222348e34fd2e {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1742609222348e34fd2e {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-1742609222348e34fd2e {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    </style>
    <div class='section-padding rte color-scheme-none nsa-accesstive'>
      <style>
        .content.content--pos-left-bottom > .page-width {
          max-width: none;
        }

        .wrapper.global-content-border-shadow.pc-content-text-left.wrapper--default-scheme {
          padding-left: 1.9375em;
          padding-bottom: 3.0625em;
          border: 0;
        }

        .wrapper.global-content-border-shadow.pc-content-text-left.wrapper--default-scheme h2.title.title5 {
          font-size: 2em;
          line-height: 1.2;
          font-weight: 600;
          margin-bottom: 0.625em;
        }

        .wrapper.global-content-border-shadow.pc-content-text-left.wrapper--default-scheme p.desc.body1 {
          font-size: 1em;
          line-height: 1.2;
          font-weight: 400;
          margin: 0 !important;
        }

        .content.content--pos-center.content-m-no-bg {
          align-items: end;
        }

        @media (max-width: 959px) {
          .wrapper.page-width.mobile-content-text-center.wrapper--default-scheme {
            padding-left: 1.0625em;
            padding-bottom: 0.9375em;
            text-align: left;
          }

          .wrapper.page-width.mobile-content-text-center.wrapper--default-scheme p.body1 {
            margin: 0 !important;
          }

          .wrapper.page-width.mobile-content-text-center.wrapper--default-scheme h2.title2.title5 {
            font-size: 1.0625em;
            line-height: 1.2;
            font-weight: 600;
          }

          .wrapper.page-width.mobile-content-text-center.wrapper--default-scheme p.body1 {
            font-size: 0.625em;
            font-weight: 400;
          }
        }
      </style>
    </div>
  </div>
  <div
    class='shopline-section section nsa-accesstive'
    id='shopify-section-17421367582456bfa8bf'
  >
    <div class='survey nsa-accesstive'>
      <div class='survey__banner-wrapper nsa-accesstive'>
        <img
          alt=''
          class='survey__banner-img survey__banner-img--desktop nsa-accesstive'
          src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/3047882d7c394497b78424fbd1f9f988.webp?v=1772520496'
        >
        <img
          alt=''
          class='survey__banner-img survey__banner-img--mobile nsa-accesstive'
          src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/e923fa3c9d274626a1cdee753a5a731d.webp?v=1772520682'
        >
      </div>
      <div class='survey__content-wrapper nsa-accesstive'>
        <section class='survey__main-content nsa-accesstive'>
          <div class='survey__header nsa-accesstive'>
            <span class='survey__title nsa-accesstive'>Participate in our survey and stand a chance to WIN a FREE Yarbo Snow Blower!</span>
            <div class='survey__prize-image nsa-accesstive'>
              <img
                alt=''
                class='nsa-accesstive'
                src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/c46fc72259274ebc8f7632909c8274d3.webp?v=1772520632'
              >
            </div>
          </div>
          <div
            class='survey__cta-button nsa-accesstive'
            onclick='validateAndRedirect()'
          >
            <span class='nsa-accesstive'>Enter Now!</span>
          </div>
          <div class='survey__agreement nsa-accesstive'>
            <label class='survey__checkbox-label nsa-accesstive'>
              <span class='survey__checkbox-wrapper nsa-accesstive'>
                <input
                  checked=''
                  class='nsa-accesstive'
                  id='isTermsAndPrivacy'
                  type='checkbox'
                >
                <span class='survey__checkbox-custom nsa-accesstive'></span>
              </span>
              <span class='nsa-accesstive'>
                I agree to the
                <a href='https://www.yarbo.com/legal/terms-of-service'>Terms of Use</a>
                and
                <a href='https://www.yarbo.com/legal/privacy-policy'>Privacy Policy</a>
              </span>
            </label>
            <label class='survey__checkbox-label nsa-accesstive'>
              <span class='survey__checkbox-wrapper nsa-accesstive'>
                <input
                  checked=''
                  class='nsa-accesstive'
                  id='isSubscribe'
                  type='checkbox'
                >
                <span class='survey__checkbox-custom nsa-accesstive'></span>
              </span>
              <span class='nsa-accesstive'>I want to subscribe to email updates and newsletters</span>
            </label>
          </div>
          <div class='survey__divider nsa-accesstive'></div>
          <div class='survey__social nsa-accesstive'>
            <div class='survey__social-title nsa-accesstive'>Follow us</div>
            <div class='survey__social-links nsa-accesstive'>
              <div
                class='survey__social-item nsa-accesstive'
                onclick="window.open('https://www.facebook.com/yarboglobal', '_self')"
              >
                <img
                  alt='Facebook'
                  class='nsa-accesstive'
                  src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/552ea70979ae47d290756d257450b5fb.webp?v=1772520565'
                >
                <span class='nsa-accesstive'>Facebook</span>
              </div>
              <div
                class='survey__social-item nsa-accesstive'
                onclick="window.open('https://www.youtube.com/channel/UCNFGr_kvWywsDGuxepxleVg', '_self')"
              >
                <img
                  alt='YouTube'
                  class='nsa-accesstive'
                  src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/e5b798d720c146a0be6557ac2d31bf72.webp?v=1772520677'
                >
                <span class='nsa-accesstive'>YouTube</span>
              </div>
              <div
                class='survey__social-item nsa-accesstive'
                onclick="window.open('https://www.instagram.com/yarboglobal', '_self')"
              >
                <img
                  alt='Instagram'
                  class='nsa-accesstive'
                  src='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/77be6e9ff5ce40788d48e36bba0de9cf.webp?v=1772520569'
                >
                <span class='nsa-accesstive'>Instagram</span>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script>
      function validateAndRedirect() {
        const isTermsAndPrivacy = document.getElementById('isTermsAndPrivacy');
        const isSubscribe = document.getElementById('isSubscribe');

        if (!isTermsAndPrivacy.checked || !isSubscribe.checked) {
          __SL_toast__.error({ message: 'Please check the box(es) below to proceed.' });
          return;
        }

        window.location.href = 'https://z9bxuosvp08.typeform.com/to/Xq7F87Oe?typeform-source=www.yarbo.com';
      }
    </script>
    <style>
      .survey {
        width: 100%;
        position: relative;
      }

      .survey__banner-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        aspect-ratio: 1920 / 923;
      }

      .survey__banner-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        inset: 0;
      }

      .survey__banner-img--mobile {
        display: none;
      }

      .survey__content-wrapper {
        position: relative;
        padding: 130px 0 48px 0;
      }

      .survey__main-content {
        position: relative;
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 48px;
      }

      .survey__header {
        position: relative;
      }

      .survey__title {
        display: block;
        height: 147px;
        width: 520px;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0px;
        color: white;
      }

      .survey__prize-image {
        position: absolute;
        right: -5px;
        top: -15px;
        height: 113px;
        width: 113px;
      }

      .survey__prize-image img {
        display: block;
        height: 113px;
        width: 113px;
      }

      .survey__cta-button {
        width: 227px;
        cursor: pointer;
        text-align: center;
        font-size: 24px;
        line-height: 59px;
        color: black;
        background: linear-gradient(to left, #ffd720, #fbb637);
        border-radius: 12px;
        font-weight: 400;
      }

      .survey__cta-button span {
        display: block;
        margin-top: 71px;
        margin-bottom: 36px;
      }

      .survey__agreement {
        margin: 23px 0 57px;
      }

      .survey__checkbox-label {
        display: flex;
        align-items: baseline;
        color: white;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
        margin-bottom: 15px;
      }

      .survey__checkbox-label a {
        color: white;
      }

      .survey__checkbox-label a:hover {
        text-decoration: none;
        outline: 0;
        color: #69b1ff;
      }

      .survey__checkbox-wrapper {
        position: relative;
        margin-right: 8px;
      }

      .survey__checkbox-custom {
        display: block;
        width: 16px;
        height: 16px;
        background: white;
        border-radius: 50%;
        transition: 0.3s;
        position: relative;
        border: 1px solid rgba(2, 6, 11, 1);
      }

      .survey__checkbox-label input:checked + .survey__checkbox-custom {
        background: rgba(38, 189, 126, 1);
      }

      .survey__checkbox-custom::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 2px;
        width: 5px;
        height: 9px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
        transition: opacity 0.2s;
      }

      .survey__checkbox-label input:checked + .survey__checkbox-custom::after {
        opacity: 1;
      }

      .survey__checkbox-label {
        display: flex;
        align-items: center;
      }

      .survey__checkbox-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .survey__divider {
        height: 1px;
        width: 100%;
        background: white;
        margin-bottom: 100px;
      }

      .survey__social-title {
        height: 43px;
        font-size: 40px;
        font-weight: 600;
        line-height: 42px;
        color: white;
      }

      .survey__social-links {
        display: flex;
        gap: 70px;
      }

      .survey__social-item {
        display: flex;
        padding: 40px;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        margin-top: 34px;
        border-radius: 17px;
        cursor: pointer;
      }

      .survey__social-item img {
        height: 60px;
        width: 60px;
      }

      .survey__social-item span {
        color: white;
        font-size: 15px;
        margin-top: 6px;
      }

      @media (max-width: 768px) {
        .survey__banner-wrapper {
          width: 100%;
        }

        .survey__banner-img--desktop {
          display: none;
        }

        .survey__banner-img--mobile {
          display: block;
          object-position: 0% 40%;
        }

        .survey__content-wrapper {
          padding: 40px 24px 20px 24px;
        }

        .survey__main-content {
          max-width: none;
          padding: 0;
        }

        .survey__social-links {
          gap: 17px;
        }

        .survey__title {
          height: 87px;
          width: 327px;
          font-size: 21px;
          line-height: 25px;
          font-weight: 700;
        }

        .survey__prize-image {
          height: 69px;
          width: 69px;
          right: 5px;
          top: 97px;
        }

        .survey__prize-image img {
          height: 69px;
          width: 69px;
        }

        .survey__social-item {
          height: auto;
          padding: 16px;
        }

        .survey__social-item img {
          height: 42px;
          width: 42px;
        }

        .survey__cta-button {
          height: 35px;
          width: 122px;
          font-size: 17px;
          line-height: 35px;
        }

        .survey__divider {
          margin-bottom: 28px;
        }

        .survey__cta-button span {
          margin-top: 225px;
          margin-bottom: 36px;
        }

        .survey__social-title {
          font-size: 17px;
          font-weight: 700;
        }

        .survey__checkbox-label {
          font-size: 11px;
          font-weight: 400;
        }
      }
    </style>
    <style>
      #shopify-section-17421367582456bfa8bf label.survey__checkbox-label a {
        color: #69b1ff;
      }
    </style>
  </div>
</div>
{% schema %}
{
  "name": "Events Equip-2023"
}
{% endschema %}
