<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_0d79c694-2302-4336-9da8-e3f8db4b54a4.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_3e1d965d-efb5-4e73-9f33-3dbea037ddb4.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-rich-text.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-image-with-text.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ee0e93f3-0431-46cb-a624-35daae31c826.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_223bf385-ef7c-40c3-82e5-833dddfd1855.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide-extension-video.min.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-video-picture-slideshow.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-section-common.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="/cdn/shop/prod/2414725102/1737714205978/67d5433ed92b88727dcd882d/1751348904549/assets/yb-section-common/yb-section-common.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ed91e4e0-7924-425e-9e88-5e9d0b914bd4.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_8fbe9c70-a659-4943-b0df-b8e38e01e7a2.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide-extension-video.min.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-video-picture-slideshow.js"
></script>

{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}
<style>
  .button{
    min-width:0 !important;
    min-height:0 !important;
  }
</style>

<div class="migrated-page">
  <!-- START content_for_index -->
  <div class="shopline-section advc-section advc nsa-accesstive" id="shopify-section-1742133551991094389c">
    <style>
      #shopify-section-1742133551991094389c {

        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        --advc-container-padding-top: px;
        --advc-container-padding-bottom: px;
        --advc-container-padding-right: px;
        --advc-container-padding-left: px;
        --advc-container-max-width: px;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1742133551991094389c {
          margin-top: 0px;
          margin-bottom: 0px;

          margin-left: 0px;
          margin-right: 0px;

          --advc-container-padding-top: px;
          --advc-container-padding-bottom: px;
          --advc-container-padding-right: px;
          --advc-container-padding-left: px;
        }
      }
    </style>
    <div
      class="advc-featured-carousel section-1742133551991094389c nsa-accesstive"
      data-section-id="1742133551991094389c"
      data-section-type="advc-featured-carousel"
    >
      <div
        autoplay="false"
        autoplay-speed="7"
        class="splide advc-featured-carousel__swiper nsa-accesstive"
        mobile-pagination-type="touch"
        pagination-type="left_right_arrow"
        parallax="false"
      >
        <div class="splide__track nsa-accesstive">
          <div class="splide__list advc-featured-carousel__swiper__wrapper pc--750 mb--auto anim--dynamic_switch nsa-accesstive">
            <div
              class="block-174167305874932edd24 splide__slide advc-featured-carousel__swiper__slider advc-a-nested nsa-accesstive is-active"
              href="javascript:;"
              index="0"
            >
              <style>
                #shopify-section-1742133551991094389c .advc-title[data-block-id='174167305874932edd24'] {
                  --advc-title-font-family: "Poppins";
                  --advc-title-font-weight: 600;
                  --advc-title-font-style: normal;
                  --advc-title-color: #000000;
                  --advc-title-font-size: 46px;
                  --advc-title-letter-spacing: 0em;
                  --advc-title-line-height: 1.2;
                }

                @media only screen and (max-width: 750px) {
                  #shopify-section-1742133551991094389c .advc-title[data-block-id='174167305874932edd24'] {
                    --advc-title-font-size: 16px;
                  }
                }

                .advc-title {
                  font-family: var(--advc-title-font-family);
                  color: var(--advc-title-color);
                  font-size: var(--advc-title-font-size);
                  letter-spacing: var(--advc-title-letter-spacing);
                  line-height: var(--advc-title-line-height);
                  font-weight: var(--advc-title-font-weight);
                  font-style: var(--advc-title-font-style);
                }
              </style>
              <style>
                #shopify-section-1742133551991094389c .advc-sub-title[data-block-id='174167305874932edd24'] {
                  --advc-sub-title-font-family: "Montserrat";
                  --advc-sub-title-font-weight: 400;
                  --advc-sub-title-font-style: normal;
                  --advc-sub-title-color: #ffffff;
                  --advc-sub-title-font-size: 16px;
                  --advc-sub-title-letter-spacing: 0.3em;
                  --advc-sub-title-line-height: 1.6;
                }

                @media only screen and (max-width: 750px) {
                  #shopify-section-1742133551991094389c .advc-sub-title[data-block-id='174167305874932edd24'] {
                    --advc-sub-title-font-size: 14px;
                  }
                }

                .advc-sub-title {
                  font-family: var(--advc-sub-title-font-family);
                  color: var(--advc-sub-title-color);
                  font-size: var(--advc-sub-title-font-size);
                  letter-spacing: var(--advc-sub-title-letter-spacing);
                  line-height: var(--advc-sub-title-line-height);
                  font-weight: var(--advc-sub-title-font-weight);
                  font-style: var(--advc-sub-title-font-style);
                }
              </style>
              <style>
                #shopify-section-1742133551991094389c .advc-body[data-block-id='174167305874932edd24'] {
                  --advc-body-font-family: "Montserrat";
                  --advc-body-font-weight: 400;
                  --advc-body-font-style: normal;
                  --advc-body-color: #ffffff;
                  --advc-body-font-size: 16px;
                  --advc-body-letter-spacing: 0em;
                  --advc-body-line-height: 1.6;
                }

                @media only screen and (max-width: 750px) {
                  #shopify-section-1742133551991094389c .advc-body[data-block-id='174167305874932edd24'] {
                    --advc-body-font-size: 14px;
                  }
                }

                .advc-body {
                  font-family: var(--advc-body-font-family);
                  color: var(--advc-body-color);
                  font-size: var(--advc-body-font-size);
                  letter-spacing: var(--advc-body-letter-spacing);
                  line-height: var(--advc-body-line-height);
                  font-weight: var(--advc-body-font-weight);
                  font-style: var(--advc-body-font-style);
                }
              </style>
              <style>
                #shopify-section-1742133551991094389c .advc-btn[data-block-id="174167305874932edd24"] {
                  --advc-btn-font-family: "Montserrat";
                  --advc-btn-font-weight: 500;
                  --advc-btn-font-style: normal;
                  --advc-btn-font-color: ;
                  --advc-btn-font-size: 13px;
                  --advc-btn-letter-spacing: 0em;
                  --advc-btn-line-height: 1.6;
                  --advc-btn-background: ;
                  --advc-btn-border-thickness: 1px;
                  --advc-btn-border-opacity: 1;
                  --advc-btn-border-radius: 0px;
                  --advc-btn-border-outset: 0px;
                  --advc-btn-border-color: ;
                  --advc-btn-shadow-color: 0, 0, 0;
                  --advc-btn-shadow-opacity: 0;
                  --advc-btn-shadow-offset-x: 0px;
                  --advc-btn-shadow-offset-y: 4px;
                  --advc-btn-shadow-blur: 5px;
                }

                @media only screen and (max-width: 750px) {
                  #shopify-section-1742133551991094389c .advc-btn[data-block-id="174167305874932edd24"] {
                    --advc-btn-font-size: 12px;
                  }
                }
              </style>
              <style>
                .block-174167305874932edd24 {
                  --block-pc-mask-opacity: 0;
                  --block-mb-mask-opacity: 0;
                }

                .block-174167305874932edd24 .advc-featured-carousel-btn1 {
                  --advc-btn-font-color: #ffffff !important;
                  --advc-btn-background: #ffffff !important;
                  --advc-btn-border-color: 255, 255, 255 !important;
                }

                .block-174167305874932edd24 .advc-featured-carousel-btn2 {
                  --advc-btn-font-color: #1c1d1d !important;
                  --advc-btn-background: #ffffff !important;
                  --advc-btn-border-color: 255, 255, 255 !important;
                }
              </style>
              <div class="advc-featured-carousel__swiper__slider-img advc-image-position-center-desktop advc-image-position-center-tablet nsa-accesstive">
                <img
                  alt=""
                  class="advc-image lazyloaded advc-parallax nsa-accesstive ls-is-cached"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="auto"
                  height="923"
                  loading="eager"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-428.jpg?v=1772524150"
                  width="1920"
                >
              </div>
              <div class="advc-featured-carousel__mask nsa-accesstive"></div>
              <div class="advc-featured-carousel__content pc-content--bottom mb-content--bottom nsa-accesstive">
                <h2
                  class="advc-custom-title-tag advc-title advc-d-none advc-d-md-block nsa-accesstive"
                  data-block-id="174167305874932edd24"
                >
                  MEET US AT CES 2024
                </h2>
                <h2
                  class="advc-custom-title-tag advc-title advc-d-md-none nsa-accesstive"
                  data-block-id="174167305874932edd24"
                >
                  MEET US AT CES 2024
                </h2>
              </div>
            </div>
          </div>
        </div>
        <style></style>
      </div>
    </div>
    <style>
      @media screen and (min-width: 960px) {
        #shopify-section-1742133551991094389c .advc-featured-carousel__content-button {
          width: inherit;
        }

        #shopify-section-1742133551991094389c a.advc-btn.advc-btn-secondary {
          width: max-content;
        }
      }

      #shopify-section-1742133551991094389c a.advc-btn.advc-btn-secondary.advc-featured-carousel-btn1 {
        border-radius: 7px;
        overflow: hidden;
        border: 1px solid #fff;
      }

      #shopify-section-1742133551991094389c a.advc-btn.advc-btn-secondary:after {
        box-shadow: 0 0;
      }

      @media screen and (max-width: 767px) {
        #shopify-section-1742133551991094389c .advc-featured-carousel__content {
          align-items: center;
        }
      }
    </style>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-1741673336663d0fee4c">
    <style>
      .spacing-1741673336663d0fee4c__container {
        height: 60px;
      }

      @media screen and (max-width: 959px) {
        .spacing-1741673336663d0fee4c__container {
          height: 40px;
        }
      }
    </style>
    <div class="spacing-1741673336663d0fee4c__container nsa-accesstive"></div>
  </div>
  <div class="shopline-section advc-section advc nsa-accesstive" id="shopify-section-1741590060843568aa91">
    <style>
      #shopify-section-1741590060843568aa91 .advc-title {
        --advc-title-font-family: "Nunito Sans";
        --advc-title-font-weight: 800;
        --advc-title-font-style: normal;
        --advc-title-color: #000000;
        --advc-title-font-size: 46px;
        --advc-title-letter-spacing: 0em;
        --advc-title-line-height: 1;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1741590060843568aa91 .advc-title {
          --advc-title-font-size: 24px;
        }
      }

      .advc-title {
        font-family: var(--advc-title-font-family);
        color: var(--advc-title-color);
        font-size: var(--advc-title-font-size);
        letter-spacing: var(--advc-title-letter-spacing);
        line-height: var(--advc-title-line-height);
        font-weight: var(--advc-title-font-weight);
        font-style: var(--advc-title-font-style);
      }
    </style>
    <style>
      #shopify-section-1741590060843568aa91 .advc-sub-title {
        --advc-sub-title-font-family: "Poppins";
        --advc-sub-title-font-weight: 600;
        --advc-sub-title-font-style: normal;
        --advc-sub-title-color: #ffffff;
        --advc-sub-title-font-size: 20px;
        --advc-sub-title-letter-spacing: 0em;
        --advc-sub-title-line-height: 1.2;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1741590060843568aa91 .advc-sub-title {
          --advc-sub-title-font-size: 18px;
        }
      }

      .advc-sub-title {
        font-family: var(--advc-sub-title-font-family);
        color: var(--advc-sub-title-color);
        font-size: var(--advc-sub-title-font-size);
        letter-spacing: var(--advc-sub-title-letter-spacing);
        line-height: var(--advc-sub-title-line-height);
        font-weight: var(--advc-sub-title-font-weight);
        font-style: var(--advc-sub-title-font-style);
      }
    </style>
    <style>
      #shopify-section-1741590060843568aa91 .advc-body {
        --advc-body-font-family: "Nunito Sans";
        --advc-body-font-weight: 400;
        --advc-body-font-style: normal;
        --advc-body-color: #000000;
        --advc-body-font-size: 20px;
        --advc-body-letter-spacing: 0em;
        --advc-body-line-height: 1.6;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1741590060843568aa91 .advc-body {
          --advc-body-font-size: 14px;
        }
      }

      .advc-body {
        font-family: var(--advc-body-font-family);
        color: var(--advc-body-color);
        font-size: var(--advc-body-font-size);
        letter-spacing: var(--advc-body-letter-spacing);
        line-height: var(--advc-body-line-height);
        font-weight: var(--advc-body-font-weight);
        font-style: var(--advc-body-font-style);
      }
    </style>
    <style>
      #shopify-section-1741590060843568aa91 {

        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        --advc-container-padding-top: 10px;
        --advc-container-padding-bottom: 10px;
        --advc-container-padding-right: 10px;
        --advc-container-padding-left: 10px;
        --advc-container-max-width: 1847px;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1741590060843568aa91 {
          margin-top: 0px;
          margin-bottom: 0px;

          margin-left: 0px;
          margin-right: 0px;

          --advc-container-padding-top: 10px;
          --advc-container-padding-bottom: 10px;
          --advc-container-padding-right: 20px;
          --advc-container-padding-left: 20px;
        }
      }
    </style>
    <style>
      #shopify-section-1741590060843568aa91 .advc-image {
        --advc-image-border-thickness: 0px;
        --advc-image-border-opacity: 1;
        --advc-image-border-radius: 0px;
        --advc-image-border-color: 0, 0, 0;
        --advc-image-shadow-opacity: 0.05;
        --advc-image-shadow-offset-x: 0px;
        --advc-image-shadow-offset-y: 4px;
        --advc-image-shadow-blur: 10px;
        --advc-image-shadow-color: 0, 0, 0;
      }
    </style>
    <style>
      #shopify-section-1741590060843568aa91 {
        --advc-pc-display: block;
        --advc-mb-display: block;
        --advc-pc-gap: 10px;
        --advc-mb-gap: 0px;
        --advc-pc-col: 2;
        --advc-mb-col: 1;
        --advc-image-desc-line-clamp: 2;
        --advc-pc-img-height: 400px;
        --advc-mb-img-height: 224px;
        --advc-slider-color: #111111;
        --advc-img-round: 0px;
      }
    </style>
    <div
      class="advc-gallery section-1741590060843568aa91 splide advc-container nsa-accesstive"
      data-cols="1"
      data-section-id="1741590060843568aa91"
      data-section-type="advc-gallery"
    >
      <h2 class="advc-gallery__title advc-title advc-text-center nsa-accesstive">Yarbo New Products at CES 2024</h2>
      <div class="advc-gallery__desc advc-body advc-text-center nsa-accesstive">
        Prior and Exclusive Access to the Upcoming Gadgets
      </div>
      <div class="splide__track advc-gallery__main nsa-accesstive" id="advc-gallery-1741590060843568aa91">
        <div class="advc-gallery__wall splide__list nsa-accesstive">
          <div class="advc-gallery-image-item splide__slide nsa-accesstive">
            <div class="advc-gallery-image-wrapper advc-a-nested advc-image nsa-accesstive" href="">
              <img
                alt=""
                class="lazyloaded advc-transition advc-image-position-center nsa-accesstive ls-is-cached"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="auto"
                height="auto"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/2-2.webp?v=1772521134"
                width="auto"
              >
              <div
                class="advc-gallery-image-wrapper--mask advc-gallery-image-wrapper--mask--fixed advc-gallery-image-wrapper--mask--bottomLeft nsa-accesstive"
                style="background-color: rgba(0, 0, 0, 0.01);"
              >
                <div class="advc-gallery__wall-item--title advc-sub-title nsa-accesstive"></div>
                <div class="advc-gallery__wall-item--desc advc-richtext advc-body advc-gallery__wall-item--desc--100 nsa-accesstive">
                  Yarbo Core + Vision Module
                </div>
              </div>
            </div>
          </div>
          <div class="advc-gallery-image-item splide__slide nsa-accesstive">
            <div class="advc-gallery-image-wrapper advc-a-nested advc-image nsa-accesstive" href="">
              <img
                alt=""
                class="lazyloaded advc-transition advc-image-position-center nsa-accesstive ls-is-cached"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="auto"
                height="auto"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/3-2.webp?v=1772521707"
                width="auto"
              >
              <div
                class="advc-gallery-image-wrapper--mask advc-gallery-image-wrapper--mask--fixed advc-gallery-image-wrapper--mask--bottomLeft nsa-accesstive"
                style="background-color: rgba(0, 0, 0, 0.02);"
              >
                <div class="advc-gallery__wall-item--title advc-sub-title nsa-accesstive"></div>
                <div class="advc-gallery__wall-item--desc advc-richtext advc-body advc-gallery__wall-item--desc--100 nsa-accesstive">
                  Yarbo Snow Blower + Granular Spreader
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section advc-section advc nsa-accesstive" id="shopify-section-1741665921511dfd11a9">
    <style>
      #shopify-section-1741665921511dfd11a9 .advc-title {
        --advc-title-font-family: "Poppins";
        --advc-title-font-weight: 600;
        --advc-title-font-style: normal;
        --advc-title-color: #000000;
        --advc-title-font-size: 32px;
        --advc-title-letter-spacing: 0em;
        --advc-title-line-height: 1;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1741665921511dfd11a9 .advc-title {
          --advc-title-font-size: 24px;
        }
      }

      .advc-title {
        font-family: var(--advc-title-font-family);
        color: var(--advc-title-color);
        font-size: var(--advc-title-font-size);
        letter-spacing: var(--advc-title-letter-spacing);
        line-height: var(--advc-title-line-height);
        font-weight: var(--advc-title-font-weight);
        font-style: var(--advc-title-font-style);
      }
    </style>
    <style>
      #shopify-section-1741665921511dfd11a9 .advc-sub-title {
        --advc-sub-title-font-family: "Poppins";
        --advc-sub-title-font-weight: 600;
        --advc-sub-title-font-style: normal;
        --advc-sub-title-color: #ffffff;
        --advc-sub-title-font-size: 20px;
        --advc-sub-title-letter-spacing: 0em;
        --advc-sub-title-line-height: 1.2;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1741665921511dfd11a9 .advc-sub-title {
          --advc-sub-title-font-size: 18px;
        }
      }

      .advc-sub-title {
        font-family: var(--advc-sub-title-font-family);
        color: var(--advc-sub-title-color);
        font-size: var(--advc-sub-title-font-size);
        letter-spacing: var(--advc-sub-title-letter-spacing);
        line-height: var(--advc-sub-title-line-height);
        font-weight: var(--advc-sub-title-font-weight);
        font-style: var(--advc-sub-title-font-style);
      }
    </style>
    <style>
      #shopify-section-1741665921511dfd11a9 .advc-body {
        --advc-body-font-family: "Nunito Sans";
        --advc-body-font-weight: 400;
        --advc-body-font-style: normal;
        --advc-body-color: #000000;
        --advc-body-font-size: 20px;
        --advc-body-letter-spacing: 0em;
        --advc-body-line-height: 1.6;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1741665921511dfd11a9 .advc-body {
          --advc-body-font-size: 14px;
        }
      }

      .advc-body {
        font-family: var(--advc-body-font-family);
        color: var(--advc-body-color);
        font-size: var(--advc-body-font-size);
        letter-spacing: var(--advc-body-letter-spacing);
        line-height: var(--advc-body-line-height);
        font-weight: var(--advc-body-font-weight);
        font-style: var(--advc-body-font-style);
      }
    </style>
    <style>
      #shopify-section-1741665921511dfd11a9 {

        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        --advc-container-padding-top: 10px;
        --advc-container-padding-bottom: 10px;
        --advc-container-padding-right: 10px;
        --advc-container-padding-left: 10px;
        --advc-container-max-width: 1847px;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-1741665921511dfd11a9 {
          margin-top: 0px;
          margin-bottom: 0px;

          margin-left: 0px;
          margin-right: 0px;

          --advc-container-padding-top: 10px;
          --advc-container-padding-bottom: 10px;
          --advc-container-padding-right: 20px;
          --advc-container-padding-left: 20px;
        }
      }
    </style>
    <style>
      #shopify-section-1741665921511dfd11a9 .advc-image {
        --advc-image-border-thickness: 0px;
        --advc-image-border-opacity: 1;
        --advc-image-border-radius: 0px;
        --advc-image-border-color: 0, 0, 0;
        --advc-image-shadow-opacity: 0.05;
        --advc-image-shadow-offset-x: 0px;
        --advc-image-shadow-offset-y: 4px;
        --advc-image-shadow-blur: 10px;
        --advc-image-shadow-color: 0, 0, 0;
      }
    </style>
    <style>
      #shopify-section-1741665921511dfd11a9 {
        --advc-pc-display: block;
        --advc-mb-display: block;
        --advc-pc-gap: 10px;
        --advc-mb-gap: 0px;
        --advc-pc-col: 2;
        --advc-mb-col: 1;
        --advc-image-desc-line-clamp: 2;
        --advc-pc-img-height: 400px;
        --advc-mb-img-height: 224px;
        --advc-slider-color: #111111;
        --advc-img-round: 0px;
      }
    </style>
    <div
      class="advc-gallery section-1741665921511dfd11a9 splide advc-container nsa-accesstive"
      data-cols="1"
      data-section-id="1741665921511dfd11a9"
      data-section-type="advc-gallery"
    >
      <div class="splide__track advc-gallery__main nsa-accesstive" id="advc-gallery-1741665921511dfd11a9">
        <div class="advc-gallery__wall splide__list nsa-accesstive">
          <div class="advc-gallery-image-item splide__slide nsa-accesstive">
            <div class="advc-gallery-image-wrapper advc-a-nested advc-image nsa-accesstive" href="">
              <img
                alt=""
                class="lazyloaded advc-transition advc-image-position-center nsa-accesstive ls-is-cached"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="auto"
                height="auto"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/4-2.webp?v=1772521799"
                width="auto"
              >
              <div
                class="advc-gallery-image-wrapper--mask advc-gallery-image-wrapper--mask--fixed advc-gallery-image-wrapper--mask--bottomLeft nsa-accesstive"
                style="background-color: rgba(0, 0, 0, 0.01);"
              >
                <div class="advc-gallery__wall-item--title advc-sub-title nsa-accesstive"></div>
                <div class="advc-gallery__wall-item--desc advc-richtext advc-body advc-gallery__wall-item--desc--100 nsa-accesstive">
                  Yarbo Lawn Mower + Liquid Spreader
                </div>
              </div>
            </div>
          </div>
          <div class="advc-gallery-image-item splide__slide nsa-accesstive">
            <div class="advc-gallery-image-wrapper advc-a-nested advc-image nsa-accesstive" href="">
              <img
                alt=""
                class="lazyloaded advc-transition advc-image-position-center nsa-accesstive ls-is-cached"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="auto"
                height="auto"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/5.webp?v=1772521847"
                width="auto"
              >
              <div
                class="advc-gallery-image-wrapper--mask advc-gallery-image-wrapper--mask--fixed advc-gallery-image-wrapper--mask--bottomLeft nsa-accesstive"
                style="background-color: rgba(0, 0, 0, 0.02);"
              >
                <div class="advc-gallery__wall-item--title advc-sub-title nsa-accesstive"></div>
                <div class="advc-gallery__wall-item--desc advc-richtext advc-body advc-gallery__wall-item--desc--100 nsa-accesstive">
                  Yarbo Lawn Mower Pro
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-17415906239954af65ba">
    <style>
      #shopify-section-17415906239954af65ba.section-padding,
      #shopify-section-17415906239954af65ba .section-padding {
        padding-top: 40px;
        padding-bottom: 0px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-17415906239954af65ba.section-padding,
        #shopify-section-17415906239954af65ba .section-padding {
          padding-top: 20px;
          padding-bottom: 0px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--center rich-text__blocks">
        <h2 class="rte rich-text__heading title3">
          <span style="font-size: 34px;"><strong>Yarbo's Best Recommendations</strong></span>
        </h2>
      </div>
    </div>
  </div>
  <div class="shopline-section section" id="shopify-section-174159059542004108b0">
    <style>
      #shopify-section-174159059542004108b0.section-padding,
      #shopify-section-174159059542004108b0 .section-padding {
        padding-top: 32px;
        padding-bottom: 34px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-174159059542004108b0.section-padding,
        #shopify-section-174159059542004108b0 .section-padding {
          padding-top: 16px;
          padding-bottom: 17px;
        }
      }
    </style>
    <div class="section-padding page-width">
      <div class="image-with-text image-with-text--align-middle img-w-medium pos-left image-with-text--stretch">
        <a
          class="image-with-text__img-wrap image-with-text__img-wrap--auto global-media-border-shadow hover-image-scale"
          href="javascript:;"
        >
          <div class="image-with-text__image-box">
            <img
              alt=""
              class="image-with-text__image"
              data-scale="hover-scale"
              decoding="async"
              fetchpriority="auto"
              height="1040"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1-6.webp?v=1772521014"
              width="1280"
            >
          </div>
        </a>
        <div class="image-with-text__info-wrap color-scheme-2">
          <div class="image-with-text__info-reference">
            <div class="image-with-text__info image-with-text__info--align-left image-with-text__info--m-align-left">
              <h2 class="title3 image-with-text__title image-with-text__title--size-medium">Yarbo Snow Blower</h2>
              <div class="body3 image-with-text__content rte">
                <strong>A smart snowblower that frees you from bitter winter shoveling</strong><br>
                <ul>
                  <li><span style="font-size: 14px;">Two-stage snow blower;</span></li>
                  <li>
                    <span style="font-size: 14px;"
                      >Wireless docking station and weather detection for hands-free operation;</span
                    >
                  </li>
                  <li><span style="font-size: 14px;">24 inches cleaning width;</span></li>
                  <li><span style="font-size: 14px;">6-40 ft adjustable throwing distance;</span></li>
                  <li><span style="font-size: 14px;">Lithium-ion battery powered for a greener world.</span></li>
                </ul>
              </div>
              <a class="image-with-text__btn button" href="/products/snow-blower-robot"> Learn more </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section" id="shopify-section-1741590601103089c765">
    <style>
      #shopify-section-1741590601103089c765.section-padding,
      #shopify-section-1741590601103089c765 .section-padding {
        padding-top: 0px;
        padding-bottom: 80px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1741590601103089c765.section-padding,
        #shopify-section-1741590601103089c765 .section-padding {
          padding-top: 0px;
          padding-bottom: 40px;
        }
      }
    </style>
    <div class="section-padding page-width">
      <div class="image-with-text image-with-text--align-middle img-w-medium pos-right image-with-text--stretch">
        <a
          class="image-with-text__img-wrap image-with-text__img-wrap--auto global-media-border-shadow hover-image-scale"
          href="javascript:;"
        >
          <div class="image-with-text__image-box">
            <img
              alt=""
              class="image-with-text__image"
              data-scale="hover-scale"
              decoding="async"
              fetchpriority="auto"
              height="1040"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/q-100-14.webp?v=1772524303"
              width="1280"
            >
          </div>
        </a>
        <div class="image-with-text__info-wrap color-scheme-2">
          <div class="image-with-text__info-reference">
            <div class="image-with-text__info image-with-text__info--align-left image-with-text__info--m-align-left">
              <h2 class="title3 image-with-text__title image-with-text__title--size-medium">Yarbo Lawn Mower</h2>
              <div class="body3 image-with-text__content rte">
                <strong>A perimeter wire free lawn mower robot that keeps your lawn perfectly 24/7<br></strong>
                <ul>
                  <li><span style="font-size: 14px;">Unmatched industry-leading cutting width;</span></li>
                  <li><span style="font-size: 14px;">Multi-zone management;</span></li>
                  <li><span style="font-size: 14px;">IPX6 waterproof;</span></li>
                  <li>
                    <span style="font-size: 14px;">Binocular camera for smart obstacle detection and bypass;</span>
                  </li>
                  <li>
                    <span style="font-size: 14px;">Auto-recharge with wireless docking station.</span
                    ><strong><br></strong>
                  </li>
                </ul>
              </div>
              <a class="image-with-text__btn button" href="/products/lawn-mower-robot"> Learn more </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section vps__wrapper nsa-accesstive" id="shopify-section-1742133943832e5527b9">
    <video-picture-slideshow class="vps page-width nsa-accesstive" data-init="true">
      <div
        aria-roledescription="carousel"
        class="splide splide--loop splide--ltr nsa-accesstive"
        id="splide01"
        role="region"
      >
        <h2 class="vps__title nsa-accesstive">
          <div class="yb-section-common nsa-accesstive">
            <div class="yb-section-common-title nsa-accesstive">Moments at the Show</div>
          </div>
        </h2>
        <div aria-atomic="true" aria-live="polite" class="vps__track splide__track nsa-accesstive" id="splide01-track">
          <ul class="vps__list splide__list nsa-accesstive" id="splide01-list" role="presentation">
            <li
              class="vps__slide splide__slide splide__slide--has-video nsa-accesstive"
              data-splide-video="https://cdn4.fireworktv.com/medias/2025/1/2/1735802550-vqkodjnt/watermarked/720/ces-2024-01-16.mp4"
              id="splide01-slide01"
            >
              <div class="splide__video nsa-accesstive">
                <button aria-label="Play Video" class="splide__video__play" type="button"></button>
                <div class="splide__video__wrapper nsa-accesstive">
                  <video
                    class="video-js vjs-default-skin"
                    controls=""
                    id="vjs_video_740"
                    loop=""
                    muted=""
                    playsinline=""
                    src="https://cdn4.fireworktv.com/medias/2025/1/2/1735802550-vqkodjnt/watermarked/720/ces-2024-01-16.mp4"
                  ></video>
                </div>
              </div>
            </li>
            <li
              class="vps__slide splide__slide nsa-accesstive"
              id="splide01-slide02"
              style="background: url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/ef4a5b6506aa437792796c2bfa06e672.jpg?v=1772520785') center center / cover no-repeat;"
            >
              <img
                class="vps__slide__image nsa-accesstive"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/ef4a5b6506aa437792796c2bfa06e672.jpg?v=1772520785"
                style="display: none;"
              >
            </li>
            <li
              class="vps__slide splide__slide nsa-accesstive"
              id="splide01-slide03"
              style="background: url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/3e4258cf76224f52b4878cf61d205379.jpg?v=1772520754') center center / cover no-repeat;"
            >
              <img
                class="vps__slide__image nsa-accesstive"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/3e4258cf76224f52b4878cf61d205379.jpg?v=1772520754"
                style="display: none;"
              >
            </li>
            <li
              class="vps__slide splide__slide nsa-accesstive"
              id="splide01-slide04"
              style="background: url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/03c7f2e525b842e69c81aed3db2cf88f.jpg?v=1772520735') center center / cover no-repeat;"
            >
              <img
                class="vps__slide__image nsa-accesstive"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/03c7f2e525b842e69c81aed3db2cf88f.jpg?v=1772520735"
                style="display: none;"
              >
            </li>
            <li
              class="vps__slide splide__slide nsa-accesstive"
              id="splide01-slide05"
              style="background: url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/e207e7d9fe87472f939fe97b50bcaea0.jpg?v=1772520779') center center / cover no-repeat;"
            >
              <img
                class="vps__slide__image nsa-accesstive"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/e207e7d9fe87472f939fe97b50bcaea0.jpg?v=1772520779"
                style="display: none;"
              >
            </li>
          </ul>
        </div>
        <div class="vps__tools nsa-accesstive">
          <div class="vps__arrows splide__arrows splide__arrows--ltr nsa-accesstive">
            <button aria-label="Previous slide" class="vps__arrow splide__arrow splide__arrow--prev" type="button">
              <svg fill="none" height="16" viewbox="0 0 12 16" width="12" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.9074 7.62003L7.49001 4.03742L8.25 4.7974L5.04738 8.00002L8.25 11.2026L7.49001 11.9626L3.9074 8.38002C3.69753 8.17015 3.69753 7.82989 3.9074 7.62003Z" fill="currentColor"></path>
              </svg>
            </button>
            <button aria-label="Next slide" class="vps__arrow splide__arrow splide__arrow--next" type="button">
              <svg fill="none" height="16" viewbox="0 0 12 16" width="12" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.0926 8.37997L4.50999 11.9626L3.75 11.2026L6.95262 7.99998L3.75 4.79736L4.50999 4.03737L8.0926 7.61998C8.30247 7.82985 8.30247 8.17011 8.0926 8.37997Z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
          <ul class="vps__pagination splide__pagination splide__pagination--ltr nsa-accesstive" role="tablist"></ul>
        </div>
      </div>
    </video-picture-slideshow>
  </div>
  <div class="shopline-section" id="shopify-section-1751616933168cd4b362">
    <style>
      #shopify-section-1751616933168cd4b362 {
        background-color: rgba(0, 0, 0, 0);
      }

      /* 375-679px */
      @media (max-width: 679px) {
        #shopify-section-1751616933168cd4b362 {
          padding-top: 48px;
          padding-bottom: 48px;
        }
      }

      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1751616933168cd4b362 {
          padding-top: 64px;
          padding-bottom: 64px;
        }
      }

      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1751616933168cd4b362 {
          padding-top: 64px;
          padding-bottom: 64px;
        }
      }

      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1751616933168cd4b362 {
          padding-top: 100px;
          padding-bottom: 100px;
        }
      }

      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-1751616933168cd4b362 {
          padding-top: 120px;
          padding-bottom: 120px;
        }
      }
    </style>
    <div class="multicolumn-image-with-text">
      <div class="multicolumn-image-with-text-wrapper">
        <div class="multicolumn-heading">
          <div class="heading yb-section-title">Contact Us</div>
        </div>
        <div class="multicolumn-items">
          <div class="multicolumn-items-wrapper grid-column-2" style="grid-template-columns: repeat(2, 1fr);">
            <div class="multicolumn-item-inner">
              <div class="multicolumn-contents">
                <div class="multicolumn-image">
                  <img
                    alt=""
                    class="image"
                    data-scale="hover-scale"
                    decoding="async"
                    fetchpriority="auto"
                    height="100"
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-495.png?v=1772523059"
                    width="100"
                  >
                </div>
                <div class="multicolumn-image-content">
                  <div class="block-title">Reach Out to Our PR Team</div>
                  <div class="block-description">
                    <div class="md:text-lg mt-2 mobile:mt-1">media@yarbo.com</div>
                    <a class="md:text-lg text-[#1D83FA] cursor-pointer" href="https://yarbo.myshopline.com/media-kits"
                      >Download Media Kit</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="multicolumn-item-inner">
              <div class="multicolumn-contents">
                <div class="multicolumn-image">
                  <img
                    alt=""
                    class="image"
                    data-scale="hover-scale"
                    decoding="async"
                    fetchpriority="auto"
                    height="100"
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Group-496.png?v=1772523064"
                    width="100"
                  >
                </div>
                <div class="multicolumn-image-content">
                  <div class="block-title">Reach Out to Our Sales Team</div>
                  <div class="block-description">
                    <div class="md:text-lg mt-2 mobile:mt-1">dealer@yarbo.com</div>
                    <div class="md:text-lg">+1 (631) 818 1850</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      #shopify-section-1751616933168cd4b362 .multicolumn-heading {
        margin: 0px auto;
        text-align: center;
      }

      #shopify-section-1751616933168cd4b362 .multicolumn-image img {
        width: 100%;
        height: 100%;
      }

      #shopify-section-1751616933168cd4b362 .multicolumn-contents {
        display: flex;
        text-align: left;
        gap: 16px;
        flex: 1;
      }

      #shopify-section-1751616933168cd4b362 .block-description {
        color: #6E6E73;
        font-size: 14px;
        line-height: 140%;
        font-weight: 400;
        word-wrap: break-word;
      }

      #shopify-section-1751616933168cd4b362 .multicolumn-item-inner {
        background: #fff;
        padding: 16px;
        border-radius: 16px;
        overflow: visible;
        display: flex;
        flex-direction: column;
        position: relative;
      }

      #shopify-section-1751616933168cd4b362 .multicolumn-items-wrapper {
        display: grid;
        gap: 16px;
      }

      #shopify-section-1751616933168cd4b362 .multicolumn-items {
        margin: 0px auto;
        text-align: center;
      }

      #shopify-section-1751616933168cd4b362 .multicolumn-items-wrapper.grid-column-2 .multicolumn-item-inner {
        height: 100%;
      }

      /*== 1920px+ ==*/
      @media (min-width: 1920px) {
        #shopify-section-1751616933168cd4b362 .multicolumn-image-with-text {
          max-width: 1400px;
          margin: 0 auto;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-heading {
          max-width: 1000px;
          margin-bottom: 64px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-heading .description {
          font-size: 18px;
          font-weight: 400;
          line-height: 140%;
          text-align: center;
          color: #02060B;
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-1751616933168cd4b362 .rich-text-button {
          margin-top: 40px;
        }

        #shopify-section-1751616933168cd4b362 .yb-single-video-btn {
          padding: 0px 40px;
          min-width: 180px;
          text-align: center;
          height: 48px;
          line-height: 48px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-button {
          margin-top: 40px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-image {
          max-width: 108px;
          height: 108px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-items {
          max-width: 1400px;
        }

        #shopify-section-1751616933168cd4b362 .block-description {
          margin-top: 12px;
        }

        #shopify-section-1751616933168cd4b362 .block-title {
          font-size: 18px;
          font-weight: 700;
          line-height: 140%;
          color: #25282A;
        }
      }

      /*=== 1440-1919px ===*/
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1751616933168cd4b362 .multicolumn-image-with-text {
          max-width: 1200px;
          margin: 0 auto;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-heading {
          max-width: 924px;
          margin-bottom: 56px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-heading .description {
          font-size: 18px;
          font-weight: 400;
          line-height: 140%;
          text-align: center;
          color: #02060B;
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-1751616933168cd4b362 .rich-text-button {
          margin-top: 32px;
        }

        #shopify-section-1751616933168cd4b362 .yb-single-video-btn {
          padding: 13px 40px;
          min-width: 180px;
          text-align: center;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-contents {
          gap: 12px;
        }

        #shopify-section-1751616933168cd4b362 .yb-body-2 {
          font-size: 18px;
          line-height: 140%
        }

        #shopify-section-1751616933168cd4b362 .block-title {
          font-size: 14px;
          line-height: 140%;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-button {
          margin-top: 32px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-image {
          max-width: 90px;
          height: 90px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-items {
          max-width: 1200px;
        }

        #shopify-section-1751616933168cd4b362 .block-description {
          margin-top: 8px;
          font-size: 12px;
        }

        #shopify-section-1751616933168cd4b362 .block-title {
          font-size: 14px;
          font-weight: 700;
          line-height: 140%;
          color: #25282A;
        }

      }

      /*== 960-1439px ==*/
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1751616933168cd4b362 .multicolumn-image-with-text {
          max-width: 900px;
          margin: 0 auto;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-contents {
          gap: 12px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-heading {
          max-width: 728px;
          margin-bottom: 48px;
          text-align: -webkit-center;
          width: 100%;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-items-wrapper {
          gap: 12px !important;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-heading .description {
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          text-align: center;
          color: #02060B;
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-1751616933168cd4b362 .rich-text-button {
          margin-top: 24px;
        }

        #shopify-section-1751616933168cd4b362 .heading {
          font-size: 28px;
          font-weight: 800;
          line-height: 120%
        }

        #shopify-section-1751616933168cd4b362 .yb-single-video-btn {
          padding: 13px 40px;
          min-width: 180px;
          text-align: center;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-item-inner {
          width: 100%;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-button {
          margin-top: 24px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-image {
          max-width: 56px;
          height: 56px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-items {
          max-width: 900px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-item-inner {
          padding: 12px;
        }

        #shopify-section-1751616933168cd4b362 .block-title {
          font-size: 14px;
          line-height: 140%;
        }

        #shopify-section-1751616933168cd4b362 .block-description {
          margin-top: 7px;
          font-size: 12px;
        }

        #shopify-section-1751616933168cd4b362 .block-title {
          font-size: 14px;
          font-weight: 700;
          line-height: 140%;
          color: #25282A;
        }
      }

      /*=== 680-959px ===*/
      @media (min-width: 680px) and (max-width: 959px) {

        #shopify-section-1751616933168cd4b362 .multicolumn-image-with-text {
          padding: 0 24px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-heading {
          max-width: 600px;
          margin-bottom: 56px;
          text-align: -webkit-center;
          width: 100%;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-heading .description {
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          text-align: center;
          color: #02060B;
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-1751616933168cd4b362 .rich-text-button {
          margin-top: 24px;
        }

        #shopify-section-1751616933168cd4b362 .heading {
          font-size: 32px;
          font-weight: 800;
          line-height: 120%
        }

        #shopify-section-1751616933168cd4b362 .yb-single-video-btn {
          padding: 13px 40px;
          min-width: 180px;
          text-align: center;
        }

        #shopify-section-1751616933168cd4b362 .yb-body-2 {
          width: 572px;
          font-size: 16px;
          line-height: 140%
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-button {
          margin-top: 24px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-image {
          max-width: 140px;
          height: 140px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-item-inner {
          padding: 24px;
          width: 100%;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-items-wrapper {
          grid-template-columns: repeat(1, 1fr) !important;
        }

        #shopify-section-1751616933168cd4b362 .block-description {
          margin-top: 17.88px;
          font-size: 18px;
          width: 100%;
        }

        #shopify-section-1751616933168cd4b362 .block-title {
          font-size: 20px;
          font-weight: 700;
          line-height: 140%;
          color: #25282A;
          width: 100%;
        }
      }

      /*== 679px ==*/
      @media (max-width: 679px) {
        #shopify-section-1751616933168cd4b362 .multicolumn-image-with-text {
          padding: 0 16px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-heading {
          max-width: 327px;
          margin-bottom: 27px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-heading .description {
          font-size: 14px;
          font-weight: 400;
          line-height: 140%;
          text-align: center;
          color: #02060B;
        }

        .margin-top-description-style {
          margin-top: 12px;
        }

        #shopify-section-1751616933168cd4b362 .rich-text-button {
          margin-top: 16px;
        }

        #shopify-section-1751616933168cd4b362 .heading {
          margin-bottom: 12px;
        }

        #shopify-section-1751616933168cd4b362 .yb-single-video-btn {
          padding: 13px 40px;
          min-width: 180px;
          text-align: center;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-item-inner {
          padding: 16px;
          width: 100%;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-button {
          margin-top: 16px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-image {
          max-width: 64px;
          height: 64px;
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-items {
          /* max-width: 345px; */
        }

        #shopify-section-1751616933168cd4b362 .multicolumn-items-wrapper {
          grid-template-columns: repeat(1, 1fr) !important;
        }

        #shopify-section-1751616933168cd4b362 .block-description {
          margin-top: 12px;
          width: 100%;
        }

        #shopify-section-1751616933168cd4b362 .block-title {
          font-size: 14px;
          font-weight: 700;
          line-height: 140%;
          color: #25282A;
          width: 100%;
        }
      }

      #shopify-section-1751616933168cd4b362 .multicolumn-image-content {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      #shopify-section-1751616933168cd4b362 .block-rating {
        display: flex;
        gap: 1px;
        z-index: 2;
        padding: 2px 0;
        font-weight: bold;
      }

      #shopify-section-1751616933168cd4b362 .star-svg {
        display: inline-block;
        vertical-align: middle;
      }

      /* 默认文字颜色（关闭深色模式时） */
      #shopify-section-1751616933168cd4b362 .heading.yb-section-title {
        color: #25282A;
      }

      #shopify-section-1751616933168cd4b362 .rich-text-description {
        color: #25282A;
      }

      #shopify-section-1751616933168cd4b362 .block-title {
        color: #25282A;
      }

      #shopify-section-1751616933168cd4b362 .block-description {
        color: #6E6E73;
      }

      /* 深色模式样式 */
      /* 标题和描述颜色 */
      #shopify-section-1751616933168cd4b362.is-dark-mode .heading.yb-section-title,
      #shopify-section-1751616933168cd4b362[data-dark-mode="true"] .heading.yb-section-title,
      #shopify-section-1751616933168cd4b362 .is-dark-mode .heading.yb-section-title,
      #shopify-section-1751616933168cd4b362 [data-dark-mode="true"] .heading.yb-section-title {
        color: #fff !important;
      }

      #shopify-section-1751616933168cd4b362.is-dark-mode .rich-text-description,
      #shopify-section-1751616933168cd4b362[data-dark-mode="true"] .rich-text-description,
      #shopify-section-1751616933168cd4b362 .is-dark-mode .rich-text-description,
      #shopify-section-1751616933168cd4b362 [data-dark-mode="true"] .rich-text-description {
        color: #fff !important;
      }

      /* 卡片背景色 */
      #shopify-section-1751616933168cd4b362 .multicolumn-item-inner.is-dark-mode,
      #shopify-section-1751616933168cd4b362 .multicolumn-item-inner[data-dark-mode="true"] {
        background-color: #1F1F1F !important;
        background: #1F1F1F !important;
      }

      /* 卡片文字颜色 */
      #shopify-section-1751616933168cd4b362 .multicolumn-item-inner.is-dark-mode .block-title,
      #shopify-section-1751616933168cd4b362 .multicolumn-item-inner[data-dark-mode="true"] .block-title {
        color: #fff !important;
      }

      #shopify-section-1751616933168cd4b362 .multicolumn-item-inner.is-dark-mode .block-description,
      #shopify-section-1751616933168cd4b362 .multicolumn-item-inner[data-dark-mode="true"] .block-description {
        color: #E6E6E7 !important;
      }
    </style>
    <script>
      // 确保深色模式样式生效
    </script>
  </div>
  <div class="shopline-section section" id="shopify-section-1742782722694d0f0efb">
    <style>
      #shopify-section-1742782722694d0f0efb.section-padding,
      #shopify-section-1742782722694d0f0efb .section-padding {
        padding-top: 0px;
        padding-bottom: 0px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1742782722694d0f0efb.section-padding,
        #shopify-section-1742782722694d0f0efb .section-padding {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    </style>
    <style>
      #shopify-section-1742782722694d0f0efb {
        background-color: rgba(0, 0, 0, 0);
      }

      /* 375-679px */
      @media (max-width: 679px) {
        #shopify-section-1742782722694d0f0efb {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1742782722694d0f0efb {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1742782722694d0f0efb {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1742782722694d0f0efb {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-1742782722694d0f0efb {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    </style>
    <div class="section-padding rte color-scheme-none">
      <style>
        div#shopify-section-1742133551991094389c .advc-featured-carousel__content.pc-content--bottom.mb-content--bottom {
          bottom: 1.25rem;
          top: auto;
          transform: none;
        }

        div#shopify-section-1742133551991094389c h2.advc-title.advc-d-none.advc-d-md-block {
          font-size: 3rem;
          line-height: 1;
          font-family: NunitoSans, "ui-sans-serif", "system-ui", "sans-serif";
          font-weight: 700;
        }

        .advc-featured-carousel.section-1742133551991094389c .pc--750 {
          height: auto !important;
        }

        div#shopify-section-1742133551991094389c .advc-featured-carousel__swiper__slider-img.advc-image-position-center-desktop.advc-image-position-center-tablet {
          aspect-ratio: 3840 / 1845;
        }

        .advc .advc-featured-carousel__content>* {
          max-width: none;
        }

        @media (max-width: 767px) {

          div#shopify-section-1742133551991094389c h2.advc-title.advc-d-none.advc-d-md-block {
            font-size: 1rem;
            line-height: 1.5rem;
          }

          div#shopify-section-1742133551991094389c .advc-featured-carousel__content.pc-content--bottom.mb-content--bottom {
            bottom: 0.25rem;
          }
        }
      </style>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Events Ces 2024"

}
{% endschema %}
