{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}
{{ 'yb-section-slideshow.css' | asset_url | stylesheet_tag }}
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-rich-text.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-text-columns-with-image.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/component-slider.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-text-columns-with-image.js"
></script>

<style>
  .image-container img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    .hidden-phone {
      display: none !important;
    }
  }

  @media screen and (min-width: 769px) {
    .hidden-tablet-and-up {
      display: none !important;
    }
  }
</style>
<div class="migrated-page">
  <div class="image-container">
    <img
      class="hidden-phone"
      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1308a855880f4ea59921021e37b3c7da.png?v=1772521101"
    >
    <img
      class="hidden-tablet-and-up"
      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/44444.png?v=1772521833"
    >
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-1741662050229e50836f">
    <style>
      .spacing-1741662050229e50836f__container {
        height: 30px;
      }

      @media screen and (max-width: 959px) {
        .spacing-1741662050229e50836f__container {
          height: 30px;
        }
      }
    </style>
    <div class="spacing-1741662050229e50836f__container nsa-accesstive"></div>
  </div>
  <div class="shopline-section section index-section--hero nsa-accesstive" id="shopify-section-1741661837157ab91681">
    <slider-component
      autoplay="false"
      class="slideshow slideshow-layout--text-inside page-width section--padding nsa-accesstive"
      current="1"
      loop="true"
      speed="3"
      style="
        --slideshow-speed: 3s;
        --slideshow-pc-height: natural;
        --slideshow-mobile-height: natural;
        --slideshow-text-color-1: , , ;
      "
    >
      <div class="slideshow__slider slider nsa-accesstive" id="Slider-1741661837157ab91681">
        <div
          class="slideshow__slide slider__slide is-active nsa-accesstive"
          id="Slide-1741661837158f19c1ea"
          style="
            --slideshow-overlay-opacity: 0;
            --slideshow-title-size: 70px;
            --slideshow-pc-text-position-vertical: center;
            --slideshow-pc-text-position-horizontal: flex-end;
            --slideshow-mobile-text-position-vertical: center;
            --slideshow-mobile-text-position-horizontal: center;
            --slideshow-pc-text-align: center;
            --slideshow-mobile-text-align: center;
            --slideshow-pc-text-color: rgba(0, 0, 0);
            --slideshow-text-color--mb: rgba(0, 0, 0);
            --slideshow-text-area-bg-color: rgb(161.04, 163.02, 165.66);
          "
        >
          <div class="slideshow-slide__media nsa-accesstive" style="--image-show-position: center center;">
            <img
              class="slideshow-slide__image display-none display-block-desktop nsa-accesstive"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/22.png?v=1772521682"
            >
            <img
              class="slideshow-slide__image display-none-desktop nsa-accesstive"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/555555.png?v=1772521857"
            >
          </div>
          <div class="slideshow-slide__text-wrapper nsa-accesstive">
            <div class="slideshow-slide__text nsa-accesstive">
              <div class="slideshow-slide__buttons nsa-accesstive"></div>
            </div>
          </div>
        </div>
      </div>
    </slider-component>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-174166182012687d485a">
    <style>
      #shopify-section-174166182012687d485a.section-padding,
      #shopify-section-174166182012687d485a .section-padding {
        padding-top: 26px;
        padding-bottom: 24px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-174166182012687d485a.section-padding,
        #shopify-section-174166182012687d485a .section-padding {
          padding-top: 13px;
          padding-bottom: 12px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-2 nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">CES 2025</h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <p class="nsa-accesstive">
            <span class="nsa-accesstive" style="font-size: 14px;">
              Location: Venetian Expo, Hall A-D, Level 2, 201 Sands Ave, Las Vegas Date:
              <span class="font-bold nsa-accesstive">
                <strong class="nsa-accesstive">January 7th - 10th</strong>, 2025
              </span>
              Booth Number<strong class="nsa-accesstive"
                ><span class="rounded-full bg-[#FEDB1E] px-4 py-[2px] font-extrabold text-black mobile:px-1 mobile:py-0 nsa-accesstive"
                  >#51562</span
                ></strong
              >
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-1741662340110f1029f8">
    <style>
      #shopify-section-1741662340110f1029f8.section-padding,
      #shopify-section-1741662340110f1029f8 .section-padding {
        padding-top: 22px;
        padding-bottom: 0;
      }

      #shopify-section-1741662340110f1029f8 .text-columns-with-images__wrapper {
        gap: 0;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1741662340110f1029f8.section-padding,
        #shopify-section-1741662340110f1029f8 .section-padding {
          padding-top: 11px;
          padding-bottom: 0;
        }
      }
    </style>
    <div class="section section-padding text-columns-with-images color-scheme-2 section-gap--padding nsa-accesstive">
      <div class="page-width color-scheme-2 nsa-accesstive">
        <h2 class="text-columns-with-images__title section-title title3 text-center nsa-accesstive">
          Yarbo Media Event Timeline
        </h2>
        <div class="text-columns-with-images__wrapper grid grid-cols-1 grid-cols-2-desktop nsa-accesstive">
          <div class="text-columns-with-images__inner mobile-rows-no-mask nsa-accesstive">
            <div class="text-columns-with-images-item text-columns-with-images-item--center nsa-accesstive">
              <div
                class="text-columns-with-images-item__wrapper global-content-border-shadow no-border nsa-accesstive"
                style="background: #fff;"
              >
                <div class="text-columns-with-images-item__main hover-image-scale nsa-accesstive">
                  <div
                    class="text-columns-with-images-item__image text-columns-with-images-item__image--square nsa-accesstive"
                    style="width: 100%;"
                  >
                    <a class="text-columns-with-images-item__link" href="javascript:;" style="padding-bottom: 100%;">
                      <img
                        decoding="async"
                        loading="lazy"
                        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/33.webp?v=1772521726"
                      >
                    </a>
                  </div>
                  <div class="text-columns-with-images-item__content nsa-accesstive">
                    <div class="text-columns-with-images-item__text body3 rte nsa-accesstive">
                      <p class="nsa-accesstive">
                        <strong class="nsa-accesstive">CES Unveiled</strong><br>
                        <strong class="nsa-accesstive">5-8:30 PM, January 5, 2025</strong><br>
                        <strong class="nsa-accesstive">Mandalay Bay Convention Center, Shoreline Exhibit Hall</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-columns-with-images__inner mobile-rows-no-mask nsa-accesstive">
            <div class="text-columns-with-images-item text-columns-with-images-item--center nsa-accesstive">
              <div
                class="text-columns-with-images-item__wrapper global-content-border-shadow no-border nsa-accesstive"
                style="background: #fff;"
              >
                <div class="text-columns-with-images-item__main hover-image-scale nsa-accesstive">
                  <div
                    class="text-columns-with-images-item__image text-columns-with-images-item__image--square nsa-accesstive"
                    style="width: 100%;"
                  >
                    <a class="text-columns-with-images-item__link" href="javascript:;" style="padding-bottom: 100%;">
                      <img
                        decoding="async"
                        loading="lazy"
                        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/44.webp?v=1772591042"
                      >
                    </a>
                  </div>
                  <div class="text-columns-with-images-item__content nsa-accesstive">
                    <div class="text-columns-with-images-item__text body3 rte nsa-accesstive">
                      <strong class="nsa-accesstive">ShowStoppers @ CES</strong><br>
                      <strong class="nsa-accesstive">January 7, 2025</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Events Ces 2025"

}
{% endschema %}
