{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-rich-text.css"
  rel="stylesheet"
  type="text/css"
  media="all"
>
<div class="migrated-page legal-terms-of-service">
  <div id="shopify-section-17524618459099038454" class="shopline-section section">
    <style>
      #shopify-section-17524618459099038454.section-padding,
      #shopify-section-17524618459099038454 .section-padding {
        padding-top: 60px;
        padding-bottom: 10px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-17524618459099038454.section-padding,
        #shopify-section-17524618459099038454 .section-padding {
          padding-top: 30px;
          padding-bottom: 5px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--center rich-text__blocks">
        <h2 class="rte rich-text__heading title2">
          <strong><span style="font-size: 36px;">Term of Service</span></strong>
        </h2>
      </div>
    </div>
  </div>

  <div id="shopify-section-1768358708969dd6f7b3" class="shopline-section section">
    <style>
      #shopify-section-1768358708969dd6f7b3.section-padding,
      #shopify-section-1768358708969dd6f7b3 .section-padding {
        padding-top: 0px;
        padding-bottom: 10px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1768358708969dd6f7b3.section-padding,
        #shopify-section-1768358708969dd6f7b3 .section-padding {
          padding-top: 0px;
          padding-bottom: 5px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <span style="font-size: 16px;">Last Updated: Jan 23rd, 2026</span>
        </h2>
      </div>
    </div>
  </div>

  <div id="shopify-section-17524643118790294aab" class="shopline-section section">
    <style>
      #shopify-section-17524643118790294aab.section-padding,
      #shopify-section-17524643118790294aab .section-padding {
        padding-top: 30px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-17524643118790294aab.section-padding,
        #shopify-section-17524643118790294aab .section-padding {
          padding-top: 15px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">1. Introduction</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 16px;"
              >This Terms of Service (hereinafter the "Agreement") is an agreement between you (hereinafter "you" or
              "user") and Yarbo International, Inc. and its affiliates (collectively, “Yarbo”, “we”, “us” and “our”).
              The Agreement is applicable to all the users or browsers accessing Yarbo’s websites or applications that
              reference or link to this Agreement.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >Before using Yarbo’s Services, you should carefully read and fully understand all the terms and
              conditions of this Agreement.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              ><strong
                >By clicking "Agree" on the relevant web page/applications and/or creating and using an user account
                (hereinafter "Account"), you are regarded as having read, understood, and agreed to this Agreement and
                to be bound by its terms. If you do not agree to this Agreement, you have the right to exit and cease
                using Yarbo’s Services.</strong
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-17665670587519ffd645" class="shopline-section section">
    <style>
      #shopify-section-17665670587519ffd645.section-padding,
      #shopify-section-17665670587519ffd645 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-17665670587519ffd645.section-padding,
        #shopify-section-17665670587519ffd645 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <span style="font-size: 26px;"><strong>2. Eligibility</strong></span>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 16px;"
              >By accessing and/or using Yarbo’s Services, you represent and warrant that you are at least eighteen (18)
              years of age, and are otherwise legally qualified to enter into and form contracts under applicable law.
              If you are using Yarbo’s Services on behalf of a business entity, you further represent and warrant that
              you are authorized to act and enter into contracts on behalf of that business entity.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-175246251396360cbb97" class="shopline-section section">
    <style>
      #shopify-section-175246251396360cbb97.section-padding,
      #shopify-section-175246251396360cbb97 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-175246251396360cbb97.section-padding,
        #shopify-section-175246251396360cbb97 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <span style="font-size: 26px;"><strong>3. User Account, Accuracy &amp; Security information</strong></span>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>3.1 Creating an Account</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >When you access and use certain parts of Yarbo’s websites or applications, including but not limited to,
              you may be asked to create a user account and to provide personally identifiable information.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>3.2 Information Accuracy</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >For the information you provide, we will only process that information for the purposes of verification
              of your identity, and we will not process that information for unrelated purposes. You represent and
              warrant that all user information you provide in connection with your Account and your use of Yarbo’s
              Services is current, complete, and accurate, and you agree that you will update that information as
              necessary to maintain its completeness and accuracy by updating your personal profile. You agree that you
              will not submit any fake content (including without limitation any username, likeness, or profile) to
              willfully and credibly impersonate another person, whether actual or fictitious. If we believe in our sole
              discretion that the information you provide is not current, complete, or accurate, we reserve the right at
              any time to refuse or terminate you access to Yarbo’s Services. For additional information, see our
              <a
                href="https://www.yarbo.com/privacy-notice"
                target="_blank"
                rel="noopener"
                >Privacy Notice</a
              >.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>3.3 Account Security</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >You may be asked to provide a username, password, and possibly other information to secure your Account.
              You are entirely responsible for maintaining the confidentiality of your password. You may not use the
              username or password of any other person, nor may you share your username and password, nor may you
              circumvent any authentication mechanism requiring the entry of usernames, passwords, or any other
              information to gain unauthorized access to Yarbo’s Services. You agree to notify us immediately of any
              unauthorized use of your Account. We shall not be liable for any loss that you incur because of
              unauthorized use of your Account, either with or without your knowledge. You may be held liable for any
              losses incurred by us, our affiliates, officers, directors, employees, consultants, agents, and
              representatives due to unauthorized use of your Account.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-1752463274511528365e" class="shopline-section section">
    <style>
      #shopify-section-1752463274511528365e.section-padding,
      #shopify-section-1752463274511528365e .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1752463274511528365e.section-padding,
        #shopify-section-1752463274511528365e .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">4. Privacy Notice &amp; Cookies</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 16px;"
              >By using Yarbo’s Services, you represent and warrant that you have read and understood and agree to be
              bound by our
              <a
                href="https://www.yarbo.com/privacy-notice"
                target="_blank"
                rel="noopener"
                ><u>Privacy Notice</u></a
              >.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >As explained more fully in the Privacy Notice, Yarbo’s websites use cookies to collect certain
              information from you. Before using Yarbo’s websites, please carefully read and fully understand our
              <a
                href="https://www.yarbo.com/legal/cookie-notice"
                target="_blank"
                rel="noopener"
                ><u>Cookie Notice</u></a
              >.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-1752463519483b1445f2" class="shopline-section section">
    <style>
      #shopify-section-1752463519483b1445f2.section-padding,
      #shopify-section-1752463519483b1445f2 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1752463519483b1445f2.section-padding,
        #shopify-section-1752463519483b1445f2 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">5. Purchases &amp; Payments</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 16px;"
              >If you purchase a Product through Yarbo’s websites or applications, you will be required to provide your
              billing and shipping information.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >If you are not fully satisfied with the Products purchased by you on Yarbo's websites, you may return the
              Product, in its original packaging, to us for a refund within thirty (30) days from the date of Activation
              or from Three (3) calendar days after delivery of the product to the customer's address, which is earlier.
              You can request and arrange for such a refund by contacting us via Yarbo's websites. After the 30-day
              refund window has expired, your only recourse regarding the Products is through our warranty. Please
              carefully read and fully understand our
              <a href="https://www.yarbo.com/legal/refund-policy" target="_blank" rel="noopener">Refund Policy</a> and
              <a href="https://www.yarbo.com/legal/warranty" target="_blank" rel="noopener">Warranty Policy</a>.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-1752463523899edb5048" class="shopline-section section">
    <style>
      #shopify-section-1752463523899edb5048.section-padding,
      #shopify-section-1752463523899edb5048 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1752463523899edb5048.section-padding,
        #shopify-section-1752463523899edb5048 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <span style="font-size: 26px;"><strong>6. License To Use Service</strong></span>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 16px;"
              >Subject to your compliance with this Agreement, we grant you a non-exclusive, non-sublicensable,
              revocable as stated in this Agreement, non-transferable license to access Yarbo’s Services for your
              personal use.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;">This license does not include, and you must not:</span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >Republish material from Yarbo’s Services (including republication on another service), sell, rent or
              sub-license material from Yarbo’s Services</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;">Show any material from Yarbo’s Services in public</span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >Reproduce, duplicate, copy or otherwise exploit material on Yarbo’s Services for a commercial purpose</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;">Edit or otherwise modify any material on Yarbo’s Services</span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >Redistribute material from Yarbo’s Services except for content specifically and expressly made available
              for redistribution</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >Unless otherwise stated, we and/or our licensors own the intellectual property rights in Yarbo’s Services
              and material on Yarbo’s Services, and all rights not expressly granted in this Agreement are reserved by
              us.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-1752463527198904c93c" class="shopline-section section">
    <style>
      #shopify-section-1752463527198904c93c.section-padding,
      #shopify-section-1752463527198904c93c .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1752463527198904c93c.section-padding,
        #shopify-section-1752463527198904c93c .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">7. Prohibited Conduct</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 16px;"
              >We impose certain restrictions on your use of Yarbo’s Services. Any violation of this Section 7 may
              subject you to civil and/or criminal liability.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >You shall not use Yarbo’s Services in any way that causes, or may cause, damage to Yarbo’s Services or
              impairment of the availability or accessibility of Yarbo’s Services, or in any way which is unlawful,
              illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose
              or activity.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >You shall not use Yarbo’s Services to copy, store, host, transmit, send, use, publish or distribute any
              material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke
              logger, rootkit or other malicious computer software.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >You shall not conduct any systematic or automated data collection activities (including without
              limitation scraping, data mining, data extraction and data harvesting) on or in relation to Yarbo’s
              Services without our express written consent.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >You shall not engage in any of the following conduct on Yarbo’s Services, which is expressly prohibited:
              (a) providing false, misleading, or inaccurate information to us or any other person in connection with
              Yarbo’s Services; (b) impersonating, or otherwise misrepresenting affiliation, connection, or association
              with, any person or entity; (c) accessing content or data not intended for you, or logging into a server
              or account that you are not authorized to access; (d) attempting to probe, scan, or test the vulnerability
              of Yarbo’s Services, or any associated system or network, or breaching security or authentication measures
              without proper authorization; (e) interfering or attempt to interfere with the use of Yarbo’s Services by
              any other user, host, or network, including (without limitation) by submitting malware or exploiting
              software vulnerabilities; (f) forging, modifying, or falsifying any network packet or protocol header or
              metadata in any connection with, or transmission to, Yarbo’s Services (for example, SMTP email headers,
              HTTP headers, or Internet Protocol packet headers); (g) creating additional Accounts to promote your (or
              another's) business, or causing others to do so; or (h) paying anyone for interactions on Yarbo’s
              Services.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >You shall not use Yarbo’s Services to transmit or send unsolicited commercial communications.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >You shall not use Yarbo’s Services for any purposes related to marketing without our express written
              consent.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-17682718175574bf9f6a" class="shopline-section section">
    <style>
      #shopify-section-17682718175574bf9f6a.section-padding,
      #shopify-section-17682718175574bf9f6a .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-17682718175574bf9f6a.section-padding,
        #shopify-section-17682718175574bf9f6a .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">8. Reviews, Comments, Communications, And Other Content</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 16px;"
              >In the Agreement, "your user content" means material (including without limitation text, images, audio
              material, video material and audio-visual material) that you post on our platform or any other public
              forum and platforms for the purposes of reviewing, commenting, or providing feedback on our
              products/services.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >You grant to us a worldwide, irrevocable, non-exclusive, royalty-free license and sublicensable right to
              use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media
              in connection with the services and Yarbo's business, including but not limited to the purpose of
              promoting and redistributing part or all of the services. This license does not grant any rights or
              permissions to make use of your content independent of the service. You also grant to us the right to
              bring an action for infringement of these rights against third parties without your express permission.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >Your warrant that the user content is not illegal or unlawful, does not infringe any third party's legal
              rights, and must not be capable of giving rise to legal action whether against you or us or a third party
              (in each case under any applicable law). You must not submit any user content to Yarbo’s Services that is
              or has ever been the subject of any threatened or actual legal proceedings or other similar complaints.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >We reserve the right at all times and at our sole discretion to edit or remove any material submitted to
              Yarbo’s Services, or stored on our servers, or hosted or published upon Yarbo’s Services.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >Notwithstanding our rights under these Terms of Service in relation to user content, we do not undertake
              to monitor the submission of such content to, or the publication of such content on, Yarbo’s Services, and
              we are not responsible for any user content.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-1768272027584498d730" class="shopline-section section">
    <style>
      #shopify-section-1768272027584498d730.section-padding,
      #shopify-section-1768272027584498d730 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1768272027584498d730.section-padding,
        #shopify-section-1768272027584498d730 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">9. No Warranties; Limitation Of Liability</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>9.1 No Warranties</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >We, on behalf of ourselves and our licensors and suppliers, expressly disclaims any and all warranties,
              express or implied, regarding Yarbo’s Services, arising by operation of law or otherwise, including
              without limitation any and all implied warranties of merchantability, fitness for a particular purpose,
              non-infringement, no encumbrance, or title, in addition to any warranties arising from a course of
              dealing, usage, or trade practice. Neither we nor our licensors or suppliers warrant that Yarbo’s Services
              will meet your requirements, or that the operation of Yarbo’s Services will be uninterrupted or
              error-free. We disclaim all implied liability for damages arising out of the furnishing of Yarbo’s
              Services pursuant to this Agreement, including without limitation, mistakes, omissions, interruptions,
              delays, tortious conduct, errors, representations, or other defects arising out of the failure to furnish
              Yarbo’s Services, whether caused by acts of commission or omission, or any other damage occurring. We
              shall not be liable for any indirect, incidental, special, consequential, or punitive damages (including
              without limitation damages for lost profits or lost revenues), whether caused by the acts or omissions of
              us, or our users, or their agents or representatives.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"
              ><strong>9.2 Your Responsibility for Loss or Damage; Backup of Data.</strong></span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >You agree that your use of Yarbo’s Services is at your sole risk. You will not hold us or our licensors
              and suppliers, as applicable, responsible for any loss or damage that results from your access to and/or
              use of Yarbo’s Services, including without limitation any loss or damage to any of your computers, mobile
              devices, including without limitations tablets and/or smartphones, or data. Yarbo’s Services may contain
              bugs, errors, problems, or other limitations.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>9.3 Limitation of Liability</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >In no event shall we or our licensors or suppliers be liable to you for any claims arising from your use
              with Yarbo’s Services, including without limitation for special, incidental, or consequential damages,
              lost profits, lost data or confidential or other information, loss of privacy, costs of procurement of
              substitute goods or services, failure to meet any duty including without limitation of good faith or of
              reasonable care, negligence, or otherwise, regardless of the foreseeability of those damages or of any
              advice or notice given to us or our licensors and suppliers arising out of or in connection with your use
              of Yarbo’s Services. This limitation shall apply regardless of whether the damages arise out of breach of
              contract, tort, or any other legal theory or form of action. You agree that this limitation of liability
              represents a reasonable allocation of risk and is a fundamental element of the basis of the bargain
              between you and us. Yarbo’s Services would not be provided without such limitations.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>9.4 Application of Disclaimers</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >The above disclaimers, waivers, and limitations do not in any way limit any other disclaimer of
              warranties or any other limitation of liability in any other agreement between you and us or between you
              and any of our licensors and suppliers. Some jurisdictions may not allow the exclusion of certain implied
              warranties or the limitation of certain damages, so some of the above disclaimers, waivers, and
              limitations of liability may not apply to you. Our licensors and suppliers are intended third-party
              beneficiaries of these disclaimers, waivers, and limitations. No advice or information, whether oral or
              written, obtained by you through Yarbo’s Services or otherwise shall alter any of the disclaimers or
              limitations stated in this section.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-1768272088095f685250" class="shopline-section section">
    <style>
      #shopify-section-1768272088095f685250.section-padding,
      #shopify-section-1768272088095f685250 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1768272088095f685250.section-padding,
        #shopify-section-1768272088095f685250 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">10. Intellectual Property</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 16px;"
              >You represent and warrant that, when using Yarbo’s Services, you will obey all applicable laws and
              respect the intellectual property rights of others. Your use of Yarbo’s Services is at all times governed
              by and subject to copyright and other intellectual property laws. You agree not to upload, post, transmit,
              display, perform, or distribute any content, information, or other materials in violation of any third
              party's copyrights, trademarks, or other intellectual property or proprietary rights.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-17682723237101dec478" class="shopline-section section">
    <style>
      #shopify-section-1768273237101dec478.section-padding,
      #shopify-section-1768273237101dec478 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1768273237101dec478.section-padding,
        #shopify-section-1768273237101dec478 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">11. Other Parties</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 16px;"
              >Yarbo’s Services may be linked with services of third parties ("Third Party Services"), we do not have
              control over the content and performance of Third Party Services. We have not reviewed, and cannot review
              or control, all of the material, including computer software or other goods or services, made available on
              Third Party Services. Accordingly, we do not represent, warrant, or endorse any Third Party Services, or
              the accuracy, currency, content, fitness, lawfulness, or quality of the information, material, goods, or
              services available through Third Party Services. We disclaim, and you agree to assume, all responsibility
              and liability for any damages or other harm, whether to you or to third parties, resulting from your use
              of Third Party Services.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-1768273533550977a5ef" class="shopline-section section">
    <style>
      #shopify-section-1768273533550977a5ef.section-padding,
      #shopify-section-1768273533550977a5ef .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1768273533550977a5ef.section-padding,
        #shopify-section-1768273533550977a5ef .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">12. Termination</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>12.1</strong></span>
            <span
              style="font-size: 16px;"
              >Without limiting any other provision of this Agreement, we reserve the right to, in our sole discretion
              and without notice or liability, deny the use of Yarbo’s Services to any person for any reason or no
              reason at all, including without limitation for any breach or suspected breach of any representation,
              warranty, or covenant contained in this Agreement, or of any applicable law or regulation. This Agreement
              shall automatically terminate if you breach any of this Agreement's representations, warranties, or
              covenants. Such termination shall be automatic and shall not require any action by us.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>12.2</strong></span>
            <span
              style="font-size: 16px;"
              >Any termination of this Agreement automatically terminates all rights and licenses granted to you under
              this Agreement, including all rights to use Yarbo’s Services. Upon termination, we may, but has no
              obligation to, in our sole discretion, rescind any Services and/or delete from our systems all your
              Personal Information and any other files or information that you made available to us or that otherwise
              relate to your use of Yarbo’s Services. Upon termination, you shall cease any use of Yarbo’s Services.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >After termination, we reserve the right to exercise whatever means it deems necessary to prevent your
              unauthorized use of Yarbo’s Services, including without limitation technological barriers such as IP
              blocking and direct contact with your Internet Service Provider.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-176827371687399691d9" class="shopline-section section">
    <style>
      #shopify-section-176827371687399691d9.section-padding,
      #shopify-section-176827371687399691d9 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-176827371687399691d9.section-padding,
        #shopify-section-176827371687399691d9 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">13. Dispute Resolution</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>13.1</strong></span>
            <span
              style="font-size: 16px;"
              >This Agreement and your relationship with us are governed by the applicable law in your region, without
              reference to conflict of laws.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>13.2</strong></span>
            <span
              style="font-size: 16px;"
              >Any dispute, controversy, or claim arising out of or relating to this Agreement, or the interpretation,
              breach, termination or validity hereof, shall first be subject to resolution through consultation between
              the parties to such dispute, controversy or claim. Such consultation shall begin within seven (7) days
              after one party has delivered to one or more parties a written request for such consultation. If within
              thirty (30) days following the commencement of such consultation the dispute cannot be resolved, any
              dispute arising out of or in connection with this Agreement shall be submitted to the exclusive
              jurisdiction of the state and federal courts located in the State of New York, and the parties hereby
              irrevocably consent to the jurisdiction of such courts.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-1768273854688df834d6" class="shopline-section section">
    <style>
      #shopify-section-1768273854688df834d6.section-padding,
      #shopify-section-1768273854688df834d6 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1768273854688df834d6.section-padding,
        #shopify-section-1768273854688df834d6 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">14. Firmware And Software Update Policy</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 16px;"
              >We are committed to providing you with secure, compliant, efficient, and convenient services. To ensure
              your device operates securely, reliably, and remains equipped with the latest features, we will
              periodically provide firmware and software updates (collectively, "Updates").</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-17682739627439b0aa36" class="shopline-section section">
    <style>
      #shopify-section-17682739627439b0aa36.section-padding,
      #shopify-section-17682739627439b0aa36 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-17682739627439b0aa36.section-padding,
        #shopify-section-17682739627439b0aa36 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">15. Notices</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 16px;"
              >We shall give any notice by email sent to the most recent email address, if any, provided by the intended
              recipient to us. You agree that any notice received from us electronically satisfies any legal requirement
              that such notice is in writing. You bear the sole responsibility of ensuring that your email address on
              file with us is accurate and current, and notice to you shall be deemed effective upon the sending by us
              of an email to that address. You shall give any notice to us by submitting said notice to us at
              <a
                style="color: #3598db;"
                href="mailto:support@Yarbo.com"
                target="_blank"
                rel="noopener"
                >support@Yarbo.com</a
              >.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-1768274283012a16a8f2" class="shopline-section section">
    <style>
      #shopify-section-1768274283012a16a8f2.section-padding,
      #shopify-section-1768274283012a16a8f2 .section-padding {
        padding-top: 0px;
        padding-bottom: 60px;
      }

      @media only screen and (max-width: 959px) {

        #shopify-section-1768274283012a16a8f2.section-padding,
        #shopify-section-1768274283012a16a8f2 .section-padding {
          padding-top: 0px;
          padding-bottom: 30px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none">
      <div class="page-width rich-text__wrapper--left rich-text__blocks">
        <h2 class="rte rich-text__heading title5">
          <strong><span style="font-size: 26px;">16. Miscellaneous</span></strong>
        </h2>
        <div class="rte rich-text__text body2">
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>16.1 Assignment</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >We may transfer, sub-contract or otherwise deal with our rights and/or obligations under the Agreement
              without notifying you or obtaining your consent. You may not transfer, sub-contract or otherwise deal with
              your rights and/or obligations under the Agreement.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>16.2 Severability</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >If a provision of the Agreement is determined by any court or other competent authority to be unlawful
              and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable
              provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be
              deleted, and the rest of the provision will continue in effect.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>16.3 No Waiver</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >A waiver by either party of any term or condition of this Agreement, or any breach, in any one instance,
              will not waive that term or condition or any later breach.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>16.4 Independent Contractors</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >You and we are independent contractors, and no agency, partnership, joint venture, or employee-employer
              relationship is intended or created by this Agreement.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>16.5 No Third-Party Beneficiaries</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >There are no third-party beneficiaries to this Agreement, with the following exceptions: Indemnitees, and
              our licensors and suppliers (to the extent expressly stated in this Agreement).</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>16.6 Entire Agreement</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >This Terms of Service, together with our other policies, constitute the entire agreement between you and
              us in relation to your use of Yarbo’s Services, and supersede all previous agreements in respect of your
              use of Yarbo’s Service.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>16.7 Changes to the Agreement</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >If we decide to change the Agreement, we will update the modification date at the beginning of the
              Agreement. If the change is material, we will provide you with notice pursuant to Section 15.</span
            >
          </div>
          <div class="ace-line">
            <span style="font-size: 18px;"><strong>16.8 Contact Us</strong></span>
          </div>
          <div class="ace-line">
            <span style="font-size: 16px;"
              >If you have any questions about our Terms of Service, please contact us at
              <a
                style="color: #3598db;"
                href="mailto:support@Yarbo.com"
                target="_blank"
                rel="noopener"
                >support@Yarbo.com</a
              >.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Legal Terms Of Service"

}
{% endschema %}
