{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}
{{ 'yb-section-slideshow.css' | asset_url | stylesheet_tag }}
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_d2bed8fb-7a92-4427-b779-7efa68728f2b.css"
  rel="stylesheet"
>

<style>
  #welcome-iframe {
    background-color: white;
  }

  iframe {
    border: none;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .migrated-page h2 {
    color: #fff
  }
</style>
<div class="migrated-page">
  <div class="shopline-section section index-section--hero" id="shopify-section-1741058787733dffc2e6">
    <slider-component
      autoplay="false"
      class="slideshow slideshow-layout--text-inside"
      current="1"
      loop="true"
      speed="7"
      style="
        --slideshow-speed: 7s;
        --slideshow-pc-height: 750px;
        --slideshow-mobile-height: 500px;--slideshow-text-color-1: 255, 255, 255;
      "
    >
      <div class="slideshow__slider slider" id="Slider-1741058787733dffc2e6">
        <div
          class="slideshow__slide slider__slide is-active"
          id="Slide-1741058787733e1bbbfa"
          style="
            --slideshow-overlay-opacity: 0;
            --slideshow-title-size: 40px;
            --slideshow-pc-text-position-vertical: flex-end;
            --slideshow-pc-text-position-horizontal: flex-start;
            --slideshow-mobile-text-position-vertical: flex-end;
            --slideshow-mobile-text-position-horizontal: flex-start;
            --slideshow-pc-text-align: left;
            --slideshow-mobile-text-align: left;
            --slideshow-pc-text-color: #ffffff;
            --slideshow-text-color--mb: #ffffff;
            --slideshow-text-area-bg-color:rgb(161.04, 163.02, 165.66);
          "
        >
          <div class="slideshow-slide__media" style="--image-show-position: 20% 50%;">
            <img
              alt=""
              class="slideshow-slide__image display-none display-block-desktop"
              data-scale="hover-scale"
              decoding="async"
              fetchpriority="high"
              height="900"
              loading="eager"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_1.jpg?v=1772523951"
              width="1920"
            >
            <img
              alt=""
              class="slideshow-slide__image display-none-desktop"
              data-scale="hover-scale"
              decoding="async"
              fetchpriority="high"
              height="900"
              loading="eager"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_1.jpg?v=1772523951"
              width="1920"
            >
          </div>
          <div
            class="slideshow-slide__text-wrapper slideshow-slide__text-max-width"
            style="--pc-content-width: 1200px; --pc-content-padding: 5%;"
          >
            <div class="slideshow-slide__text">
              <h2 class="slideshow-slide__title title1">
                Book an Online Demo to See Yarbo in Action
              </h2>
              <div class="slideshow-slide__buttons">
                <a
                  class="button slideshow-slide__button button"
                  href="javascript:;"
                  id="target_scroll_slideshow-slide__button"
                  scroll-id="welcome-iframe"
                  style="
                    --slideshow-btn-text-color: 44, 44, 44;
                    --slideshow-btn-bg-color: 255, 215, 0;
                    --slideshow-btn-border-color: 0, 0, 0;
                  "
                  title="Book Demo Now"
                >
                  Book Demo Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </slider-component>
    <style>
      #shopify-section-1741058787733dffc2e6 a#target_scroll_slideshow-slide__button {
        border-radius: 50px;
        overflow: hidden;
      }

      #shopify-section-1741058787733dffc2e6 h2.slideshow-slide__title.title1 {
        font-weight: 800;
      }
    </style>
  </div>
  <div class="shopline-section advc-section advc nsa-accesstive" id="shopify-section-17410717131500232d5d">
    <style>
      #shopify-section-17410717131500232d5d .advc-title {
        --advc-title-font-weight: 600;
        --advc-title-font-style: normal;
        --advc-title-color: #000000;
        --advc-title-font-size: 32px;
        --advc-title-letter-spacing: 0em;
        --advc-title-line-height: 1.2;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-17410717131500232d5d .advc-title {
          --advc-title-font-size: 24px;
        }
      }

      .advc-title {
        font-family: var(--advc-title-font-family);
        color: var(--advc-title-color);
        font-size: var(--advc-title-font-size);
        letter-spacing: var(--advc-title-letter-spacing);
        line-height: var(--advc-title-line-height);
        font-weight: var(--advc-title-font-weight);
        font-style: var(--advc-title-font-style);
      }
    </style>
    <style>
      #shopify-section-17410717131500232d5d .advc-sub-title {
        --advc-sub-title-font-family: "Poppins";
        --advc-sub-title-font-weight: 600;
        --advc-sub-title-font-style: normal;
        --advc-sub-title-color: #000000;
        --advc-sub-title-font-size: 19px;
        --advc-sub-title-letter-spacing: 0em;
        --advc-sub-title-line-height: 1;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-17410717131500232d5d .advc-sub-title {
          --advc-sub-title-font-size: 20px;
        }
      }

      .advc-sub-title {
        font-family: var(--advc-sub-title-font-family);
        color: var(--advc-sub-title-color);
        font-size: var(--advc-sub-title-font-size);
        letter-spacing: var(--advc-sub-title-letter-spacing);
        line-height: var(--advc-sub-title-line-height);
        font-weight: var(--advc-sub-title-font-weight);
        font-style: var(--advc-sub-title-font-style);
      }
    </style>
    <style>
      #shopify-section-17410717131500232d5d .advc-body {
        --advc-body-font-family: "Montserrat";
        --advc-body-font-weight: 400;
        --advc-body-font-style: normal;
        --advc-body-color: #000000;
        --advc-body-font-size: 16px;
        --advc-body-letter-spacing: 0em;
        --advc-body-line-height: 1.6;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-17410717131500232d5d .advc-body {
          --advc-body-font-size: 14px;
        }
      }

      .advc-body {
        font-family: var(--advc-body-font-family);
        color: var(--advc-body-color);
        font-size: var(--advc-body-font-size);
        letter-spacing: var(--advc-body-letter-spacing);
        line-height: var(--advc-body-line-height);
        font-weight: var(--advc-body-font-weight);
        font-style: var(--advc-body-font-style);
      }
    </style>
    <style>
      #shopify-section-17410717131500232d5d {

        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        --advc-container-padding-top: 60px;
        --advc-container-padding-bottom: 60px;
        --advc-container-padding-right: 40px;
        --advc-container-padding-left: 40px;
        --advc-container-max-width: 1420px;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-17410717131500232d5d {
          margin-top: 0px;
          margin-bottom: 0px;

          margin-left: 0px;
          margin-right: 0px;

          --advc-container-padding-top: 40px;
          --advc-container-padding-bottom: 40px;
          --advc-container-padding-right: 20px;
          --advc-container-padding-left: 20px;
        }
      }
    </style>
    <style>
      #shopify-section-17410717131500232d5d .advc-btn {
        --advc-btn-font-family: "Montserrat";
        --advc-btn-font-weight: 500;
        --advc-btn-font-style: normal;
        --advc-btn-font-color: #000000;
        --advc-btn-font-size: 16px;
        --advc-btn-letter-spacing: 0em;
        --advc-btn-line-height: 1.6;
        --advc-btn-background: #111111;
        --advc-btn-border-thickness: 1px;
        --advc-btn-border-opacity: 1;
        --advc-btn-border-radius: 0px;
        --advc-btn-border-outset: 0px;
        --advc-btn-border-color: 17, 17, 17;
        --advc-btn-shadow-color: 0, 0, 0;
        --advc-btn-shadow-opacity: 0;
        --advc-btn-shadow-offset-x: 0px;
        --advc-btn-shadow-offset-y: 4px;
        --advc-btn-shadow-blur: 5px;
      }

      @media only screen and (max-width: 750px) {
        #shopify-section-17410717131500232d5d .advc-btn {
          --advc-btn-font-size: 14px;
        }
      }
    </style>
    <style>
      #shopify-section-17410717131500232d5d {
        --advc-container-background: rgba(255, 255, 255, 1);
      }
    </style>
    <style>
      @media only screen and (min-width: 750px) {
        .section-17410717131500232d5d .advc-row {
          --advc-gutter-x: 40px;
          --advc-gutter-y: 30px;
        }
      }

      @media only screen and (max-width: 749px) {
        .section-17410717131500232d5d .advc-row {
          --advc-gutter-x: 30px;
          --advc-gutter-y: 20px;
        }
      }

      .section-17410717131500232d5d .advc-text-columns-arrow--text {
        color: #000000;
      }

      .section-17410717131500232d5d .advc-text-columns-arrow--icon {
        color: #000000;
      }
    </style>
    <div
      class="advc-text-columns-with-images advc-container-background section-17410717131500232d5d advc-d-block advc-d-md-block nsa-accesstive"
      data-best-mobile-style="false"
      data-enable_scroll="false"
      data-mb_cols="1"
      data-pc_cols="3"
      data-section-id="17410717131500232d5d"
      data-section-type="advc-text-columns-with-images"
    >
      <script id="advc-text-columns-with-images-17410717131500232d5d" type="text/json">
        {
          "pc_show": true,
          "mb_show": true,
          "title": "What Can You Expect from Online Demo?",
          "title_align": "center",
          "image_width": "100%",
          "image_ratio": "auto",
          "pc_cols": 3,
          "md_cols": "1",
          "best_mobile_style": false,
          "text_align": "left",
          "show_block_bg": false,
          "show_touch": false,
          "enable_scroll": false,
          "scroll_direction": "left_to_right",
          "enable_pause": false,
          "pc_scroll_interval": 12,
          "mb_scroll_interval": 5,
          "container_bg_color": "#ffffff",
          "container_bg_color_gradient": "",
          "container_max_width": 1420,
          "pc_horizontal_spacing": 40,
          "pc_vertical_spacing": 30,
          "mb_horizontal_spacing": 30,
          "mb_vertical_spacing": 20,
          "title_font_color": "#000000",
          "title_pc_font_size": 32,
          "title_m_font_size": 24,
          "title_letter_spacing": 0,
          "title_line_height": 1.2,
          "sub_title_font_color": "#000000",
          "sub_title_pc_font_size": 19,
          "sub_title_m_font_size": 20,
          "sub_title_letter_spacing": 0,
          "sub_title_line_height": 1,
          "body_font_color": "#000000",
          "body_pc_font_size": 16,
          "body_m_font_size": 14,
          "body_letter_spacing": 0,
          "body_line_height": 1.6,
          "btn_pc_font_size": 16,
          "btn_m_font_size": 14,
          "btn_letter_spacing": 0,
          "btn_line_height": 1.6,
          "btn_font_color": "#000000",
          "btn_background": "#111111",
          "btn_border_color": "#111111",
          "btn_style": "arrow-link",
          "btn_hover_animation": "1",
          "btn_border_thickness": 1,
          "btn_border_opacity": 100,
          "btn_border_radius": 0,
          "btn_shadow_opacity": 0,
          "btn_shadow_offset_x": 0,
          "btn_shadow_offset_y": 4,
          "btn_shadow_blur": 5,
          "btn_shadow_color": "#000000",
          "container_config": {
            "pc": { "left": 40, "right": 40, "top": 60, "bottom": 60 },
            "mobile": { "left": 20, "right": 20, "top": 40, "bottom": 40 }
          },
          "container_margin_config": {
            "pc": { "left": 0, "right": 0, "top": 0, "bottom": 0 },
            "mobile": { "left": 0, "right": 0, "top": 0, "bottom": 0 }
          },
          "title_font_family": {
            "fallback_families": "sans-serif",
            "family": "Poppins",
            "style": "normal",
            "weight": "600",
            "variants": "600",
            "system": false
          },
          "sub_title_font_family": {
            "fallback_families": "sans-serif",
            "family": "Poppins",
            "style": "normal",
            "weight": "600",
            "variants": "600",
            "system": false
          },
          "body_font_family": {
            "fallback_families": "sans-serif",
            "family": "Montserrat",
            "style": "normal",
            "weight": "400",
            "variants": "regular",
            "system": false
          },
          "btn_font_family": {
            "fallback_families": "sans-serif",
            "family": "Montserrat",
            "style": "normal",
            "weight": "500",
            "variants": "500",
            "system": false
          }
        }
      </script>
      <div class="advc-container advc-g-md-5 advc-g-4 nsa-accesstive">
        <h2 class="advc-text-columns-with-images__title advc-title advc-text-center nsa-accesstive">
          What Can You Expect from Online Demo?
        </h2>
        <div
          class="advc-d-none advc-d-md-flex advc-text-columns-with-images__wrapper advc-row advc-row-cols-md-3 nsa-accesstive"
          style=""
        >
          <div class="advc-text-columns-with-images__inner advc-d-none advc-d-md-flex nsa-accesstive">
            <div class="advc-text-columns-with-images-item advc-text-columns-with-images-item--left nsa-accesstive">
              <div class="advc-text-columns-with-images-item__wrapper nsa-accesstive">
                <div class="advc-text-columns-with-images-item__main nsa-accesstive">
                  <div
                    class="advc-text-columns-with-images-item__image advc-text-columns-with-images-item__image--square nsa-accesstive"
                    style="width: 100%"
                  >
                    <div class="advc-text-columns-with-images-item__link nsa-accesstive" style="padding-bottom: 68.89%">
                      <img
                        alt=""
                        class="advc-image lazyloaded ls-is-cached nsa-accesstive"
                        data-scale="hover-scale"
                        decoding="async"
                        fetchpriority="auto"
                        height="auto"
                        loading="eager"
                        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_43_731d72ca-7a44-47c2-a243-56467f6a9050.png?v=1772524067"
                        width="auto"
                      >
                    </div>
                  </div>
                  <div class="advc-text-columns-with-images-item__content nsa-accesstive">
                    <div class="advc-text-columns-with-images-item__title-wrapper nsa-accesstive">
                      <div class="advc-text-columns-with-images-item__title advc-sub-title nsa-accesstive">
                        Experience Yarbo in Action
                      </div>
                      <div class="advc-text-columns-with-images-item__head-more-btn advc-sub-title nsa-accesstive">
                        <svg
                          class="advc-icon"
                          fill="none"
                          height="19"
                          viewbox="0 0 11 19"
                          width="11"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M0.999999 17.0273L9 9.02734L1 1.02734" stroke="currentColor" stroke-linecap="round" stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="advc-text-columns-with-images-item__text advc-body advc-richtext nsa-accesstive">
                      Join our online meeting for an in-depth introduction to Yarbo's capabilities, including live demo
                      of Yarbo Lawnmower, Snow Blower, and Blower.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="advc-text-columns-with-images__inner advc-d-none advc-d-md-flex nsa-accesstive">
            <div class="advc-text-columns-with-images-item advc-text-columns-with-images-item--left nsa-accesstive">
              <div class="advc-text-columns-with-images-item__wrapper nsa-accesstive">
                <div class="advc-text-columns-with-images-item__main nsa-accesstive">
                  <div
                    class="advc-text-columns-with-images-item__image advc-text-columns-with-images-item__image--square nsa-accesstive"
                    style="width: 100%"
                  >
                    <div class="advc-text-columns-with-images-item__link nsa-accesstive" style="padding-bottom: 68.89%">
                      <img
                        alt=""
                        class="advc-image lazyloaded ls-is-cached nsa-accesstive"
                        data-scale="hover-scale"
                        decoding="async"
                        fetchpriority="auto"
                        height="auto"
                        loading="lazy"
                        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_41.png?v=1772524057"
                        width="auto"
                      >
                    </div>
                  </div>
                  <div class="advc-text-columns-with-images-item__content nsa-accesstive">
                    <div class="advc-text-columns-with-images-item__title-wrapper nsa-accesstive">
                      <div class="advc-text-columns-with-images-item__title advc-sub-title nsa-accesstive">
                        Explore Yarbo Remote Control Feature
                      </div>
                      <div class="advc-text-columns-with-images-item__head-more-btn advc-sub-title nsa-accesstive">
                        <svg
                          class="advc-icon"
                          fill="none"
                          height="19"
                          viewbox="0 0 11 19"
                          width="11"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M0.999999 17.0273L9 9.02734L1 1.02734" stroke="currentColor" stroke-linecap="round" stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="advc-text-columns-with-images-item__text advc-body advc-richtext nsa-accesstive">
                      Download the Yarbo App to test drive the remote control feature and take full command of Yarbo
                      unit.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="advc-text-columns-with-images__inner advc-d-none advc-d-md-flex nsa-accesstive">
            <div class="advc-text-columns-with-images-item advc-text-columns-with-images-item--left nsa-accesstive">
              <div class="advc-text-columns-with-images-item__wrapper nsa-accesstive">
                <div class="advc-text-columns-with-images-item__main nsa-accesstive">
                  <div
                    class="advc-text-columns-with-images-item__image advc-text-columns-with-images-item__image--square nsa-accesstive"
                    style="width: 100%"
                  >
                    <div class="advc-text-columns-with-images-item__link nsa-accesstive" style="padding-bottom: 68.89%">
                      <img
                        alt=""
                        class="advc-image lazyloaded ls-is-cached nsa-accesstive"
                        data-scale="hover-scale"
                        decoding="async"
                        fetchpriority="auto"
                        height="auto"
                        loading="lazy"
                        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_42.png?v=1772524062"
                        width="auto"
                      >
                    </div>
                  </div>
                  <div class="advc-text-columns-with-images-item__content nsa-accesstive">
                    <div class="advc-text-columns-with-images-item__title-wrapper nsa-accesstive">
                      <div class="advc-text-columns-with-images-item__title advc-sub-title nsa-accesstive">
                        Interactive Q&amp;A Session
                      </div>
                      <div class="advc-text-columns-with-images-item__head-more-btn advc-sub-title nsa-accesstive">
                        <svg
                          class="advc-icon"
                          fill="none"
                          height="19"
                          viewbox="0 0 11 19"
                          width="11"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M0.999999 17.0273L9 9.02734L1 1.02734" stroke="currentColor" stroke-linecap="round" stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="advc-text-columns-with-images-item__text advc-body advc-richtext nsa-accesstive">
                      Bring your questions! Our team is ready to provide clear and thorough answers to all your
                      Yarbo-related inquiries.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="advc-d-md-none advc-text-columns-with-images__wrapper advc-row advc-row-cols-1 nsa-accesstive">
          <div class="text-columns-with-images__inner advc-d-md-none advc-d-block mobile-rows-no-mask nsa-accesstive">
            <div class="advc-text-columns-with-images-item advc-text-columns-with-images-item--left nsa-accesstive">
              <div class="advc-text-columns-with-images-item__wrapper nsa-accesstive">
                <div class="advc-text-columns-with-images-item__main nsa-accesstive">
                  <div
                    class="advc-text-columns-with-images-item__image advc-text-columns-with-images-item__image--square nsa-accesstive"
                    style="width: 100%"
                  >
                    <div class="advc-text-columns-with-images-item__link nsa-accesstive" style="padding-bottom: 68.89%">
                      <img
                        alt=""
                        class="advc-image advc-lozad lazyloaded nsa-accesstive"
                        data-scale="hover-scale"
                        decoding="async"
                        fetchpriority="auto"
                        height="auto"
                        loading="eager"
                        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_43_731d72ca-7a44-47c2-a243-56467f6a9050.png?v=1772524067"
                        width="auto"
                      >
                    </div>
                  </div>
                  <div class="advc-text-columns-with-images-item__content nsa-accesstive">
                    <div class="advc-text-columns-with-images-item__title-wrapper nsa-accesstive">
                      <div class="advc-text-columns-with-images-item__title advc-sub-title nsa-accesstive">
                        Experience Yarbo in Action
                      </div>
                      <div class="advc-text-columns-with-images-item__head-more-btn advc-sub-title nsa-accesstive">
                        <svg
                          class="advc-icon"
                          fill="none"
                          height="19"
                          viewbox="0 0 11 19"
                          width="11"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M0.999999 17.0273L9 9.02734L1 1.02734" stroke="currentColor" stroke-linecap="round" stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="advc-text-columns-with-images-item__text advc-body advc-richtext nsa-accesstive">
                      Join our online meeting for an in-depth introduction to Yarbo's capabilities, including live demo
                      of Yarbo Lawnmower, Snow Blower, and Blower.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-columns-with-images__inner advc-d-md-none advc-d-block mobile-rows-no-mask nsa-accesstive">
            <div class="advc-text-columns-with-images-item advc-text-columns-with-images-item--left nsa-accesstive">
              <div class="advc-text-columns-with-images-item__wrapper nsa-accesstive">
                <div class="advc-text-columns-with-images-item__main nsa-accesstive">
                  <div
                    class="advc-text-columns-with-images-item__image advc-text-columns-with-images-item__image--square nsa-accesstive"
                    style="width: 100%"
                  >
                    <div class="advc-text-columns-with-images-item__link nsa-accesstive" style="padding-bottom: 68.89%">
                      <img
                        alt=""
                        class="advc-image advc-lozad lazyloaded nsa-accesstive"
                        data-scale="hover-scale"
                        decoding="async"
                        fetchpriority="auto"
                        height="auto"
                        loading="lazy"
                        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_41.png?v=1772524057"
                        width="auto"
                      >
                    </div>
                  </div>
                  <div class="advc-text-columns-with-images-item__content nsa-accesstive">
                    <div class="advc-text-columns-with-images-item__title-wrapper nsa-accesstive">
                      <div class="advc-text-columns-with-images-item__title advc-sub-title nsa-accesstive">
                        Explore Yarbo Remote Control Feature
                      </div>
                      <div class="advc-text-columns-with-images-item__head-more-btn advc-sub-title nsa-accesstive">
                        <svg
                          class="advc-icon"
                          fill="none"
                          height="19"
                          viewbox="0 0 11 19"
                          width="11"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M0.999999 17.0273L9 9.02734L1 1.02734" stroke="currentColor" stroke-linecap="round" stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="advc-text-columns-with-images-item__text advc-body advc-richtext nsa-accesstive">
                      Download the Yarbo App to test drive the remote control feature and take full command of Yarbo
                      unit.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-columns-with-images__inner advc-d-md-none advc-d-block mobile-rows-no-mask nsa-accesstive">
            <div class="advc-text-columns-with-images-item advc-text-columns-with-images-item--left nsa-accesstive">
              <div class="advc-text-columns-with-images-item__wrapper nsa-accesstive">
                <div class="advc-text-columns-with-images-item__main nsa-accesstive">
                  <div
                    class="advc-text-columns-with-images-item__image advc-text-columns-with-images-item__image--square nsa-accesstive"
                    style="width: 100%"
                  >
                    <div class="advc-text-columns-with-images-item__link nsa-accesstive" style="padding-bottom: 68.89%">
                      <img
                        alt=""
                        class="advc-image advc-lozad lazyloaded nsa-accesstive"
                        data-scale="hover-scale"
                        decoding="async"
                        fetchpriority="auto"
                        height="auto"
                        loading="lazy"
                        src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-_42.png?v=1772524062"
                        width="auto"
                      >
                    </div>
                  </div>
                  <div class="advc-text-columns-with-images-item__content nsa-accesstive">
                    <div class="advc-text-columns-with-images-item__title-wrapper nsa-accesstive">
                      <div class="advc-text-columns-with-images-item__title advc-sub-title nsa-accesstive">
                        Interactive Q&amp;A Session
                      </div>
                      <div class="advc-text-columns-with-images-item__head-more-btn advc-sub-title nsa-accesstive">
                        <svg
                          class="advc-icon"
                          fill="none"
                          height="19"
                          viewbox="0 0 11 19"
                          width="11"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M0.999999 17.0273L9 9.02734L1 1.02734" stroke="currentColor" stroke-linecap="round" stroke-width="2"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="advc-text-columns-with-images-item__text advc-body advc-richtext nsa-accesstive">
                      Bring your questions! Our team is ready to provide clear and thorough answers to all your
                      Yarbo-related inquiries.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      #shopify-section-17410717131500232d5d .advc-container {
        padding-bottom: 0px;
      }

      #shopify-section-17410717131500232d5d .advc-text-columns-with-images-item__image.advc-text-columns-with-images-item__image--square {
        border-radius: 7px;
      }

      #shopify-section-17410717131500232d5d h2.advc-text-columns-with-images__title.advc-title.advc-text-left {
        font-weight: 700;
      }

      #shopify-section-17410717131500232d5d .advc-text-columns-with-images-item__title,
      #shopify-section-17410717131500232d5d .advc-text-columns-with-images-item__text,
      #shopify-section-17410717131500232d5d .advc-title {
        font-family: NunitoSans, "ui-sans-serif", "system-ui", "sans-serif";
      }

      #shopify-section-17410717131500232d5d .advc-richtext {
        color: #676A6d !important;
      }
    </style>
  </div>
  <div class="shopline-section advc-section advc" id="welcome-iframe">
    <div class="advc-container advc-g-md-5 advc-g-4">
      <iframe
        allowfullscreen=""
        height="750px"
        src="https://yarbo.zohobookings.com/portal-embed#/4580403000001167044"
        width="100%"
      ></iframe>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Live Demo"

}
{% endschema %}
