<script src='{{ 'jsencrypt.min.js' | asset_url }}'></script>
{{ 'yb-base.css' | asset_url | stylesheet_tag }}
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.development.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.development.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.22.20/babel.min.js'></script>
<link
  href='https://cdn.shopify.com/s/files/1/0604/5394/5441/files/antd-scoped.css?v=1776135340'
  rel='stylesheet'
>
<script src='https://cdnjs.cloudflare.com/ajax/libs/antd/5.11.1/antd.min.js'></script>
<style>
  :root {
    font-size: 16px;
  }
  #shopline-section-header,
  #shopline-section-announcement-bar,
  #shopline-section-footer {
    display: none;
  }

  .font-semibold {
    font-weight: 600;
  }
  .ant-input,
  .ant-btn {
    border-radius: 6px;
  }
  .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #ff4d4f;
  }
  .ant-form-item-explain-error {
    font-size: 0.75rem;
    color: #ff4d4f;
  }
  .ant-btn-primary {
    background-color: #1677ff;
  }
  .ant-btn-loading {
    opacity: 0.65;
    cursor: default;
  }
  .anticon-spin {
    display: inline-flex;
  }
  .ant-btn-icon.hidden {
    display: none !important;
  }
</style>
<script type='text/babel'>
  const emailInput = document.getElementById('reset_email');
  const emailHint = document.querySelector('#reset_email_help .ant-form-item-explain-error');
  const sendCode = document.getElementById('SendCode');
  const emailTipEle = document.getElementById('Resend-Tips');
  const codeInput = document.getElementById('reset_code');
  const codeHint = document.querySelector('#reset_code_help .ant-form-item-explain-error');
  const pwdInput = document.getElementById('reset_password');
  const pwdHint = document.querySelector('#reset_pwd_help .ant-form-item-explain-error');
  const cpwdInput = document.getElementById('reset_confirm');
  const cpwdHint = document.querySelector('#reset_cpwd_help .ant-form-item-explain-error');
  const resetPwd = document.getElementById('ResetPassword');
  const captchaService = createCaptchaService({
    sendBtn: sendCode,
    tipEle: emailTipEle,
    requestType: 2,
  });
  let state = {
    isCodeValid: false,
    isEmailValid: false,
    isPasswordValid: false,
    isConfirmValid: false,
  };

  function togglePasswordVisibility(inputId, iconElement) {
    const passwordInput = document.getElementById(inputId);
    const isPassword = passwordInput.getAttribute('type') === 'password';
    passwordInput.setAttribute('type', isPassword ? 'text' : 'password');
    const iconContainer = iconElement.querySelector('span');
    if (isPassword) {
      iconContainer.setAttribute('aria-label', 'eye');
      iconContainer.innerHTML = `
            <svg viewBox="64 64 896 896" focusable="false" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                <path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path>
            </svg>`;
    } else {
      iconContainer.setAttribute('aria-label', 'eye-invisible');
      iconContainer.innerHTML = `
            <svg viewBox="64 64 896 896" focusable="false" data-icon="eye-invisible" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                <path d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 000-51.5zm-63.57-320.64L836 122.88a8 8 0 00-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 000 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 000 11.31L155.17 889a8 8 0 0011.31 0l712.15-712.12a8 8 0 000-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 00-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 01146.2-106.69L401.31 546.2A112 112 0 01396 512z"></path>
            </svg>`;
    }
  }

  const performEmailValidation = (email) => {
    const isValid = captchaService.validate(email, 'email');

    showInputError(isValid, emailInput, emailHint, 'Incorrect email address format');
    return isValid;
  };

  const performPwdValidation = (pwd) => {
    if (pwd === '') {
      showInputError(false, pwdInput, pwdHint, 'Password cannot be empty.');
      return false;
    }

    const isValid = captchaService.validate(pwd, 'pwd');
    showInputError(
      isValid,
      pwdInput,
      pwdHint,
      'The password must be between 8 to 22 characters and must contain at least one lowercase, one uppercase, one number, and one special character.',
    );
    return isValid;
  };

  const performCodeValidation = (code) => {
    if (code === '') {
      showInputError(false, codeInput, codeHint, 'Please enter the verification code');
      return false;
    }
    // 验证码不为空，清除错误提示
    showInputError(true, codeInput, codeHint, '');
    return true;
  };

  const performCpwdValidation = (cpwd) => {
    if (cpwd === '') {
      showInputError(false, cpwdInput, cpwdHint, 'Confirm password cannot be empty.');
      return false;
    }
    console.log('pwdInput', pwdInput.value.trim());
    console.log('cpwd', cpwd);
    console.log(pwdInput.value.trim() !== cpwd);
    if (cpwd !== pwdInput.value.trim()) {
      showInputError(false, cpwdInput, cpwdHint, 'Confirmed password does not match the new password, please enter again.');
      return false;
    }

    // 密码匹配，清除错误提示
    showInputError(true, cpwdInput, cpwdHint, '');
    return true;
  };

  const showInputError = (isValid, Input, Hint, message) => {
    if (isValid) {
      Input.classList.remove('ant-input-status-error');
      Hint.textContent = '';
      Hint.style.display = 'none';
    } else {
      Input.classList.add('ant-input-status-error');
      Hint.textContent = message;
      Hint.style.display = 'block';
    }
  };

  const sendCodePromise = () => {
    const email = emailInput.value.trim();
    if (email !== '' && captchaService.validate(email, 'email')) {
      return captchaService
        .sendCaptcha(email)
        .then((data) => {
          // 请求成功
          notification.success({
            message: 'The verification code has been sent',
            closeIcon: false,
            duration: 3,
            placement: 'top',
          });
          return data; // 返回数据供后续使用
        })
        .catch((error) => {
          // 请求失败
          console.error('Send captcha error:', error);
          notification.error({
            message: error.message || 'Failed to send verification code',
            closeIcon: false,
            duration: 3,
            placement: 'top',
          });
          throw error; // 重新抛出错误，让调用方知道失败了
        });
    } else {
      return Promise.reject(new Error('Invalid email'));
    }
  };

  const encrypt = (string) => {
    const publicKey = `-----BEGIN PUBLIC KEY-----
    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArKL/bit2fQBoTZiaEKWYHyXtkK5inpQxPrDHQ7KYHBwtBbdZ0aqkxdSdt22PZKzs8mN0IUw2PpyRZWmI2RzBt/DLtS7/fmjlznd4pIIS5IURk9pnPgC797Q4v/d0OvDZhSdEK9DJVuGyfE6Tpjf4rhef/hNg0ANXZ6PW5uztrHenmyKYfRvkstfXYH6OBcxMtUgONJG3yWFdPCGAjpuj1x1K0AfA2cRLe/Q/eD3rrpLWSyuElVlAxcVh/7+i5VJUxc7a8U9cHhgeGXsxw0bd/hJyWVwSjFR8lOBwulEzluOteXdK5ylJ72fUiP57Ky6qanQ+D7dKidIPtrDNurio4QIDAQAB
    -----END PUBLIC KEY-----`;
    const rsaEncrypt = new JSEncrypt();
    rsaEncrypt.setPublicKey(publicKey);
    return rsaEncrypt.encrypt(string);
  };

  emailInput.addEventListener('input', (e) => {
    const email = e.target.value.trim();
    state.isEmailValid = performEmailValidation(email);
  });

  const nextStep = () => {
    document.getElementById('EmailItem').classList.add('ant-form-item-hidden');
    document.getElementById('VerificationCodeItem').classList.remove('ant-form-item-hidden');
    document.getElementById('PasswordItem').classList.remove('ant-form-item-hidden');
    document.getElementById('ConfirmPasswordItem').classList.remove('ant-form-item-hidden');
    document.getElementById('ResetPasswordItem').classList.remove('ant-form-item-hidden');
    document.getElementById('Resend-Tips').parentElement.classList.remove('ant-form-item-hidden');
    document.getElementById('BackText').classList.remove('hidden');
    document.getElementById('SendCodeItem').classList.add('ant-form-item-hidden');
    document.getElementById('NextButtonItem').classList.add('ant-form-item-hidden');
  };

  const notification = antd.notification;
  sendCode.addEventListener('click', (e) => {
    sendCodePromise()
      .then(() => {
        // 只有发送成功才切换到下一步
        nextStep();
      })
      .catch((error) => {
        // 发送失败，不切换页面
        console.error('Failed to send code:', error);
      });
  });

  emailTipEle.addEventListener('click', (e) => {
    // if (e.target.value.trim() !== 'Resend verification code') return;
    sendCodePromise().catch((error) => {
      console.error('Failed to resend code:', error);
    });
  });

  pwdInput.addEventListener('input', (e) => {
    const password = e.target.value.trim();
    state.isPasswordValid = performPwdValidation(password);
  });

  cpwdInput.addEventListener('input', (e) => {
    const cpassword = e.target.value.trim();
    state.isConfirmValid = performCpwdValidation(cpassword);
  });

  codeInput.addEventListener('input', (e) => {
    const code = e.target.value.trim();
    state.isCodeValid = performCodeValidation(code);
  });

  document.getElementById('BackText').addEventListener('click', (e) => {
    document.getElementById('EmailItem').classList.remove('ant-form-item-hidden');
    document.getElementById('VerificationCodeItem').classList.add('ant-form-item-hidden');
    document.getElementById('PasswordItem').classList.add('ant-form-item-hidden');
    document.getElementById('ConfirmPasswordItem').classList.add('ant-form-item-hidden');
    document.getElementById('ResetPasswordItem').classList.add('ant-form-item-hidden');
    document.getElementById('Resend-Tips').parentElement.classList.add('ant-form-item-hidden');
    document.getElementById('BackText').classList.add('hidden');
    document.getElementById('SendCodeItem').classList.remove('ant-form-item-hidden');
    document.getElementById('NextButtonItem').classList.remove('ant-form-item-hidden');
  });

  document.getElementById('NextButton').addEventListener('click', (e) => {
    nextStep();
  });

  resetPwd.addEventListener('click', (e) => {
    const email = emailInput.value.trim();
    const password = pwdInput.value.trim();
    const confirmPassword = cpwdInput.value.trim();
    const code = codeInput.value.trim();
    console.log(email, password, confirmPassword, code);

    state.isEmailValid = performEmailValidation(email);
    state.isPasswordValid = performPwdValidation(password);
    state.isConfirmValid = performCpwdValidation(confirmPassword);
    state.isCodeValid = performCodeValidation(code);
    console.log(state);

    if (!Object.values(state).every((v) => v)) return;
    let body = encrypt(`${email}:${code}:${password}`);

    // 正确处理异步的 resetPassword
    captchaService
      .resetPassword(body)
      .then((data) => {
        console.log(data, 'reset password success');
        notification.success({
          message: 'Your Password Has Been Changed Successfully!',
          closeIcon: false,
          duration: 3,
          placement: 'top',
        });
        setTimeout(() => {
          window.location.href = '{{ routes.account_login_url }}';
        }, 3000);
      })
      .catch((error) => {
        console.error('Reset password error:', error);
        notification.error({
          message: error.message || 'Failed to reset password',
          closeIcon: false,
          duration: 3,
          placement: 'top',
        });
      });
  });
</script>

<div class='relative flex h-screen w-screen items-center justify-center bg-[#F5F5F5]'>
  <div class='h-fit w-[27.25rem] overflow-hidden rounded-2xl bg-white p-10'>
    <div class='flex-rwo mb-4 flex w-full items-center justify-between'>
      <div class='relative h-10 w-10 overflow-hidden rounded-full'>
        <img
          alt=''
          loading='lazy'
          src='https://img-va.myshopline.com/image/store/1737714205978/41fec4d7909b4889807cfb19d9e9b405.jpg?w=320&h=320'
          style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;'
        >
      </div>
      <span
        class='hidden cursor-pointer text-sm text-[#666]'
        id='BackText'
      >
        Back
      </span>
    </div>
    <div class='mb-6'>
      <div class='text-2xl font-bold'>Reset Password</div>
      <div class='mt-2.5 font-[#666] text-sm'>
        Fill in your email below to request a new password. An email will be sent to the address below containing a link to verify your email address.
      </div>
    </div>
    <form
      id='reset'
      class='ant-form ant-form-vertical ant-form-hide-required-mark'
      style='max-width: 600px;'
      data-gtm-vis-recent-on-screen164900126_524='919'
      data-gtm-vis-first-on-screen164900126_524='919'
      data-gtm-vis-total-visible-time164900126_524='100'
      data-goc-registerlistener-added='true'
      data-gtm-vis-has-fired164900126_524='1'
    >
      <div
        class='ant-form-item ant-form-item-with-help mb-5'
        id='EmailItem'
      >
        <div class='ant-row ant-form-item-row'>
          <div class='ant-col ant-form-item-label ant-col-xs-24'>
            <label
              for='reset_email'
              class='ant-form-item-required'
              title=''
            >
              <span class='font-semibold'>Email Address</span>
            </label>
          </div>
          <div class='ant-col ant-form-item-control ant-col-xs-24'>
            <div class='ant-form-item-control-input'>
              <div class='ant-form-item-control-input-content'>
                <input
                  id='reset_email'
                  aria-required='true'
                  class='ant-input ant-input-outlined h-10'
                  type='text'
                  value=''
                  aria-describedby='reset_email_help'
                  aria-invalid='true'
                >
              </div>
            </div>
            <div
              style='display: flex; flex-wrap: nowrap;'
              id='reset_email_help'
            >
              <div
                class='ant-form-item-explain ant-form-item-explain-connected'
                role='alert'
              >
                <div
                  class='ant-form-item-explain-error'
                  style=''
                ></div>
              </div>
              <div style='width: 0px; height: 20px;'></div>
            </div>
          </div>
        </div>
        <div
          class='ant-form-item-margin-offset'
          style='margin-bottom: -20px;'
        ></div>
      </div>
      <div
        class='ant-form-item ant-form-item-hidden mb-5'
        id='VerificationCodeItem'
      >
        <div class='ant-row ant-form-item-row'>
          <div class='ant-col ant-form-item-label ant-col-xs-24'>
            <label
              for='reset_code'
              class='ant-form-item-required'
              title=''
            >
              <span class='font-semibold'>Verification Code</span>
            </label>
          </div>
          <div class='ant-col ant-form-item-control ant-col-xs-24'>
            <div class='ant-form-item-control-input'>
              <div class='ant-form-item-control-input-content'>
                <input
                  id='reset_code'
                  aria-required='true'
                  class='ant-input ant-input-outlined h-10'
                  type='text'
                  value=''
                >
              </div>
            </div>
            <div style='display: flex; flex-wrap: nowrap;'>
              <div
                class='ant-form-item-explain ant-form-item-explain-connected'
                id='reset_code_help'
                role='alert'
              >
                <div
                  class='ant-form-item-explain-error'
                  style=''
                ></div>
              </div>
              <div style='width: 0px; height: 20px;'></div>
            </div>
          </div>
        </div>
        <div
          class='ant-form-item-margin-offset'
          style='margin-bottom: -20px;'
        ></div>
      </div>
      <div
        class='ant-form-item ant-form-item-hidden mb-5'
        id='PasswordItem'
      >
        <div class='ant-row ant-form-item-row'>
          <div class='ant-col ant-form-item-label ant-col-xs-24'>
            <label
              for='reset_password'
              class='ant-form-item-required'
              title=''
            >
              <span class='font-semibold'>Password</span>
            </label>
          </div>
          <div class='ant-col ant-form-item-control ant-col-xs-24'>
            <div class='ant-form-item-control-input'>
              <div class='ant-form-item-control-input-content'>
                <span class='ant-input-affix-wrapper ant-input-outlined ant-input-password h-10'>
                  <input
                    id='reset_password'
                    aria-required='true'
                    class='ant-input'
                    type='password'
                  >
                  <span
                    class='ant-input-suffix'
                    onclick="togglePasswordVisibility('reset_password', this)"
                  >
                    <span
                      role='img'
                      aria-label='eye-invisible'
                      tabindex='-1'
                      class='anticon anticon-eye-invisible ant-input-password-icon'
                    >
                      <svg
                        viewBox='64 64 896 896'
                        focusable='false'
                        data-icon='eye-invisible'
                        width='1em'
                        height='1em'
                        fill='currentColor'
                        aria-hidden='true'
                      >
                        <path
                          d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 000-51.5zm-63.57-320.64L836 122.88a8 8 0 00-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 000 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 000 11.31L155.17 889a8 8 0 0011.31 0l712.15-712.12a8 8 0 000-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 00-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 01146.2-106.69L401.31 546.2A112 112 0 01396 512z">
                        </path>
                        <path
                          d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 00227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 01-112 112z">
                        </path>
                      </svg>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div style='display: flex; flex-wrap: nowrap;'>
              <div
                class='ant-form-item-explain ant-form-item-explain-connected'
                role='alert'
                id='reset_pwd_help'
              >
                <div class='ant-form-item-explain-error'></div>
              </div>
              <div style='width: 0px; height: 20px;'></div>
            </div>
          </div>
        </div>

        <div
          class='ant-form-item-margin-offset'
          style='margin-bottom: -20px;'
        ></div>
      </div>
      <div
        class='ant-form-item ant-form-item-hidden mb-5'
        id='ConfirmPasswordItem'
      >
        <div class='ant-row ant-form-item-row'>
          <div class='ant-col ant-form-item-label ant-col-xs-24'>
            <label
              for='reset_confirm'
              class='ant-form-item-required'
              title=''
            >
              <span class='font-semibold'>Confirm Password</span>
            </label>
          </div>
          <div class='ant-col ant-form-item-control ant-col-xs-24'>
            <div class='ant-form-item-control-input'>
              <div class='ant-form-item-control-input-content'>
                <span class='ant-input-affix-wrapper ant-input-outlined ant-input-password h-10'>
                  <input
                    id='reset_confirm'
                    aria-required='true'
                    class='ant-input'
                    type='password'
                  >
                  <span
                    class='ant-input-suffix'
                    onclick="togglePasswordVisibility('reset_confirm', this)"
                  >
                    <span
                      role='img'
                      aria-label='eye-invisible'
                      tabindex='-1'
                      class='anticon anticon-eye-invisible ant-input-password-icon'
                    >
                      <svg
                        viewBox='64 64 896 896'
                        focusable='false'
                        data-icon='eye-invisible'
                        width='1em'
                        height='1em'
                        fill='currentColor'
                        aria-hidden='true'
                      >
                        <path
                          d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 000-51.5zm-63.57-320.64L836 122.88a8 8 0 00-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 000 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 000 11.31L155.17 889a8 8 0 0011.31 0l712.15-712.12a8 8 0 000-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 00-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 01146.2-106.69L401.31 546.2A112 112 0 01396 512z">
                        </path>
                        <path
                          d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 00227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 01-112 112z">
                        </path>
                      </svg>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div style='display: flex; flex-wrap: nowrap;'>
              <div
                class='ant-form-item-explain ant-form-item-explain-connected'
                role='alert'
                id='reset_cpwd_help'
              >
                <div class='ant-form-item-explain-error'></div>
              </div>
              <div style='width: 0px; height: 20px;'></div>
            </div>
          </div>
        </div>

        <div
          class='ant-form-item-margin-offset'
          style='margin-bottom: -20px;'
        ></div>
      </div>
      <div
        class='ant-form-item ant-form-item-hidden'
        style='margin-bottom: 0.5rem;'
        id='NextButtonItem'
      >
        <div class='ant-row ant-form-item-row'>
          <div class='ant-col ant-form-item-control ant-col-xs-24'>
            <div class='ant-form-item-control-input'>
              <div class='ant-form-item-control-input-content'>
                <button
                  type='button'
                  class='ant-btn ant-btn-primary h-12 text-base'
                  style='width: 100%;'
                  id='NextButton'
                >
                  <span>Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class='ant-form-item ant-form-item-hidden'
        id='ResetPasswordItem'
      >
        <div class='ant-row ant-form-item-row'>
          <div class='ant-col ant-form-item-control ant-col-xs-24'>
            <div class='ant-form-item-control-input'>
              <div class='ant-form-item-control-input-content'>
                <button
                  type='button'
                  class='ant-btn ant-btn-primary h-12 text-base'
                  style='width: 100%;'
                  id='ResetPassword'
                >
                  <span>Reset Password</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class='ant-form-item'
        id='SendCodeItem'
      >
        <div class='ant-row ant-form-item-row'>
          <div class='ant-col ant-form-item-control ant-col-xs-24'>
            <div class='ant-form-item-control-input'>
              <div class='ant-form-item-control-input-content'>
                <button
                  type='button'
                  class='ant-btn ant-btn-primary h-12 text-base'
                  style='width: 100%;'
                  id='SendCode'
                >
                  <span
                    class='ant-btn-icon ant-btn-loading-icon hidden'
                    style=''
                  >
                    <span
                      role='img'
                      aria-label='loading'
                      class='anticon anticon-loading anticon-spin'
                    >
                      <svg
                        viewBox='0 0 1024 1024'
                        focusable='false'
                        data-icon='loading'
                        width='1em'
                        height='1em'
                        fill='currentColor'
                        aria-hidden='true'
                      >
                        <path d="M988 548c-19.9 0-36-16.1-36-36 0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 00-94.3-139.9 437.71 437.71 0 00-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3.1 19.9-16 36-35.9 36z"></path>
                      </svg>
                    </span>
                  </span>
                  <span class='display-text'>Send Code</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <p class='ant-form-item-hidden text-center text-base'>
      <span
        id='Resend-Tips'
        style='color: #2697ff; cursor: pointer;'
      >
        Resend verification code
      </span>
    </p>
  </div>
</div>
<script src='{{ 'reset-password.js' | asset_url }}'></script>

{% schema %}
{
  "name": "main password reset",
  "class": "migrated-page",
  "settings": []
}
{% endschema %}
