{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}

<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-banner-swiper.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_223bf385-ef7c-40c3-82e5-833dddfd1855.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/flipping-activity-card.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/component-card.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/component-price.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-rich-directory-view.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.js"
></script>
<script
  async=""
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-anchor.js"
></script>

<div class="migrated-page">
  {% render 'memorial-day-2025-1' %}
  {% render 'memorial-day-2025-2' %}
</div>
{% schema %}
{
  "name": "Memorial Day 2025"

}
{% endschema %}
