{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}
<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_223bf385-ef7c-40c3-82e5-833dddfd1855.css"
  media="all"
>
<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.css"
  media="all"
>

<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-section-common.css"
  media="all"
>
<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.css"
  media="all"
>

<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-banner-swiper.css"
  media="all"
>
<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-section-product-intro.css"
  media="all"
>
<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-image-text-swiper.css"
  media="all"
>
<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-image-text-block.css"
  media="all"
>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_8fbe9c70-a659-4943-b0df-b8e38e01e7a2.js"
  defer
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.js"
  defer
></script>

<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide-extension-video.min.js"
  defer
></script>

<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-anchor.js"
  defer
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.js"
  defer
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-section-product-intro.js"
  defer
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-image-text-swiper.js"
  defer
></script>
<style>
  .banner-container img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    .hidden-phone {
      display: none !important;
    }
  }

  @media screen and (min-width: 769px) {
    .hidden-tablet-and-up {
      display: none !important;
    }
  }
</style>
<div class="migrated-page">
  <div class="shopline-section section" id="shopify-section-175688183261798e9aa1">
    <style>
      #shopify-section-175688183261798e9aa1 {
        background-color: #F5F5F5;
      }

      @media (max-width: 679px) {
        #shopify-section-175688183261798e9aa1 {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-175688183261798e9aa1 {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-175688183261798e9aa1 {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-175688183261798e9aa1 {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 1920px) {
        #shopify-section-175688183261798e9aa1 {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    </style>
    <style>
      #yb-banner-swiper__175688183261798e9aa1 .splide {
        --fill-duration: 6s;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-splide__track {
        z-index: unset;
      }

      #yb-banner-swiper__175688183261798e9aa1 .subscribe-popup-container.subscribe-popup-new {
        position: absolute;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy-text {
        position: relative;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-input {
        color: rgb(var(--color-text, inherit));
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-subscription-wrapper {
        width: 100%;
        max-width: 600px;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo {
        width: 100%;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-input-wrapper {
        width: 100%;
        max-width: 600px;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-desc {
        margin-bottom: 12px;
        color: rgb(var(--color-text, inherit));
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy {
        margin-top: 12px;
        width: 100%;
        max-width: 482px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy-text {
        flex: 1;
        min-width: 0;
        word-wrap: break-word;
        white-space: normal;
        line-height: 1.5;
        font-size: 12px;
        color: #fff !important;
        display: inline;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-checkbox-wrapper {
        flex-shrink: 0;
        margin-right: 8px;
        margin-top: 2px;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-link {
        color: #fff !important;
        text-decoration: underline !important;
      }

      #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-absolute {
        width: 100%;
        max-width: 600px;
      }

      @media (max-width: 959px) {
        #yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-subscription-wrapper {
          max-width: 100%;
        }

        #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-input-wrapper {
          max-width: 100%;
        }

        #yb-banner-swiper__175688183261798e9aa1 .yb-subscribe-klaviyo-policy {
          max-width: 100%;
        }
      }
    </style>
    <div class="yb-banner-swiper yb-banner-swiper__basic-size" id="yb-banner-swiper__175688183261798e9aa1">
      <div class="yb-banner-swiper__splide splide" data-speed="6">
        <div class="splide__track yb-banner-swiper-splide__track">
          <ul class="splide__list yb-banner-swiper-splide__list">
            <style>
              body {
                overflow-x: hidden !important;
              }

              .yb-banner-swiper .subscribe-country-list-wrapper {
                top: -200px !important;
              }

              @media screen and (max-width: 959px) {
                #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-text-container {
                  text-align: center;
                }

                #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-titles {
                  margin-bottom: auto;
                }

                #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-stats,
                #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-cta,
                #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-subscribe-klaviyo-input-wrapper {
                  margin-left: auto;
                  margin-right: auto;
                }

                #block-1756881832620e85c08d[data-mobile_layout='style2'] .yb-banner-swiper-titles {
                  margin-top: auto;
                }

                #block-1756881832620e85c08d[data-mobile_layout='style2'] .yb-banner-swiper-text-container {
                  text-align: left;
                  margin-bottom: 12px;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                  text-align: center;
                }
              }

              @media (min-width: 960px) {
                #block-1756881832620e85c08d .yb-banner-swiper-text-container {
                  width: 50%;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-titles>* {
                  margin: 12px auto;
                  text-align: center;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-cta {
                  display: flex;
                  justify-content: center;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-titles>* {
                  margin-right: auto;
                  text-align: left;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-cta {
                  display: flex;
                  justify-content: flex-start;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-titles>* {
                  margin-left: auto;
                  text-align: right;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-cta {
                  display: flex;
                  justify-content: flex-end;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-stats {
                  display: flex;
                  justify-content: center;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                  margin: 40px auto 12px auto;
                  text-align: center;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
                  margin: 0 auto;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-stats {
                  display: flex;
                  justify-content: flex-start;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                  margin-right: auto;
                  text-align: left;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
                  margin-right: auto;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-stats {
                  display: flex;
                  justify-content: flex-end;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                  margin-left: auto;
                  text-align: right;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
                  margin-left: auto;
                }

                .block-li-1756881832620e85c08d[data-text_vertical_position='top'] {
                  justify-content: start;
                }

                .block-li-1756881832620e85c08d[data-text_vertical_position='center'] {
                  justify-content: center;
                }

                .block-li-1756881832620e85c08d[data-text_vertical_position='bottom'] {
                  justify-content: end;
                }
              }
            </style>
            <li
              class="yb-banner-swiper-li splide__slide block-li-1756881832620e85c08d"
              data-text_vertical_position="center"
            >
              <div class="yb-banner-swiper-mobile-image">
                <img
                  alt=""
                  class="yb-banner-swiper-img"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="high"
                  height="1296"
                  loading="eager"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036457976.png?v=1772522464"
                  width="750"
                >
              </div>
              <div class="yb-banner-swiper-desktop-image">
                <img
                  class="yb-banner-swiper-img"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="high"
                  loading="eager"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036457990.png?v=1772522478"
                >
              </div>
              <main
                class="yb-banner-swiper-main yb-section-container yb-banner-swiper-width"
                data-mobile_layout="style1"
                data-text_horizontal_position="left"
                data-text_vertical_position="center"
                id="block-1756881832620e85c08d"
              >
                <div class="yb-banner-swiper-titles yb-banner-swiper__basic-size">
                  <h2 class="yb-banner-swiper-title yb-banner-swiper-text-container">
                    <div>
                      <p>Start 2026 Smarter with Yarbo</p>
                    </div>
                  </h2>
                  <div class="yb-banner-swiper-subtitle yb-banner-swiper-text-container">
                    <div>
                      <p><span style="font-size: 22px;">Upgrade to a Smarter Yard Care - All Year Long.</span></p>
                    </div>
                  </div>
                </div>
                <div class="yb-banner-swiper-cta">
                  <div class="yb-banner-swiper-cta_content yb-banner-swiper__basic-size">
                    <yb-anchor class="undefined yb-banner-swiper-button-primary" data-anchor="1758799642138fc21bc2"
                      >Build My Smart Yard</yb-anchor
                    >
                  </div>
                </div>
              </main>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <style>
      body {
        overflow-x: hidden;
      }
    </style>
    <script>
      const video175688183261798e9aa1mobiles = document.querySelectorAll(
        '#shopify-section-175688183261798e9aa1 video.yb-banner-swiper-mobile-video'
      );
      video175688183261798e9aa1mobiles.forEach((video) => {
        const image175688183261798e9aa1mobile = video.nextElementSibling;
        if (
          image175688183261798e9aa1mobile &&
          image175688183261798e9aa1mobile.classList.contains('yb-banner-swiper-mobile-image')
        ) {
          video.addEventListener('play', function () {
            image175688183261798e9aa1mobile.style.display = 'none';
          });
        }
      });
      const video175688183261798e9aa1PC = document.querySelectorAll(
        '#shopify-section-175688183261798e9aa1 video.yb-banner-swiper-desktop-video'
      );
      video175688183261798e9aa1PC.forEach((video) => {
        const image175688183261798e9aa1PC = video.nextElementSibling;
        if (
          image175688183261798e9aa1PC &&
          image175688183261798e9aa1PC.classList.contains('yb-banner-swiper-desktop-image')
        ) {
          video.addEventListener('play', function () {
            image175688183261798e9aa1PC.style.display = 'none';
          });
        }
      });
      window.addEventListener('scroll', function () {
        const element = document.querySelector('#yb-banner-swiper-mobile-cta-container__175688183261798e9aa1');
        if (!element) return;
        const mobileImage = document.querySelector('#yb-banner-swiper__175688183261798e9aa1 #yb-banner-mobile-image');
        const rect = mobileImage.getBoundingClientRect();
        if (rect.bottom <= 0) {
          element.classList.add('yb-banner-swiper-fixed-btns__operate');
        } else {
          element.classList.remove('yb-banner-swiper-fixed-btns__operate');
        }
      });
      function initAnchorLinks() {
        document
          .querySelectorAll('#yb-banner-swiper__175688183261798e9aa1 .yb-banner-swiper-anchor-link')
          .forEach((link) => {
            link.addEventListener('click', function (e) {
              e.preventDefault();
              const anchorId = this.getAttribute('data-anchor-id');
              if (!anchorId) return;
              const anchorElement = document.getElementById(`shopify-section-${anchorId}`);
              if (anchorElement) {
                window.scrollTo({ top: anchorElement.offsetTop - 120, behavior: 'smooth' });
              }
            });
          });
      }
      if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', initAnchorLinks);
      } else {
        initAnchorLinks();
      }
    </script>
  </div>
  <div class="shopline-section section" id="shopify-section-1758799642138fc21bc2">
    <style>
      #shopify-section-1758799642138fc21bc2 {
        background-color: rgba(0, 0, 0, 0);
      }

      @media (max-width: 679px) {
        #shopify-section-1758799642138fc21bc2 {
          padding-top: 48px;
          padding-bottom: 48px;
        }
      }

      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1758799642138fc21bc2 {
          padding-top: 64px;
          padding-bottom: 64px;
        }
      }

      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1758799642138fc21bc2 {
          padding-top: 64px;
          padding-bottom: 64px;
        }
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1758799642138fc21bc2 {
          padding-top: 100px;
          padding-bottom: 100px;
        }
      }

      @media (min-width: 1920px) {
        #shopify-section-1758799642138fc21bc2 {
          padding-top: 120px;
          padding-bottom: 120px;
        }
      }
    </style>
    <yb-product-intro class="yb-product-intro yb-section-container">
      <h2 class="yb-product-intro__title yb-h2">
        <div>
          <p>Start Smart: Pick Your First Intelligent Yard Assistant</p>
        </div>
      </h2>
      <div class="yb-product-intro__container" data-display-mode="vertical">
        <div class="yb-product-intro__vertical-container">
          <style>
            @media screen and (min-width: 960px) {
              #block-1758799642141654e506 {
                display: flex !important;
                flex-direction: column !important;
              }

              #block-1758799642141654e506 .yb-product-intro__caption {
                width: 50% !important;
              }

              #block-1758799642141654e506[data-text-horizontal-align="left"] {
                align-items: flex-start !important;
              }

              #block-1758799642141654e506[data-text-horizontal-align="left"] .yb-product-intro__caption {
                text-align: left !important;
              }

              #block-1758799642141654e506[data-text-horizontal-align="left"] .yb-product-intro__caption--buttons {
                justify-content: flex-start !important;
              }

              #block-1758799642141654e506[data-text-vertical-align="center"] {
                justify-content: center !important;
              }

              #block-1758799642141654e506[data-text-vertical-align="center"] .yb-product-intro__caption {
                height: auto !important;
              }
            }
          </style>
          <div
            class="yb-product-intro__item yb-product-intro__item--image splide__slide"
            data-text-horizontal-align="left"
            data-text-vertical-align="center"
            id="block-1758799642141654e506"
          >
            <div class="yb-product-intro__media-container">
              <img
                class="yb-product-intro__image yb-product-intro__image--pc"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="auto"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036457991.png?v=1772522483"
              >
              <img
                alt=""
                class="yb-product-intro__image yb-product-intro__image--mb"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="auto"
                height="1296"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/banner-9.png?v=1772523838"
                width="750"
              >
            </div>
            <div class="yb-product-intro__caption">
              <h4 class="yb-product-intro__caption--title yb-product-intro__caption__title--pc">Yarbo Snow Blower</h4>
              <span class="yb-product-intro__caption--description">
                <div>
                  <p><span style="font-size: 18px;">Wake up to a clear driveway every morning.</span></p>
                </div>
              </span>
              <div class="yb-product-intro__caption--price-row">
                <div class="yb-product-intro__caption--price">$4,999.00</div>
              </div>
              <div
                class="yb-product-intro__caption--splitit"
                data-amount="499900"
                data-amount-color="#ffffff"
                data-color="#ffffff"
              >
                <div
                  class="stage-splitit-snipp__container"
                  style="--splitit-text-color: #ffffff; --splitit-amount-color: #ffffff;"
                >
                  <span class="stage-splitit-snipp__text">
                    <span class="stage-splitit-snipp__monthly-amount">$833/mo</span>
                    <span class="stage-splitit-snipp__apr-text"> for 6 months at 0% APR with Splitit.</span>
                  </span>
                </div>
                <style>
                  .stage-splitit-snipp__container {
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 0.875rem;
                    line-height: 1.5;
                    color: var(--splitit-text-color, #666);
                  }

                  .stage-splitit-snipp__text {
                    flex-wrap: wrap;
                    gap: 0.25rem;
                    color: inherit;
                  }

                  .stage-splitit-snipp__monthly-amount {
                    font-weight: 700;
                    font-size: 1.5em;
                    color: var(--splitit-amount-color, var(--splitit-text-color, #333));
                  }

                  .stage-splitit-snipp__apr-text {
                    font-weight: 400;
                    font-size: 1em;
                    color: inherit;
                  }

                  @media (max-width: 767px) {
                    .stage-splitit-snipp__container {
                      font-size: 0.75rem;
                    }
                  }
                </style>
                <script>
                  (function () {
                    'use strict';
                    function setupColor(container) {
                      if (!container) return;
                      let textColor = container.getAttribute('data-color');
                      if (!textColor || textColor === '') {
                        const parent = container.parentElement;
                        if (parent && parent.hasAttribute('data-color')) {
                          textColor = parent.getAttribute('data-color');
                        }
                      }
                      if (textColor && textColor !== '') {
                        container.style.setProperty('--splitit-text-color', textColor);
                      }
                      let amountColor = container.getAttribute('data-amount-color');
                      if (!amountColor || amountColor === '') {
                        const parent = container.parentElement;
                        if (parent && parent.hasAttribute('data-amount-color')) {
                          amountColor = parent.getAttribute('data-amount-color');
                        }
                      }
                      if (amountColor && amountColor !== '') {
                        container.style.setProperty('--splitit-amount-color', amountColor);
                      }
                    }
                    function calculateMonthlyPayment(container) {
                      if (!container) return;
                      setupColor(container);
                      let amount = container.getAttribute('data-amount');
                      if (!amount) {
                        const parent = container.parentElement;
                        if (parent) {
                          amount = parent.getAttribute('data-amount');
                        }
                      }
                      if (!amount) {
                        container.style.display = 'none';
                        return;
                      }
                      container.style.display = '';
                      amount = Number(amount);
                      if (!amount || isNaN(amount) || amount <= 0) {
                        container.style.display = 'none';
                        return;
                      }
                      const totalPrice = amount / 100;
                      const monthlyPayment = totalPrice / 6;
                      const roundedMonthly = Math.round(monthlyPayment);
                      const formattedMonthly = roundedMonthly.toLocaleString('en-US');
                      const monthlyElement = container.querySelector('.stage-splitit-snipp__monthly-amount');
                      if (monthlyElement) {
                        monthlyElement.textContent = '$' + formattedMonthly + '/mo';
                      }
                    }
                    function initAllContainers() {
                      const containers = document.querySelectorAll('.stage-splitit-snipp__container');
                      containers.forEach((container) => {
                        setupColor(container);
                        calculateMonthlyPayment(container);
                      });
                    }
                    function setupMutationObserver() {
                      const observer = new MutationObserver(function (mutations) {
                        mutations.forEach(function (mutation) {
                          const target = mutation.target;
                          if (target.classList && target.classList.contains('stage-splitit-snipp__container')) {
                            if (mutation.attributeName === 'data-amount') {
                              calculateMonthlyPayment(target);
                            } else if (
                              mutation.attributeName === 'data-color' ||
                              mutation.attributeName === 'data-amount-color'
                            ) {
                              setupColor(target);
                            }
                          }
                        });
                      });
                      document.querySelectorAll('.stage-splitit-snipp__container').forEach((container) => {
                        observer.observe(container, {
                          attributes: true,
                          attributeFilter: ['data-amount', 'data-color', 'data-amount-color'],
                        });
                      });
                    }
                    if (document.readyState === 'loading') {
                      document.addEventListener('DOMContentLoaded', function () {
                        initAllContainers();
                        setupMutationObserver();
                      });
                    } else {
                      initAllContainers();
                      setupMutationObserver();
                    }
                    window.updateStageSplititSnipp = function (selector, amount) {
                      const container = typeof selector === 'string' ? document.querySelector(selector) : selector;
                      if (container && container.classList.contains('stage-splitit-snipp__container')) {
                        container.setAttribute('data-amount', amount);
                        calculateMonthlyPayment(container);
                      }
                    };
                  })();
                </script>
              </div>
              <div class="yb-product-intro__caption--buttons">
                <add-to-cart
                  class="undefined yb-product-intro__caption--btn"
                  data-quantity="1"
                  data-sku="18068910502802778174462015"
                  data-spu="16068910502798919414692015"
                  >Shop Now</add-to-cart
                >
                <a class="undefined yb-product-intro__caption--btn" href="https://www.yarbo.com/robotic-snow-blower"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
          <style>
            @media screen and (min-width: 960px) {
              #block-17670754035154b0f286 {
                display: flex !important;
                flex-direction: column !important;
              }

              #block-17670754035154b0f286 .yb-product-intro__caption {
                width: 50% !important;
              }

              #block-17670754035154b0f286[data-text-horizontal-align="left"] {
                align-items: flex-start !important;
              }

              #block-17670754035154b0f286[data-text-horizontal-align="left"] .yb-product-intro__caption {
                text-align: left !important;
              }

              #block-17670754035154b0f286[data-text-horizontal-align="left"] .yb-product-intro__caption--buttons {
                justify-content: flex-start !important;
              }

              #block-17670754035154b0f286[data-text-vertical-align="top"] {
                justify-content: start !important;
              }

              #block-17670754035154b0f286[data-text-vertical-align="top"] .yb-product-intro__caption {
                height: auto !important;
              }
            }
          </style>
          <div
            class="yb-product-intro__item yb-product-intro__item--image splide__slide"
            data-text-horizontal-align="left"
            data-text-vertical-align="top"
            id="block-17670754035154b0f286"
          >
            <div class="yb-product-intro__media-container">
              <img
                class="yb-product-intro__image yb-product-intro__image--pc"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="auto"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036457992.png?v=1772522489"
              >
              <img
                alt=""
                class="yb-product-intro__image yb-product-intro__image--mb"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="auto"
                height="1296"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/banner-_1_-2.png?v=1772523782"
                width="750"
              >
            </div>
            <div class="yb-product-intro__caption">
              <h4 class="yb-product-intro__caption--title yb-product-intro__caption__title--pc">
                Yarbo Lawn Mower Pro
              </h4>
              <span class="yb-product-intro__caption--description">
                <div>
                  <p><span style="font-size: 18px;">Enjoy a golf-course-ready lawn every day.</span></p>
                </div>
              </span>
              <div class="yb-product-intro__caption--price-row">
                <div class="yb-product-intro__caption--price">$5,999.00</div>
              </div>
              <div class="yb-product-intro__caption--splitit" data-amount="599900" data-color="#ffffff">
                <div class="stage-splitit-snipp__container" style="--splitit-text-color: #ffffff;">
                  <span class="stage-splitit-snipp__text">
                    <span class="stage-splitit-snipp__monthly-amount">$1,000/mo</span>
                    <span class="stage-splitit-snipp__apr-text"> for 6 months at 0% APR with Splitit.</span>
                  </span>
                </div>
              </div>
              <div class="yb-product-intro__caption--buttons">
                <add-to-cart
                  class="undefined yb-product-intro__caption--btn"
                  data-quantity="1"
                  data-sku="18070534771592145243972015"
                  data-spu="16070534771580233420522015"
                  >Shop Now</add-to-cart
                >
                <a class="undefined yb-product-intro__caption--btn" href="https://www.yarbo.com/en-ca/lawn-mower-pro"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
          <style>
            @media screen and (min-width: 960px) {
              #block-1767075461586775db03 {
                display: flex !important;
                flex-direction: column !important;
              }

              #block-1767075461586775db03 .yb-product-intro__caption {
                width: 50% !important;
              }

              #block-1767075461586775db03[data-text-horizontal-align="left"] {
                align-items: flex-start !important;
              }

              #block-1767075461586775db03[data-text-horizontal-align="left"] .yb-product-intro__caption {
                text-align: left !important;
              }

              #block-1767075461586775db03[data-text-horizontal-align="left"] .yb-product-intro__caption--buttons {
                justify-content: flex-start !important;
              }

              #block-1767075461586775db03[data-text-vertical-align="center"] {
                justify-content: center !important;
              }

              #block-1767075461586775db03[data-text-vertical-align="center"] .yb-product-intro__caption {
                height: auto !important;
              }
            }
          </style>
          <div
            class="yb-product-intro__item yb-product-intro__item--image splide__slide"
            data-text-horizontal-align="left"
            data-text-vertical-align="center"
            id="block-1767075461586775db03"
          >
            <div class="yb-product-intro__media-container">
              <img
                class="yb-product-intro__image yb-product-intro__image--pc"
                data-scale="hover-scale"
                decoding="async"
                fetchpriority="auto"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036457993.png?v=1772522494"
              >
              <img
                class="yb-product-intro__image yb-product-intro__image--mb"
                data-scale="hover-scale"
                decoding="async"
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/banner-_2_-2.png?v=1772523791"
              >
            </div>
            <div class="yb-product-intro__caption">
              <h4 class="yb-product-intro__caption--title yb-product-intro__caption__title--pc">Yarbo Blower</h4>
              <span class="yb-product-intro__caption--description">
                <div>
                  <p>Keep your yard area clean and pristine 24/7.</p>
                </div>
              </span>
              <div class="yb-product-intro__caption--price-row">
                <div class="yb-product-intro__caption--price">$4,799.00</div>
              </div>
              <div class="yb-product-intro__caption--splitit" data-amount="479900" data-color="#ffffff">
                <div class="stage-splitit-snipp__container" style="--splitit-text-color: #ffffff;">
                  <span class="stage-splitit-snipp__text">
                    <span class="stage-splitit-snipp__monthly-amount">$800/mo</span>
                    <span class="stage-splitit-snipp__apr-text"> for 6 months at 0% APR with Splitit.</span>
                  </span>
                </div>
              </div>
              <div class="yb-product-intro__caption--buttons">
                <add-to-cart
                  class="undefined yb-product-intro__caption--btn"
                  data-quantity="1"
                  data-sku="18068910502833144935572015"
                  data-spu="16068910502829453947982015"
                  >Shop Now</add-to-cart
                >
                <a class="undefined yb-product-intro__caption--btn" href="https://www.yarbo.com/robotic-leaf-blower"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </yb-product-intro>
  </div>
  <div class="shopline-section section" id="shopify-section-1767681370474ec03eae">
    <style>
      #shopify-section-1767681370474ec03eae {
        background-color: #ffffff;
        overflow: hidden;
      }

      @media (max-width: 679px) {
        #shopify-section-1767681370474ec03eae {
          padding-top: 48px;
          padding-bottom: 48px;
        }
      }

      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1767681370474ec03eae {
          padding-top: 50px;
          padding-bottom: 64px;
        }
      }

      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1767681370474ec03eae {
          padding-top: 60px;
          padding-bottom: 64px;
        }
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1767681370474ec03eae {
          padding-top: 60px;
          padding-bottom: 100px;
        }
      }

      @media (min-width: 1920px) {
        #shopify-section-1767681370474ec03eae {
          padding-top: 60px;
          padding-bottom: 120px;
        }
      }

      .Yarbo-Product-tabs-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
        margin-top: 32px;
      }

      .Yarbo-Product-tabs-list {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
        background-color: #ffffff;
        padding: 0;
        position: relative;
        gap: 0;
      }

      .Yarbo-Product-tabs-list::before {
        content: "";
        position: absolute;
        height: 48px;
        background: #fedb1e;
        border-radius: 24px;
        transition: all 0.3s ease;
        z-index: 0;
        width: var(--slide-width, 0);
        transform: translateX(var(--slide-left, 0));
        left: 0;
        top: 0;
      }

      .Yarbo-Product-tab-item {
        width: auto;
        height: 48px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: transparent;
        font-size: 16px;
        font-weight: 700;
        border-radius: 24px;
        display: flex;
        align-items: center;
        margin: 0 !important;
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        z-index: 1;
        transition: color 0.3s ease;
        color: #6e6e73;
        font-family: Nunito Sans;
      }

      .Yarbo-Product-tab-item.active {
        color: #000000;
      }

      #shopify-section-1767681370474ec03eae.dark-mode .Yarbo-Product-tabs-list {
        background-color: #222222;
      }

      #shopify-section-1767681370474ec03eae.dark-mode .Yarbo-Product-tab-item {
        color: #6e6e73;
      }

      #shopify-section-1767681370474ec03eae.dark-mode .Yarbo-Product-tab-item.active {
        color: #000000;
      }

      .Yarbo-Product-tabs-display-one {
        display: none !important;
        flex-direction: row;
        background-color: #fff;
        overflow: hidden;
        flex: 0 0 100%;
        height: auto !important;
      }

      .Yarbo-Product-tabs-display-one.active {
        display: flex !important;
      }

      .Yarbo-Product-tabs-main-display-box {
        overflow: visible !important;
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .Yarbo-Product-tabs-message-top-box {
        gap: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .Yarbo-Product-tabs-message-buttom-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
      }

      .Yarbo-Product-button-box {
        width: 100%;
        display: flex;
      }

      .Yarbo-Product-tabs-display-list {
        gap: 48px;
        display: flex;
        flex-wrap: wrap;
      }

      .Yarbo-Product-button {
        min-height: 48px;
        display: flex;
        align-items: center;
        flex-flow: wrap;
        background-color: #fedb1e;
        place-content: center;
        border-radius: 30px;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 600;
        font-family: Nunito sans;
        border: 0;
        cursor: pointer;
        flex: 1;
        color: #02060B;
      }

      .Yarbo-Product-tabs-main-display-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;
      }

      .Yarbo-Product-tabs-title {
        font-weight: 700;
        line-height: 120%;
      }

      .Yarbo-Product-tabs-small-title {
        font-weight: 400;
        line-height: 140%;
        color: #6E6E73;
      }

      .Yarbo-Product-tabs-price {
        font-weight: 700;
        line-height: 120%;
        color: #02060B;
      }

      .Yarbo-Product-tabs-money-box {
        display: flex;
        gap: 9px;
        align-items: baseline;
      }

      .Yarbo-Product-tabs-display-message {
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;
      }

      @media screen and (max-width: 679px) {
        .Yarbo-Product-tabs-list {
          overflow-x: auto;
          justify-content: flex-start;
          scrollbar-width: none;
        }

        .Yarbo-Product-tabs-list::-webkit-scrollbar {
          display: none;
        }

        .Yarbo-Product-tabs-list::before {
          height: 40px;
          border-radius: 24px;
        }

        .Yarbo-Product-tab-item {
          height: 40px;
          padding-left: 40px;
          padding-right: 40px;
          font-size: 14px;
        }

        .Yarbo-Product-tabs-container {
          margin-bottom: 24px;
          margin-top: 24px;
        }

        .Yarbo-Product-tabs-main-display-box {
          margin-top: 32px;
          max-width: calc(100% - 2 * 16px);
        }

        .Yarbo-Product-tabs-display-list {
          gap: 16px;
        }

        .Yarbo-Product-tabs-title {
          font-size: 16px;
        }

        .Yarbo-Product-tabs-small-title {
          font-size: 12px;
        }

        .Yarbo-Product-tabs-price {
          font-size: 16px;
        }

        .Yarbo-Product-tabs-display-one {
          border-radius: 16px;
          flex-direction: column !important;
        }

        .Yarbo-Product-tabs-main-display-image {
          aspect-ratio: 343 / 266;
          width: 100%;
          border-radius: 16px;
        }

        .Yarbo-Product-tabs-display-message {
          padding: 24px 16px 24px 16px;
          gap: 16px;
        }

        .Yarbo-Product-button-box {
          gap: 15px;
        }
      }

      @media screen and (min-width: 680px) and (max-width: 959px) {
        .Yarbo-Product-tabs-main-display-box {
          margin-top: 48px;
          max-width: calc(100% - 2 * 24px);
        }

        .Yarbo-Product-tabs-display-list {
          gap: 20px;
        }

        .Yarbo-Product-tabs-display-one {
          border-radius: 24px;
          flex-direction: column !important;
        }

        .Yarbo-Product-tabs-title {
          font-size: 28px;
        }

        .Yarbo-Product-tabs-small-title {
          font-size: 16px;
        }

        .Yarbo-Product-tabs-price {
          font-size: 28px;
        }

        .Yarbo-Product-tabs-main-display-image {
          aspect-ratio: 632 / 491;
          width: 100%;
          border-radius: 24px;
        }

        .Yarbo-Product-tabs-display-message {
          padding: 32px 24px 32px 24px;
          gap: 16px;
        }

        .Yarbo-Product-button-box {
          gap: 24px;
        }
      }

      @media screen and (min-width: 960px) and (max-width: 1439px) {
        .Yarbo-Product-tabs-list::before {
          height: 40px;
          border-radius: 24px;
        }

        .Yarbo-Product-tab-item {
          height: 40px;
          padding-left: 46px;
          padding-right: 46px;
          font-size: 14px;
        }

        .Yarbo-Product-tabs-main-display-box {
          margin-top: 48px;
          max-width: 900px;
        }

        .Yarbo-Product-tabs-display-list {
          gap: 32px;
        }

        .Yarbo-Product-tabs-title {
          font-size: 20px;
        }

        .Yarbo-Product-tabs-small-title {
          font-size: 12px;
        }

        .Yarbo-Product-tabs-price {
          font-size: 20px;
        }

        .Yarbo-Product-tabs-display-one {
          border-radius: 16px;
        }

        .Yarbo-Product-tabs-main-display-image {
          aspect-ratio: 478 / 371;
          width: 478px;
          border-radius: 16px;
        }

        .Yarbo-Product-tabs-display-message {
          padding: 32px;
          gap: 16px;
          width: calc(900px - 478px);
        }

        .Yarbo-Product-button-box {
          gap: 12.34px;
        }
      }

      @media screen and (min-width: 1440px) and (max-width: 1919px) {
        .Yarbo-Product-tabs-list::before {
          height: 48px;
          border-radius: 24px;
        }

        .Yarbo-Product-tab-item {
          height: 48px;
          padding-left: 40px;
          padding-right: 40px;
          font-size: 16px;
        }

        .Yarbo-Product-tabs-main-display-box {
          margin-top: 56px;
          max-width: 1200px;
        }

        .Yarbo-Product-tabs-display-list {
          gap: 40px;
        }

        .Yarbo-Product-tabs-title {
          font-size: 28px;
        }

        .Yarbo-Product-tabs-small-title {
          font-size: 16px;
        }

        .Yarbo-Product-tabs-price {
          font-size: 28px;
        }

        .Yarbo-Product-tabs-display-one {
          border-radius: 16px;
        }

        .Yarbo-Product-tabs-main-display-image {
          aspect-ratio: 638 / 452;
          width: 638px;
          border-radius: 16px;
        }

        .Yarbo-Product-tabs-display-message {
          padding: 48px;
          gap: 16px;
          width: calc(1200px - 638px);
        }

        .Yarbo-Product-button-box {
          gap: 16px;
        }
      }

      @media (min-width: 1920px) {
        .Yarbo-Product-tabs-list::before {
          height: 48px;
          border-radius: 24px;
        }

        .Yarbo-Product-tab-item {
          height: 48px;
          padding-left: 40px;
          padding-right: 40px;
          font-size: 16px;
        }

        .Yarbo-Product-tabs-main-display-box {
          max-width: 1400px;
          margin-top: 64px;
        }

        .Yarbo-Product-tabs-display-one {
          border-radius: 24px;
        }

        .Yarbo-Product-tabs-display-message {
          padding: 56px;
          gap: 16px;
          width: calc(1400px - 744px);
        }

        .Yarbo-Product-tabs-main-display-image {
          aspect-ratio: 744 / 527;
          width: 744px;
          border-radius: 24px;
        }

        .Yarbo-Product-tabs-title {
          font-size: 28px;
        }

        .Yarbo-Product-tabs-small-title {
          font-size: 18px;
        }

        .Yarbo-Product-tabs-price {
          font-size: 32px;
        }

        .Yarbo-Product-button-box {
          gap: 24px;
        }
      }
    </style>
    <div class="yb-section-common">
      <div class="yb-section-common-title">Two Ways to Automate Your Year</div>
    </div>
    <div class="Yarbo-Product-tabs-container">
      <div class="Yarbo-Product-tabs-list" style="--slide-width: 162px; --slide-left: 0px;">
        <div class="Yarbo-Product-tab-item active" data-tab-index="0">
          <div><span>All-Season</span></div>
        </div>
        <div class="Yarbo-Product-tab-item" data-tab-index="1">
          <div><span>Snow &amp; Lawn</span></div>
        </div>
      </div>
    </div>
    <div class="Yarbo-Product-tabs-main-display-box">
      <div class="Yarbo-Product-tabs-display-list">
        <div class="Yarbo-Product-tabs-display-one active" data-tab-index="0">
          <div
            class="Yarbo-Product-tabs-main-display-image"
            style="background-image:url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/86.png?v=1772520961');"
          ></div>
          <div class="Yarbo-Product-tabs-display-message">
            <div class="Yarbo-Product-tabs-message-top-box">
              <div class="Yarbo-Product-tabs-title">Yarbo 4-in-1 Yard Robot</div>
              <div class="Yarbo-Product-tabs-small-title">
                <span style="font-size: 18px; color: #000000;"
                  >Master every season with one intelligent solution for snow, grass, and leaves.</span
                >
              </div>
            </div>
            <div class="Yarbo-Product-tabs-message-buttom-box">
              <div class="Yarbo-Product-tabs-money-box">
                <div class="Yarbo-Product-tabs-price">$6,999.00</div>
              </div>
              <div data-amount="699900" data-color="#000000">
                <div class="stage-splitit-snipp__container" style="--splitit-text-color: #000000;">
                  <span class="stage-splitit-snipp__text"
                    ><span class="stage-splitit-snipp__monthly-amount">$1,167/mo</span
                    ><span class="stage-splitit-snipp__apr-text"> for 6 months at 0% APR with Splitit.</span></span
                  >
                </div>
              </div>
              <div class="Yarbo-Product-button-box">
                <add-to-cart
                  class="Yarbo-Product-button"
                  data-quantity="1"
                  data-sku="18068909475764696987022015"
                  data-spu="16068909475760670455112015"
                  >Shop Now</add-to-cart
                >
              </div>
            </div>
          </div>
        </div>
        <div class="Yarbo-Product-tabs-display-one" data-tab-index="1">
          <div
            class="Yarbo-Product-tabs-main-display-image"
            style="background-image:url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1_-18.png?v=1772520908');"
          ></div>
          <div class="Yarbo-Product-tabs-display-message">
            <div class="Yarbo-Product-tabs-message-top-box">
              <div class="Yarbo-Product-tabs-title">Yarbo Snow &amp; Lawn Essential Package</div>
              <div class="Yarbo-Product-tabs-small-title">
                <span style="font-size: 18px; color: #000000;"
                  >Say goodbye to shoveling in the cold and endless mowing in the heat.</span
                >
              </div>
            </div>
            <div class="Yarbo-Product-tabs-message-buttom-box">
              <div class="Yarbo-Product-tabs-money-box">
                <div class="Yarbo-Product-tabs-price">$6,199.00</div>
              </div>
              <div data-amount="619900" data-color="#000000">
                <div class="stage-splitit-snipp__container" style="--splitit-text-color: #000000;">
                  <span class="stage-splitit-snipp__text"
                    ><span class="stage-splitit-snipp__monthly-amount">$1,033/mo</span
                    ><span class="stage-splitit-snipp__apr-text"> for 6 months at 0% APR with Splitit.</span></span
                  >
                </div>
              </div>
              <div class="Yarbo-Product-button-box">
                <add-to-cart
                  class="Yarbo-Product-button"
                  data-quantity="1"
                  data-sku="18068909475797748102692015"
                  data-spu="16068909475793721570782015"
                  >Shop Now</add-to-cart
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function updateTabsIndicator1767681370474ec03eae() {
        const container = document.querySelector('#shopify-section-1767681370474ec03eae');
        if (!container) return;
        const tabsList = container.querySelector('.Yarbo-Product-tabs-list');
        const activeTab = container.querySelector('.Yarbo-Product-tab-item.active');
        if (!tabsList || !activeTab) return;
        const bulletWidth = activeTab.offsetWidth;
        const bulletLeft = activeTab.offsetLeft;
        tabsList.style.setProperty('--slide-width', `${bulletWidth}px`);
        tabsList.style.setProperty('--slide-left', `${bulletLeft}px`);
      }
      function initProductTabs1767681370474ec03eae() {
        const container = document.querySelector('#shopify-section-1767681370474ec03eae');
        if (!container) return;
        const tabItems = container.querySelectorAll('.Yarbo-Product-tab-item');
        const contentCards = container.querySelectorAll('.Yarbo-Product-tabs-display-one');
        tabItems.forEach((tab, index) => {
          tab.addEventListener('click', () => {
            tabItems.forEach((t) => t.classList.remove('active'));
            contentCards.forEach((c) => c.classList.remove('active'));
            tab.classList.add('active');
            if (contentCards[index]) {
              contentCards[index].classList.add('active');
              updateTabsIndicator1767681370474ec03eae();
            }
          });
        });
        updateTabsIndicator1767681370474ec03eae();
        let resizeTimer;
        window.addEventListener('resize', () => {
          clearTimeout(resizeTimer);
          resizeTimer = setTimeout(() => {
            updateTabsIndicator1767681370474ec03eae();
          }, 150);
        });
      }
      initProductTabs1767681370474ec03eae();
    </script>
  </div>
  <div class="shopline-section" id="shopify-section-1756888660177d33db48">
    <style>
      #shopify-section-1756888660177d33db48 {
        background-color: rgba(0, 0, 0, 0);
      }

      @media (max-width: 679px) {
        #shopify-section-1756888660177d33db48 {
          padding-top: 30px;
          padding-bottom: 20px;
        }
      }

      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1756888660177d33db48 {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }

      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1756888660177d33db48 {
          padding-top: 50px;
          padding-bottom: 45px;
        }
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1756888660177d33db48 {
          padding-top: 50px;
          padding-bottom: 60px;
        }
      }

      @media (min-width: 1920px) {
        #shopify-section-1756888660177d33db48 {
          padding-top: 50px;
          padding-bottom: 80px;
        }
      }
    </style>

    <style>
      @media (max-width: 959px) {
        .yb-image-text-swiper-content .yb-image-text-swiper-card {
          background-color: rgba(0, 0, 0, 0);
        }
      }
    </style>
    <div class="yb-image-text-swiper-container">
      <div class="yb-section-common">
        <div class="yb-section-common-title">
          <div>
            <p>Yarbo in Action: 2025 Recap</p>
          </div>
        </div>
      </div>
      <div class="yb-image-text-swiper-content">
        <div
          class="swiper yb-image-text-swiper-card-swiper swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden"
          data-auto-play-time="8"
        >
          <div
            class="swiper-pagination-top swiper-pagination-top-white"
          ></div>
          <div
            aria-live="off"
            class="swiper-wrapper yb-image-text-swiper-card-container"
            id="swiper-wrapper-47e07baf310b5f9ff"
            style="transition-duration: 0ms; transition-delay: 0ms;"
          >
            <div
              aria-label="1 / 4"
              class="swiper-slide yb-image-text-swiper-card yb-image-text-swiper-card-white swiper-slide-next"
              data-swiper-slide-index="0"
              data-tab="Time Saved"
              role="group"
              style="width: 1400px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;"
            >
              <div class="yb-image-text-swiper-card-meta">
                <video
                  autoplay=""
                  loop=""
                  muted=""
                  playsinline=""
                  preload="metadata"
                  src="https://cdn.shopify.com/videos/c/o/v/1160f452c7f34ad18f76d92ec3a80bf2.mp4"
                ></video>
              </div>
              <div class="yb-image-text-swiper-card-content">
                <div class="yb-image-text-swiper-card-content-title">
                  <div>
                    <p>1.1 Million+ Hours Reclaimed</p>
                  </div>
                </div>
                <div class="yb-image-text-swiper-card-content-text">
                  Equivalent to over a century of free time. The evolution from manual labor to automated freedom.
                  Moments restored to families, weekends, and memories. All in 2025.
                </div>
              </div>
            </div>
            <div
              aria-label="2 / 4"
              class="swiper-slide yb-image-text-swiper-card yb-image-text-swiper-card-white"
              data-swiper-slide-index="1"
              data-tab="Snow Cleared"
              role="group"
              style="width: 1400px; opacity: 1; transform: translate3d(-1400px, 0px, 0px); transition-duration: 0ms;"
            >
              <div class="yb-image-text-swiper-card-meta">
                <video
                  autoplay=""
                  loop=""
                  muted=""
                  playsinline=""
                  preload="metadata"
                  src="https://cdn.shopify.com/videos/c/o/v/2e49086b976340c18241cf6a3e950edf.mp4"
                ></video>
              </div>
              <div class="yb-image-text-swiper-card-content">
                <div class="yb-image-text-swiper-card-content-title">
                  <div>
                    <p>100,000+ Tons Removed</p>
                  </div>
                </div>
                <div class="yb-image-text-swiper-card-content-text">
                  More than the weight of an aircraft carrier. Heavy lifting handled entirely by intelligent robotics in
                  the freezing cold. Reliability that clears the path while the world sleeps. Morning after morning.
                </div>
              </div>
            </div>
            <div
              aria-label="3 / 4"
              class="swiper-slide yb-image-text-swiper-card yb-image-text-swiper-card-white swiper-slide-prev"
              data-swiper-slide-index="2"
              data-tab="Area Covered"
              role="group"
              style="width: 1400px; opacity: 1; transform: translate3d(-2800px, 0px, 0px); transition-duration: 0ms;"
            >
              <div class="yb-image-text-swiper-card-meta">
                <video
                  autoplay=""
                  loop=""
                  muted=""
                  playsinline=""
                  preload="metadata"
                  src="https://cdn.shopify.com/videos/c/o/v/500135eabaab4b7ebc4f28996610fc46.mp4"
                ></video>
              </div>
              <div class="yb-image-text-swiper-card-content">
                <div class="yb-image-text-swiper-card-content-title">
                  <p>100,000+ Acres Perfected</p>
                </div>
                <div class="yb-image-text-swiper-card-content-text">
                  <p>
                    Equivalent to 118 Central Parks. Precision engineering applied to every square inch of your lawn. A
                    level of perfection no human hand could sustain. Until now.
                  </p>
                </div>
              </div>
            </div>
            <div
              aria-label="4 / 4"
              class="swiper-slide yb-image-text-swiper-card yb-image-text-swiper-card-white swiper-slide-visible swiper-slide-fully-visible swiper-slide-active"
              data-swiper-slide-index="3"
              data-tab="Clean Energy"
              role="group"
              style="width: 1400px; opacity: 1; transform: translate3d(-4200px, 0px, 0px); transition-duration: 0ms;"
            >
              <div class="yb-image-text-swiper-card-meta">
                <video
                  autoplay=""
                  loop=""
                  muted=""
                  playsinline=""
                  preload="metadata"
                  src="https://cdn.shopify.com/videos/c/o/v/9ec9e1936a244b789b9f5ee4b9aba81e.mp4"
                ></video>
              </div>
              <div class="yb-image-text-swiper-card-content">
                <div class="yb-image-text-swiper-card-content-title">
                  <p>Zero emissions. Pure power.</p>
                </div>
                <div class="yb-image-text-swiper-card-content-text">
                  <p>
                    The environmental impact of planting 200,000 trees. High-torque electric propulsion replacing
                    traditional combustion engines. Strength without the fumes, maintenance, or pollution. A legacy for
                    the future.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-box">
            <div
              aria-controls="swiper-wrapper-47e07baf310b5f9ff"
              aria-label="Previous slide"
              class="swiper-button swiper-button-prev swiper-button-white"
              role="button"
            ></div>
            <div
              aria-controls="swiper-wrapper-47e07baf310b5f9ff"
              aria-label="Next slide"
              class="swiper-button swiper-button-next swiper-button-white progress-active"
              role="button"
              style="--progress: 58.75%;"
            ></div>
          </div>
          <span aria-atomic="true" aria-live="assertive" class="swiper-notification"></span>
        </div>
        <div class="swiper-pagination-bottom swiper-pagination-bottom-white"></div>
      </div>
    </div>
  </div>
  <div class="shopline-section" id="shopify-section-175698036634765346be">
    <style>
      #shopify-section-175698036634765346be {
        background-color: #ffffff;
      }

      @media (max-width: 679px) {
        #shopify-section-175698036634765346be {
          padding-top: 0px;
          padding-bottom: 35px;
        }
      }

      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-175698036634765346be {
          padding-top: 0px;
          padding-bottom: 40px;
        }
      }

      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-175698036634765346be {
          padding-top: 0px;
          padding-bottom: 50px;
        }
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-175698036634765346be {
          padding-top: 0px;
          padding-bottom: 60px;
        }
      }

      @media (min-width: 1920px) {
        #shopify-section-175698036634765346be {
          padding-top: 0px;
          padding-bottom: 80px;
        }
      }

      #shopify-section-175698036634765346be .yb-single-video-btn {
        border: 0px;
        cursor: pointer;
        height: 48px;
        line-height: 48px;
        font-weight: 600;
      }

      .rich-text-description {
        line-height: 140%;
      }

      #shopify-section-175698036634765346be .rich-text-component-wrapper {
        margin: 0px auto;
        text-align: center;
      }

      .rich-text-component {
        margin: auto;
      }

      .yb-section-title {
        font-weight: 800;
      }

      @media (min-width: 1920px) {
        #shopify-section-175698036634765346be .yb-section-title {
          line-height: 120%
        }

        .rich-text-component {
          width: 1000px;
          margin: auto;
        }

        #shopify-section-175698036634765346be .rich-text-component-wrapper {
          width: 1000px;
        }

        #shopify-section-175698036634765346be .rich-text-description span {
          width: 1000px;
        }

        #shopify-section-175698036634765346be .rich-text-description {
          margin-bottom: 0
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-175698036634765346be .rich-text-button {
          margin-top: 40px;
        }

        #shopify-section-175698036634765346be .yb-single-video-btn {
          padding: 0 40px;
          min-width: 180px;
        }
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-175698036634765346be .yb-section-title {
          line-height: 120%
        }

        .rich-text-component {
          width: 924px;
        }

        #shopify-section-175698036634765346be .rich-text-component-wrapper {
          width: 924px;
        }

        #shopify-section-175698036634765346be .rich-text-description {
          margin-bottom: 0
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-175698036634765346be .rich-text-description span {
          width: 924px;
        }

        #shopify-section-175698036634765346be .rich-text-button {
          margin-top: 32px;
        }

        #shopify-section-175698036634765346be .yb-single-video-btn {
          padding: 0 40px;
          min-width: 180px;
        }
      }

      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-175698036634765346be .yb-section-title {
          line-height: 120%
        }

        .rich-text-component {
          width: 728px;
        }

        #shopify-section-175698036634765346be .rich-text-component-wrapper {
          width: 728px;
        }

        #shopify-section-175698036634765346be .rich-text-description {
          margin-bottom: 0
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-175698036634765346be .rich-text-description span {
          width: 728px;
          display: inline-block
        }

        #shopify-section-175698036634765346be .rich-text-button {
          margin-top: 24px;
        }

        #shopify-section-175698036634765346be .yb-single-video-btn {
          padding: 0 40px;
          min-width: 180px;
        }
      }

      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-175698036634765346be .yb-section-title {
          line-height: 120%;
          max-width: 600px;
        }

        .rich-text-component {
          padding: 0 24px;
        }

        #shopify-section-175698036634765346be .rich-text-component-wrapper {
          max-width: 600px;
        }

        #shopify-section-175698036634765346be .rich-text-description {
          max-width: 600px;
          margin-bottom: 0
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-175698036634765346be .rich-text-description span {
          max-width: 600px;
          display: inline-block;
        }

        #shopify-section-175698036634765346be .rich-text-button {
          margin-top: 24px;
        }

        #shopify-section-175698036634765346be .yb-single-video-btn {
          padding: 0 40px;
          min-width: 180px;
        }
      }

      @media (max-width: 679px) {
        #shopify-section-175698036634765346be .yb-section-title {
          max-width: 327px;
          line-height: 120%;
          width: 100%;
        }

        .rich-text-component {
          padding: 0 16px
        }

        #shopify-section-175698036634765346be .rich-text-component-wrapper {
          max-width: 327px;
          width: 100%;
        }

        #shopify-section-175698036634765346be .rich-text-description {
          max-width: 327px;
          width: 100%;
          margin-bottom: 0
        }

        .margin-top-description-style {
          margin-top: 12px;
        }

        #shopify-section-175698036634765346be .rich-text-description span {
          max-width: 327px;
          width: 100%;
          display: inline-block;
        }

        #shopify-section-175698036634765346be .rich-text-button {
          margin-top: 16px;
        }

        #shopify-section-175698036634765346be .yb-single-video-btn {
          padding: 0 40px;
          width: 100%;
        }
      }
    </style>
    <div class="rich-text-component">
      <div class="rich-text-component-wrapper">
        <div class="rich-text-component-inner">
          <div>
            <a class="undefined yb-single-video-btn" href="https://www.yarbo.com/de-de/my-yarbo-journey"
              >Watch Real User Stories</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section" id="shopify-section-176707612836091edcfc">
    <style>
      #shopify-section-176707612836091edcfc {
        background-color: #ffffff;
      }

      @media (max-width: 679px) {
        #shopify-section-176707612836091edcfc {
          padding-top: 30px;
          padding-bottom: 24px;
        }
      }

      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-176707612836091edcfc {
          padding-top: 40px;
          padding-bottom: 32px;
        }
      }

      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-176707612836091edcfc {
          padding-top: 50px;
          padding-bottom: 32px;
        }
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-176707612836091edcfc {
          padding-top: 50px;
          padding-bottom: 50px;
        }
      }

      @media (min-width: 1920px) {
        #shopify-section-176707612836091edcfc {
          padding-top: 50px;
          padding-bottom: 60px;
        }
      }

      #shopify-section-176707612836091edcfc .text-container {
        text-align: left;
      }
    </style>
    <div class="image-text-section yb-section-container">
      <h2 class="yb-section-title image-text-section_title">
        <div>
          <p>Built with Our Community</p>
        </div>
      </h2>
      <div class="image-text-container" id="block-176707612836172c7cd8">
        <style>
          @media (min-width: 960px) {
            #block-176707612836172c7cd8 .text-container {
              width: 50%;
              padding-left: 20px;
              padding-right: 20px;
            }

            #block-176707612836172c7cd8 .image-container {
              width: 50%;
            }
          }
        </style>
        <div class="image-text-inner layout-image-right">
          <div class="text-container">
            <div class="yb-block-description">
              <div>
                <div>
                  <div class="rich-text-paragraph">
                    <span
                      >Yarbo is defined by the people who use it. Our owner community plays a pivotal role in our
                      evolution.</span
                    >
                  </div>
                  <ul>
                    <li class="rich-text-paragraph"><span>Driven by product feedback.</span></li>
                    <li class="rich-text-paragraph"><span>Validated by real-world testing.</span></li>
                    <li class="rich-text-paragraph"><span>Powered by shared intelligence.</span></li>
                  </ul>
                  <div class="rich-text-paragraph"><span>More than a transaction. It’s a partnership.</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="image-container">
            <img
              alt=""
              class="hidden-mobile"
              data-scale="hover-scale"
              decoding="async"
              fetchpriority="auto"
              height="720"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Mask-group-27.png?v=1772523433"
              width="1280"
            >
            <img
              class="hidden-desktop"
              data-full-width="false"
              decoding="async"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/87.png?v=1772520966"
              style="aspect-ratio: initial;"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section" id="shopify-section-1767077829917de6f295">
    <style>
      #shopify-section-1767077829917de6f295 {
        background-color: #ffffff;
      }

      @media (max-width: 679px) {
        #shopify-section-1767077829917de6f295 {
          padding-top: 0px;
          padding-bottom: 50px;
        }
      }

      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1767077829917de6f295 {
          padding-top: 0px;
          padding-bottom: 60px;
        }
      }

      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1767077829917de6f295 {
          padding-top: 0px;
          padding-bottom: 80px;
        }
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1767077829917de6f295 {
          padding-top: 0px;
          padding-bottom: 80px;
        }
      }

      @media (min-width: 1920px) {
        #shopify-section-1767077829917de6f295 {
          padding-top: 0px;
          padding-bottom: 100px;
        }
      }

      #shopify-section-1767077829917de6f295 .yb-single-video-btn {
        border: 0px;
        cursor: pointer;
        height: 48px;
        line-height: 48px;
        font-weight: 600;
      }

      .rich-text-description {
        line-height: 140%;
      }

      #shopify-section-1767077829917de6f295 .rich-text-component-wrapper {
        margin: 0px auto;
        text-align: center;
      }

      .rich-text-component {
        margin: auto;
      }

      .yb-section-title {
        font-weight: 800;
      }

      @media (min-width: 1920px) {
        #shopify-section-1767077829917de6f295 .yb-section-title {
          line-height: 120%
        }

        .rich-text-component {
          width: 1000px;
          margin: auto;
        }

        #shopify-section-1767077829917de6f295 .rich-text-component-wrapper {
          width: 1000px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-description span {
          width: 1000px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-description {
          margin-bottom: 0
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-button {
          margin-top: 40px;
        }

        #shopify-section-1767077829917de6f295 .yb-single-video-btn {
          padding: 0 40px;
          min-width: 180px;
        }
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1767077829917de6f295 .yb-section-title {
          line-height: 120%
        }

        .rich-text-component {
          width: 924px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-component-wrapper {
          width: 924px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-description {
          margin-bottom: 0
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-description span {
          width: 924px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-button {
          margin-top: 32px;
        }

        #shopify-section-1767077829917de6f295 .yb-single-video-btn {
          padding: 0 40px;
          min-width: 180px;
        }
      }

      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1767077829917de6f295 .yb-section-title {
          line-height: 120%
        }

        .rich-text-component {
          width: 728px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-component-wrapper {
          width: 728px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-description {
          margin-bottom: 0
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-description span {
          width: 728px;
          display: inline-block
        }

        #shopify-section-1767077829917de6f295 .rich-text-button {
          margin-top: 24px;
        }

        #shopify-section-1767077829917de6f295 .yb-single-video-btn {
          padding: 0 40px;
          min-width: 180px;
        }
      }

      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1767077829917de6f295 .yb-section-title {
          line-height: 120%;
          max-width: 600px;
        }

        .rich-text-component {
          padding: 0 24px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-component-wrapper {
          max-width: 600px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-description {
          max-width: 600px;
          margin-bottom: 0
        }

        .margin-top-description-style {
          margin-top: 16px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-description span {
          max-width: 600px;
          display: inline-block;
        }

        #shopify-section-1767077829917de6f295 .rich-text-button {
          margin-top: 24px;
        }

        #shopify-section-1767077829917de6f295 .yb-single-video-btn {
          padding: 0 40px;
          min-width: 180px;
        }
      }

      @media (max-width: 679px) {
        #shopify-section-1767077829917de6f295 .yb-section-title {
          max-width: 327px;
          line-height: 120%;
          width: 100%;
        }

        .rich-text-component {
          padding: 0 16px
        }

        #shopify-section-1767077829917de6f295 .rich-text-component-wrapper {
          max-width: 327px;
          width: 100%;
        }

        #shopify-section-1767077829917de6f295 .rich-text-description {
          max-width: 327px;
          width: 100%;
          margin-bottom: 0
        }

        .margin-top-description-style {
          margin-top: 12px;
        }

        #shopify-section-1767077829917de6f295 .rich-text-description span {
          max-width: 327px;
          width: 100%;
          display: inline-block;
        }

        #shopify-section-1767077829917de6f295 .rich-text-button {
          margin-top: 16px;
        }

        #shopify-section-1767077829917de6f295 .yb-single-video-btn {
          padding: 0 40px;
          width: 100%;
        }
      }
    </style>
    <div class="rich-text-component">
      <div class="rich-text-component-wrapper">
        <div class="rich-text-component-inner">
          <div>
            <a
              class="undefined yb-single-video-btn"
              data-btn-name="facebook_group_join_click"
              data-datalayer="facebook_group_join_click"
              href="https://www.facebook.com/groups/1714379818996666"
              >Be One of Yarbo Community</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-container">
    <img
      class="hidden-phone"
      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036457983.png?v=1772522473"
    >
    <img
      class="hidden-tablet-and-up"
      src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/banner-_4_-3.png?v=1772523800"
    >
  </div>
  <div class="shopline-section section" id="shopify-section-1767078214420c49807d">
    <style>
      #shopify-section-1767078214420c49807d {
        background-color: #F5F5F5;
      }

      @media (max-width: 679px) {
        #shopify-section-1767078214420c49807d {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1767078214420c49807d {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1767078214420c49807d {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1767078214420c49807d {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 1920px) {
        #shopify-section-1767078214420c49807d {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      #yb-banner-swiper__1767078214420c49807d .splide {
        --fill-duration: 6s;
      }

      #yb-banner-swiper__1767078214420c49807d .yb-banner-swiper-splide__track {
        z-index: unset;
      }

      #yb-banner-swiper__1767078214420c49807d .subscribe-popup-container.subscribe-popup-new {
        position: absolute;
      }

      #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo-policy-text {
        position: relative;
      }

      #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo-input {
        color: rgb(var(--color-text, inherit));
      }

      #yb-banner-swiper__1767078214420c49807d .yb-banner-swiper-subscription-wrapper {
        width: 100%;
        max-width: 600px;
      }

      #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo {
        width: 100%;
      }

      #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo-input-wrapper {
        width: 100%;
        max-width: 600px;
      }

      #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo-desc {
        margin-bottom: 12px;
        color: rgb(var(--color-text, inherit));
      }

      #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo-policy {
        margin-top: 12px;
        width: 100%;
        max-width: 482px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }

      #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo-policy-text {
        flex: 1;
        min-width: 0;
        word-wrap: break-word;
        white-space: normal;
        line-height: 1.5;
        font-size: 12px;
        color: #fff !important;
        display: inline;
      }

      #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo-checkbox-wrapper {
        flex-shrink: 0;
        margin-right: 8px;
        margin-top: 2px;
      }

      #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo-link {
        color: #fff !important;
        text-decoration: underline !important;
      }

      #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo-absolute {
        width: 100%;
        max-width: 600px;
      }

      @media (max-width: 959px) {
        #yb-banner-swiper__1767078214420c49807d .yb-banner-swiper-subscription-wrapper {
          max-width: 100%;
        }

        #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo-input-wrapper {
          max-width: 100%;
        }

        #yb-banner-swiper__1767078214420c49807d .yb-subscribe-klaviyo-policy {
          max-width: 100%;
        }
      }
    </style>
    <div class="yb-banner-swiper yb-banner-swiper__basic-size" id="yb-banner-swiper__1767078214420c49807d">
      <div class="yb-banner-swiper__splide splide" data-speed="6">
        <div class="splide__track yb-banner-swiper-splide__track">
          <ul class="splide__list yb-banner-swiper-splide__list">
            <style>
              body {
                overflow-x: hidden !important;
              }

              .yb-banner-swiper .subscribe-country-list-wrapper {
                top: -200px !important;
              }

              @media screen and (max-width: 959px) {
                #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-text-container {
                  text-align: center;
                }

                #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-titles {
                  margin-bottom: auto;
                }

                #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-stats,
                #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-banner-swiper-cta,
                #block-1756881832620e85c08d[data-mobile_layout='style1'] .yb-subscribe-klaviyo-input-wrapper {
                  margin-left: auto;
                  margin-right: auto;
                }

                #block-1756881832620e85c08d[data-mobile_layout='style2'] .yb-banner-swiper-titles {
                  margin-top: auto;
                }

                #block-1756881832620e85c08d[data-mobile_layout='style2'] .yb-banner-swiper-text-container {
                  text-align: left;
                  margin-bottom: 12px;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                  text-align: center;
                }
              }

              @media (min-width: 960px) {
                #block-1756881832620e85c08d .yb-banner-swiper-text-container {
                  width: 50%;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-titles>* {
                  margin: 12px auto;
                  text-align: center;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-cta {
                  display: flex;
                  justify-content: center;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-titles>* {
                  margin-right: auto;
                  text-align: left;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-cta {
                  display: flex;
                  justify-content: flex-start;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-titles>* {
                  margin-left: auto;
                  text-align: right;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-cta {
                  display: flex;
                  justify-content: flex-end;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-banner-swiper-stats {
                  display: flex;
                  justify-content: center;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                  margin: 40px auto 12px auto;
                  text-align: center;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
                  margin: 0 auto;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-banner-swiper-stats {
                  display: flex;
                  justify-content: flex-start;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                  margin-right: auto;
                  text-align: left;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='left'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
                  margin-right: auto;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-banner-swiper-stats {
                  display: flex;
                  justify-content: flex-end;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
                  margin-left: auto;
                  text-align: right;
                }

                #block-1756881832620e85c08d[data-text_horizontal_position='right'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
                  margin-left: auto;
                }

                .block-li-1756881832620e85c08d[data-text_vertical_position='top'] {
                  justify-content: start;
                }

                .block-li-1756881832620e85c08d[data-text_vertical_position='center'] {
                  justify-content: center;
                }

                .block-li-1756881832620e85c08d[data-text_vertical_position='bottom'] {
                  justify-content: end;
                }
              }
            </style>
            <li
              class="yb-banner-swiper-li splide__slide block-li-1756881832620e85c08d"
              data-text_vertical_position="center"
            >
              <div class="yb-banner-swiper-mobile-image">
                <img
                  class="yb-banner-swiper-img"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/banner-_5_-4.png?v=1772523811"
                >
              </div>
              <div class="yb-banner-swiper-desktop-image">
                <img
                  class="yb-banner-swiper-img"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-2036457982.png?v=1772522469"
                >
              </div>
              <main
                class="yb-banner-swiper-main yb-section-container yb-banner-swiper-width"
                data-mobile_layout="style1"
                data-text_horizontal_position="left"
                data-text_vertical_position="center"
                id="block-1756881832620e85c08d"
              >
                <div class="yb-banner-swiper-titles yb-banner-swiper__basic-size">
                  <h2 class="yb-banner-swiper-title yb-banner-swiper-text-container">
                    <div>
                      <p>Looking Forward</p>
                    </div>
                  </h2>
                  <div class="yb-banner-swiper-subtitle yb-banner-swiper-text-container">
                    Forward. The focus is clear.<br>
                    <br>
                    Modular: Expanding capabilities.<br>
                    Autonomous: Elevating intelligence.<br>
                    Versatile: Mastering all-season challenges.<br>
                    <br>
                    Progress. Not hype. Built on steady, reliable steps.
                  </div>
                </div>
                <div class="yb-banner-swiper-cta">
                  <div class="yb-banner-swiper-cta_content yb-banner-swiper__basic-size">
                    <a class="undefined yb-banner-swiper-button-primary" href="https://www.yarbo.com/">Explore More</a>
                  </div>
                </div>
              </main>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <style>
      body {
        overflow-x: hidden;
      }
    </style>
    <script>
      const video1767078214420c49807dmobiles = document.querySelectorAll(
        '#shopify-section-1767078214420c49807d video.yb-banner-swiper-mobile-video'
      );
      video1767078214420c49807dmobiles.forEach((video) => {
        const image1767078214420c49807dmobile = video.nextElementSibling;
        if (
          image1767078214420c49807dmobile &&
          image1767078214420c49807dmobile.classList.contains('yb-banner-swiper-mobile-image')
        ) {
          video.addEventListener('play', function () {
            image1767078214420c49807dmobile.style.display = 'none';
          });
        }
      });
      const video1767078214420c49807dPC = document.querySelectorAll(
        '#shopify-section-1767078214420c49807d video.yb-banner-swiper-desktop-video'
      );
      video1767078214420c49807dPC.forEach((video) => {
        const image1767078214420c49807dPC = video.nextElementSibling;
        if (
          image1767078214420c49807dPC &&
          image1767078214420c49807dPC.classList.contains('yb-banner-swiper-desktop-image')
        ) {
          video.addEventListener('play', function () {
            image1767078214420c49807dPC.style.display = 'none';
          });
        }
      });
      window.addEventListener('scroll', function () {
        const element = document.querySelector('#yb-banner-swiper-mobile-cta-container__1767078214420c49807d');
        if (!element) return;
        const mobileImage = document.querySelector('#yb-banner-swiper__1767078214420c49807d #yb-banner-mobile-image');
        const rect = mobileImage.getBoundingClientRect();
        if (rect.bottom <= 0) {
          element.classList.add('yb-banner-swiper-fixed-btns__operate');
        } else {
          element.classList.remove('yb-banner-swiper-fixed-btns__operate');
        }
      });
      function initAnchorLinks() {
        document
          .querySelectorAll('#yb-banner-swiper__1767078214420c49807d .yb-banner-swiper-anchor-link')
          .forEach((link) => {
            link.addEventListener('click', function (e) {
              e.preventDefault();
              const anchorId = this.getAttribute('data-anchor-id');
              if (!anchorId) return;
              const anchorElement = document.getElementById(`shopify-section-${anchorId}`);
              if (anchorElement) {
                window.scrollTo({ top: anchorElement.offsetTop - 120, behavior: 'smooth' });
              }
            });
          });
      }
      if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', initAnchorLinks);
      } else {
        initAnchorLinks();
      }
    </script>
  </div>
</div>

{% schema %}
{
  "name": "new-year-2026"

}
{% endschema %}
