{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}
{{ 'yb-section-slideshow.css' | asset_url | stylesheet_tag }}
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-video2_875cea7d-b93d-4d99-bbd4-0c518987d22e.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ee0e93f3-0431-46cb-a624-35daae31c826.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-banner-swiper.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_223bf385-ef7c-40c3-82e5-833dddfd1855.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall_72ccc081-c134-4698-bcdc-6003d9c4d774.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall-scroll_ee0be0a0-0a04-4f3a-9613-5014fc633558.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/component-card.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/component-price.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ed91e4e0-7924-425e-9e88-5e9d0b914bd4.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_8fbe9c70-a659-4943-b0df-b8e38e01e7a2.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/media-wall-scroll_588feedb-a84d-4673-b588-2cecf8c1523d.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/swiper-bundle.min.js"
></script>

<div class="migrated-page">
  <div class="shopline-section section" id="shopify-section-174891570992209d6525">
    <style>
      #shopify-section-174891570992209d6525 {
        background-color: #f5f5f5;
      }

      /* 375-679px */
      @media (max-width: 679px) {
        #shopify-section-174891570992209d6525 {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-174891570992209d6525 {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-174891570992209d6525 {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-174891570992209d6525 {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-174891570992209d6525 {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    </style>
    <style>
      #yb-banner-swiper__174891570992209d6525 .splide {
        --fill-duration: 6s;
      }
      #yb-banner-swiper__174891570992209d6525 .yb-banner-swiper-splide__track {
        z-index: unset;
      }
      #yb-banner-swiper__174891570992209d6525 .subscribe-popup-container.subscribe-popup-new {
        position: absolute;
      }
      #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo-policy-text {
        position: relative;
      }
      #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo-input {
        color: rgb(var(--color-text, inherit));
      }

      /* 订阅框样式修复 */
      #yb-banner-swiper__174891570992209d6525 .yb-banner-swiper-subscription-wrapper {
        width: 100%;
        max-width: 600px;
      }

      #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo {
        width: 100%;
      }

      #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo-input-wrapper {
        width: 100%;
        max-width: 600px;
      }

      #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo-desc {
        margin-bottom: 12px;
        color: rgb(var(--color-text, inherit));
      }

      /* 修复 policy 区域样式 */
      #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo-policy {
        margin-top: 12px;
        width: 100%;
        max-width: 482px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }

      #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo-policy-text {
        flex: 1;
        min-width: 0;
        word-wrap: break-word;
        white-space: normal;
        line-height: 1.5;
        font-size: 12px;
        color: #fff !important;
        display: inline;
      }

      #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo-checkbox-wrapper {
        flex-shrink: 0;
        margin-right: 8px;
        margin-top: 2px;
      }

      #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo-link {
        color: #fff !important;
        text-decoration: underline !important;
      }

      /* 确保绝对定位时的容器宽度 */
      #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo-absolute {
        width: 100%;
        max-width: 600px;
      }

      /* 响应式调整 */
      @media (max-width: 959px) {
        #yb-banner-swiper__174891570992209d6525 .yb-banner-swiper-subscription-wrapper {
          max-width: 100%;
        }

        #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo-input-wrapper {
          max-width: 100%;
        }

        #yb-banner-swiper__174891570992209d6525 .yb-subscribe-klaviyo-policy {
          max-width: 100%;
        }
      }
    </style>
    <div class="yb-banner-swiper yb-banner-swiper__basic-size" id="yb-banner-swiper__174891570992209d6525">
      <div class="yb-banner-swiper__splide splide" data-speed="6">
        <div class="splide__track yb-banner-swiper-splide__track">
          <ul class="splide__list yb-banner-swiper-splide__list">
            <style>
              body {
                overflow-x: hidden !important;
              }
              .yb-banner-swiper .subscribe-country-list-wrapper {
                top: -200px !important;
              }
              @media screen and (max-width: 959px) {
                #block-1748915709922a86e52d[data-mobile_layout='style1'] .yb-banner-swiper-text-container {
                  text-align: center;
                }
                #block-1748915709922a86e52d[data-mobile_layout='style1'] .yb-banner-swiper-titles {
                  margin-bottom: auto;
                }
                #block-1748915709922a86e52d[data-mobile_layout='style1'] .yb-banner-swiper-stats,
                #block-1748915709922a86e52d[data-mobile_layout='style1'] .yb-banner-swiper-cta,
                #block-1748915709922a86e52d[data-mobile_layout='style1'] .yb-subscribe-klaviyo-input-wrapper {
                  margin-left: auto;
                  margin-right: auto;
                }
                #block-1748915709922a86e52d[data-mobile_layout='style2'] .yb-banner-swiper-titles {
                  margin-top: auto;
                }
                #block-1748915709922a86e52d[data-mobile_layout='style2'] .yb-banner-swiper-text-container {
                  text-align: left;
                  margin-bottom: 12px;
                }
                #block-1748915709922a86e52d[data-text_horizontal_position='center']
                  .yb-subscribe-klaviyo
                  .yb-subscribe-klaviyo-desc {
                  text-align: center;
                }
              }
              @media (min-width: 960px) {
                #block-1748915709922a86e52d .yb-banner-swiper-text-container {
                  width: 50%;
                }
                /* 居中布局 */
                #block-1748915709922a86e52d[data-text_horizontal_position='center'] .yb-banner-swiper-titles > * {
                  margin: 12px auto;
                  text-align: center;
                }
                #block-1748915709922a86e52d[data-text_horizontal_position='center'] .yb-banner-swiper-cta {
                  display: flex;
                  justify-content: center;
                }

                /* 左侧布局 */
                #block-1748915709922a86e52d[data-text_horizontal_position='left'] .yb-banner-swiper-titles > * {
                  margin-right: auto;
                  text-align: left;
                }
                #block-1748915709922a86e52d[data-text_horizontal_position='left'] .yb-banner-swiper-cta {
                  display: flex;
                  justify-content: flex-start;
                }

                /* 右侧布局 */
                #block-1748915709922a86e52d[data-text_horizontal_position='right'] .yb-banner-swiper-titles > * {
                  margin-left: auto;
                  text-align: right;
                }
                #block-1748915709922a86e52d[data-text_horizontal_position='right'] .yb-banner-swiper-cta {
                  display: flex;
                  justify-content: flex-end;
                }
                /* 居中布局 - 响应式部分 */
                #block-1748915709922a86e52d[data-text_horizontal_position='center'] .yb-banner-swiper-stats {
                  display: flex;
                  justify-content: center;
                }
                #block-1748915709922a86e52d[data-text_horizontal_position='center']
                  .yb-subscribe-klaviyo
                  .yb-subscribe-klaviyo-desc {
                  margin: 40px auto 12px auto;
                  text-align: center;
                }
                #block-1748915709922a86e52d[data-text_horizontal_position='center']
                  .yb-subscribe-klaviyo
                  .yb-subscribe-klaviyo-input-wrapper {
                  margin: 0 auto;
                }

                /* 左侧布局 - 响应式部分 */
                #block-1748915709922a86e52d[data-text_horizontal_position='left'] .yb-banner-swiper-stats {
                  display: flex;
                  justify-content: flex-start;
                }
                #block-1748915709922a86e52d[data-text_horizontal_position='left']
                  .yb-subscribe-klaviyo
                  .yb-subscribe-klaviyo-desc {
                  margin-right: auto;
                  text-align: left;
                }
                #block-1748915709922a86e52d[data-text_horizontal_position='left']
                  .yb-subscribe-klaviyo
                  .yb-subscribe-klaviyo-input-wrapper {
                  margin-right: auto;
                }

                /* 右侧布局 - 响应式部分 */
                #block-1748915709922a86e52d[data-text_horizontal_position='right'] .yb-banner-swiper-stats {
                  display: flex;
                  justify-content: flex-end;
                }
                #block-1748915709922a86e52d[data-text_horizontal_position='right']
                  .yb-subscribe-klaviyo
                  .yb-subscribe-klaviyo-desc {
                  margin-left: auto;
                  text-align: right;
                }
                #block-1748915709922a86e52d[data-text_horizontal_position='right']
                  .yb-subscribe-klaviyo
                  .yb-subscribe-klaviyo-input-wrapper {
                  margin-left: auto;
                }
                .block-li-1748915709922a86e52d[data-text_vertical_position='top'] {
                  justify-content: start;
                }
                .block-li-1748915709922a86e52d[data-text_vertical_position='center'] {
                  justify-content: center;
                }
                .block-li-1748915709922a86e52d[data-text_vertical_position='bottom'] {
                  justify-content: end;
                }
              }
            </style>
            <li
              class="yb-banner-swiper-li splide__slide block-li-1748915709922a86e52d"
              data-text_vertical_position="top"
            >
              <!-- 移动端图片容器 -->
              <div class="yb-banner-swiper-mobile-image">
                <img
                  alt=""
                  class="yb-banner-swiper-img"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="high"
                  height="1160"
                  loading="eager"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/20251112-115618.png?v=1772521494"
                  width="750"
                >
              </div>
              <!-- 桌面端图片容器 -->
              <div class="yb-banner-swiper-desktop-image">
                <img
                  alt=""
                  class="yb-banner-swiper-img"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="high"
                  height="1440"
                  loading="eager"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/20251112-115625.png?v=1772521499"
                  width="3840"
                >
              </div>
              <main
                class="yb-banner-swiper-main yb-section-container yb-banner-swiper-width"
                data-mobile_layout="style1"
                data-text_horizontal_position="center"
                data-text_vertical_position="top"
                id="block-1748915709922a86e52d"
              >
                <div class="yb-banner-swiper-titles yb-banner-swiper__basic-size"></div>
                <!-- 数据统计区 -->
                <!-- 操作按钮区 -->
                <!-- 订阅框区 -->
              </main>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <style>
      body {
        overflow-x: hidden;
      }
    </style>
    <script>
      const video174891570992209d6525mobiles = document.querySelectorAll(
        '#shopify-section-174891570992209d6525 video.yb-banner-swiper-mobile-video'
      );
      video174891570992209d6525mobiles.forEach((video) => {
        const image174891570992209d6525mobile = video.nextElementSibling;
        if (
          image174891570992209d6525mobile &&
          image174891570992209d6525mobile.classList.contains('yb-banner-swiper-mobile-image')
        ) {
          video.addEventListener('play', function () {
            image174891570992209d6525mobile.style.display = 'none';
          });
        }
      });
      const video174891570992209d6525PC = document.querySelectorAll(
        '#shopify-section-174891570992209d6525 video.yb-banner-swiper-desktop-video'
      );
      video174891570992209d6525PC.forEach((video) => {
        const image174891570992209d6525PC = video.nextElementSibling;
        if (
          image174891570992209d6525PC &&
          image174891570992209d6525PC.classList.contains('yb-banner-swiper-desktop-image')
        ) {
          video.addEventListener('play', function () {
            image174891570992209d6525PC.style.display = 'none';
          });
        }
      });
      window.addEventListener('scroll', function () {
        const element = document.querySelector('#yb-banner-swiper-mobile-cta-container__174891570992209d6525');
        if (!element) return;
        const scrollY = window.scrollY || document.documentElement.scrollTop;
        const mobileImage = document.querySelector('#yb-banner-swiper__174891570992209d6525 #yb-banner-mobile-image');
        const rect = mobileImage.getBoundingClientRect(); // 获取视口内坐标
        const topFromPage = rect.top; // 最终距离页面顶部的值
        if (rect.bottom <= 0) {
          // 滚动超过 100px 时触发吸顶
          element.classList.add('yb-banner-swiper-fixed-btns__operate');
        } else {
          element.classList.remove('yb-banner-swiper-fixed-btns__operate');
        }
      });

      // 锚点点击事件处理
      function initAnchorLinks() {
        document
          .querySelectorAll('#yb-banner-swiper__174891570992209d6525 .yb-banner-swiper-anchor-link')
          .forEach((link) => {
            link.addEventListener('click', function (e) {
              e.preventDefault();
              const anchorId = this.getAttribute('data-anchor-id');
              if (!anchorId) return;

              const anchorElement = document.getElementById(`shopify-section-${anchorId}`);
              if (anchorElement) {
                window.scrollTo({
                  top: anchorElement.offsetTop - 120,
                  behavior: 'smooth',
                });
              } else {
                console.warn(`[yb-banner-swiper] 未找到对应的锚点元素: shopify-section-${anchorId}`);
              }
            });
          });
      }

      if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', initAnchorLinks);
      } else {
        initAnchorLinks();
      }
    </script>
  </div>
  <div class="shopline-section" id="shopify-section-1748916020850ae25a67">
    <div class="tabs-container" style="background-color: #000000">
      <div class="tab-contaner-inner">
        <div class="tabs-wrapper" id="tabsWrapper">
          <div
            class="scroll-indicator left"
            id="scrollArrowLeft"
            style="background-color: rgb(0, 0, 0); display: none;"
          >
            <svg viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
              <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"></path>
            </svg>
          </div>
          <div
            class="tab-item"
            data-active-tab-bg-color="#6e6e73"
            data-active-tab-title-color="#FFFFFF"
            data-tab-title-color="#ffffff"
            onclick="scrollToTab('shopify-section-17492873624812c001e6', this)"
            style="color: rgb(255, 255, 255); background-color: transparent;"
          >
            Robots
          </div>
          <div
            class="tab-item"
            data-active-tab-bg-color="#6e6e73"
            data-active-tab-title-color="#FFFFFF"
            data-tab-title-color="#ffffff"
            onclick="scrollToTab('shopify-section-174928572757088128c3', this)"
            style="color: rgb(255, 255, 255); background-color: transparent;"
          >
            Latest
          </div>
          <div
            class="tab-item"
            data-active-tab-bg-color="#6e6e73"
            data-active-tab-title-color="#FFFFFF"
            data-tab-title-color="#ffffff"
            onclick="scrollToTab('shopify-section-1749286116846fbc0ceb', this)"
            style="color: rgb(255, 255, 255); background-color: transparent;"
          >
            Bundles
          </div>
          <div
            class="tab-item active"
            data-active-tab-bg-color="#6e6e73"
            data-active-tab-title-color="#FFFFFF"
            data-tab-title-color="#ffffff"
            onclick="scrollToTab('shopify-section-1749286728389c2951ae', this)"
            style="color: rgb(255, 255, 255); background-color: rgb(110, 110, 115);"
          >
            Modules
          </div>
          <div
            class="tab-item"
            data-active-tab-bg-color="#6e6e73"
            data-active-tab-title-color="#FFFFFF"
            data-tab-title-color="#ffffff"
            onclick="scrollToTab('shopify-section-17492866450278e8d332', this)"
            style="color: rgb(255, 255, 255); background-color: transparent;"
          >
            Accessories
          </div>
          <div
            class="scroll-indicator right"
            id="scrollArrowRight"
            style="background-color: rgb(0, 0, 0); display: none;"
          >
            <svg viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
              <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <style>
      #shopify-section-1748916020850ae25a67 {
        position: sticky;
        z-index: 99;
        overflow: hidden;
      }

      #shopify-section-1748916020850ae25a67 .tabs-container {
        position: relative;
      }
      #shopify-section-1748916020850ae25a67 .tab-contaner-inner {
        position: relative;
      }
      #shopify-section-1748916020850ae25a67 .tabs-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        padding: 12.21px 38px;
        background-color: #000000;
        scrollbar-width: none;
        height: 56px;
      }
      #shopify-section-1748916020850ae25a67 .tabs-wrapper::-webkit-scrollbar {
        display: none;
      }
      #shopify-section-1748916020850ae25a67 .dark-mode .tabs-wrapper {
        background-color: #0a0a0a;
        border-color: #333;
      }
      #shopify-section-1748916020850ae25a67 .dark-mode .tab-item {
        color: #fff;
      }
      #shopify-section-1748916020850ae25a67 .dark-mode .tab-item.active {
        background-color: #555;
      }
      #shopify-section-1748916020850ae25a67 .tab-item.active {
        font-weight: 600;
      }
      #shopify-section-1748916020850ae25a67 .tab-item {
        cursor: pointer;
        font-weight: 400;
        padding: 6px 20px;
        height: 32px;
      }
      #shopify-section-1748916020850ae25a67 .scroll-indicator {
        color: #ffff;
        z-index: 2222;
        cursor: pointer;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 20px;
        position: absolute;
      }
      #shopify-section-1748916020850ae25a67 .scroll-indicator.right {
        right: 0;
      }
      #shopify-section-1748916020850ae25a67 .scroll-indicator.left {
        left: 0;
      }
      #shopify-section-1748916020850ae25a67 .scroll-indicator svg {
        width: 7.4px;
        height: 15px;
        fill: #ffffff;
      }
      #shopify-section-1748916020850ae25a67 .tabs-wrapper {
        padding: 0px 38px;
        overflow-x: auto;
      }
      @media (min-width: 1920px) {
        #shopify-section-1748916020850ae25a67 {
          top: 78px !important;
        }
        #shopify-section-1748916020850ae25a67 .tabs-wrapper .tabs-wrapper-inner {
          gap: 16px;
        }
        #shopify-section-1748916020850ae25a67 .tab-item {
          font-size: 14px;
          line-height: 1.4;
          border-radius: 19px;
        }
      }
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1748916020850ae25a67 {
          top: 78px !important;
        }
        #shopify-section-1748916020850ae25a67 .tabs-wrapper .tabs-wrapper-inner {
          gap: 16px;
        }
        #shopify-section-1748916020850ae25a67 .tab-item {
          font-size: 14px;
          line-height: 1.4;
          border-radius: 19px;
        }
        #shopify-section-1748916020850ae25a67 .scroll-indicator {
          padding: 15px 20px;
        }
      }
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1748916020850ae25a67 {
          top: 78px !important;
        }
        #shopify-section-1748916020850ae25a67 .tabs-wrapper .tabs-wrapper-inner {
          gap: 16px;
        }
        #shopify-section-1748916020850ae25a67 .tab-item {
          font-size: 14px;
          line-height: 1.4;
          border-radius: 19px;
        }
      }
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1748916020850ae25a67 {
          top: 60px !important;
        }
        #shopify-section-1748916020850ae25a67 .tabs-wrapper .tabs-wrapper-inner {
          gap: 8px;
        }
        #shopify-section-1748916020850ae25a67 .tab-item {
          font-size: 12px;
          line-height: 1.4;
          border-radius: 19px;
        }
        #shopify-section-1748916020850ae25a67 .tabs-wrapper {
          padding: 0px 38px;
          overflow-x: auto;
          justify-content: flex-start;
        }
      }
      @media (max-width: 679px) {
        #shopify-section-1748916020850ae25a67 {
          top: 60px !important;
        }
        #shopify-section-1748916020850ae25a67 .tabs-wrapper .tabs-wrapper-inner {
          gap: 8px;
        }
        #shopify-section-1748916020850ae25a67 .tab-item {
          font-size: 12px;
          line-height: 1.4;
          border-radius: 19px;
        }
        #shopify-section-1748916020850ae25a67 .scroll-indicator.right,
        #shopify-section-1748916020850ae25a67 .scroll-indicator.left {
          top: 0px;
        }
      }

      @media (max-width: 400px) {
        #shopify-section-1748916020850ae25a67 .scroll-indicator {
          top: 108px;
        }
        #shopify-section-1748916020850ae25a67 .scroll-indicator {
          top: 56px;
        }
      }
    </style>
    <script>
      function scrollToTab(targetId, tab) {
        document.querySelectorAll('.tab-item').forEach((item) => {
          item.classList.remove('active');
          item.style.backgroundColor = 'transparent';
          item.style.color = item.dataset.tabTitleColor || '';
        });
        tab.classList.add('active');
        tab.style.backgroundColor = tab.dataset.activeTabBgColor || '';
        tab.style.color = tab.dataset.activeTabTitleColor || '';

        const target = document.getElementById(targetId);
        if (target) {
          window.scrollTo({
            top: target.offsetTop - 100,
            behavior: 'smooth',
          });
        }
      }

      function checkTabOverflow() {
        const wrapper = document.getElementById('tabsWrapper');
        const rightArrow = document.getElementById('scrollArrowRight');
        const leftArrow = document.getElementById('scrollArrowLeft');
        const threshold = 10;

        if (wrapper.scrollWidth > wrapper.clientWidth) {
          wrapper.style.justifyContent = 'flex-start';
          rightArrow.style.display =
            wrapper.scrollLeft + wrapper.clientWidth < wrapper.scrollWidth - threshold ? 'block' : 'none';
          leftArrow.style.display = wrapper.scrollLeft > threshold ? 'block' : 'none';
        } else {
          rightArrow.style.display = 'none';
          leftArrow.style.display = 'none';
        }
      }

      document.addEventListener('DOMContentLoaded', function () {
        const wrapper = document.getElementById('tabsWrapper');
        const rightArrow = document.getElementById('scrollArrowRight');
        const leftArrow = document.getElementById('scrollArrowLeft');

        rightArrow.addEventListener('click', function () {
          wrapper.scrollBy({ left: 100, behavior: 'smooth' });
          setTimeout(checkTabOverflow, 50);
        });

        leftArrow.addEventListener('click', function () {
          wrapper.scrollBy({ left: -100, behavior: 'smooth' });
          setTimeout(checkTabOverflow, 50);
        });

        wrapper.addEventListener('scroll', checkTabOverflow);
        checkTabOverflow();

        window.addEventListener('resize', checkTabOverflow);
      });
    </script>
    <style>
      #shopify-section-1748916020850ae25a67 .tabs-wrapper {
        text-align: center;
      }
    </style>
  </div>
  <div class="shopline-section" id="shopify-section-17540185806639f6a51e">
    <style>
      #shopify-section-17540185806639f6a51e {
        background-color: #f5f5f5;
      }

      /* 375-679px */
      @media (max-width: 679px) {
        #shopify-section-17540185806639f6a51e {
          padding-top: 48px;
          padding-bottom: 8px;
        }
      }

      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-17540185806639f6a51e {
          padding-top: 64px;
          padding-bottom: 16px;
        }
      }

      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-17540185806639f6a51e {
          padding-top: 64px;
          padding-bottom: 16px;
        }
      }

      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-17540185806639f6a51e {
          padding-top: 100px;
          padding-bottom: 25px;
        }
      }

      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-17540185806639f6a51e {
          padding-top: 120px;
          padding-bottom: 30px;
        }
      }
    </style>
    <div class="rich-text-component">
      <div class="rich-text-component-wrapper">
        <div class="rich-text-component-inner">
          <div class="headerTitle1">
            <div class="rich-text-title">
              <h2 class="yb-section-title lcf-section-title">Zero-effort Yard Care for Every Season</h2>
            </div>
            <div class="margin-top-description-style">
              <div class="rich-text-description yb-body-3 lcf-section-des">
                <span style="color: #02060b;">
                  <p class="p1">
                    Meet Yarbo — a leading modular yard robot system that manages various chores, from snow blowing to
                    lawn mowing and leaf blowing. Experience the future of yard care, hands-free.
                  </p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      #shopify-section-17540185806639f6a51e .yb-single-video-btn {
        border: 0px;
        cursor: pointer;
        height: 48px;
        line-height: 48px;
        font-weight: 600;
      }

      .rich-text-description {
        line-height: 140%;
      }
      #shopify-section-17540185806639f6a51e .rich-text-component-wrapper {
        margin: 0px auto;
        text-align: center;
      }
      .rich-text-component {
        margin: auto;
      }
      .yb-section-title {
        font-weight: 800;
      }
      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-17540185806639f6a51e .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 1000px;
          margin: auto;
        }
        #shopify-section-17540185806639f6a51e .rich-text-component-wrapper {
          width: 1000px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-description span {
          width: 1000px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-button {
          margin-top: 40px;
        }
        #shopify-section-17540185806639f6a51e .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-17540185806639f6a51e .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 924px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-component-wrapper {
          width: 924px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-description span {
          width: 924px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-button {
          margin-top: 32px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-title {
        }
        #shopify-section-17540185806639f6a51e .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-17540185806639f6a51e .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 728px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-component-wrapper {
          width: 728px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-description span {
          width: 728px;
          display: inline-block;
        }
        #shopify-section-17540185806639f6a51e .rich-text-button {
          margin-top: 24px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-title {
        }
        #shopify-section-17540185806639f6a51e .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-17540185806639f6a51e .yb-section-title {
          line-height: 120%;
          max-width: 600px;
        }
        .rich-text-component {
          padding: 0 24px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-component-wrapper {
          max-width: 600px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-description {
          max-width: 600px;
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-description span {
          max-width: 600px;
        }
        #shopify-section-17540185806639f6a51e .headerTitle1 {
        }
        #shopify-section-17540185806639f6a51e .rich-text-description span {
          display: inline-block;
          max-width: 600px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-button {
          margin-top: 24px;
        }
        #shopify-section-17540185806639f6a51e .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }

      /* 679px */
      @media (max-width: 679px) {
        #shopify-section-17540185806639f6a51e .yb-section-title {
          max-width: 327px;
          line-height: 120%;
          width: 100%;
        }
        .rich-text-component {
          padding: 0 16px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-component-wrapper {
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-17540185806639f6a51e .rich-text-description {
          max-width: 327px;
          width: 100%;
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 12px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-description span {
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-17540185806639f6a51e .rich-text-button {
          margin-top: 16px;
        }
        #shopify-section-17540185806639f6a51e .rich-text-description span {
          display: inline-block;
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-17540185806639f6a51e .yb-single-video-btn {
          padding: 0 40px;
          width: 100%;
        }
      }
    </style>
  </div>
  <div class="shopline-section" id="shopify-section-17540182328530cbf2a6">
    <style>
      #shopify-section-17540182328530cbf2a6 {
        background-color: #f5f5f5;
      }

      /* 375-679px */
      @media (max-width: 679px) {
        #shopify-section-17540182328530cbf2a6 {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-17540182328530cbf2a6 {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-17540182328530cbf2a6 {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-17540182328530cbf2a6 {
          padding-top: 50px;
          padding-bottom: 40px;
        }
      }

      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-17540182328530cbf2a6 {
          padding-top: 50px;
          padding-bottom: 30px;
        }
      }
    </style>
    <div class="rich-text-component">
      <div class="rich-text-component-wrapper">
        <div class="rich-text-component-inner">
          <div class="headerTitle1"></div>
        </div>
      </div>
    </div>
    <style>
      #shopify-section-17540182328530cbf2a6 .yb-single-video-btn {
        border: 0px;
        cursor: pointer;
        height: 48px;
        line-height: 48px;
        font-weight: 600;
      }

      .rich-text-description {
        line-height: 140%;
      }
      @media (min-width: 1920px) {
        #shopify-section-17540182328530cbf2a6 {
          background-image: url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1920-2099.png?v=1772521115');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      @media (min-width: 960px) and (max-width: 1919px) {
        #shopify-section-17540182328530cbf2a6 {
          background-image: url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1920-2099.png?v=1772521115');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      @media (max-width: 959px) {
        #shopify-section-17540182328530cbf2a6 {
          background-image: url('https://cdn.shopify.com/s/files/1/0604/5394/5441/files/1920-2101.png?v=1772521120');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      #shopify-section-17540182328530cbf2a6 .rich-text-component-wrapper {
        margin: 0px auto;
        text-align: center;
      }
      .rich-text-component {
        margin: auto;
      }
      .yb-section-title {
        font-weight: 800;
      }
      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-17540182328530cbf2a6 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 1000px;
          margin: auto;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-component-wrapper {
          width: 1000px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description span {
          width: 1000px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-button {
          margin-top: 40px;
        }
        #shopify-section-17540182328530cbf2a6 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-17540182328530cbf2a6 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 924px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-component-wrapper {
          width: 924px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description span {
          width: 924px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-button {
          margin-top: 32px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-title {
        }
        #shopify-section-17540182328530cbf2a6 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-17540182328530cbf2a6 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 728px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-component-wrapper {
          width: 728px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description span {
          width: 728px;
          display: inline-block;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-button {
          margin-top: 24px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-title {
        }
        #shopify-section-17540182328530cbf2a6 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-17540182328530cbf2a6 .yb-section-title {
          line-height: 120%;
          max-width: 600px;
        }
        .rich-text-component {
          padding: 0 24px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-component-wrapper {
          max-width: 600px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description {
          max-width: 600px;
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description span {
          max-width: 600px;
        }
        #shopify-section-17540182328530cbf2a6 .headerTitle1 {
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description span {
          display: inline-block;
          max-width: 600px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-button {
          margin-top: 24px;
        }
        #shopify-section-17540182328530cbf2a6 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }

      /* 679px */
      @media (max-width: 679px) {
        #shopify-section-17540182328530cbf2a6 .yb-section-title {
          max-width: 327px;
          line-height: 120%;
          width: 100%;
        }
        .rich-text-component {
          padding: 0 16px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-component-wrapper {
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description {
          max-width: 327px;
          width: 100%;
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 12px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description span {
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-button {
          margin-top: 16px;
        }
        #shopify-section-17540182328530cbf2a6 .rich-text-description span {
          display: inline-block;
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-17540182328530cbf2a6 .yb-single-video-btn {
          padding: 0 40px;
          width: 100%;
        }
      }
    </style>
  </div>
  {% render 'product-bundle-with-video' %}
  <div class="shopline-section" id="shopify-section-174928572757088128c3">
    <style>
      #shopify-section-174928572757088128c3 {
        background-color: #f5f5f5;
      }

      /* 375-679px */
      @media (max-width: 679px) {
        #shopify-section-174928572757088128c3 {
          padding-top: 48px;
          padding-bottom: 8px;
        }
      }

      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-174928572757088128c3 {
          padding-top: 64px;
          padding-bottom: 16px;
        }
      }

      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-174928572757088128c3 {
          padding-top: 64px;
          padding-bottom: 16px;
        }
      }

      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-174928572757088128c3 {
          padding-top: 100px;
          padding-bottom: 25px;
        }
      }

      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-174928572757088128c3 {
          padding-top: 120px;
          padding-bottom: 30px;
        }
      }
    </style>
    <div class="rich-text-component">
      <div class="rich-text-component-wrapper">
        <div class="rich-text-component-inner">
          <div class="headerTitle1">
            <div class="rich-text-title">
              <h2 class="yb-section-title lcf-section-title">
                Meet <span style="font-size: inherit;">The Pioneering Autonomous Lawn Trimmer</span>
              </h2>
            </div>
            <div class="margin-top-description-style">
              <div class="rich-text-description yb-body-3 lcf-section-des">
                <span style="color: #02060b;">
                  <p class="p1">
                    Pre-order the Yarbo Autonomous Trimmer today and get it in November! Say goodbye to endless edge
                    trimming and take your lawn care to the next level.
                  </p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      #shopify-section-174928572757088128c3 .yb-single-video-btn {
        border: 0px;
        cursor: pointer;
        height: 48px;
        line-height: 48px;
        font-weight: 600;
      }

      .rich-text-description {
        line-height: 140%;
      }
      #shopify-section-174928572757088128c3 .rich-text-component-wrapper {
        margin: 0px auto;
        text-align: center;
      }
      .rich-text-component {
        margin: auto;
      }
      .yb-section-title {
        font-weight: 800;
      }
      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-174928572757088128c3 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 1000px;
          margin: auto;
        }
        #shopify-section-174928572757088128c3 .rich-text-component-wrapper {
          width: 1000px;
        }
        #shopify-section-174928572757088128c3 .rich-text-description span {
          width: 1000px;
        }
        #shopify-section-174928572757088128c3 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-174928572757088128c3 .rich-text-button {
          margin-top: 40px;
        }
        #shopify-section-174928572757088128c3 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-174928572757088128c3 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 924px;
        }
        #shopify-section-174928572757088128c3 .rich-text-component-wrapper {
          width: 924px;
        }
        #shopify-section-174928572757088128c3 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-174928572757088128c3 .rich-text-description span {
          width: 924px;
        }
        #shopify-section-174928572757088128c3 .rich-text-button {
          margin-top: 32px;
        }
        #shopify-section-174928572757088128c3 .rich-text-title {
        }
        #shopify-section-174928572757088128c3 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-174928572757088128c3 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 728px;
        }
        #shopify-section-174928572757088128c3 .rich-text-component-wrapper {
          width: 728px;
        }
        #shopify-section-174928572757088128c3 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-174928572757088128c3 .rich-text-description span {
          width: 728px;
          display: inline-block;
        }
        #shopify-section-174928572757088128c3 .rich-text-button {
          margin-top: 24px;
        }
        #shopify-section-174928572757088128c3 .rich-text-title {
        }
        #shopify-section-174928572757088128c3 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-174928572757088128c3 .yb-section-title {
          line-height: 120%;
          max-width: 600px;
        }
        .rich-text-component {
          padding: 0 24px;
        }
        #shopify-section-174928572757088128c3 .rich-text-component-wrapper {
          max-width: 600px;
        }
        #shopify-section-174928572757088128c3 .rich-text-description {
          max-width: 600px;
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-174928572757088128c3 .rich-text-description span {
          max-width: 600px;
        }
        #shopify-section-174928572757088128c3 .headerTitle1 {
        }
        #shopify-section-174928572757088128c3 .rich-text-description span {
          display: inline-block;
          max-width: 600px;
        }
        #shopify-section-174928572757088128c3 .rich-text-button {
          margin-top: 24px;
        }
        #shopify-section-174928572757088128c3 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }

      /* 679px */
      @media (max-width: 679px) {
        #shopify-section-174928572757088128c3 .yb-section-title {
          max-width: 327px;
          line-height: 120%;
          width: 100%;
        }
        .rich-text-component {
          padding: 0 16px;
        }
        #shopify-section-174928572757088128c3 .rich-text-component-wrapper {
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-174928572757088128c3 .rich-text-description {
          max-width: 327px;
          width: 100%;
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 12px;
        }
        #shopify-section-174928572757088128c3 .rich-text-description span {
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-174928572757088128c3 .rich-text-button {
          margin-top: 16px;
        }
        #shopify-section-174928572757088128c3 .rich-text-description span {
          display: inline-block;
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-174928572757088128c3 .yb-single-video-btn {
          padding: 0 40px;
          width: 100%;
        }
      }
    </style>
  </div>
  <div class="shopline-section section index-section--hero" id="shopify-section-17440436243802e39edd">
    <slider-component
      autoplay="false"
      class="slideshow slideshow-layout--text-inside page-width section--padding"
      current="1"
      loop="true"
      speed="7"
      style="
        --slideshow-speed: 7s;
        --slideshow-pc-height: natural;
        --slideshow-mobile-height: natural;--slideshow-text-color-1: , , ;
      "
    >
      <div class="slideshow__slider slider" id="Slider-17440436243802e39edd">
        <div
          class="slideshow__slide slider__slide is-active"
          id="Slide-1744043624381f3d3b48"
          style="
            --slideshow-overlay-opacity: 0;
            --slideshow-title-size: 70px;
            --slideshow-pc-text-position-vertical: center;
            --slideshow-pc-text-position-horizontal: flex-end;
            --slideshow-mobile-text-position-vertical: center;
            --slideshow-mobile-text-position-horizontal: center;
            --slideshow-pc-text-align: center;
            --slideshow-mobile-text-align: center;
            --slideshow-pc-text-color: rgba(0,0,0);
            --slideshow-text-color--mb: rgba(0,0,0);
            --slideshow-text-area-bg-color:#f5f5f5;
          "
        >
          <a class="slideshow-slide__media" href="/yarbo-lawn-trimmer" style="--image-show-position: center center;">
            <img
              alt=""
              class="slideshow-slide__image display-none display-block-desktop"
              data-scale="hover-scale"
              decoding="async"
              fetchpriority="auto"
              height="1080"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/11_-7.png?v=1772520913"
              width="2800"
            >
            <img
              alt=""
              class="slideshow-slide__image display-none-desktop"
              data-scale="hover-scale"
              decoding="async"
              fetchpriority="auto"
              height="782"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/375-_679-_-_2_-2.png?v=1772521746"
              width="686"
            >
          </a>
          <div class="slideshow-slide__text-wrapper">
            <div class="slideshow-slide__text">
              <div class="slideshow-slide__buttons"></div>
            </div>
          </div>
        </div>
      </div>
    </slider-component>
    <style>
      #shopify-section-17440436243802e39edd {
        background-color: #f5f5f5;
      }
    </style>
  </div>
  {% render 'shopify-section-17492856798552abd31e' %}
  <div class="shopline-section" id="shopify-section-1754902243432ece96c8">
    <style>
      #shopify-section-1754902243432ece96c8 {
        background-color: #f5f5f5;
      }

      /* 375-679px */
      @media (max-width: 679px) {
        #shopify-section-1754902243432ece96c8 {
          padding-top: 48px;
          padding-bottom: 8px;
        }
      }

      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1754902243432ece96c8 {
          padding-top: 64px;
          padding-bottom: 16px;
        }
      }

      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1754902243432ece96c8 {
          padding-top: 64px;
          padding-bottom: 16px;
        }
      }

      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1754902243432ece96c8 {
          padding-top: 100px;
          padding-bottom: 25px;
        }
      }

      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-1754902243432ece96c8 {
          padding-top: 120px;
          padding-bottom: 30px;
        }
      }
    </style>
    <div class="rich-text-component">
      <div class="rich-text-component-wrapper">
        <div class="rich-text-component-inner">
          <div class="headerTitle1">
            <div class="rich-text-title">
              <h2 class="yb-section-title lcf-section-title">Shop Lawn Mower Pro &amp; It's Bundle</h2>
            </div>
            <div class="margin-top-description-style">
              <div class="rich-text-description yb-body-3 lcf-section-des">
                <span style="color: #02060b;">
                  Build your dream yard squad — from mowing and leaf blowing to snow removal, the Yarbo bundle has you
                  covered all year round.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      #shopify-section-1754902243432ece96c8 .yb-single-video-btn {
        border: 0px;
        cursor: pointer;
        height: 48px;
        line-height: 48px;
        font-weight: 600;
      }

      .rich-text-description {
        line-height: 140%;
      }
      #shopify-section-1754902243432ece96c8 .rich-text-component-wrapper {
        margin: 0px auto;
        text-align: center;
      }
      .rich-text-component {
        margin: auto;
      }
      .yb-section-title {
        font-weight: 800;
      }
      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-1754902243432ece96c8 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 1000px;
          margin: auto;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-component-wrapper {
          width: 1000px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description span {
          width: 1000px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-button {
          margin-top: 40px;
        }
        #shopify-section-1754902243432ece96c8 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-1754902243432ece96c8 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 924px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-component-wrapper {
          width: 924px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description span {
          width: 924px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-button {
          margin-top: 32px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-title {
        }
        #shopify-section-1754902243432ece96c8 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-1754902243432ece96c8 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 728px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-component-wrapper {
          width: 728px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description span {
          width: 728px;
          display: inline-block;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-button {
          margin-top: 24px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-title {
        }
        #shopify-section-1754902243432ece96c8 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-1754902243432ece96c8 .yb-section-title {
          line-height: 120%;
          max-width: 600px;
        }
        .rich-text-component {
          padding: 0 24px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-component-wrapper {
          max-width: 600px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description {
          max-width: 600px;
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description span {
          max-width: 600px;
        }
        #shopify-section-1754902243432ece96c8 .headerTitle1 {
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description span {
          display: inline-block;
          max-width: 600px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-button {
          margin-top: 24px;
        }
        #shopify-section-1754902243432ece96c8 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }

      /* 679px */
      @media (max-width: 679px) {
        #shopify-section-1754902243432ece96c8 .yb-section-title {
          max-width: 327px;
          line-height: 120%;
          width: 100%;
        }
        .rich-text-component {
          padding: 0 16px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-component-wrapper {
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description {
          max-width: 327px;
          width: 100%;
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 12px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description span {
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-button {
          margin-top: 16px;
        }
        #shopify-section-1754902243432ece96c8 .rich-text-description span {
          display: inline-block;
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-1754902243432ece96c8 .yb-single-video-btn {
          padding: 0 40px;
          width: 100%;
        }
      }
    </style>
  </div>
  <div class="shopline-section section index-section--hero" id="shopify-section-17549023574474d62635">
    <slider-component
      autoplay="false"
      class="slideshow slideshow-layout--text-inside page-width section--padding"
      current="1"
      loop="true"
      speed="7"
      style="
        --slideshow-speed: 7s;
        --slideshow-pc-height: natural;
        --slideshow-mobile-height: natural;--slideshow-text-color-1: , , ;
      "
    >
      <div class="slideshow__slider slider" id="Slider-17549023574474d62635">
        <div
          class="slideshow__slide slider__slide is-active"
          id="Slide-1744043624381f3d3b48"
          style="
            --slideshow-overlay-opacity: 0;
            --slideshow-title-size: 70px;
            --slideshow-pc-text-position-vertical: center;
            --slideshow-pc-text-position-horizontal: flex-end;
            --slideshow-mobile-text-position-vertical: center;
            --slideshow-mobile-text-position-horizontal: center;
            --slideshow-pc-text-align: center;
            --slideshow-mobile-text-align: center;
            --slideshow-pc-text-color: rgba(0,0,0);
            --slideshow-text-color--mb: rgba(0,0,0);
            --slideshow-text-area-bg-color:#f5f5f5;
          "
        >
          <a class="slideshow-slide__media" href="/lawn-mower-pro" style="--image-show-position: center center;">
            <img
              alt=""
              class="slideshow-slide__image display-none display-block-desktop"
              data-scale="hover-scale"
              decoding="async"
              fetchpriority="auto"
              height="1080"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/20250908-134933.png?v=1772521281"
              width="2800"
            >
            <img
              alt=""
              class="slideshow-slide__image display-none-desktop"
              data-scale="hover-scale"
              decoding="async"
              fetchpriority="auto"
              height="782"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/20250908-134925.png?v=1772521276"
              width="686"
            >
          </a>
          <div class="slideshow-slide__text-wrapper">
            <div class="slideshow-slide__text">
              <div class="slideshow-slide__buttons"></div>
            </div>
          </div>
        </div>
      </div>
    </slider-component>
    <style>
      #shopify-section-17549023574474d62635 {
        background-color: #f5f5f5;
      }
    </style>
  </div>
  {% render 'shopify-section-1754555717137a765275' %}
  {% render 'shopify-section-1749286116846fbc0ceb' %}
  {% render 'shopify-section-1749286728389c2951ae' %}

  <div class="shopline-section" id="shopify-section-17492866450278e8d332">
    <style>
      #shopify-section-17492866450278e8d332 {
        background-color: #f5f5f5;
      }

      /* 375-679px */
      @media (max-width: 679px) {
        #shopify-section-17492866450278e8d332 {
          padding-top: 48px;
          padding-bottom: 0px;
        }
      }

      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-17492866450278e8d332 {
          padding-top: 64px;
          padding-bottom: 0px;
        }
      }

      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-17492866450278e8d332 {
          padding-top: 64px;
          padding-bottom: 0px;
        }
      }

      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-17492866450278e8d332 {
          padding-top: 100px;
          padding-bottom: 0px;
        }
      }

      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-17492866450278e8d332 {
          padding-top: 120px;
          padding-bottom: 0px;
        }
      }
    </style>
    <div class="rich-text-component">
      <div class="rich-text-component-wrapper">
        <div class="rich-text-component-inner">
          <div class="headerTitle1">
            <div class="rich-text-title">
              <h2 class="yb-section-title lcf-section-title">Accessories &amp; Attachments</h2>
            </div>
            <div class="margin-top-description-style">
              <div class="rich-text-description yb-body-3 lcf-section-des">
                <span style="color: #02060b;">
                  <p class="p1">
                    Yarbo attachments and accessories enhance its versatility, offering additional functions for various
                    uses.
                  </p>
                </span>
              </div>
            </div>
          </div>
          <div class="rich-text-button">
            <a class="undefined yb-single-video-btn" href="https://www.yarbo.com/accessories">Shop All Accessories</a>
          </div>
        </div>
      </div>
    </div>
    <style>
      #shopify-section-17492866450278e8d332 .yb-single-video-btn {
        border: 0px;
        cursor: pointer;
        height: 48px;
        line-height: 48px;
        font-weight: 600;
      }

      .rich-text-description {
        line-height: 140%;
      }
      #shopify-section-17492866450278e8d332 .rich-text-component-wrapper {
        margin: 0px auto;
        text-align: center;
      }
      .rich-text-component {
        margin: auto;
      }
      .yb-section-title {
        font-weight: 800;
      }
      /* 1920px+ */
      @media (min-width: 1920px) {
        #shopify-section-17492866450278e8d332 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 1000px;
          margin: auto;
        }
        #shopify-section-17492866450278e8d332 .rich-text-component-wrapper {
          width: 1000px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-description span {
          width: 1000px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-button {
          margin-top: 40px;
        }
        #shopify-section-17492866450278e8d332 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 1440-1919px */
      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-17492866450278e8d332 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 924px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-component-wrapper {
          width: 924px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-description span {
          width: 924px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-button {
          margin-top: 32px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-title {
        }
        #shopify-section-17492866450278e8d332 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 960-1439px */
      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-17492866450278e8d332 .yb-section-title {
          line-height: 120%;
        }
        .rich-text-component {
          width: 728px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-component-wrapper {
          width: 728px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-description {
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-description span {
          width: 728px;
          display: inline-block;
        }
        #shopify-section-17492866450278e8d332 .rich-text-button {
          margin-top: 24px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-title {
        }
        #shopify-section-17492866450278e8d332 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }
      /* 680-959px */
      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-17492866450278e8d332 .yb-section-title {
          line-height: 120%;
          max-width: 600px;
        }
        .rich-text-component {
          padding: 0 24px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-component-wrapper {
          max-width: 600px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-description {
          max-width: 600px;
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 16px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-description span {
          max-width: 600px;
        }
        #shopify-section-17492866450278e8d332 .headerTitle1 {
        }
        #shopify-section-17492866450278e8d332 .rich-text-description span {
          display: inline-block;
          max-width: 600px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-button {
          margin-top: 24px;
        }
        #shopify-section-17492866450278e8d332 .yb-single-video-btn {
          padding: 0 40px;

          min-width: 180px;
        }
      }

      /* 679px */
      @media (max-width: 679px) {
        #shopify-section-17492866450278e8d332 .yb-section-title {
          max-width: 327px;
          line-height: 120%;
          width: 100%;
        }
        .rich-text-component {
          padding: 0 16px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-component-wrapper {
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-17492866450278e8d332 .rich-text-description {
          max-width: 327px;
          width: 100%;
          margin-bottom: 0;
        }
        .margin-top-description-style {
          margin-top: 12px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-description span {
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-17492866450278e8d332 .rich-text-button {
          margin-top: 16px;
        }
        #shopify-section-17492866450278e8d332 .rich-text-description span {
          display: inline-block;
          max-width: 327px;
          width: 100%;
        }
        #shopify-section-17492866450278e8d332 .yb-single-video-btn {
          padding: 0 40px;
          width: 100%;
        }
      }
    </style>
  </div>
  {% render 'shopify-section-1749286670712fe2a97f' %}
  {% render 'yarbo-community' %}
</div>
{% schema %}
{
  "name": "2024 series"

}
{% endschema %}
