{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}

<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/section-rich-text.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>

<div class="migrated-page">
  <!-- START content_for_index -->
  <div class="shopline-section section nsa-accesstive" id="shopify-section-17524618459099038454">
    <style>
      #shopify-section-17524618459099038454.section-padding,
      #shopify-section-17524618459099038454 .section-padding {
        padding-top: 60px;
        padding-bottom: 10px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-17524618459099038454.section-padding,
        #shopify-section-17524618459099038454 .section-padding {
          padding-top: 30px;
          padding-bottom: 5px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--center rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title2 nsa-accesstive">
          <strong class="nsa-accesstive"
            ><span class="nsa-accesstive" style="font-size: 36px;">Certified Refurbished Detail Policy</span></strong
          >
        </h2>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-17524643118790294aab">
    <style>
      #shopify-section-17524643118790294aab.section-padding,
      #shopify-section-17524643118790294aab .section-padding {
        padding-top: 30px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-17524643118790294aab.section-padding,
        #shopify-section-17524643118790294aab .section-padding {
          padding-top: 15px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <div class="rte rich-text__text body2 nsa-accesstive">
          <span class="nsa-accesstive" style="font-size: 16px;"
            >Your satisfaction and yard care efficiency are our top priorities. Yarbo Certified Refurbished products
            offer a sustainable way to join the future of autonomous yard maintenance. Every unit in this program has
            been revitalized to perform like new, adhering to the slogan:
            <span class="nsa-accesstive" style="font-size: 17px;"
              ><strong class="nsa-accesstive">"Smarter Spend. Same Performance."</strong></span
            ></span
          ><br>
          <span class="nsa-accesstive" style="font-size: 16px;"
            >This policy outlines the rigorous standards, warranty protections, and return guidelines specific to our
            refurbished inventory. Please read these terms carefully before completing your purchase.</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-17665670587519ffd645">
    <style>
      #shopify-section-17665670587519ffd645.section-padding,
      #shopify-section-17665670587519ffd645 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-17665670587519ffd645.section-padding,
        #shopify-section-17665670587519ffd645 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">
          <strong class="nsa-accesstive"
            ><span class="nsa-accesstive" style="font-size: 26px;">What is "Certified Refurbished"?</span></strong
          >
        </h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <span class="nsa-accesstive" style="font-size: 16px;"
            >A Yarbo Certified Refurbished unit is a pre-owned product that has been returned, exchanged, or used in
            professional demonstrations. Before being cleared for sale, each unit undergoes a comprehensive
            <strong class="nsa-accesstive"
              ><span class="nsa-accesstive" style="font-size: 17px;">5-Step Refurbishment Protocol</span></strong
            >
            to ensure it meets our strict mechanical and software performance benchmarks.</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-175246251396360cbb97">
    <style>
      #shopify-section-175246251396360cbb97.section-padding,
      #shopify-section-175246251396360cbb97 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-175246251396360cbb97.section-padding,
        #shopify-section-175246251396360cbb97 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">
          <span class="nsa-accesstive" style="font-size: 20px;"
            ><strong class="nsa-accesstive">The 5-Step Refurbishment Protocol:</strong></span
          >
        </h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <ul class="nsa-accesstive">
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">STEP 1 Full Functional Diagnostics:</strong></span
                >
                Comprehensive system sweeps to ensure all sensors, motors, and processors operate at 100% factory
                specifications.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">STEP 2 Component Restoration:</strong></span
                >
                Replacement of any internal parts that do not meet our quality threshold with genuine Yarbo components.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">STEP 3 Sanitization &amp; Cosmetic Polish:</strong></span
                >
                Deep cleaning and exterior polishing to restore the unit's aesthetic appeal.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><strong class="nsa-accesstive"
                  ><span class="nsa-accesstive" style="font-size: 17px;"
                    >STEP 4 Final Quality Assurance (QA):</span
                  ></strong
                >
                Real-world field testing to verify mapping accuracy, obstacle avoidance, and autonomous reliability.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><strong class="nsa-accesstive">STEP 5 Secure Repackaging:</strong> Safe packing in custom-engineered
                cartons with all necessary documentation and accessories for a "like-new" unboxing experience.</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-175246296728164b7015">
    <style>
      #shopify-section-175246296728164b7015.section-padding,
      #shopify-section-175246296728164b7015 .section-padding {
        padding-top: 0px;
        padding-bottom: 30px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-175246296728164b7015.section-padding,
        #shopify-section-175246296728164b7015 .section-padding {
          padding-top: 0px;
          padding-bottom: 15px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">
          <strong class="nsa-accesstive"
            ><span class="nsa-accesstive" style="font-size: 26px;">Product Condition: Grade B Standards</span></strong
          >
        </h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <span class="nsa-accesstive" style="font-size: 16px;"
            >All products sold through this page are classified as
            <span class="nsa-accesstive" style="font-size: 17px;"><strong class="nsa-accesstive">Grade B</strong></span>
            cosmetic condition. While the internal hardware is guaranteed to function perfectly, the exterior may show
            minor signs of its previous life.</span
          ><br>
          <ul class="nsa-accesstive">
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><strong class="nsa-accesstive"
                  ><span class="nsa-accesstive" style="font-size: 17px;">Functionality:</span> </strong
                >100% fully functional. All electronic systems, drive motors, and AI vision sensors meet original
                manufacturer specifications.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">Cosmetic Appearance:</strong></span
                >
                Grade B units may exhibit minor hairline scratches, light scuffs, or subtle paint abrasions on the outer
                shell. These imperfections are strictly cosmetic and do not impact the durability, UV protection, or
                performance of the robot.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">Condition Philosophy:</strong></span
                >
                For outdoor robotics, a Grade B designation represents a "battle-tested" asset. Many users find these
                minor marks negligible, as new units often incur similar wear after their first season of operation.</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-1752463274511528365e">
    <style>
      #shopify-section-1752463274511528365e.section-padding,
      #shopify-section-1752463274511528365e .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-1752463274511528365e.section-padding,
        #shopify-section-1752463274511528365e .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">
          <strong class="nsa-accesstive"
            ><span class="nsa-accesstive" style="font-size: 26px;">Two-Year Standard Warranty</span></strong
          >
        </h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <span class="nsa-accesstive" style="font-size: 16px;"
            >Every Certified Refurbished Yarbo is backed by a<strong class="nsa-accesstive">
              2-Year Official Warranty</strong
            >. This ensures that your investment is protected against manufacturing defects and functional failures.</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-1752463519483b1445f2">
    <style>
      #shopify-section-1752463519483b1445f2.section-padding,
      #shopify-section-1752463519483b1445f2 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-1752463519483b1445f2.section-padding,
        #shopify-section-1752463519483b1445f2 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">
          <strong class="nsa-accesstive"
            ><span class="nsa-accesstive" style="font-size: 20px;">Warranty Commencement</span></strong
          >
        </h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <span class="nsa-accesstive" style="font-size: 16px;"
            >The warranty period begins on whichever occurs first:</span
          ><br>
          <ul class="nsa-accesstive">
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                >The date the unit is
                <span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">activated</strong></span
                >
                via the Yarbo App.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><strong class="nsa-accesstive"
                  ><span class="nsa-accesstive" style="font-size: 17px;">Three (3) days after delivery</span></strong
                >
                of all components (Core, Module, Docking Station, and Battery).</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-1752463523899edb5048">
    <style>
      #shopify-section-1752463523899edb5048.section-padding,
      #shopify-section-1752463523899edb5048 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-1752463523899edb5048.section-padding,
        #shopify-section-1752463523899edb5048 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">
          <span class="nsa-accesstive" style="font-size: 20px;"
            ><strong class="nsa-accesstive">Coverage Scope</strong></span
          >
        </h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <span class="nsa-accesstive" style="font-size: 16px;"
            >The warranty covers essential electronic and mechanical systems, including the Yarbo Core motors, battery
            health, circuit boards, and vision modules.</span
          ><br>
          <span class="nsa-accesstive" style="font-size: 18px;"
            ><strong class="nsa-accesstive">Exclusions and Limitations:</strong></span
          ><br>
          <ul class="nsa-accesstive">
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">Consumables:</strong></span
                >
                Parts subject to normal wear and tear—such as mower blades, auger belts, rubber tracks, and skid
                shoes—are not covered.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 18px;"
                  ><strong class="nsa-accesstive">YarboCare™ Exclusion:</strong></span
                >
                Refurbished units are
                <strong class="nsa-accesstive"
                  ><span class="nsa-accesstive" style="font-size: 17px;">not eligible</span> </strong
                >for YarboCare™ Extended Warranty or Accidental Damage Protection plans. The two-year term is the
                definitive coverage window and cannot be extended.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">Residential Use Only:</strong></span
                >
                This warranty is void if the unit is used for commercial, professional, or rental purposes.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">Required Action: </strong></span
                >To the extent permitted by law, this limited warranty is exclusive and in lieu of all other warranties,
                oral, written,statutory, express or implied. For any implied warranties that cannot be disclaimed,
                including the implied warranties of merchantability and fitness for a particular purpose, their duration
                is limited to the two-year term of this express limited warranty. Some states do not allow limitations
                on how long an implied warranty lasts, so the above limitation may not apply to you.</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-1752463527198904c93c">
    <style>
      #shopify-section-1752463527198904c93c.section-padding,
      #shopify-section-1752463527198904c93c .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-1752463527198904c93c.section-padding,
        #shopify-section-1752463527198904c93c .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">
          <strong class="nsa-accesstive"
            ><span class="nsa-accesstive" style="font-size: 26px;">14-Day Return Policy</span></strong
          >
        </h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <div
            class="nsa-accesstive"
            data-docx-has-block-data="false"
            data-lark-html-role="root"
            data-page-id="JBEDd65KPobvs6xpnmAcyGN9nHd"
          >
            <div class="ace-line old-record-id-CkCtdO63bo46xrxhKZWcAuDFnDh nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                >We offer a specialized return window for our refurbished line to balance customer satisfaction with the
                logistical complexity of high-value robotics.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-175246353013679c43a4">
    <style>
      #shopify-section-175246353013679c43a4.section-padding,
      #shopify-section-175246353013679c43a4 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-175246353013679c43a4.section-padding,
        #shopify-section-175246353013679c43a4 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">
          <strong class="nsa-accesstive"
            ><span class="nsa-accesstive" style="font-size: 20px;">Return Windows and Conditions</span></strong
          >
        </h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <span class="nsa-accesstive" style="font-size: 16px;"
            >You may request a return within
            <span class="nsa-accesstive" style="font-size: 17px;"><strong class="nsa-accesstive">14 days</strong></span>
            of receiving the product. To be eligible for a refund, the unit must be returned in its original
            manufacturer’s packaging with all accessories and documentation included.</span
          ><br>
          <span class="nsa-accesstive" style="font-size: 16px;">Important Constraints:</span><br>
          <ul class="nsa-accesstive">
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">No Exchanges:</strong></span
                >
                Due to the limited and unique nature of refurbished inventory,
                <span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">Yarbo does not support exchanges for refurbished units</strong></span
                >. If a unit is defective within the 14-day window, the resolution path is a return and refund.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 17px;"
                ><strong class="nsa-accesstive">Mandatory Packaging:</strong></span
              >
              Please retain all original cartons and foam inserts for at least 14 days. If the original packaging is
              lost, the cost of replacement packaging and the shipping fees to deliver it will be deducted from your
              refund.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-1766630102393f278a1a">
    <style>
      #shopify-section-1766630102393f278a1a.section-padding,
      #shopify-section-1766630102393f278a1a .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-1766630102393f278a1a.section-padding,
        #shopify-section-1766630102393f278a1a .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">
          <strong class="nsa-accesstive"
            ><span class="nsa-accesstive" style="font-size: 20px;">Return Shipping Costs</span></strong
          >
        </h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <span class="nsa-accesstive" style="font-size: 16px;"
            >Responsibility for shipping fees is determined by the reason for the return:</span
          ><br>
          <ul class="nsa-accesstive">
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">Product Defects:</strong></span
                >
                If the unit exhibits functional defects or manufacturing issues upon arrival,
                <span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">Yarbo will cover the return shipping cost</strong
                  ><strong class="nsa-accesstive">s</strong></span
                >.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">User Choice / Change of Mind:</strong></span
                >
                If you decide you no longer need the product, or if you are dissatisfied with the Grade B cosmetic
                condition as described, the
                <span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive"
                    >customer is responsible for the full cost of return shipping.</strong
                  ></span
                ></span
              >
            </li>
          </ul>
          <em class="nsa-accesstive"
            ><span class="nsa-accesstive" style="font-size: 16px;"
              ><span class="nsa-accesstive" style="font-size: 17px;"
                ><strong class="nsa-accesstive">Note:</strong></span
              >
              Due to the size and weight of Yarbo units, freight shipping costs can be substantial. We encourage users
              to participate in a Product Demo before purchasing to ensure the product meets their expectations.</span
            ></em
          >
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-1766571467427f2c5660">
    <style>
      #shopify-section-1766571467427f2c5660.section-padding,
      #shopify-section-1766571467427f2c5660 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-1766571467427f2c5660.section-padding,
        #shopify-section-1766571467427f2c5660 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">
          <strong class="nsa-accesstive"
            ><span class="nsa-accesstive" style="font-size: 26px;"
              >How to Initiate a Return or Service Request</span
            ></strong
          >
        </h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <div
            class="nsa-accesstive"
            data-docx-has-block-data="false"
            data-lark-html-role="root"
            data-page-id="JBEDd65KPobvs6xpnmAcyGN9nHd"
          >
            <div class="ace-line old-record-id-L6xHdXhM1ojAUOxFgPfcLEeNnSh nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                >To request a refund or warranty service, please follow these steps:</span
              >
            </div>
            <ol class="list-number1 nsa-accesstive" start="1">
              <li class="ace-line old-record-id-RTFEdPjsnoc2ShxQNa2crxHznfg nsa-accesstive" data-list="number">
                <div class="nsa-accesstive">
                  <span class="nsa-accesstive" style="font-size: 16px;"
                    ><span class="nsa-accesstive" style="font-size: 17px;"
                      ><strong class="nsa-accesstive">Contact Support:</strong></span
                    >
                    Email
                    <span class="nsa-accesstive" style="color: #0000ff;"
                      ><strong class="nsa-accesstive"
                        ><a
                          data-link='{"pageType":-1,"value":"mailto:support@yarbo.com","linkType":"input","label":"mailto:support@yarbo.com"}'
                          href="mailto:support@yarbo.com"
                          id="17666325869172"
                          rel="noopener"
                          style="color: #0000ff;"
                          target="_blank"
                          >support@yarbo.com</a
                        ></strong

                    >or call <strong class="nsa-accesstive">+1 (631) 818-1850</strong>.</span
                  >
                </div>
              </li>
              <li class="ace-line old-record-id-VBxudcL2zoRIefxeGJ4cHrdOnkG nsa-accesstive" data-list="number">
                <div class="nsa-accesstive">
                  <span class="nsa-accesstive" style="font-size: 16px;"
                    ><span class="nsa-accesstive" style="font-size: 17px;"
                      ><strong class="nsa-accesstive">Provide Documentation:</strong></span
                    >
                    Include your order number, the unit's Serial Number (SN), and photos/videos documenting the issue or
                    the condition of the unit.</span
                  >
                </div>
              </li>
              <li class="ace-line old-record-id-F5YLdB4vhoZvnCxVCUucplqIn7B nsa-accesstive" data-list="number">
                <div class="nsa-accesstive">
                  <span class="nsa-accesstive" style="font-size: 16px;"
                    ><span class="nsa-accesstive" style="font-size: 17px;"
                      ><strong class="nsa-accesstive">Inspection:</strong></span
                    >
                    Once the return is received at our facility (locations in NJ, IL, or CA), it will undergo a quality
                    inspection.</span
                  >
                </div>
              </li>
              <li class="ace-line old-record-id-APKgd2ycYoT2hZx5Oecc3P0Inif nsa-accesstive" data-list="number">
                <div class="nsa-accesstive">
                  <span class="nsa-accesstive" style="font-size: 16px;"
                    ><span class="nsa-accesstive" style="font-size: 17px;"
                      ><strong class="nsa-accesstive">Refund Processing:</strong></span
                    >
                    Approved refunds will be issued to your original payment method. Please allow 5-10 business days for
                    your financial institution to process the credit.</span
                  >
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-1752464525001a89d954">
    <style>
      #shopify-section-1752464525001a89d954.section-padding,
      #shopify-section-1752464525001a89d954 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-1752464525001a89d954.section-padding,
        #shopify-section-1752464525001a89d954 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <h2 class="rte rich-text__heading title5 nsa-accesstive">
          <strong class="nsa-accesstive"
            ><span class="nsa-accesstive" style="font-size: 26px;">Additional Terms</span></strong
          >
        </h2>
        <div class="rte rich-text__text body2 nsa-accesstive">
          <ul class="nsa-accesstive">
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">Discount Eligibility:</strong></span
                >
                Promotional prices for refurbished units are final and cannot be combined with general seasonal discount
                codes unless stated otherwise.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><span class="nsa-accesstive" style="font-size: 17px;"
                  ><strong class="nsa-accesstive">Inventory Availability:</strong></span
                >
                Refurbished units are sold on a first-come, first-served basis. No backorders or rain checks will be
                issued once the limited stock is depleted.</span
              >
            </li>
            <li class="nsa-accesstive">
              <span class="nsa-accesstive" style="font-size: 16px;"
                ><strong class="nsa-accesstive"
                  ><span class="nsa-accesstive" style="font-size: 17px;">Modification:</span> </strong
                >Yarbo reserves the right to modify or terminate the Certified Refurbished program and its associated
                policies at any time without prior notice.</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="shopline-section section nsa-accesstive" id="shopify-section-17666300063294299bc3">
    <style>
      #shopify-section-17666300063294299bc3.section-padding,
      #shopify-section-17666300063294299bc3 .section-padding {
        padding-top: 0px;
        padding-bottom: 40px;
      }
      @media only screen and (max-width: 959px) {
        #shopify-section-17666300063294299bc3.section-padding,
        #shopify-section-17666300063294299bc3 .section-padding {
          padding-top: 0px;
          padding-bottom: 20px;
        }
      }
    </style>
    <div class="rich-text section-padding color-scheme-none nsa-accesstive">
      <div class="page-width rich-text__wrapper--left rich-text__blocks nsa-accesstive">
        <div class="rte rich-text__text body2 nsa-accesstive">
          <span class="nsa-accesstive" style="font-size: 16px;"
            >By purchasing a Certified Refurbished Yarbo, you acknowledge that you have read and agreed to these terms,
            including the Grade B cosmetic standards and the specific 14-day return framework.</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Refurbished policy"

}
{% endschema %}
