<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/yb-banner-swiper.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_223bf385-ef7c-40c3-82e5-833dddfd1855.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/facebook-people.css"
  rel="stylesheet"
>

<style>
  a:not(.button),
  a:not(.button):hover {
    text-decoration: none;
  }

  /* 全局基础样式 */
  .yb-section-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    padding: 0 16px;
  }

  /* 680-959px */
  @media (min-width: 680px) and (max-width: 959px) {
    .yb-section-container {
      padding: 0 24px;
    }
  }

  /* 960-1439px */
  @media (min-width: 960px) and (max-width: 1439px) {
    .yb-section-container {
      width: 900px;
      padding: 0;
    }
  }

  /* 1440-1919px */
  @media (min-width: 1440px) and (max-width: 1919px) {
    .yb-section-container {
      width: 1200px;
      padding: 0;
    }
  }

  /* 1920px+ */
  @media (min-width: 1920px) {
    .yb-section-container {
      width: 1400px;
      padding: 0;
    }
  }
</style>
<div class="migrated-page">
  <div class="shopline-section section" id="shopify-section-175143775973002a1ccb">
    <style>
      #shopify-section-175143775973002a1ccb {
        background-color: rgba(0, 0, 0, 0);
      }

      @media (max-width: 679px) {
        #shopify-section-175143775973002a1ccb {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 680px) and (max-width: 959px) {
        #shopify-section-175143775973002a1ccb {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 960px) and (max-width: 1439px) {
        #shopify-section-175143775973002a1ccb {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        #shopify-section-175143775973002a1ccb {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      @media (min-width: 1920px) {
        #shopify-section-175143775973002a1ccb {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      #yb-banner-swiper__175143775973002a1ccb .splide {
        --fill-duration: 6s;
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-banner-swiper-splide__track {
        z-index: unset;
      }

      #yb-banner-swiper__175143775973002a1ccb .subscribe-popup-container.subscribe-popup-new {
        position: absolute;
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo-policy-text {
        position: relative;
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo-input {
        color: rgb(var(--color-text, inherit));
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-banner-swiper-subscription-wrapper {
        width: 100%;
        max-width: 600px;
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo {
        width: 100%;
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo-input-wrapper {
        width: 100%;
        max-width: 600px;
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo-desc {
        margin-bottom: 12px;
        color: rgb(var(--color-text, inherit));
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo-policy {
        margin-top: 12px;
        width: 100%;
        max-width: 482px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo-policy-text {
        flex: 1;
        min-width: 0;
        word-wrap: break-word;
        white-space: normal;
        line-height: 1.5;
        font-size: 12px;
        color: #fff !important;
        display: inline;
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo-checkbox-wrapper {
        flex-shrink: 0;
        margin-right: 8px;
        margin-top: 2px;
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo-link {
        color: #fff !important;
        text-decoration: underline !important;
      }

      #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo-absolute {
        width: 100%;
        max-width: 600px;
      }

      @media (max-width: 959px) {
        #yb-banner-swiper__175143775973002a1ccb .yb-banner-swiper-subscription-wrapper {
          max-width: 100%;
        }

        #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo-input-wrapper {
          max-width: 100%;
        }

        #yb-banner-swiper__175143775973002a1ccb .yb-subscribe-klaviyo-policy {
          max-width: 100%;
        }
      }

      body {
        overflow-x: hidden !important;
      }

      .yb-banner-swiper .subscribe-country-list-wrapper {
        top: -200px !important;
      }

      @media screen and (max-width: 959px) {
        #block-1751437759731c179d0e[data-mobile_layout='style1'] .yb-banner-swiper-text-container {
          text-align: center;
        }

        #block-1751437759731c179d0e[data-mobile_layout='style1'] .yb-banner-swiper-titles {
          margin-bottom: auto;
        }

        #block-1751437759731c179d0e[data-mobile_layout='style1'] .yb-banner-swiper-stats,
        #block-1751437759731c179d0e[data-mobile_layout='style1'] .yb-banner-swiper-cta,
        #block-1751437759731c179d0e[data-mobile_layout='style1'] .yb-subscribe-klaviyo-input-wrapper {
          margin-left: auto;
          margin-right: auto;
        }

        #block-1751437759731c179d0e[data-mobile_layout='style2'] .yb-banner-swiper-titles {
          margin-top: auto;
        }

        #block-1751437759731c179d0e[data-mobile_layout='style2'] .yb-banner-swiper-text-container {
          text-align: left;
          margin-bottom: 12px;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
          text-align: center;
        }
      }

      @media (min-width: 960px) {
        #block-1751437759731c179d0e .yb-banner-swiper-text-container {
          width: 50%;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='center'] .yb-banner-swiper-titles>* {
          margin: 12px auto;
          text-align: center;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='center'] .yb-banner-swiper-cta {
          display: flex;
          justify-content: center;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='left'] .yb-banner-swiper-titles>* {
          margin-right: auto;
          text-align: left;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='left'] .yb-banner-swiper-cta {
          display: flex;
          justify-content: flex-start;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='right'] .yb-banner-swiper-titles>* {
          margin-left: auto;
          text-align: right;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='right'] .yb-banner-swiper-cta {
          display: flex;
          justify-content: flex-end;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='center'] .yb-banner-swiper-stats {
          display: flex;
          justify-content: center;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
          margin: 40px auto 12px auto;
          text-align: center;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='center'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
          margin: 0 auto;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='left'] .yb-banner-swiper-stats {
          display: flex;
          justify-content: flex-start;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='left'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
          margin-right: auto;
          text-align: left;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='left'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
          margin-right: auto;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='right'] .yb-banner-swiper-stats {
          display: flex;
          justify-content: flex-end;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='right'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-desc {
          margin-left: auto;
          text-align: right;
        }

        #block-1751437759731c179d0e[data-text_horizontal_position='right'] .yb-subscribe-klaviyo .yb-subscribe-klaviyo-input-wrapper {
          margin-left: auto;
        }

        .block-li-1751437759731c179d0e[data-text_vertical_position='top'] {
          justify-content: start;
        }

        .block-li-1751437759731c179d0e[data-text_vertical_position='center'] {
          justify-content: center;
        }

        .block-li-1751437759731c179d0e[data-text_vertical_position='bottom'] {
          justify-content: end;
        }
      }
    </style>
    <div class="yb-banner-swiper yb-banner-swiper__basic-size" id="yb-banner-swiper__175143775973002a1ccb">
      <div class="yb-banner-swiper__splide splide" data-speed="6">
        <div class="splide__track yb-banner-swiper-splide__track">
          <ul class="splide__list yb-banner-swiper-splide__list">
            <li
              class="yb-banner-swiper-li splide__slide block-li-1751437759731c179d0e"
              data-text_vertical_position="center"
            >
              <div class="yb-banner-swiper-mobile-image">
                <img
                  alt=""
                  class="yb-banner-swiper-img"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="high"
                  height="648"
                  loading="eager"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-1960929763.png?v=1772522068"
                  width="375"
                >
              </div>
              <div class="yb-banner-swiper-desktop-image">
                <img
                  alt=""
                  class="yb-banner-swiper-img"
                  data-scale="hover-scale"
                  decoding="async"
                  fetchpriority="high"
                  height="720"
                  loading="eager"
                  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/Frame-1960929764.png?v=1772522074"
                  width="1920"
                >
              </div>
              <main
                class="yb-banner-swiper-main yb-section-container yb-banner-swiper-width"
                data-mobile_layout="style1"
                data-text_horizontal_position="left"
                data-text_vertical_position="center"
                id="block-1751437759731c179d0e"
              >
                <div class="yb-banner-swiper-titles yb-banner-swiper__basic-size">
                  <h2 class="yb-banner-swiper-title yb-banner-swiper-text-container">
                    <span style="color: #000000;">Sell Me on a Yarbo!</span>
                  </h2>
                </div>
              </main>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script>
      const video175143775973002a1ccbmobiles = document.querySelectorAll(
        '#shopify-section-175143775973002a1ccb video.yb-banner-swiper-mobile-video'
      );
      video175143775973002a1ccbmobiles.forEach((video) => {
        const image175143775973002a1ccbmobile = video.nextElementSibling;
        if (
          image175143775973002a1ccbmobile &&
          image175143775973002a1ccbmobile.classList.contains('yb-banner-swiper-mobile-image')
        ) {
          video.addEventListener('play', function () {
            image175143775973002a1ccbmobile.style.display = 'none';
          });
        }
      });
      const video175143775973002a1ccbPC = document.querySelectorAll(
        '#shopify-section-175143775973002a1ccb video.yb-banner-swiper-desktop-video'
      );
      video175143775973002a1ccbPC.forEach((video) => {
        const image175143775973002a1ccbPC = video.nextElementSibling;
        if (
          image175143775973002a1ccbPC &&
          image175143775973002a1ccbPC.classList.contains('yb-banner-swiper-desktop-image')
        ) {
          video.addEventListener('play', function () {
            image175143775973002a1ccbPC.style.display = 'none';
          });
        }
      });
      window.addEventListener('scroll', function () {
        const element = document.querySelector('#yb-banner-swiper-mobile-cta-container__175143775973002a1ccb');
        if (!element) return;
        const scrollY = window.scrollY || document.documentElement.scrollTop;
        const mobileImage = document.querySelector('#yb-banner-swiper__175143775973002a1ccb #yb-banner-mobile-image');
        const rect = mobileImage.getBoundingClientRect();
        const topFromPage = rect.top;
        if (rect.bottom <= 0) {
          element.classList.add('yb-banner-swiper-fixed-btns__operate');
        } else {
          element.classList.remove('yb-banner-swiper-fixed-btns__operate');
        }
      });

      function initAnchorLinks() {
        document
          .querySelectorAll('#yb-banner-swiper__175143775973002a1ccb .yb-banner-swiper-anchor-link')
          .forEach((link) => {
            link.addEventListener('click', function (e) {
              e.preventDefault();
              const anchorId = this.getAttribute('data-anchor-id');
              if (!anchorId) return;

              const anchorElement = document.getElementById(`shopify-section-${anchorId}`);
              if (anchorElement) {
                window.scrollTo({
                  top: anchorElement.offsetTop - 120,
                  behavior: 'smooth',
                });
              } else {
                console.warn(`[yb-banner-swiper] 未找到对应的锚点元素: shopify-section-${anchorId}`);
              }
            });
          });
      }

      if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', initAnchorLinks);
      } else {
        initAnchorLinks();
      }
    </script>
  </div>
  <div class="shopline-section" id="shopify-section-1742036175574899b0f0">
    <div class="facebook-people-main-box">
      <div class="facebook-people-box">
        <div class="facebook-people-box-once">
          <div class="facebook-people-box-top">
            <a class="facebook-people-url" href="https://www.facebook.com/david.quetin/" target="__blank">
              <img
                alt="大卫·奎廷"
                class="facebook-people-img"
                data-nimg="1"
                decoding="async"
                height="50"
                loading="lazy"
                src="https://imagedelivery.net/FCXqi8BC3uKlNw5AGYVCpw/7f1f082b-bf16-49ca-2250-dde6853a1000/q=100"
                style="color: transparent;"
                width="50"
              >
              <span class="facebook-people-name">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">David Quetin</font>
                </font>
              </span>
            </a>
            <a
              class="facebook-people-facebook-url-pc"
              href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
              target="__blank"
            >
              <span class="facebook-people-facebook-span">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Jump to topic</font>
                </font>
              </span>
              <svg
                fill="none"
                height="20"
                stroke="#2485fc"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewbox="0 0 20 20"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </a>
          </div>
          <div class="facebook-people-facebook-text">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"
                >hello to all, having discovered Yarbo by watching videos on YouTube I immediately fell under the charm
                so I couldn't wait to see it in person, naturally I stopped by the spoga Gafa salon this Sunday to see
                it in real and there I can see you guarantee it's robust, after discussing with Jason from yarbo for all
                the information about the future assistant gardener I hurried back to Belgium to order it, now I'm
                looking forward to it, here's my little experience. Welcome to you future buyer.</font
              >
            </font>
          </div>
          <a
            class="facebook-people-facebook-url-m"
            href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
            target="__blank"
          >
            <span class="facebook-people-facebook-span">Jump to topic</span>
            <svg
              fill="none"
              height="24"
              stroke="#2485fc"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewbox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </a>
        </div>
        <div class="facebook-people-box-once">
          <div class="facebook-people-box-top">
            <a class="facebook-people-url" href="https://www.facebook.com/BehshadK/" target="__blank">
              <img
                alt="大卫·奎廷"
                class="facebook-people-img"
                data-nimg="1"
                decoding="async"
                height="50"
                loading="lazy"
                src="https://imagedelivery.net/FCXqi8BC3uKlNw5AGYVCpw/9bcf0054-569c-4a12-676c-7c7540a04900/q=100"
                style="color: transparent;"
                width="50"
              >
              <span class="facebook-people-name">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Behshad Kowssarie</font>
                </font>
              </span>
            </a>
            <a
              class="facebook-people-facebook-url-pc"
              href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
              target="__blank"
            >
              <span class="facebook-people-facebook-span">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Jump to topic</font>
                </font>
              </span>
              <svg
                fill="none"
                height="20"
                stroke="#2485fc"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewbox="0 0 20 20"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </a>
          </div>
          <div class="facebook-people-facebook-text">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"
                >Well considering that it's past the kick starter stages and it comes with a warranty then you have a
                lot more protecting you than those of us who took a chance and backed a project risking losing our
                money. And based my experience they're a committed team who wants to see this succeed.</font
              >
            </font>
          </div>
          <a
            class="facebook-people-facebook-url-m"
            href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
            target="__blank"
          >
            <span class="facebook-people-facebook-span">Jump to topic</span>
            <svg
              fill="none"
              height="24"
              stroke="#2485fc"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewbox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </a>
        </div>
        <div class="facebook-people-box-once">
          <div class="facebook-people-box-top">
            <a class="facebook-people-url" href="https://www.facebook.com/david.quetin/" target="__blank">
              <img
                alt="大卫·奎廷"
                class="facebook-people-img"
                data-nimg="1"
                decoding="async"
                height="50"
                loading="lazy"
                src="https://imagedelivery.net/FCXqi8BC3uKlNw5AGYVCpw/0de5a5a6-2fb5-450e-396a-c41a8e2f9700/q=100"
                style="color: transparent;"
                width="50"
              >
              <span class="facebook-people-name">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Jeff Dodds</font>
                </font>
              </span>
            </a>
            <a
              class="facebook-people-facebook-url-pc"
              href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
              target="__blank"
            >
              <span class="facebook-people-facebook-span">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Jump to topic</font>
                </font>
              </span>
              <svg
                fill="none"
                height="20"
                stroke="#2485fc"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewbox="0 0 20 20"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </a>
          </div>
          <div class="facebook-people-facebook-text">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"
                >This is a relatively new technology but certainly will become more mainstream over time. I currently
                own a Segway product but am upgrading to Yarbo because it is night and day compared to what I currently
                have. Having not had previous dealings with Yarbo, I feel like there may be some risk but I've got to
                tell you that they are working very hard at it. Live demos, constant updates and Q&amp;A sessions. They
                also seem to respond to any and all feedback. That isn't easy because, as we all know, people often
                aren't always very nice online. They also have a 30 day money back guarantee (less shipping). I don't
                know what more they could do to make people feel more comfortable.
              </font>
            </font>
          </div>
          <a
            class="facebook-people-facebook-url-m"
            href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
            target="__blank"
          >
            <span class="facebook-people-facebook-span">Jump to topic</span>
            <svg
              fill="none"
              height="24"
              stroke="#2485fc"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewbox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </a>
        </div>
        <div class="facebook-people-box-once">
          <div class="facebook-people-box-top">
            <a class="facebook-people-url" href="https://www.facebook.com/johnpaullivingston/" target="__blank">
              <img
                alt="大卫·奎廷"
                class="facebook-people-img"
                data-nimg="1"
                decoding="async"
                height="50"
                loading="lazy"
                src="https://imagedelivery.net/FCXqi8BC3uKlNw5AGYVCpw/642e978d-cc3c-426a-c610-a083ce7b2f00/q=100"
                style="color: transparent;"
                width="50"
              >
              <span class="facebook-people-name">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">John Paul Livingston</font>
                </font>
              </span>
            </a>
            <a
              class="facebook-people-facebook-url-pc"
              href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
              target="__blank"
            >
              <span class="facebook-people-facebook-span">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Jump to topic</font>
                </font>
              </span>
              <svg
                fill="none"
                height="20"
                stroke="#2485fc"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewbox="0 0 20 20"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </a>
          </div>
          <div class="facebook-people-facebook-text">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"
                >Excited to receive mine when they start shipping.You guys are the most responsive and transparent of
                any other robot mower company. Trust me, I've tried getting answers from several and it just disappears
                into a black box. I ordered mine on launch day and I am super excited to hopefully receive it before the
                season is over in Pennsylvania.Thanks again for the responsiveness ! The product looks incredible and,
                so far, the support is top tier.</font
              >
            </font>
          </div>
          <a
            class="facebook-people-facebook-url-m"
            href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
            target="__blank"
          >
            <span class="facebook-people-facebook-span">Jump to topic</span>
            <svg
              fill="none"
              height="24"
              stroke="#2485fc"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewbox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </a>
        </div>
        <div class="facebook-people-box-once">
          <div class="facebook-people-box-top">
            <a class="facebook-people-url" href="https://www.facebook.com/darla.leigh/" target="__blank">
              <img
                alt="大卫·奎廷"
                class="facebook-people-img"
                data-nimg="1"
                decoding="async"
                height="50"
                loading="lazy"
                src="https://imagedelivery.net/FCXqi8BC3uKlNw5AGYVCpw/36c2be75-d26b-42a5-2349-4c5728595a00/q=100"
                style="color: transparent;"
                width="50"
              >
              <span class="facebook-people-name">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Darla Leigh</font>
                </font>
              </span>
            </a>
            <a
              class="facebook-people-facebook-url-pc"
              href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
              target="__blank"
            >
              <span class="facebook-people-facebook-span">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Jump to topic</font>
                </font>
              </span>
              <svg
                fill="none"
                height="20"
                stroke="#2485fc"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewbox="0 0 20 20"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </a>
          </div>
          <div class="facebook-people-facebook-text">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"
                >*Customer service -state side*Dealers -state-side*Parts will be stocked state-side*Warranty claims will
                be handled state-side*Service Centers w/ parts stocked - state-sideDuring Covid, almost everything was
                affected waiting on parts of the country. My hope is, if a similar situation happens again, there will
                be enough parts state-side to get us through.We are buying because of the:*versatility- it's more than a
                mower*commitment to growing their product line*leading in technology (HaLow)*leading in design*proven to
                be responsive to customers' concerns and ideas.*network of dealers and service centers (and still
                growing)*space saving when storingThey've got the whole package and more to offer than anyone else on
                the market.</font
              >
            </font>
          </div>
          <a
            class="facebook-people-facebook-url-m"
            href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
            target="__blank"
          >
            <span class="facebook-people-facebook-span">Jump to topic</span>
            <svg
              fill="none"
              height="24"
              stroke="#2485fc"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewbox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </a>
        </div>
        <div class="facebook-people-box-once">
          <div class="facebook-people-box-top">
            <a class="facebook-people-url" href="https://www.facebook.com/ronald.mello.54/" target="__blank">
              <img
                alt="大卫·奎廷"
                class="facebook-people-img"
                data-nimg="1"
                decoding="async"
                height="50"
                loading="lazy"
                src="https://imagedelivery.net/FCXqi8BC3uKlNw5AGYVCpw/5a0eed3a-71d1-4031-950d-d688375c1000/q=100"
                style="color: transparent;"
                width="50"
              >
              <span class="facebook-people-name">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Ronald Mello</font>
                </font>
              </span>
            </a>
            <a
              class="facebook-people-facebook-url-pc"
              href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
              target="__blank"
            >
              <span class="facebook-people-facebook-span">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Jump to topic</font>
                </font>
              </span>
              <svg
                fill="none"
                height="20"
                stroke="#2485fc"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewbox="0 0 20 20"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </a>
          </div>
          <div class="facebook-people-facebook-text">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"
                >As far as warranties go…, the warranty is for two years. Anything electric is easier to fix than gas.
                It's just motor, sensor and battery. I have not seen of any pressing complaints from the Snowbot or
                Yarbo Gen 1 community. Every purchase is a gamble, so you have to look at history and decide for
                yourself. The YouTube videos I've seen … the customers appreciate their purchase. Even if the product
                takes a crap after two years… you still haven't mowed your grass or shoveled your driveway, or bought
                gas for two years. How much is that worth to you? You even get a game controller so if navigation goes
                awry… you can drive it like a drone in ‘Call of Duty'. How cool is that?</font
              >
            </font>
          </div>
          <a
            class="facebook-people-facebook-url-m"
            href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
            target="__blank"
          >
            <span class="facebook-people-facebook-span">Jump to topic</span>
            <svg
              fill="none"
              height="24"
              stroke="#2485fc"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewbox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </a>
        </div>
        <div class="facebook-people-box-once">
          <div class="facebook-people-box-top">
            <a class="facebook-people-url" href="https://www.facebook.com/Heartmale/" target="__blank">
              <img
                alt="大卫·奎廷"
                class="facebook-people-img"
                data-nimg="1"
                decoding="async"
                height="50"
                loading="lazy"
                src="https://imagedelivery.net/FCXqi8BC3uKlNw5AGYVCpw/5eb3c58f-0085-4477-7cac-4a48d0e8e100/q=100"
                style="color: transparent;"
                width="50"
              >
              <span class="facebook-people-name">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Fred Borden</font>
                </font>
              </span>
            </a>
            <a
              class="facebook-people-facebook-url-pc"
              href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
              target="__blank"
            >
              <span class="facebook-people-facebook-span">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Jump to topic</font>
                </font>
              </span>
              <svg
                fill="none"
                height="20"
                stroke="#2485fc"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewbox="0 0 20 20"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </a>
          </div>
          <div class="facebook-people-facebook-text">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"
                >For me I want the yarbo snowblower to blow snow from my back yard in snow storms so my tenants can be
                safe and get out though the windows after a storm. And it will do the driveway in a storm. Also I would
                use to yarbo lawn mower to cut the grass, and flies would not bite me. And I would do other things while
                yarbo is working. Lifting weights or going for a walk with my dog. The yarbo sprinkler add on, will
                water the grass so we would not use so much water to water the grass. These are just a few reasons why
                I'm going to buy a yarbo. If it does these things, I think everyone should have one. For the money I
                would have love to had yarbo over years. Because I live where we get a lot of snow and we shovelled a
                lot of snow over the years. Sometimes you shovel the snow twice a day.
              </font>
            </font>
          </div>
          <a
            class="facebook-people-facebook-url-m"
            href="https://www.facebook.com/share/p/N6MDPgtsuTD1aXJU/"
            target="__blank"
          >
            <span class="facebook-people-facebook-span">Jump to topic</span>
            <svg
              fill="none"
              height="24"
              stroke="#2485fc"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewbox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <style>
      #shopify-section-1742036175574899b0f0 .facebook-people-main-box {
        padding: 60px 30px;
      }

      @media (max-width: 767px) {
        #shopify-section-1742036175574899b0f0 .facebook-people-main-box {
          padding: 15px !important;
        }

        #shopify-section-1742036175574899b0f0 .pc_img {
          display: none;
        }
      }

      #shopify-section-1742036175574899b0f0 span.facebook-people-name {
        color: #040921;
      }
    </style>
  </div>
</div>
{% schema %}
{
  "name": "Page Topics"

}
{% endschema %}
