{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}

<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/base-form.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/custom-select.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/uploader.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/image-with-text-form.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/preview-grid.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/searchable-select.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/ZFAdvLead-zoho.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/preview-grid.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/searchable-select.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/snippet-image-with-text-form.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/form-field.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/custom-select.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/uploader.js"
></script>

<!-- 使用 searchable-select 组件 -->
<div class="migrated-page">
  <div class="shopline-section nsa-accesstive" id="shopify-section-1742283538250620b534">
    <div class="form-container page-width image-with-text-form-section nsa-accesstive">
      <div class="image-container nsa-accesstive">
        <img
          class="nsa-accesstive"
          src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/ffe5fa638e424f3099a200abb22f3156.webp?v=1772520723"
        >
      </div>
      <h1 class="form-title nsa-accesstive">My Yarbo Journey</h1>
      <div class="form-description nsa-accesstive">
        <p class="nsa-accesstive">
          My Yarbo Journey is an event where you can submit entries that best demonstrate Yarbo in various scenarios.
          Whether it's a video of Yarbo in fierce action or a photo of Yarbo striking a stunning pose, you can submit as
          many entries as you like to any category you prefer!
        </p>
        <p class="nsa-accesstive">
          Yarbo is asking for your help to create content for our socials, with exciting rewards up for grabs! If you're
          up for the challenge, submit your entries to "My Yarbo Journey." Showcase Yarbo's amazing features: the
          usefulness of the tow hitch, the maneuverability of Yarbo lawnmowers, and the efficiency of Yarbo snow
          blowers!
        </p>
        <p class="form-paragraph-spacing nsa-accesstive">
          My Yarbo Journey features three thrilling events! Submit as many entries to as many events as you like, and
          seize the opportunity to win incredible prizes from our $8000 Prize Pool!
        </p>
        <p class="nsa-accesstive">
          • Yarbo Core Versatility: Showcase Yarbo core multiple extensions to meet various outdoor needs.
        </p>
        <p class="nsa-accesstive">
          • Snow Blower Showdown: Showcase the all-terrain maneuverability and adjustable mower height from 1.2 to 4.0
          inches
        </p>
        <p class="nsa-accesstive">
          • Lawn Mower Live: Showcase efficient snow removal, exceptional climbing capability, and precise snow throwing
          with the snow chute.
        </p>
        <p class="form-paragraph-spacing nsa-accesstive">📢 Attention!</p>
        <p class="nsa-accesstive">
          We have an important request: Please do not upload private domain video links when sharing your Yarbo
          experiences. Instead, we kindly ask you to share public domain video links. This ensures that everyone in
          gallery can view, enjoy, and vote on your fantastic content without any access issues.Here's how you can share
          public domain videos:
        </p>
        <p class="form-paragraph-spacing nsa-accesstive">
          1. Upload your video to a platform like YouTube, Vimeo, or any other social media site.
        </p>
        <p class="nsa-accesstive">2. Ensure your video is set to "Public" so everyone can see it.</p>
        <p class="nsa-accesstive">3. Share the public link in upload page.</p>
      </div>
      <div class="form-section nsa-accesstive">
        <image-with-text-form class="nsa-accesstive">
          <form autocomplete="off" class="contest-form nsa-accesstive">
            <div class="form-row nsa-accesstive">
              <div class="form-item nsa-accesstive">
                <label class="form-label required nsa-accesstive" for="name"
                  >Name<span class="nsa-accesstive" style="color: #ff4d4f; margin-left: 4px;">*</span></label
                >
                <form-field class="form-field nsa-accesstive" label="Name" name="name" required="">
                  <div class="form-input-wrapper nsa-accesstive">
                    <div class="form-input-content nsa-accesstive">
                      <input
                        aria-required="true"
                        class="form-input nsa-accesstive"
                        name="Name"
                        placeholder="Name"
                        type="text"
                      >
                      <div class="form-item-explain-error nsa-accesstive" data-role="errorMessage"></div>
                    </div>
                  </div>
                </form-field>
              </div>
              <div class="form-item nsa-accesstive">
                <label class="form-label required nsa-accesstive" for="email"
                  >Email<span class="nsa-accesstive" style="color: #ff4d4f; margin-left: 4px;">*</span></label
                >
                <form-field
                  class="form-field nsa-accesstive"
                  label="Email"
                  name="email"
                  pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"
                  required=""
                >
                  <div class="form-input-wrapper nsa-accesstive">
                    <div class="form-input-content nsa-accesstive">
                      <input
                        aria-required="true"
                        class="form-input nsa-accesstive"
                        placeholder="Email Address"
                        type="text"
                      >
                      <div class="form-item-explain-error nsa-accesstive" data-role="errorMessage"></div>
                    </div>
                  </div>
                </form-field>
              </div>
            </div>
            <div class="form-row nsa-accesstive">
              <div class="form-item nsa-accesstive">
                <label class="form-label required nsa-accesstive" for="country"
                  >Country<span class="nsa-accesstive" style="color: #ff4d4f; margin-left: 4px;">*</span></label
                >
                <form-field class="form-field nsa-accesstive" label="Country" name="country" required="">
                  <div class="form-input-wrapper nsa-accesstive">
                    <div class="form-input-content nsa-accesstive">
                      <searchable-select
                        aria-expanded="false"
                        aria-haspopup="listbox"
                        aria-required="true"
                        class="nsa-accesstive"
                        data-role="country-select"
                        name="country"
                        placeholder="Select Country"
                        role="combobox"
                        tabindex="0"
                        ><input class="nsa-accesstive" name="country" type="hidden">
                        <div class="select-container nsa-accesstive">
                          <div class="select-trigger placeholder nsa-accesstive">
                            <span class="nsa-accesstive">Select Country</span>
                            <span class="arrow nsa-accesstive">
                              <svg
                                class="feather feather-chevron-down"
                                fill="none"
                                height="24"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                viewbox="0 0 24 24"
                                width="24"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <polyline points="6 9 12 15 18 9"></polyline>
                              </svg>
                            </span>
                          </div>
                          <div class="select-options nsa-accesstive">
                            <div class="select-search-wrapper">
                              <input class="select-search-input" placeholder="Search..." type="text">
                            </div>
                            <div class="select-options-list">
                              <div class="select-option" data-role="select-option" data-value="AF">Afghanistan</div>
                              <div class="select-option" data-role="select-option" data-value="AX">Aland Islands</div>
                              <div class="select-option" data-role="select-option" data-value="AL">Albania</div>
                              <div class="select-option" data-role="select-option" data-value="DZ">Algeria</div>
                              <div class="select-option" data-role="select-option" data-value="AS">American Samoa</div>
                              <div class="select-option" data-role="select-option" data-value="AD">Andorra</div>
                              <div class="select-option" data-role="select-option" data-value="AO">Angola</div>
                              <div class="select-option" data-role="select-option" data-value="AI">Anguilla</div>
                              <div class="select-option" data-role="select-option" data-value="AQ">Antarctica</div>
                              <div class="select-option" data-role="select-option" data-value="AG">
                                Antigua and Barbuda
                              </div>
                              <div class="select-option" data-role="select-option" data-value="AR">Argentina</div>
                              <div class="select-option" data-role="select-option" data-value="AM">Armenia</div>
                              <div class="select-option" data-role="select-option" data-value="AW">Aruba</div>
                              <div class="select-option" data-role="select-option" data-value="AU">Australia</div>
                              <div class="select-option" data-role="select-option" data-value="AT">Austria</div>
                              <div class="select-option" data-role="select-option" data-value="AZ">Azerbaijan</div>
                              <div class="select-option" data-role="select-option" data-value="BS">The Bahamas</div>
                              <div class="select-option" data-role="select-option" data-value="BH">Bahrain</div>
                              <div class="select-option" data-role="select-option" data-value="BD">Bangladesh</div>
                              <div class="select-option" data-role="select-option" data-value="BB">Barbados</div>
                              <div class="select-option" data-role="select-option" data-value="BY">Belarus</div>
                              <div class="select-option" data-role="select-option" data-value="BE">Belgium</div>
                              <div class="select-option" data-role="select-option" data-value="BZ">Belize</div>
                              <div class="select-option" data-role="select-option" data-value="BJ">Benin</div>
                              <div class="select-option" data-role="select-option" data-value="BM">Bermuda</div>
                              <div class="select-option" data-role="select-option" data-value="BT">Bhutan</div>
                              <div class="select-option" data-role="select-option" data-value="BO">Bolivia</div>
                              <div class="select-option" data-role="select-option" data-value="BA">
                                Bosnia and Herzegovina
                              </div>
                              <div class="select-option" data-role="select-option" data-value="BW">Botswana</div>
                              <div class="select-option" data-role="select-option" data-value="BV">Bouvet Island</div>
                              <div class="select-option" data-role="select-option" data-value="BR">Brazil</div>
                              <div class="select-option" data-role="select-option" data-value="IO">
                                British Indian Ocean Territory
                              </div>
                              <div class="select-option" data-role="select-option" data-value="BN">Brunei</div>
                              <div class="select-option" data-role="select-option" data-value="BG">Bulgaria</div>
                              <div class="select-option" data-role="select-option" data-value="BF">Burkina Faso</div>
                              <div class="select-option" data-role="select-option" data-value="BI">Burundi</div>
                              <div class="select-option" data-role="select-option" data-value="KH">Cambodia</div>
                              <div class="select-option" data-role="select-option" data-value="CM">Cameroon</div>
                              <div class="select-option" data-role="select-option" data-value="CA">Canada</div>
                              <div class="select-option" data-role="select-option" data-value="CV">Cape Verde</div>
                              <div class="select-option" data-role="select-option" data-value="KY">Cayman Islands</div>
                              <div class="select-option" data-role="select-option" data-value="CF">
                                Central African Republic
                              </div>
                              <div class="select-option" data-role="select-option" data-value="TD">Chad</div>
                              <div class="select-option" data-role="select-option" data-value="CL">Chile</div>
                              <div class="select-option" data-role="select-option" data-value="CN">China</div>
                              <div class="select-option" data-role="select-option" data-value="CX">
                                Christmas Island
                              </div>
                              <div class="select-option" data-role="select-option" data-value="CC">
                                Cocos (Keeling) Islands
                              </div>
                              <div class="select-option" data-role="select-option" data-value="CO">Colombia</div>
                              <div class="select-option" data-role="select-option" data-value="KM">Comoros</div>
                              <div class="select-option" data-role="select-option" data-value="CG">Congo</div>
                              <div class="select-option" data-role="select-option" data-value="CD">
                                Democratic Republic of the Congo
                              </div>
                              <div class="select-option" data-role="select-option" data-value="CK">Cook Islands</div>
                              <div class="select-option" data-role="select-option" data-value="CR">Costa Rica</div>
                              <div class="select-option" data-role="select-option" data-value="CI">Ivory Coast</div>
                              <div class="select-option" data-role="select-option" data-value="HR">Croatia</div>
                              <div class="select-option" data-role="select-option" data-value="CU">Cuba</div>
                              <div class="select-option" data-role="select-option" data-value="CY">Cyprus</div>
                              <div class="select-option" data-role="select-option" data-value="CZ">Czech Republic</div>
                              <div class="select-option" data-role="select-option" data-value="DK">Denmark</div>
                              <div class="select-option" data-role="select-option" data-value="DJ">Djibouti</div>
                              <div class="select-option" data-role="select-option" data-value="DM">Dominica</div>
                              <div class="select-option" data-role="select-option" data-value="DO">
                                Dominican Republic
                              </div>
                              <div class="select-option" data-role="select-option" data-value="TL">Timor-Leste</div>
                              <div class="select-option" data-role="select-option" data-value="EC">Ecuador</div>
                              <div class="select-option" data-role="select-option" data-value="EG">Egypt</div>
                              <div class="select-option" data-role="select-option" data-value="SV">El Salvador</div>
                              <div class="select-option" data-role="select-option" data-value="GQ">
                                Equatorial Guinea
                              </div>
                              <div class="select-option" data-role="select-option" data-value="ER">Eritrea</div>
                              <div class="select-option" data-role="select-option" data-value="EE">Estonia</div>
                              <div class="select-option" data-role="select-option" data-value="ET">Ethiopia</div>
                              <div class="select-option" data-role="select-option" data-value="FK">
                                Falkland Islands
                              </div>
                              <div class="select-option" data-role="select-option" data-value="FO">Faroe Islands</div>
                              <div class="select-option" data-role="select-option" data-value="FJ">Fiji Islands</div>
                              <div class="select-option" data-role="select-option" data-value="FI">Finland</div>
                              <div class="select-option" data-role="select-option" data-value="FR">France</div>
                              <div class="select-option" data-role="select-option" data-value="GF">French Guiana</div>
                              <div class="select-option" data-role="select-option" data-value="PF">
                                French Polynesia
                              </div>
                              <div class="select-option" data-role="select-option" data-value="TF">
                                French Southern Territories
                              </div>
                              <div class="select-option" data-role="select-option" data-value="GA">Gabon</div>
                              <div class="select-option" data-role="select-option" data-value="GM">The Gambia</div>
                              <div class="select-option" data-role="select-option" data-value="GE">Georgia</div>
                              <div class="select-option" data-role="select-option" data-value="DE">Germany</div>
                              <div class="select-option" data-role="select-option" data-value="GH">Ghana</div>
                              <div class="select-option" data-role="select-option" data-value="GI">Gibraltar</div>
                              <div class="select-option" data-role="select-option" data-value="GR">Greece</div>
                              <div class="select-option" data-role="select-option" data-value="GL">Greenland</div>
                              <div class="select-option" data-role="select-option" data-value="GD">Grenada</div>
                              <div class="select-option" data-role="select-option" data-value="GP">Guadeloupe</div>
                              <div class="select-option" data-role="select-option" data-value="GU">Guam</div>
                              <div class="select-option" data-role="select-option" data-value="GT">Guatemala</div>
                              <div class="select-option" data-role="select-option" data-value="GG">Guernsey</div>
                              <div class="select-option" data-role="select-option" data-value="GN">Guinea</div>
                              <div class="select-option" data-role="select-option" data-value="GW">Guinea-Bissau</div>
                              <div class="select-option" data-role="select-option" data-value="GY">Guyana</div>
                              <div class="select-option" data-role="select-option" data-value="HT">Haiti</div>
                              <div class="select-option" data-role="select-option" data-value="HM">
                                Heard Island and McDonald Islands
                              </div>
                              <div class="select-option" data-role="select-option" data-value="HN">Honduras</div>
                              <div class="select-option" data-role="select-option" data-value="HK">
                                Hong Kong S.A.R.
                              </div>
                              <div class="select-option" data-role="select-option" data-value="HU">Hungary</div>
                              <div class="select-option" data-role="select-option" data-value="IS">Iceland</div>
                              <div class="select-option" data-role="select-option" data-value="IN">India</div>
                              <div class="select-option" data-role="select-option" data-value="ID">Indonesia</div>
                              <div class="select-option" data-role="select-option" data-value="IR">Iran</div>
                              <div class="select-option" data-role="select-option" data-value="IQ">Iraq</div>
                              <div class="select-option" data-role="select-option" data-value="IE">Ireland</div>
                              <div class="select-option" data-role="select-option" data-value="IL">Israel</div>
                              <div class="select-option" data-role="select-option" data-value="IT">Italy</div>
                              <div class="select-option" data-role="select-option" data-value="JM">Jamaica</div>
                              <div class="select-option" data-role="select-option" data-value="JP">Japan</div>
                              <div class="select-option" data-role="select-option" data-value="JE">Jersey</div>
                              <div class="select-option" data-role="select-option" data-value="JO">Jordan</div>
                              <div class="select-option" data-role="select-option" data-value="KZ">Kazakhstan</div>
                              <div class="select-option" data-role="select-option" data-value="KE">Kenya</div>
                              <div class="select-option" data-role="select-option" data-value="KI">Kiribati</div>
                              <div class="select-option" data-role="select-option" data-value="KP">North Korea</div>
                              <div class="select-option" data-role="select-option" data-value="KR">South Korea</div>
                              <div class="select-option" data-role="select-option" data-value="KW">Kuwait</div>
                              <div class="select-option" data-role="select-option" data-value="KG">Kyrgyzstan</div>
                              <div class="select-option" data-role="select-option" data-value="LA">Laos</div>
                              <div class="select-option" data-role="select-option" data-value="LV">Latvia</div>
                              <div class="select-option" data-role="select-option" data-value="LB">Lebanon</div>
                              <div class="select-option" data-role="select-option" data-value="LS">Lesotho</div>
                              <div class="select-option" data-role="select-option" data-value="LR">Liberia</div>
                              <div class="select-option" data-role="select-option" data-value="LY">Libya</div>
                              <div class="select-option" data-role="select-option" data-value="LI">Liechtenstein</div>
                              <div class="select-option" data-role="select-option" data-value="LT">Lithuania</div>
                              <div class="select-option" data-role="select-option" data-value="LU">Luxembourg</div>
                              <div class="select-option" data-role="select-option" data-value="MO">Macau S.A.R.</div>
                              <div class="select-option" data-role="select-option" data-value="MK">North Macedonia</div>
                              <div class="select-option" data-role="select-option" data-value="MG">Madagascar</div>
                              <div class="select-option" data-role="select-option" data-value="MW">Malawi</div>
                              <div class="select-option" data-role="select-option" data-value="MY">Malaysia</div>
                              <div class="select-option" data-role="select-option" data-value="MV">Maldives</div>
                              <div class="select-option" data-role="select-option" data-value="ML">Mali</div>
                              <div class="select-option" data-role="select-option" data-value="MT">Malta</div>
                              <div class="select-option" data-role="select-option" data-value="IM">Man (Isle of)</div>
                              <div class="select-option" data-role="select-option" data-value="MH">
                                Marshall Islands
                              </div>
                              <div class="select-option" data-role="select-option" data-value="MQ">Martinique</div>
                              <div class="select-option" data-role="select-option" data-value="MR">Mauritania</div>
                              <div class="select-option" data-role="select-option" data-value="MU">Mauritius</div>
                              <div class="select-option" data-role="select-option" data-value="YT">Mayotte</div>
                              <div class="select-option" data-role="select-option" data-value="MX">Mexico</div>
                              <div class="select-option" data-role="select-option" data-value="FM">Micronesia</div>
                              <div class="select-option" data-role="select-option" data-value="MD">Moldova</div>
                              <div class="select-option" data-role="select-option" data-value="MC">Monaco</div>
                              <div class="select-option" data-role="select-option" data-value="MN">Mongolia</div>
                              <div class="select-option" data-role="select-option" data-value="ME">Montenegro</div>
                              <div class="select-option" data-role="select-option" data-value="MS">Montserrat</div>
                              <div class="select-option" data-role="select-option" data-value="MA">Morocco</div>
                              <div class="select-option" data-role="select-option" data-value="MZ">Mozambique</div>
                              <div class="select-option" data-role="select-option" data-value="MM">Myanmar</div>
                              <div class="select-option" data-role="select-option" data-value="NA">Namibia</div>
                              <div class="select-option" data-role="select-option" data-value="NR">Nauru</div>
                              <div class="select-option" data-role="select-option" data-value="NP">Nepal</div>
                              <div class="select-option" data-role="select-option" data-value="BQ">
                                Bonaire, Sint Eustatius and Saba
                              </div>
                              <div class="select-option" data-role="select-option" data-value="NL">Netherlands</div>
                              <div class="select-option" data-role="select-option" data-value="NC">New Caledonia</div>
                              <div class="select-option" data-role="select-option" data-value="NZ">New Zealand</div>
                              <div class="select-option" data-role="select-option" data-value="NI">Nicaragua</div>
                              <div class="select-option" data-role="select-option" data-value="NE">Niger</div>
                              <div class="select-option" data-role="select-option" data-value="NG">Nigeria</div>
                              <div class="select-option" data-role="select-option" data-value="NU">Niue</div>
                              <div class="select-option" data-role="select-option" data-value="NF">Norfolk Island</div>
                              <div class="select-option" data-role="select-option" data-value="MP">
                                Northern Mariana Islands
                              </div>
                              <div class="select-option" data-role="select-option" data-value="NO">Norway</div>
                              <div class="select-option" data-role="select-option" data-value="OM">Oman</div>
                              <div class="select-option" data-role="select-option" data-value="PK">Pakistan</div>
                              <div class="select-option" data-role="select-option" data-value="PW">Palau</div>
                              <div class="select-option" data-role="select-option" data-value="PS">
                                Palestinian Territory Occupied
                              </div>
                              <div class="select-option" data-role="select-option" data-value="PA">Panama</div>
                              <div class="select-option" data-role="select-option" data-value="PG">
                                Papua New Guinea
                              </div>
                              <div class="select-option" data-role="select-option" data-value="PY">Paraguay</div>
                              <div class="select-option" data-role="select-option" data-value="PE">Peru</div>
                              <div class="select-option" data-role="select-option" data-value="PH">Philippines</div>
                              <div class="select-option" data-role="select-option" data-value="PN">Pitcairn Island</div>
                              <div class="select-option" data-role="select-option" data-value="PL">Poland</div>
                              <div class="select-option" data-role="select-option" data-value="PT">Portugal</div>
                              <div class="select-option" data-role="select-option" data-value="PR">Puerto Rico</div>
                              <div class="select-option" data-role="select-option" data-value="QA">Qatar</div>
                              <div class="select-option" data-role="select-option" data-value="RE">Reunion</div>
                              <div class="select-option" data-role="select-option" data-value="RO">Romania</div>
                              <div class="select-option" data-role="select-option" data-value="RU">Russia</div>
                              <div class="select-option" data-role="select-option" data-value="RW">Rwanda</div>
                              <div class="select-option" data-role="select-option" data-value="SH">Saint Helena</div>
                              <div class="select-option" data-role="select-option" data-value="KN">
                                Saint Kitts and Nevis
                              </div>
                              <div class="select-option" data-role="select-option" data-value="LC">Saint Lucia</div>
                              <div class="select-option" data-role="select-option" data-value="PM">
                                Saint Pierre and Miquelon
                              </div>
                              <div class="select-option" data-role="select-option" data-value="VC">
                                Saint Vincent and the Grenadines
                              </div>
                              <div class="select-option" data-role="select-option" data-value="BL">
                                Saint-Barthelemy
                              </div>
                              <div class="select-option" data-role="select-option" data-value="MF">
                                Saint-Martin (French part)
                              </div>
                              <div class="select-option" data-role="select-option" data-value="WS">Samoa</div>
                              <div class="select-option" data-role="select-option" data-value="SM">San Marino</div>
                              <div class="select-option" data-role="select-option" data-value="ST">
                                Sao Tome and Principe
                              </div>
                              <div class="select-option" data-role="select-option" data-value="SA">Saudi Arabia</div>
                              <div class="select-option" data-role="select-option" data-value="SN">Senegal</div>
                              <div class="select-option" data-role="select-option" data-value="RS">Serbia</div>
                              <div class="select-option" data-role="select-option" data-value="SC">Seychelles</div>
                              <div class="select-option" data-role="select-option" data-value="SL">Sierra Leone</div>
                              <div class="select-option" data-role="select-option" data-value="SG">Singapore</div>
                              <div class="select-option" data-role="select-option" data-value="SK">Slovakia</div>
                              <div class="select-option" data-role="select-option" data-value="SI">Slovenia</div>
                              <div class="select-option" data-role="select-option" data-value="SB">Solomon Islands</div>
                              <div class="select-option" data-role="select-option" data-value="SO">Somalia</div>
                              <div class="select-option" data-role="select-option" data-value="ZA">South Africa</div>
                              <div class="select-option" data-role="select-option" data-value="GS">South Georgia</div>
                              <div class="select-option" data-role="select-option" data-value="SS">South Sudan</div>
                              <div class="select-option" data-role="select-option" data-value="ES">Spain</div>
                              <div class="select-option" data-role="select-option" data-value="LK">Sri Lanka</div>
                              <div class="select-option" data-role="select-option" data-value="SD">Sudan</div>
                              <div class="select-option" data-role="select-option" data-value="SR">Suriname</div>
                              <div class="select-option" data-role="select-option" data-value="SJ">
                                Svalbard and Jan Mayen Islands
                              </div>
                              <div class="select-option" data-role="select-option" data-value="SZ">Eswatini</div>
                              <div class="select-option" data-role="select-option" data-value="SE">Sweden</div>
                              <div class="select-option" data-role="select-option" data-value="CH">Switzerland</div>
                              <div class="select-option" data-role="select-option" data-value="SY">Syria</div>
                              <div class="select-option" data-role="select-option" data-value="TW">Taiwan</div>
                              <div class="select-option" data-role="select-option" data-value="TJ">Tajikistan</div>
                              <div class="select-option" data-role="select-option" data-value="TZ">Tanzania</div>
                              <div class="select-option" data-role="select-option" data-value="TH">Thailand</div>
                              <div class="select-option" data-role="select-option" data-value="TG">Togo</div>
                              <div class="select-option" data-role="select-option" data-value="TK">Tokelau</div>
                              <div class="select-option" data-role="select-option" data-value="TO">Tonga</div>
                              <div class="select-option" data-role="select-option" data-value="TT">
                                Trinidad and Tobago
                              </div>
                              <div class="select-option" data-role="select-option" data-value="TN">Tunisia</div>
                              <div class="select-option" data-role="select-option" data-value="TR">Turkey</div>
                              <div class="select-option" data-role="select-option" data-value="TM">Turkmenistan</div>
                              <div class="select-option" data-role="select-option" data-value="TC">
                                Turks and Caicos Islands
                              </div>
                              <div class="select-option" data-role="select-option" data-value="TV">Tuvalu</div>
                              <div class="select-option" data-role="select-option" data-value="UG">Uganda</div>
                              <div class="select-option" data-role="select-option" data-value="UA">Ukraine</div>
                              <div class="select-option" data-role="select-option" data-value="AE">
                                United Arab Emirates
                              </div>
                              <div class="select-option" data-role="select-option" data-value="GB">United Kingdom</div>
                              <div class="select-option" data-role="select-option" data-value="US">United States</div>
                              <div class="select-option" data-role="select-option" data-value="UM">
                                United States Minor Outlying Islands
                              </div>
                              <div class="select-option" data-role="select-option" data-value="UY">Uruguay</div>
                              <div class="select-option" data-role="select-option" data-value="UZ">Uzbekistan</div>
                              <div class="select-option" data-role="select-option" data-value="VU">Vanuatu</div>
                              <div class="select-option" data-role="select-option" data-value="VA">
                                Vatican City State (Holy See)
                              </div>
                              <div class="select-option" data-role="select-option" data-value="VE">Venezuela</div>
                              <div class="select-option" data-role="select-option" data-value="VN">Vietnam</div>
                              <div class="select-option" data-role="select-option" data-value="VG">
                                Virgin Islands (British)
                              </div>
                              <div class="select-option" data-role="select-option" data-value="VI">
                                Virgin Islands (US)
                              </div>
                              <div class="select-option" data-role="select-option" data-value="WF">
                                Wallis and Futuna Islands
                              </div>
                              <div class="select-option" data-role="select-option" data-value="EH">Western Sahara</div>
                              <div class="select-option" data-role="select-option" data-value="YE">Yemen</div>
                              <div class="select-option" data-role="select-option" data-value="ZM">Zambia</div>
                              <div class="select-option" data-role="select-option" data-value="ZW">Zimbabwe</div>
                              <div class="select-option" data-role="select-option" data-value="XK">Kosovo</div>
                              <div class="select-option" data-role="select-option" data-value="CW">Curaçao</div>
                              <div class="select-option" data-role="select-option" data-value="SX">
                                Sint Maarten (Dutch part)
                              </div>
                            </div>
                          </div>
                        </div>
                      </searchable-select>
                      <div class="form-item-explain-error nsa-accesstive" data-role="errorMessage"></div>
                    </div>
                  </div>
                </form-field>
              </div>
              <div class="form-item nsa-accesstive">
                <label class="form-label required nsa-accesstive" for="state"
                  >State / Province<span class="nsa-accesstive" style="color: #ff4d4f; margin-left: 4px;"
                    >*</span
                  ></label
                >
                <form-field class="form-field nsa-accesstive" label="State / Province" name="state" required="">
                  <div class="form-input-wrapper nsa-accesstive">
                    <div class="form-input-content nsa-accesstive">
                      <searchable-select
                        aria-expanded="false"
                        aria-haspopup="listbox"
                        aria-required="true"
                        class="nsa-accesstive"
                        data-role="state-select"
                        disabled=""
                        name="state"
                        placeholder="Select State / Province"
                        role="combobox"
                        tabindex="-1"
                        ><input class="nsa-accesstive" name="state" type="hidden">
                        <div class="select-container nsa-accesstive">
                          <div class="select-trigger placeholder nsa-accesstive">
                            <span class="nsa-accesstive">Select State / Province</span>
                            <span class="arrow nsa-accesstive">
                              <svg
                                class="feather feather-chevron-down"
                                fill="none"
                                height="24"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                viewbox="0 0 24 24"
                                width="24"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <polyline points="6 9 12 15 18 9"></polyline>
                              </svg>
                            </span>
                          </div>
                          <div class="select-options nsa-accesstive"></div>
                        </div>
                      </searchable-select>
                      <div class="form-item-explain-error nsa-accesstive" data-role="errorMessage"></div>
                    </div>
                  </div>
                </form-field>
              </div>
            </div>
            <label class="form-label required nsa-accesstive" for="city"
              >City<span class="nsa-accesstive" style="color: #ff4d4f; margin-left: 4px;">*</span></label
            >
            <form-field class="form-field nsa-accesstive" label="City" name="city" required="">
              <div class="form-input-wrapper nsa-accesstive">
                <div class="form-input-content nsa-accesstive">
                  <searchable-select
                    aria-expanded="false"
                    aria-haspopup="listbox"
                    aria-required="true"
                    class="nsa-accesstive"
                    data-role="city-select"
                    disabled=""
                    name="city"
                    placeholder="Select City"
                    role="combobox"
                    tabindex="-1"
                    ><input class="nsa-accesstive" name="city" type="hidden">
                    <div class="select-container nsa-accesstive">
                      <div class="select-trigger placeholder nsa-accesstive">
                        <span class="nsa-accesstive">Select City</span>
                        <span class="arrow nsa-accesstive">
                          <svg
                            class="feather feather-chevron-down"
                            fill="none"
                            height="24"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewbox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <polyline points="6 9 12 15 18 9"></polyline>
                          </svg>
                        </span>
                      </div>
                      <div class="select-options nsa-accesstive"></div>
                    </div>
                  </searchable-select>
                  <div class="form-item-explain-error nsa-accesstive" data-role="errorMessage"></div>
                </div>
              </div>
            </form-field>
            <label class="form-label nsa-accesstive" for="originalPostLink">Social Media Post Link</label>
            <form-field class="form-field nsa-accesstive" label="Social Media Post Link" name="originalPostLink">
              <div class="form-input-wrapper nsa-accesstive">
                <div class="form-input-content nsa-accesstive">
                  <input
                    class="form-input nsa-accesstive"
                    name="originalPostLink"
                    placeholder="Social Media Post Link"
                    type="text"
                  >
                  <div class="form-item-explain-error nsa-accesstive" data-role="errorMessage"></div>
                </div>
              </div>
            </form-field>
            <label class="form-label required nsa-accesstive" for="name"
              >Upload<span class="nsa-accesstive" style="color: #ff4d4f; margin-left: 4px;">*</span></label
            >
            <file-uploader class="nsa-accesstive">
              <div class="media-type-selector nsa-accesstive">
                <div class="media-type-option nsa-accesstive" data-role="control" data-show="photo">
                  <div class="media-type-option-content nsa-accesstive">
                    <span class="form-icon nsa-accesstive">
                      <svg
                        class="feather feather-image"
                        fill="none"
                        height="24"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        viewbox="0 0 24 24"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect height="18" rx="2" ry="2" width="18" x="3" y="3"></rect>
                        <circle cx="8.5" cy="8.5" r="1.5"></circle>
                        <polyline points="21 15 16 10 5 21"></polyline>
                      </svg>
                    </span>
                    <p class="nsa-accesstive">Photo</p>
                  </div>
                </div>
                <div class="media-type-option nsa-accesstive" data-role="control" data-show="video">
                  <div class="media-type-option-content nsa-accesstive">
                    <span class="form-icon nsa-accesstive">
                      <svg
                        class="feather feather-play-circle"
                        fill="none"
                        height="24"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        viewbox="0 0 24 24"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="12" cy="12" r="10"></circle>
                        <polygon points="10 8 16 12 10 16 10 8"></polygon>
                      </svg>
                    </span>
                    <p class="nsa-accesstive">Video</p>
                  </div>
                </div>
              </div>
              <div aria-required="true" class="uploader-container nsa-accesstive" data-role="photo">
                <div class="uploader-close nsa-accesstive" data-role="close">
                  <span class="form-icon nsa-accesstive">
                    <svg
                      class="feather feather-x"
                      fill="none"
                      height="24"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewbox="0 0 24 24"
                      width="24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <line x1="18" x2="6" y1="6" y2="18"></line>
                      <line x1="6" x2="18" y1="6" y2="18"></line>
                    </svg>
                  </span>
                </div>
                <div class="uploader-header nsa-accesstive">
                  <span class="form-icon nsa-accesstive">
                    <svg
                      class="feather feather-image"
                      fill="none"
                      height="24"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewbox="0 0 24 24"
                      width="24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect height="18" rx="2" ry="2" width="18" x="3" y="3"></rect>
                      <circle cx="8.5" cy="8.5" r="1.5"></circle>
                      <polyline points="21 15 16 10 5 21"></polyline>
                    </svg>
                  </span>
                  <p class="uploader-title nsa-accesstive">Upload a Photo</p>
                </div>
                <label class="uploader-input-label nsa-accesstive">
                  <input accept="image/*" class="uploader-input nsa-accesstive" multiple="" name="file" type="file">
                  <span class="uploader-button nsa-accesstive">Choose File</span>
                </label>
                <preview-grid class="nsa-accesstive" data-role="photo"> </preview-grid>
              </div>
              <div aria-required="true" class="uploader-container nsa-accesstive" data-role="video">
                <div class="uploader-close nsa-accesstive" data-role="close">
                  <span class="form-icon nsa-accesstive">
                    <svg
                      class="feather feather-x"
                      fill="none"
                      height="24"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewbox="0 0 24 24"
                      width="24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <line x1="18" x2="6" y1="6" y2="18"></line>
                      <line x1="6" x2="18" y1="6" y2="18"></line>
                    </svg>
                  </span>
                </div>
                <div class="uploader-header nsa-accesstive">
                  <span class="form-icon nsa-accesstive">
                    <svg
                      class="feather feather-play-circle"
                      fill="none"
                      height="24"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewbox="0 0 24 24"
                      width="24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="12" cy="12" r="10"></circle>
                      <polygon points="10 8 16 12 10 16 10 8"></polygon>
                    </svg>
                  </span>
                  <p class="uploader-title nsa-accesstive">Upload Video</p>
                  <div class="video-upload-button nsa-accesstive">
                    <label class="uploader-input-label nsa-accesstive" for="fileVideoInput">
                      <input
                        accept="video/*"
                        class="uploader-input nsa-accesstive"
                        id="fileVideoInput"
                        name="file"
                        type="file"
                      >
                      <span class="uploader-button nsa-accesstive">Choose Video</span>
                    </label>
                    or
                    <div class="video-url-button nsa-accesstive">Upload Video Url</div>
                  </div>
                </div>
                <div class="video-preview nsa-accesstive">
                  <preview-grid class="nsa-accesstive" data-role="video"> </preview-grid>
                </div>
                <div class="video-form nsa-accesstive">
                  <label class="form-label required nsa-accesstive" for="platform"
                    >Platform<span class="nsa-accesstive" style="color: #ff4d4f; margin-left: 4px;">*</span></label
                  >
                  <form-field class="video-platform-select nsa-accesstive" name="platform" required="">
                    <custom-select
                      aria-expanded="false"
                      aria-haspopup="listbox"
                      aria-required="true"
                      class="nsa-accesstive"
                      placeholder="Select platform"
                      role="combobox"
                      selected="facebook"
                      tabindex="0"
                      ><input class="nsa-accesstive" name="" type="hidden" value="facebook">
                      <div class="select-container nsa-accesstive">
                        <div class="select-trigger nsa-accesstive">
                          <span class="nsa-accesstive">Facebook</span>
                          <span class="arrow nsa-accesstive">
                            <svg
                              class="feather feather-chevron-down"
                              fill="none"
                              height="24"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              viewbox="0 0 24 24"
                              width="24"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                          </span>
                        </div>
                        <div class="select-options nsa-accesstive">
                          <div class="select-option selected nsa-accesstive" data-value="facebook">Facebook</div>
                          <div class="select-option nsa-accesstive" data-value="instagram">Instagram</div>
                          <div class="select-option nsa-accesstive" data-value="youtube">YouTube</div>
                          <div class="select-option nsa-accesstive" data-value="vimeo">Vimeo</div>
                        </div>
                      </div>
                    </custom-select>
                  </form-field>
                  <label class="form-label required nsa-accesstive" for="videoUrl"
                    >Video URL<span class="nsa-accesstive" style="color: #ff4d4f; margin-left: 4px;">*</span></label
                  >
                  <form-field
                    class="form-field nsa-accesstive"
                    label="Video Url"
                    name="videoUrl"
                    pattern=""
                    required=""
                  >
                    <div class="form-input-wrapper nsa-accesstive">
                      <div class="form-input-content nsa-accesstive">
                        <input
                          aria-required="true"
                          class="form-input nsa-accesstive"
                          placeholder="Video URL"
                          type="text"
                        >
                        <div class="form-item-explain-error nsa-accesstive" data-role="errorMessage"></div>
                      </div>
                    </div>
                  </form-field>
                </div>
              </div>
            </file-uploader>
            <label class="form-label nsa-accesstive" for="name">Caption</label>
            <form-field class="form-field nsa-accesstive" label="caption" name="description">
              <div class="form-input-wrapper nsa-accesstive">
                <div class="form-input-content nsa-accesstive">
                  <textarea class="form-textarea nsa-accesstive" placeholder="Enter a caption"></textarea>
                  <div class="form-item-explain-error nsa-accesstive" data-role="errorMessage"></div>
                </div>
              </div>
            </form-field>
            <div class="form-field form-agreement nsa-accesstive">
              <div class="form-input-wrapper nsa-accesstive">
                <div class="form-input-content nsa-accesstive">
                  <form-field class="form-field nsa-accesstive" label="Agreement" name="agreement" required="">
                    <label
                      class="form-checkbox-label nsa-accesstive"
                      style="display: flex !important; align-items: center !important; flex-direction: row !important; gap: 12px;"
                    >
                      <div
                        class="form-checkbox-content nsa-accesstive"
                        style="display: inline-flex !important; flex-shrink: 0;"
                      >
                        <input
                          aria-required="true"
                          checked=""
                          class="form-checkbox nsa-accesstive"
                          name="agreement"
                          type="checkbox"
                        >
                        <span class="form-checkbox-icon nsa-accesstive"></span>
                      </div>
                      <span class="form-checkbox-text nsa-accesstive"
                        >I agree to allow my submitted content to be used for Yarbo's brand promotion.</span
                      >
                    </label>
                    <div class="form-item-explain-error nsa-accesstive" data-role="errorMessage"></div>
                  </form-field>
                </div>
              </div>
            </div>
            <div class="form-field form-submit nsa-accesstive">
              <div class="form-input-wrapper nsa-accesstive">
                <div class="form-input-content nsa-accesstive">
                  <button class="submit-button" data-role="submit" type="button"></button>
                </div>
              </div>
            </div>
          </form>
        </image-with-text-form>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Ugc Contest"

}
{% endschema %}
