{{ 'migrated-summary.css' | asset_url | stylesheet_tag }}
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/index.min_a6c806a6-87e0-4ffa-a52e-9079f5f1e788.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/cta.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>

<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/base-form.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/ugc-banner.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/custom-select.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/uploader.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/preview-grid.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/searchable-select.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>

<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ee0e93f3-0431-46cb-a624-35daae31c826.css"
  media="all"
  rel="stylesheet"
  type="text/css"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_223bf385-ef7c-40c3-82e5-833dddfd1855.css"
  rel="stylesheet"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide-extension-video.min.css"
  rel="stylesheet"
>
<link
  href="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/tabs-comment.css"
  rel="stylesheet"
>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/form-field.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/custom-select.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/uploader.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/ugc-banner.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/preview-grid.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/searchable-select.js"
></script>
<script
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/snippet-image-with-text-form.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-video.min_ed91e4e0-7924-425e-9e88-5e9d0b914bd4.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide.min_8fbe9c70-a659-4943-b0df-b8e38e01e7a2.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/lib-splide-extension-video.min.js"
></script>
<script
  defer
  src="https://cdn.shopify.com/s/files/1/0604/5394/5441/files/tabs-comment.js"
></script>
<style>
  @media (min-width: 960px) {
    .custom-hall-fame-video {
      margin-right: 15px !important;
      width: calc(25% - 11.25px);
    }
  }

  @media screen and (max-width: 767px) {
    .advc-carousel-images-with-text__item-description.advc-body.advc-richtext {
      font-size: 12px !important;
      line-height: 16px !important;
    }
  }

  @media screen and (max-width: 767px) {
    .advc-cta__title advc-custom-title-tag advc-title {
      font-size: 26px !important;
    }
  }
  .ugcbanner {
    max-width: 1920px !important;
  }
</style>
<div class="migrated-page">
  <!-- START content_for_index -->
  {% render 'ugc-1' %}
  {% render 'ugc-2' %}
</div>
{% schema %}
{
  "name": "Ugc"

}
{% endschema %}
