.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 30px 0 10px;
}

.cart__empty-text {
  margin: 44px 0 20px;
}

.cart__contents > * + * {
  margin-top: 24px;
}

.cart__login-title {
  margin: 54px 0 4px;
}

.cart__login-paragraph {
  margin-top: 8px;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 70px 0 10px;
  }

  .cart__empty-text {
    margin: 0 0 30px;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 30px;
  border-bottom: 0px solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 50px;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 64px;
}

.cart__footer .discounts {
  margin-bottom: 10px;
}

.cart__note {
  height: fit-content;
  top: 24px;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 18px;
  top: -30px;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 10px 20px;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 40px;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 350px;
  }

  .cart__footer > * + * {
    margin-left: 40px;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > * + * {
  margin-top: 10px;
}

.cart__update-button {
  margin-bottom: 10px;
}

.cart__dynamic-checkout-buttons {
  max-width: 360px;
  margin: 0 auto;
}

.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}

.cart__blocks > * + * {
  margin-top: 10px;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 10px;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 22px 0 16px auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 360px;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 350px;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 8px;
  }

  .tax-note {
    margin-bottom: 22px;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 10px;
  }
}
