.yb-subscribe-klaviyo {
  display: flex;
  flex-direction: column;
}

.yb-subscribe-klaviyo-desc {
  font-size: 14px;
  margin: 0 0 12px 0;
  line-height: 18px;
  position: relative;
}

.yb-subscribe-klaviyo-input-wrapper {
  width: 344px;
  height: 48px;
  display: flex;
  border-radius: 16px;
  position: relative;
  background-color: #fff;
}

.yb-subscribe-klaviyo-prefix {
  width: 38px;
  background-color: #fff;
  border-radius: 16px 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yb-subscribe-klaviyo-input {
  background-color: #fff;
  flex: 1;
  border: none;
  outline: none;
  color: #25282A;
}

.yb-subscribe-klaviyo-suffix {
  width: 109px;
  background-color: rgb(255, 215, 0);
  border-radius: 0 16px 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #25282A;
  cursor: pointer;
}

.yb-subscribe-klaviyo-policy {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 14px;
}

.yb-subscribe-klaviyo-checkbox-wrapper {
  position: relative;
  margin-right: 8px;
  display: inline-flex;
  cursor: pointer;
}

.yb-subscribe-klaviyo-checkbox-wrapper:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background-image: url('https://cdn.myshopline.com/sl/slfs/sl-new/174219447353357/subscribe-unchecked2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}

.yb-subscribe-klaviyo-checkbox-wrapper.yb-subscribe-klaviyo-checkbox-checked:before {
  background-image: url('https://cdn.myshopline.com/sl/slfs/sl-new/174212216256089/checkbox-checked 1.svg');
}

.yb-subscribe-klaviyo-errors {
  color: rgb(227, 46, 33);
  text-indent: 8px;
  position: absolute;
  left: 0;
  top: 100%;
}

.yb-subscribe-klaviyo-checkbox {
  opacity: 0;
  margin: 0;
  width: 14px;
  height: 14px;
}

.yb-subscribe-klaviyo-link {
  color: #fff !important;
  text-decoration: underline !important;
}

.yb-subscribe-klaviyo .subscribe-popup-container-recheck.subscribe-popup-container-recheck-show {
  display: flex;
}

@media screen and (min-width: 680px) {

  .yb-subscribe-klaviyo-desc {
    text-align: center;
  }

  .yb-subscribe-klaviyo-input-wrapper {
    margin: 0;
    background-color: #fff;
  }

  .yb-subscribe-klaviyo-prefix {
    width: 37px;
    background-color: #fff;
  }

  .yb-subscribe-klaviyo-input {
    border-radius: 0;
  }

  .yb-subscribe-klaviyo-errors {
    text-indent: 24px;
  }

  .yb-subscribe-klaviyo-policy {
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
    padding: 0;
    align-items: flex-start;
    text-align: left;
    white-space: normal;
  }
}

@media screen and (min-width: 960px) {
  .yb-subscribe-klaviyo-suffix {
    width: 133px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1439px) {
  .yb-subscribe-klaviyo-input-wrapper {
    width: 381px;
    height: 48px;
  }

}

@media screen and (min-width: 1440px) {
  .yb-subscribe-klaviyo-input-wrapper {
    width: 482px;
    height: 56px;
  }

  .yb-subscribe-klaviyo-desc {
    font-size: 16px;
  }
}

@media screen and (min-width: 1920px) {
  .yb-banner-swiper {
    font-size: 16px;
  }

  .yb-banner-swiper__basic-size {
    font-size: 16px;
  }

  .yb-subscribe-klaviyo-input-wrapper {
    width: 482px;
    height: 56px;
  }
}
